%b #{role}

%p= simple_format t(".volunteer_role_descriptions.#{role}")

= form_tag  create_competition_volunteers_path(competition, role), method: :post do |f|
  = select_tag :user_id, options_from_collection_for_select(User.this_tenant.data_entry_volunteer, "id", "to_s"), include_blank: true, class: "chosen-select"
  %br
  = submit_tag t(".create_role", role: role), class: "button"

.row
  .small-12.columns
  %table.sortable
    %thead
      %tr
        %th= User.model_name.human
        %th= User.human_attribute_name(:email)
        %th
    %tbody
      - volunteers.each do |volunteer|
        %tr
          %td= volunteer
          %td= volunteer.email
          %td= link_to t("delete"), competition_volunteer_path(@competition, role, user_id: volunteer), method: :delete, data: { confirm: t(".confirm_remove_volunteer") }
%hr
