%b #{role}

%p= User.volunteer_role_descriptions(role)

%table.sortable
  %thead
    %tr
      %th Email
      %th
  %tbody
    - volunteers.each do |volunteer|
      %tr
        %td= volunteer
        %td= link_to "Delete", competition_volunteer_path(@competition, role, user_id: volunteer), method: :delete, data: { confirm: "Remove this volunteer?" }

= form_tag  create_competition_volunteers_path(competition, role), method: :post do |f|
  = select_tag :user_id, options_from_collection_for_select(User.with_role(:data_entry_volunteer), "id", "to_s"), include_blank: true, class: "chosen-select"
  = submit_tag "Create new #{role}", class: "button"
