
%h1 Volunteers Report

%table.volunteers.sortable
  %thead
    %tr
      %th ID
      %th First Name
      %th Last Name
      %th Age
      %th Country
      %th Email
      %th User's Email

  %tbody
    - @volunteers.includes(:contact_detail).each do |reg|
      %tr
        %td= reg.bib_number
        %td= reg.first_name
        %td= reg.last_name
        %td= reg.age
        %td= reg.contact_detail.country
        %td= reg.contact_detail.email
        %td= reg.user.email
