= form_for(@new_tenant) do |f|
  = render partial: "shared/error_messages", object: @tenant

  %p
    In order to create a convention, you must prove you are allowed to do so by entering the Creation Access code.
  = label_tag :code, "Creation Access Code"
  = password_field_tag :code

  %br
  %br
  %table
    %thead
      %tr
    %tbody
      %tr
        %th= f.label :subdomain
        %td= f.text_field :subdomain, placeholder: 'naucc2000'
        %td What is the prefix you want for the domain? (&lt;subdomain&gt;.#{Rails.application.secrets.domain})
      %tr
        %th= f.label :description
        %td= f.text_field :description, placeholder: "NAUCC 2000"
        %td Description to be used on this page. (you can customize the name later)
      %tr
        %th= f.label :admin_upgrade_code
        %td= f.text_field :admin_upgrade_code
        %td Specify the code you want to use to upgrade your user account to an Convention Admin account.

  = f.submit
