<tr>
  <td><%= result_counter %></td>
  <td><%= result.raw_data %></td>
  <td><%= result.bib_number %></td>
  <td><%= result.minutes %></td>
  <td><%= result.seconds %></td>
  <td><%= result.thousands %></td>
  <td><%= result.disqualified %></td>
  <td><%= result.is_start_time %></td>
  <td><%= result.rank %></td>
  <td><%= result.details %></td>
  <td><%= Registrant.find_by_bib_number(result.bib_number) %></td>
  <% if result.competition.find_competitor_with_bib_number(result.bib_number) %>
    <td class="competitor_exists">Yes</td>
  <% else %>
    <td class="competitor_not_exists">No</td>
  <% end %>
  <td><%= link_to 'Edit', root_url %></td>
  <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
