%tr
  %td= result.bib_number
  - if result.competition.imports_times
    %td= result.minutes
    %td= result.seconds
    %td= result.thousands
  - else
    %td= result.rank
    %td= result.raw_data
  %td= result.disqualified
  %td= result.is_start_time
  %td= result.details
  %td= Registrant.find_by_bib_number(result.bib_number)
  - if result.competition.find_competitor_with_bib_number(result.bib_number)
    %td.competitor_exists Yes
  - else
    %td.competitor_not_exists No
  %td= link_to 'Edit', root_url
  %td= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' }
