<h1>Data Entry</h1>

<h2>Competition: <%= @competition %></h2>
<h3>Is Start Time: <%= @is_start_time %></h3>
<%= render :partial => "results", locals: {start_times: @start_times} %>
<%= form_tag(destroy_all_user_competition_import_results_path(@user, @competition), {:method => :delete, :multipart=>true}) do %>
  <%= submit_tag "Delete all in Temp Table", :class => "data_import_delete", data: {:confirm => "DELETE, Are you sure?" } %>
<% end %>
<%= form_tag(publish_to_competition_user_competition_import_results_path(@user, @competition), {:method => :post}) do %>
  <%= submit_tag "Import all in Temp Table into Competition", :class=> "data_import_submit", data: {:confirm => "IMPORT, Are you sure?" } %>
<% end %>
<hr />

<div id="notice"></div>

<%= render partial: "form" %>
