%h2 Additional Results
%p
  Upload PDFs as "Additional Results" in order to provide additional information.
  Examples: Round-Robin Results, Battle-Results, or other supporting results.

%p These files will be published online immediately.

- if @competition_results.active.additional.any?
  %table
    %thead
      %tr
        %th Additional Result
        %th
    %tbody
      - @competition_results.active.additional.each do |result|
        %tr
          %td
            = link_to result.to_s, result.results_file_url
          %td
            = link_to "Delete", competition_competition_result_path(@competition, result), method: :delete, data: { confirm: "Are you sure?" }

%hr
%h3 Upload A PDF Result file

= form_tag competition_competition_results_path(@competition), multipart: true do
  .row
    .small-4.columns
      = file_field_tag :results_file
    .small-4.columns
      = label_tag :custom_name
      = text_field_tag :custom_name
    .small-4.columns
      = submit_tag "Upload These Results", class: "button"
