<%= form_for([@event, @event_category]) do |f| %>
  <% if @event_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_category.errors.count, "error") %> prohibited this event_category from being saved:</h2>

      <ul>
      <% @event_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Note: If there is only one event_category, the user will not be presented with a selection-box.
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :age_range_start %><br />
    <%= f.number_field :age_range_start, :in => 0..100 %>
  </div>
  <div class="field">
    <%= f.label :age_range_end %><br />
    <%= f.number_field :age_range_end, :in => 0..100 %>
  </div>
  <div class="field">
    <%= f.label :age_group_type_id %><br />
    <%= f.select :age_group_type_id, AgeGroupType.all.map { |agt| [agt.name, agt.id] }, :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
