- display_email = (sign_ups.any? && policy(sign_ups.first.event).contact_registrants?)
%table.sortable
  %thead
    %tr
      %th ID
      %th First Name
      %th Last Name
      %th Age
      %th Gender
      - if display_email
        %th Email
      %th Event Category
      %th= RepresentationType.description
      %th Details
  %tbody
    - sign_ups.each do |resu|
      %tr
        %td= resu.registrant.bib_number
        %td= resu.registrant.first_name
        %td= resu.registrant.last_name
        %td= resu.registrant.age
        %td= resu.registrant.gender
        - if display_email
          %td= resu.registrant.email
        %td= resu.event_category.name
        %td= resu.registrant.representation
        %td= resu.registrant.describe_event_hash(event)[:additional]
