<table class="sortable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Age Group</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <% @registrants.each do |reg| %>
          <% next if reg.nil? %>
            <tr>
                <td><%= reg.bib_number %></td>
                <td><%= reg %></td>
                <td><%= reg.age %></td>
                <td><%= reg.gender %></td>
                <td><%= reg.country_name %></td>
                <td>
                  <% unless @age_group_type.nil? %>
                    <%= @age_group_type.age_group_entry_for(reg.age, reg.gender) %>
                  <% end %>
                </td>
                <td><%= reg.describe_event_hash(@event)[:additional] %></td>
            </tr>
        <% end %>
    </tbody>
</table>
