<table class="sortable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Event Category</th>
            <th>Country</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <% sign_ups.each do |resu| %>
            <tr>
                <td><%= resu.registrant.bib_number %></td>
                <td><%= resu.registrant %></td>
                <td><%= resu.registrant.age %></td>
                <td><%= resu.registrant.gender %></td>
                <td><%= resu.event_category %></td>
                <td><%= resu.registrant.country %></td>
                <td><%= resu.registrant.describe_event_hash(event)[:additional] %></td>
            </tr>
        <% end %>
    </tbody>
</table>
