%h1 Listing Event Categories for #{@event}
.configuration_settings_block
  %table
    %tr
      %th Name
      %th Position
      %th Allowed Age Range
      %th Warning on Registration Summary
      %th
      %th
      %th
    - @event_categories.each do |event_category|
      %tr
        %td= event_category.name
        %td= event_category.position
        %td= "#{event_category.age_range_start}-#{event_category.age_range_end}"
        %td= event_category.warning_on_registration_summary
        %td= link_to 'Edit', edit_event_category_path(event_category)
        %td= link_to 'Delete', event_category, method: :delete, data: { confirm: 'Are you sure?' }
.configuration_preview_block
  = render :partial => "/attending/preview"
.configuration_new_entry_form
  %h3 New event_category
  = render 'form'
  = link_to 'Back', category_events_path(@event.category)
