<h1>Listing Event Categories for <%= @event %></h1>


<div class="configuration_settings_block">
  <table>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Allowed Age Range</th>      
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @event_categories.each do |event_category| %>
      <tr>
        <td><%= event_category.name %></td>
        <td><%= event_category.position %></td>
        <td><%= event_category.age_range_start %>-<%= event_category.age_range_end %></td>        
        <td><%= link_to 'Show', event_category %></td>
        <td><%= link_to 'Edit', edit_event_category_path(event_category) %></td>
        <td><%= link_to 'Destroy', event_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="configuration_preview_block">
  <%= render :partial => "/attending/preview" %>
</div>

<div class="configuration_new_entry_form">
  <h3>New event_category</h3>
  <%= render 'form' %>
  <%= link_to 'Back', category_events_path(@event.category) %>
</div>
