<p>
  <b>Event:</b>
  <%= @event_category.event_id %>
</p>

<p>
  <b>Name:</b>
  <%= @event_category.name %>
</p>

<p>
  <b>Position:</b>
  <%= @event_category.position %>
</p>


<%= link_to 'Edit', edit_event_category_path(@event_category) %> |
<%= link_to 'Back', event_event_categories_path(@event_category.event) %>
