%h3 Load Lif
= form_tag(import_lif_competition_heat_review_path(@competition, @heat), {:method => :post, :multipart=>true}) do
  = render partial: "shared/upload_file_for_competition", locals: { competition: @competition }
  .row
    .columns
      = submit_tag "Load LIF Data", class: "button"

= form_tag(import_lif_from_url_competition_heat_review_path(@competition, @heat), {:method => :post}) do
  .row
    .columns
      = text_field_tag :file_url
  .row
    .columns
      = submit_tag "Import from an URL", class: "button"
