= simple_form_for([:convention_setup, @event, @event_category]) do |f|
  = render partial: "/shared/error_messages", object: @event_category
  Note: If there is only one event_category, the user will not be presented with a selection-box.
  = f.input :name
  = f.input :age_range_start
  = f.input :age_range_end
  = f.input :warning_on_registration_summary
  = f.button :submit
