%p
  %b= t("note")
  = t(".details")


= simple_form_for([:convention_setup, @event, @event_category]) do |f|
  = render partial: "/shared/error_messages", object: @event_category
  .row
    .small-12.medium-4.columns
      = f.input :name
    .small-12.medium-4.columns
      = f.input :age_range_start
    .small-12.medium-4.columns
      = f.input :age_range_end
  .row
    = f.input :warning_on_registration_summary
  .row
    = f.button :submit
