%h1= t(".header", event: @event)
%table.js--sortable{ data: { target: update_row_order_convention_setup_event_event_categories_path(@event) } }
  %thead
    %tr
      %th= EventCategory.human_attribute_name(:name)
      %th= t(".allowed_age_range")
      %th= EventCategory.human_attribute_name(:warning_on_registration_summary)
      %th
      %th
      %th
  %tbody
    - @event_categories.each do |event_category|
      %tr.item{ data: { item_id: event_category.id } }
        %td= event_category.name
        %td= "#{event_category.age_range_start}-#{event_category.age_range_end}"
        %td= event_category.warning_on_registration_summary?
        %td= link_to t("edit"), edit_convention_setup_event_category_path(event_category)
        %td= link_to t("delete"), [:convention_setup, event_category], method: :delete, data: { confirm: t("are_you_sure") }


%fieldset.form__fieldset
  %h3= t(".new_event_category")
  = render 'form'

= render :partial => "/attending/preview"
