= simple_form_for([:convention_setup, @lodging_room_option]) do |f|
  = render partial: "/shared/error_messages", object: @lodging_room_option
  = f.input :name
  = f.input :price
  %table
    %thead
      %tr
        %th Date Offered
        %th
    %tbody#lodging_days
      = f.simple_fields_for :lodging_days do |member_f|
        = render "lodging_day_fields", f: member_f

  = link_to_add_association 'add new room option', f, :lodging_days, { data: { association_insertion_node: "#lodging_days", association_insertion_method: "append" } }

  = f.button :submit
