%h1= t(".header")

%p= t(".current_url_html", link: link_to(@tenant.base_url))

%p= t(".accessible_url_html", link: link_to(@tenant.permanent_url))

%p= t(".create_other_dns_record")

%p= t(".primary_domain_description")

%ol.config_fields
  %li
    = t(".base_dns_cname_html")
    = text_field_tag :cname_target, @tenant.permanent_url, disabled: true
  %li
    - if @tenant_alias.persisted?
      = label_tag :website_alias
      = text_field_tag :website_alias, @tenant_alias.website_alias, disabled: true
    - else
      = simple_form_for(@tenant_alias) do |f|
        = render partial: "shared/error_messages", object: @tenant_alias
        = t(".url_of_new_domain")
        = f.text_field :website_alias
        =# f.submit "Verify Alias CNAME Record"
        = f.button :submit, t(".submit")
  %li
    %p
      = label_tag :verified, t(".alias_verified")
      = check_box_tag :verified, nil, @tenant_alias.verified?, disabled: true
    - unless @tenant_alias.verified?
      = link_to "Verify this alias is internet-routable", confirm_url_tenant_alias_path(@tenant_alias), method: :put, class: "focus_button"
  %li
    - if @tenant_alias.persisted?
      - if @tenant_alias.primary_domain?
        = link_to t(".delete_current_primary_domain"), tenant_alias_path(@tenant_alias), method: :delete, class: "nonfocus_button"
      - else
        = link_to t(".set_as_primary_domain"), activate_tenant_alias_path(@tenant_alias), method: :post, class: "focus_button"
    - else
      %p= t(".must_save_warning")
