%h1= "#{@competition} - Heat Assignment"

%table.competitor_statuses.sortable
  %caption Competitors
  %thead
    %tr
      %th Heat
      %th Lane
      %th.sign_up ID
      %th.sign_up Name
      %th.sign_up Age
      %th.sign_up Gender
      %th Age Group
      %th Age Group order
      %th Best Time
      %th Best Time value
  %tbody
    - @competitors.each do |competitor|
      %tr
        %th= competitor.heat
        %th= competitor.lane
        %td= competitor.lowest_member_bib_number
        %td= competitor.to_s
        %td= competitor.age
        %td= competitor.gender
        %td= competitor.age_group_entry_description
        %th= competitor.age_group_entry.try(:position)
        %td= competitor.best_time
        %td= competitor.best_time.try(:value)
%br

= link_to "set heats/lanes", new_competition_heat_path(@competition)
%br
= link_to "delete all lane assignments", destroy_all_competition_heats_path(@competition), method: :delete, data: { confirm: "remove all heat/lane assignments?" }
%br

%h3 Manually Sort Age Groups
- @competition.age_group_entries.each do |age_group_entry|
  = link_to "Manually Sort #{age_group_entry}", set_sort_competition_heats_path(@competition, age_group_entry)
  %br
%hr

%br
= link_to "Back", @competition
