%h1= "#{@competition} - Heat Assignment"

%table.competitor_statuses.sortable
  %caption Competitors
  %thead
    %tr
      %th Heat
      - if @competition.uses_lane_assignments
        %th Lane
      %th.sign_up ID
      %th.sign_up Name
      %th.sign_up Age
      %th.sign_up Gender
      %th Age Group
      %th Best Time
      %th Geared
      %th Wheel Size
      %th Crank Size (mm)
      %th Notes
  %tbody
    - @competitors.each do |competitor|
      %tr
        %th= competitor.heat
        - if @competition.uses_lane_assignments
          %th= competitor.lane
        %td= competitor.lowest_member_bib_number
        %td= competitor.to_s
        %td= competitor.age
        %td= competitor.gender
        %td= competitor.age_group_entry_description
        %td= competitor.best_time
        %td= competitor.geared
        %td= competitor.riding_wheel_size
        %td= competitor.riding_crank_size
        %td= competitor.notes
%br
- if @competition.uses_lane_assignments
  = link_to "set heats/lanes", new_competition_heat_path(@competition)
  %br
  = link_to "destroy all lane assignments", destroy_all_competition_heats_path(@competition), method: :delete, data: { confirm: "remove all heat/lane assignments?" }
  %br

  %h3 Sort Age Groups
  - @competition.age_group_entries.each do |age_group_entry|
    = link_to "Sort #{age_group_entry}", set_sort_competition_heats_path(@competition, age_group_entry)
    %br
  %hr

= link_to "upload CSV", upload_form_competition_heats_path(@competition)
%br
= link_to "Back", @competition
