%h1= "#{@competition} - Upload Heat Assignment"

Upload a Spreadsheet containing 2 columns. ID and Heat. (no header row).
%br
Each row must contain a valid Registrant ID and Heat.

= form_tag upload_competition_heats_path(@competition), method: :post, :multipart=>true do
  = file_field_tag :file
  = submit_tag "Upload Heat assignments"

= link_to "Back", @competition
