<h1>Data Entry Volunteers</h1>

<b>Step 1</b>: Ensure that your desired volunteer is enabled in the "Data Entry Volunteer Accounts":<br />
 <table class="sortable">
  <thead>
    <th>User Account Email</th>
    <th>Name</th>
  </thead>
  <tbody>
    <% @all_data_entry_volunteers.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <th><%= user %>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Set User as 'Data Entry Volunteer'</h3>
<%= form_for [@competition, @data_entry_volunteer] do |f| %>
  <%= render partial: "/shared/error_messages", object: @data_entry_volunteer %>
  <%= f.label :user_id, "User Account" %>
  <%= f.select :user_id, User.all.map { |user| [user, user.id] } %><br />
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %><br />
  <%= f.submit %>
<% end %>
Allows users to see the Date Entry menu. <br>
Doing this also confirms unconfirmed e-mail accounts so that they can immediately log in.
