%h1= t(".header")

%p
  %ul
    %li= t(".description_1")
    %li= t(".description_2")
    %li= t(".description_3")

%h3= t(".assign_access")
= simple_form_for [@competition, @data_entry_volunteer] do |f|
  = render partial: "/shared/error_messages", object: @data_entry_volunteer
  .row
    .small-12.medium-4.columns
      = f.label :user_id, User.model_name.human
      = f.select :user_id, User.all.map { |user| [user.email, user.id] }, { include_blank: true }, class: 'chosen-select'
    .small-12.medium-4.columns
      = f.label :name, User.human_attribute_name(:name)
      = f.text_field :name
    .small-12.medium-4.columns
      = f.button :submit, t(".assign_access")
%br
%p
  %b= t("note")
  = t(".note")

%hr

%h3= t(".users_with_access")
%table.sortable
  %thead
    %th= User.human_attribute_name(:name)
    %th= User.human_attribute_name(:email)
  %tbody
    - @all_data_entry_volunteers.each do |user|
      %tr
        %th
          = user
        %td= user.email
