<% @age_group_type = age_group_type %>
<% @event_category = event_category %>
<% @registrant_event_sign_ups = registrant_event_sign_ups %>
<table class="sortable">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Id</th>
      <th>Age Group</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Country</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @registrant_event_sign_ups.each do |resu| %>
      <% next if resu.registrant.nil? %>
      <tr>
        <td><%= resu.registrant.last_name %></td>
        <td><%= resu.registrant.first_name %></td>
        <td><%= resu.registrant.external_id %></td>
        <td>
          <% unless @age_group_type.nil? %>
            <%= @age_group_type.age_group_entry_for(resu.registrant.age, resu.registrant.gender) %>
          <% end %>
        </td>
        <td><%= resu.registrant.gender %></td>
        <td><%= resu.registrant.age %></td>
        <td><%= resu.registrant.country_residence %></td>
        <td><%= resu.registrant.describe_event_hash(@event_category.event)[:additional] %></td>
    <% end %>
  </tbody>
</table>
