<% @age_group_type = age_group_type %>
<% @event_category = event_category %>
<% @registrant_choices = registrant_choices %>
<hr />
<table>
  <caption><%= @event_category %> Competitors</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Id</th>
      <th>Age Group</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <% @registrant_choices.each do |reg_choice| %>
      <% next unless reg_choice.value == "1" or !reg_choice.event_category.nil? %>
      <tr>
        <td><%= reg_choice.registrant %></td>
        <td><%= reg_choice.registrant.external_id %></td>
        <td>
          <% unless @age_group_type.nil? %>
            <%= @age_group_type.age_group_entry_for(reg_choice.registrant.age, reg_choice.registrant.gender) %>
          <% end %>
        </td>
        <td><%= reg_choice.registrant.age %></td>
        <td><%= reg_choice.registrant.country %></td>
      </tr>
    <% end %>
  </tbody>
</table>
