<% @age_group_type = age_group_type %>
<% @event_category = event_category %>
<% @registrant_event_sign_ups = registrant_event_sign_ups.where({:signed_up => true}) %>
<hr />
<table>
  <caption><%= @event_category %> Competitors (<%= @registrant_event_sign_ups.count %>)</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Id</th>
      <th>Age Group</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <% @registrant_event_sign_ups.each do |resu| %>
      <% next if resu.registrant.nil? %>
      <tr>
        <td><%= resu.registrant %></td>
        <td><%= resu.registrant.external_id %></td>
        <td>
          <% unless @age_group_type.nil? %>
            <%= @age_group_type.age_group_entry_for(resu.registrant.age, resu.registrant.gender) %>
          <% end %>
        </td>
        <td><%= resu.registrant.age %></td>
        <td><%= resu.registrant.country %></td>
      </tr>
    <% end %>
  </tbody>
</table>
