<h1>Events Report</h1>

<table>
  <caption>Overview</caption>
  <tr>
    <th>Competitors</th>
    <td><%= @num_competitors %></td>
  </tr>
  <tr>
    <th>Non-Competitors</th>
    <td><%= @num_non_competitors %></td>
  </tr>
  <tr>
    <th>Total Registrations</th>
    <td><b><%= @num_registrants %></b></td>
  </tr>
    <tr>
    </tr>
  </tbody>
</table>

<hr />

<table class="sortable">
  <caption>Event-Competitor-Breakdown</caption>
  <thead>
    <th>Category</th>
    <th>Event Name</th>
    <th>Number Of competitors</th>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.category %></td>
        <td><%= link_to event, admin_event_path(event) %></td>
        <td><%= event.num_competitors %></td>
      </tr>
    <% end %>
  </tbody>
</table>
