<h1>Events Report</h1>

<table>
  <caption>Overview</caption>
  <tr>
    <th>Competitors</th>
    <td><%= @num_competitors %></td>
  </tr>
  <tr>
    <th>Non-Competitors</th>
    <td><%= @num_non_competitors %></td>
  </tr>
  <tr>
    <th>Total Registrations</th>
    <td><b><%= @num_registrants %></b></td>
  </tr>
    <tr>
    </tr>
  </tbody>
</table>

<hr />

<table class="alternate">
  <caption>Event-Competitor-Breakdown</caption>
  <thead>
    <th>Category</th>
    <th>Event Name</th>
    <th>Event Category</th>
    <th># Signed Up</th>
    <th>Sign Up List</th>
    <th>Time Results</th>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <% event.event_categories.each do |ecat| %>
        <tr>
          <td><%= event.category %></td>
          <td><%= link_to event, admin_event_path(event) %></td>
          <td><%= ecat %></td>
          <td><%= ecat.num_competitors %></td>
          <td>
            <%= link_to "HTML", admin_event_path(event) %>
            <%= link_to "PDF", admin_event_path(event, :format => "pdf") %>
          </td>
          <td>
            <%= link_to "Enter Data", event_category_time_results_path(ecat) %>
            <%= link_to "View (HTML)", results_event_category_time_results_path(ecat) %>
            <%= link_to "View (PDF)", results_event_category_time_results_path(ecat, :format => "pdf") %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
