%h1 My Account

%h3 Change Email or Password
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br
    = f.email_field :email

  %fieldset.data_block
    %legend Change password:
    %div
      = f.label :password
      %i (leave blank if you don't want to change it)
      %br
      = f.password_field :password, :autocomplete => "off"
    %div
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation
  %div
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br
    = f.password_field :current_password
  %div= f.submit "Update", :class => "focus_button"

- if resource.roles.any?
  %h3 Current Permissions
  %ul
    - resource.roles.each do |role|
      %li= role
  %br

= link_to "Upgrade my account to an Admin account", new_admin_upgrade_path, class: "minor_link"
%br

= link_to "Back", :back
