%h1= t(".title")

%h3= t(".change_header")
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br
    = f.email_field :email

  %fieldset.data_block
    %legend= t(".change_password")
    %div
      = f.label :password
      %i (#{t(".blank_notice")})
      %br
      = f.password_field :password, :autocomplete => "off"
    %div
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation
  %div
    = f.label :current_password
    %i (#{t(".confirm_password_notice")})
    %br
    = f.password_field :current_password
  %div= f.submit t(".action"), :class => "focus_button"

- if resource.roles.any?
  %h3= t(".current_permissions")
  %ul
    - resource.roles.each do |role|
      %li= role
  %br

= link_to t(".upgrade_to_admin_action"), new_admin_upgrade_path, class: "minor_link"
%br

= link_to t("back"), :back
