%h2= t(".header")
%p= t(".confirmation_reminder")
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: "no_dirty_check" } ) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br
    = f.email_field :email, :auto_focus => true
  %div
    = f.label :password
    %br
    %span.extra_info= t(".password_min_length")
    %br
    = f.password_field :password
  %div
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation
  %div= f.submit t(".sign_up"), :class => "focus_button"
= render "devise/shared/links"
