%h2= t(".header")
%p= t(".confirmation_reminder")
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: "no_dirty_check" } ) do |f|
  = devise_error_messages!
  .panel.row
    .row
      .small-3.columns.text-right
        = f.label :email
      .small-9.columns
        = f.email_field :email, :autofocus => true

    .row
      .small-3.columns.text-right
        = f.label :password
        %span.extra_info= t(".password_min_length")
      .small-9.columns
        = f.password_field :password
        %br
    .row
      .small-3.columns.text-right
        = f.label :password_confirmation
      .small-9.columns
        = f.password_field :password_confirmation
    .row
      .small-12.columns
        = f.button :submit, t(".sign_up"), :class => "focus_button"
= render "devise/shared/links"
