%h1= "#{@competition} - Wave Assignment"

%p
  On this page, you can import the wave # for each competitor.

%p
  Instead of importing a the wave assignments, you can also use the "Enter Sign-Ins" page to enter/update
  The Wave Number of each competitor.

%h2 Step 1 Download Wave Assignment Spreadsheet (CSV)

%p
  You will need a spreadsheet with the Registrant ID, and wave (with a header row).
  To make it easier for you, we provide a
  = link_to "Draft Assignments CSV", competition_wave_assignments_path(@competition, format: :csv), class: "button tiny"
  file.
  %br
  %b Note
  Each row must contain a valid Registrant ID and Wave.

- if policy(@competition).modify_result_data?
  %h2 Step 2 Upload Wave Assignment Spreadsheet

  %p
    Once you have a Spreadsheet containing at least 2 columns. ID and Wave. (with an (ignored) header row),
    you can upload it here.
    %br
    %b Note
    Each row must contain a valid Registrant ID and Wave.
    %br
    %b Note
    The file must be a CSV file-format

  = form_tag competition_wave_assignments_path(@competition), method: :put, multipart: true do
    = file_field_tag :file
    = submit_tag "Upload Wave assignments", class: "button"

%table.competitor_statuses.sortable
  %caption Competitors
  %thead
    %tr
      %th Wave
      %th.sign_up ID
      %th.sign_up Name
      %th.sign_up Age
      %th.sign_up Gender
      %th Age Group
      %th Best Time
  %tbody
    - @competitors.find_each(batch_size: 100) do |competitor|
      %tr
        %th= competitor.wave
        %td= competitor.lowest_member_bib_number
        %td= competitor.to_s
        %td= competitor.age
        %td= competitor.gender
        %td= competitor.age_group_entry_description
        %td= competitor.best_time
%br

