%h1= t(".header")

%p
  = t(".different_users_different_roles")

  %br
  %b
    = t(".you_have_roles")
    #{current_user.roles.map{|role| role.name.humanize}.join(", ")}
  %br

%p= t(".role_allows_access")

- if policy(@config).setup_competition?
  - directors_name = t("layouts.competition_setup.manage_directors")
  %div= t(".directors_permissions_html", link: link_to(directors_name, directors_path))

%p= t(".you_may_need_to_grant_yourself_roles")

%b= t("example")
%ul
  %li= t(".event_planned_example")
  %li= t(".payment_admin_example")

%p= t(".roles_listed")

%p
  %b= t("note)")
  = t(".other_roles_not_permitted_html")

%h3= t(".users_with_permissions")
%table.sortable
  %thead
    %tr
      %th= User.model_name.human
      - @available_roles.each do |role|
        %th{:title => t(".role_description.#{role}")}
          = role.to_s.humanize
      %th
  %tbody
    %fieldset.form__fieldset
      %tr
        %th
          = form_tag(add_role_permissions_path, { :method => :put, :id => "add_permissions_form"})
          = select_tag :users_id, options_from_collection_for_select(User.this_tenant.all, "id", "to_s_with_email"), multiple: true, class: "chosen-select"
        - @available_roles.each do |role|
          %td{:title => t(".role_description.#{role}")}
            = check_box_tag 'roles_names[]', role, form: "add_permissions_form"
        %td
          = submit_tag t(".add_selected_permissions"), class: "button", form: "add_permissions_form"
    - User.this_tenant.with_any_role(*@available_roles).each do |user|
      %tr
        %th= user.id == current_user.id ? "#{user.to_s_with_email} (you)" : user.to_s_with_email
        - @available_roles.each do |role|
          %td{:title => t(".role_description.#{role}")}
            = check_box_tag 'role_name', true, checked: user.has_role?(role), disabled: true
            = link_to user.has_role?(role) ? "remove" : "add", set_role_permissions_path(roles_names: [role], users_id: [user.id]), method: :put
        %td
          = button_to t(".remove_all_permissions"), remove_roles_permissions_path(user_id: user.id, roles: @available_roles), method: :delete, class: "button", disabled: user.id == current_user.id


.l--2up
  .l--column
    - if policy(:admin_permission).set_password?
      %fieldset.form__fieldset
        %h3= t(".set_password")
        = form_tag(set_password_permissions_path, { :method => :put}) do
          = label_tag :user_id, User.model_name.human
          = select_tag :user_id, options_from_collection_for_select(User.this_tenant.all, "id", "to_s_with_email"), include_blank: true, class: "chosen-select"
          %br
          = label_tag :password
          = text_field_tag :password
          %br
          = submit_tag t(".set_password"), class: "button"

%hr
%h3= t(".role_descriptions")
- @available_roles.each do |role|
  .row
    %h4= role.to_s.humanize
    %p= simple_format t(".role_description.#{role}")
    %hr
