%h1= t(".header")

%p
  = t(".different_users_different_roles")

  %br
  %b
    = t(".you_have_roles")
    #{current_user.roles.map{|role| role.name.humanize}.join(", ")}
  %br

%p= t(".role_allows_access")

- if policy(@config).setup_competition?
  - directors_name = t("layouts.competition_setup.manage_directors")
  %div= t(".directors_permissions_html", link: link_to(directors_name, directors_path))

%p= t(".you_may_need_to_grant_yourself_roles")

%b= t("example")
%ul
  %li= t(".event_planned_example")
  %li= t(".payment_admin_example")

%p= t(".roles_listed")

%p
  %b= t("note)")
  = t(".other_roles_not_permitted_html")

%h3= t(".users_with_permissions")
%table.sortable
  %thead
    %tr
      %th= User.model_name.human
      - @available_roles.each do |role|
        %th= role.to_s.humanize
  %tbody
    - User.this_tenant.with_any_role(*@available_roles).each do |user|
      %tr
        %th= user.to_s_with_email
        - @available_roles.each do |role|
          %td
            = user.has_role?(role)
            - if user.has_role?(role)
              = link_to "X", set_role_permissions_path(role_name: role, user_id: user.id), method: :put, data: { confirm: t("are_you_sure") }

.l--2up
  .l--column
    %fieldset.form__fieldset
      %h3= t(".add_new_permission")
      = form_tag(set_role_permissions_path, { :method => :put}) do
        = label_tag :user_id, User.model_name.human
        = select_tag :user_id, options_from_collection_for_select(User.this_tenant.all, "id", "to_s_with_email"), include_blank: true , class: "chosen-select"
        %br
        = label_tag :role_name, Role.model_name.human
        = select_tag :role_name, options_for_select(@available_roles), include_blank: true
        %br
        = submit_tag t(".add_new_permission"), class: "button"

  .l--column
    - if policy(:admin_permission).set_password?
      %fieldset.form__fieldset
        %h3= t(".set_password")
        = form_tag(set_password_permissions_path, { :method => :put}) do
          = label_tag :user_id, User.model_name.human
          = select_tag :user_id, options_from_collection_for_select(User.this_tenant.all, "id", "to_s_with_email"), include_blank: true, class: "chosen-select"
          %br
          = label_tag :password
          = text_field_tag :password
          %br
          = submit_tag t(".set_password"), class: "button"

%hr
%h3= t(".role_descriptions")
- @available_roles.each do |role|
  .row
    %h4= role.to_s.humanize
    %p= simple_format t(".role_description.#{role}")
    %hr
