%h1 Feedback ##{@feedback.id}

%p
  %b NOTE:
  Writing a resolution here does
  %u NOT
  Send e-mail to anyone.
  Please communicate with the feedback-submitter directly.

.row
  .small-12.columns
    %table
      %tr
        %th Entered Email
        %td= @feedback.entered_email
      %tr
        %th From
        %td= @feedback.username
      %tr
        %th User's First Registrant
        %td= @feedback.user_first_registrant_name
      %tr
        %th Message
        %td= simple_format(@feedback.message)

- if @feedback.resolved?
  %h2 Feedback Resolved

  .row
    .small-12.columns
      %table
        %tr
          %th Resolved by
          %td= @feedback.resolved_by
        %tr
          %th Resolved on
          %td= @feedback.resolved_at
        %tr
          %th Resolution
          %td= simple_format(@feedback.resolution)

- else
  = render "form"
