%h1 High Jump / Long Jump Competitions

%p
  A High Jump or Long Jump Competition provides the following features:
  %ul
    %li Online Electronic Judging data entry
    %li Scoring of the results according to the IUF rules

%p
  If the results of one competition will determine the eligible competitors for the Expert competition, you will need to have 2 separate Competitions.

%p
  There are 3 types of scoring available for High/Long:
  %br
  Examples
  %ul
    %li
      %b High/Long
      %br
      2 faults at the same distance will end their run. (this is old-rules)
    %li
      %b High/Long Preliminary IUF 2015
      %br
      Allows only 12 attempts
    %li
      %b High/Long Final IUF 2015
      Each attempted distance must be succeeded before moving on
      3 successive failures will end their run.

%h4 Example Judge Scoring Data Entry view:
= image_tag "screenshots/high_long_data_recording.png", class: "screenshot"

%h4 Example Calculation Results
= image_tag "screenshots/high_long_results.png", class: "screenshot"

%hr

- if @event.present?
  %p
    There are 3 different types of High/Long scoring rules available:

  %p
    - params = { "competition[scoring_class]" => "High/Long", "competition[num_members_per_competitor]" => "One" }
    = link_to "Click here", new_event_competition_path(@event, params), class: "button"
    to continue setting up your High jump according to the old rules.

  %p
    - params = { "competition[scoring_class]" => "High/Long Preliminary IUF 2017", "competition[num_members_per_competitor]" => "One" }
    = link_to "Click here", new_event_competition_path(@event, params), class: "button"
    to continue setting up your High jump according to the IUF 2017 High/Long Preliminary Rules.

  %p
    - params = { "competition[scoring_class]" => "High/Long Final IUF 2015", "competition[num_members_per_competitor]" => "One" }
    = link_to "Click here", new_event_competition_path(@event, params), class: "button"
    to continue setting up your High jump according to the IUF 2015 High/Long Finals Rules.
