%h1= t(".trials_competition")

%p= t(".description")

%h2= t(".data_entry")

// FIXME: add screenshots
%h3= t(".manual_entry")
= image_tag "screenshots/external_points_form.png", class: "screenshot"

%hr

- if @event.present?
  %p
    - params = { "competition[scoring_class]" => "Trials", "competition[num_members_per_competitor]" => "One" }
    = link_to t(".click_here"), new_event_competition_path(@event, params), class: "button"
    to continue setting up your "Trials" Competition.
