<%= form_for([@event, @event_choice]) do |f| %>
  <% if @event_choice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_choice.errors.count, "error") %> prohibited this event_choice from being saved:</h2>

      <ul>
      <% @event_choice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :export_name %><br />
    <%= f.text_field :export_name %>
  </div>
  <div class="field">
    <%= f.label :cell_type %><br />
    <%= f.select :cell_type, ['boolean', 'text', 'multiple'] %>
  </div>
  <div class="field">
    <%= f.label :multiple_values %><br />
    <%= f.text_field :multiple_values %>
  </div>
  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :autocomplete %><br />
    <%= f.check_box :autocomplete %><br />
    Enabling this option will cause Auto-complete suggestions to be presented to each registrant. (If Scott says his Team is "The Scott Team", when a different user types "The" into the "Team", "The Scott Team" will be suggested).
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
