<% # passed in object is 'form' %>
<%= form_for([@competition, form]) do |f| %>
  <%= render :partial => "/shared/error_messages", :object => form %>

  <div class="field">
    <%= f.label :judge_type_id %><br />
    <%= f.select(:judge_type_id, @judge_types.map{ |jt| [jt, jt.id]}) %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.select(:user_id, @all_judges.map{ |user| [user, user.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
