%h2= "#{judges.count} #{judge_type} #{Judge.model_name.human(count: 2)}"
%table.sortable
  %thead
    %th= Judge.model_name.human
    %th
  %tbody
    - judges.each do |judge|
      - next unless judge.persisted?
      %tr
        %td= judge.name
        %td
          - if policy(judge).destroy?
            = link_to t("delete"), competition_judge_path(judge.competition, judge), data: { confirm: t("are_you_sure") }, method: :delete
