<h1>Manage <%= @competition %> Judges/Officials</h1>

<table class="sortable">
  <caption>All globally-enabled Data Entry Volunteer Accounts</caption>
  <thead>
    <th>Email</th>
  </thead>
  <tbody>
    <% @all_data_entry_volunteers.each do |judge| %>
      <tr>
        <td><%= judge %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />
<table class="sortable">
  <caption>All globally-enabled Race Official Accounts</caption>
  <thead>
    <th>Email</th>
  </thead>
  <tbody>
    <% @race_officials.each do |official| %>
      <tr>
        <td><%= official %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />
<% if @judges.count > 0 %>
  <table>
    <caption>THIS EVENT Judges</caption>
    <thead>
      <th>Judge</th>
      <th>Type</th>
    </thead>
    <tbody>
      <% @judges.each do |judge| %>
        <tr>
          <td><%= judge %></td>
          <td><%= judge.judge_type %></td>
          <td><%= link_to t('Destroy'), competition_judge_path(judge.competition, judge), confirm: 'Are you sure?', method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div>
    <b>There are no judges set for this event</b>
  </div>
<% end %>
<hr />

<h2>Set User as 'Race Official'</h2>
Allows users to see the judging menu
<%= form_for [@competition, @judge], :url => create_race_official_competition_judges_path(@competition) do |f| %>
  <%= f.select :user_id, User.all.map { |user| [user, user.id] } %>
  <%= f.submit %>
<% end %>

<h2>Set User as 'data_entry_volunteer'</h2>
Allows users to see the data_entry_volunteer menu
<%= form_for [@competition, @judge], :url => create_normal_competition_judges_path(@competition) do |f| %>
  <%= f.select :user_id, User.all.map { |user| [user, user.id] } %>
  <%= f.submit %>
<% end %>

<h2>Set User as Judge for <%= @event_category %></h2>
Allows user to judge THIS event.
<%= form_for [@competition, @judge] do |f| %>
  <%= f.select :user_id, @all_data_entry_volunteers.map { |user| [user, user.id] } %>
  <%= f.select :judge_type_id, @judge_types.map { |jt| [jt, jt.id] } %>
  <%= f.submit %>
<% end %>

<div class="judges">
    <h4>Copy Judges from another Competition</h4>
    <%= render :partial => "copy_judges" %>
</div>
