
<b>Step 1</b>: Ensure that your desired volunteer is enabled in the "Data Entry Volunteer Accounts":<br />
 <table class="sortable">
  <thead>
    <th>User Account Email</th>
    <th>Name</th>
  </thead>
  <tbody>
    <% @all_data_entry_volunteers.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <th><%= user %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Manage Data Entry Volunteers", competition_data_entry_volunteers_path(@competition) %>

<hr />
<% if @competition.uses_judges %>
  <h1>Manage <%= @competition %> Judges</h1>

  <hr />
  <table class="sortable">
    <caption>Judges for <b>this</b> Competition</caption>
    <thead>
      <th>Judge</th>
      <th>Type</th>
      <th></th>
    </thead>
    <tbody>
      <% @judges.each do |judge| %>
        <% next unless judge.persisted? %>
        <tr>
          <td><%= judge %></td>
          <td><%= judge.judge_type %></td>
          <td><%= link_to t('Destroy'), competition_judge_path(judge.competition, judge), data: {confirm: 'Are you sure?'}, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3>Add judges</h3>
  <%= render partial: "/shared/error_messages", object: @judge %>
  <fieldset class="data_block">
    <legend><b>Option 1:</b> Add judges individually</legend>

    <%= form_for [@competition, @judge] do |f| %>
      <%= f.label :user_id, "Volunteer" %>
      <%= f.select :user_id, @all_data_entry_volunteers.map { |user| [user, user.id] } %>
      <%= f.label :judge_type_id %>
      <%= f.select :judge_type_id, @judge_types.map { |jt| [jt, jt.id] } %>
      <%= f.submit %>
    <% end %>
  </fieldset>

  <fieldset class="data_block">
    <legend><b>Option 2:</b> Copy judges from another competition (you can modify the list after copying them)</legend>

    <div class="judges">
      <%= render :partial => "copy_judges" %>
    </div>
  </fieldset>
<% elsif @competition.uses_lane_assignments %>

  <h1>Manage RaceOfficials</h1>

  <p>These Users have the ability to assign Lane Assignments, as well as DQ competitors and see who is in each Heat/Lane.</p>

  <table class="sortable">
    <thead>
      <th>Email</th>
    </thead>
    <tbody>
      <% @race_officials.each do |official| %>
        <tr>
          <td><%= official %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <h2>Set User as 'Race Official'</h2>
  <%= form_tag :url => create_race_official_permissions_path, method: :post do |f| %>
    <%= hidden_field_tag :competition_id, @competition %>
    <%= select_tag :user_id, options_from_collection_for_select(User.with_role(:race_official), "id", "to_s") %>
    <%= submit_tag %>
  <% end %>

<% end %>
