- if @competition.uses_judges
  %h1 Manage #{@competition} Judges
  %hr
  - @judge_types.each do |judge_type|
    .judge_type_summary
      = render partial: "judge_type_summary", locals: {judge_type: judge_type, judges: @judges.where(judge_type: judge_type) }
  %h3 Add judges
  = render partial: "/shared/error_messages", object: @judge
  %fieldset.judge_entry_choice
    %legend
      %b Option 1:
      Add judges individually
    = form_for [@competition, @judge] do |f|
      = f.label :user_id, "Volunteer"
      = f.select :user_id, @all_data_entry_volunteers.map { |user| [user, user.id] }
      %br
      = f.label :judge_type_id
      = f.select :judge_type_id, @judge_types.map { |jt| [jt, jt.id] }
      %br
      = f.submit "Add Judge", class: "action_button"
  %fieldset.judge_entry_choice
    %legend
      %b Option 2:
      Copy judges list
    .judges
      = render :partial => "copy_judges"


- elsif @competition.uses_lane_assignments
  %h1 Manage RaceOfficials
  %p These Users have the ability to assign Lane Assignments, as well as DQ competitors and see who is in each Heat/Lane.
  %table.sortable
    %thead
      %th Email
    %tbody
      - @race_officials.each do |official|
        %tr
          %td= official
  %h2 Set User as 'Race Official'
  = form_tag  create_race_official_permissions_path, method: :post do |f|
    = hidden_field_tag :competition_id, @competition.id
    = select_tag :user_id, options_from_collection_for_select(User.with_role(:data_entry_volunteer), "id", "to_s")
    = submit_tag
%hr
If the volunteer you need isn't listed, #{link_to "Manage Data Entry Volunteers", competition_data_entry_volunteers_path(@competition)}
%br
