<h1>Manage <%= @competition %> Judges</h1>

<table>
  <caption>All enabled Judge Accounts</caption>
  <thead>
    <th>Email</th>
  </thead>
  <tbody>
    <% @all_judges.each do |judge| %>
      <tr>
        <td><%= judge %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <caption>THIS EVENT Judges</caption>
  <thead>
    <th>Judge</th>
    <th>Type</th>
  </thead>
  <tbody>
    <% @judges.each do |judge| %>
      <tr>
        <td><%= judge %></td>
        <td><%= judge.judge_type %></td>
        <td>Delete?</td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Set User as 'Judge'</h2>
Allows users to see the judging menu
<%= form_for [@competition, @judge], :url => create_normal_judges_path do |f| %>
  <%= f.select :user_id, User.all.map { |user| [user, user.id] } %>
  <%= f.submit %>
<% end %>

<h2>Set User as Judge for <%= @event_category %></h2>
Allows user to judge THIS event.
<%= form_for [@competition, @judge] do |f| %>
  <%= f.select :user_id, @all_judges.map { |user| [user, user.id] } %>
  <%= f.select :judge_type_id, @judge_types.map { |jt| [jt, jt.id] } %>
  <%= f.submit %>
<% end %>
