%h1 Lodgings

%p Choose the entries to sell for lodging

%table
  %tr
    %th= Lodging.human_attribute_name(:name)
    %th= Lodging.human_attribute_name(:description)
    %th
    %th
  - @lodgings.each do |lodging|
    %tr
      %td= link_to lodging.name, convention_setup_lodging_path(lodging)
      %td= lodging.name
      %td= lodging.description
      %td= lodging.lodging_room_types.map(&:to_s).join(", ")
      %td= link_to t("edit"), edit_convention_setup_lodging_path(lodging)
      %td= link_to t("delete"), convention_setup_lodging_path(lodging), method: :delete, data: { confirm: t("are_you_sure") }
%br

= link_to "New Lodging", new_convention_setup_lodging_path
