<%= form_for(@registration_period) do |f| %>
  <% if @registration_period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration_period.errors.count, "error") %> prohibited this registration_period from being saved:</h2>

      <ul>
      <% @registration_period.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date, :title => "Specify the Date following the previous period's 'End Date'"  %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date, :title => "Specify the last date that these prices apply" %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :competitor_expense_item_id %><br />
    <%= f.select :competitor_expense_item_id, ExpenseItem.all.map {|ei| [ei.name, ei.id] }  %>
  </div>
  <div class="field">
    <%= f.label :noncompetitor_expense_item_id %><br />
    <%= f.select :noncompetitor_expense_item_id, ExpenseItem.all.map {|ei| [ei.name, ei.id] } %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :onsite %><br />
    <%= f.check_box :onsite, :title => "This causes the 'Online Registration Closes' banner to be displayed appropriately in the Cost tables" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
