<fieldset class="registration_period_block">
  <legend><%= competitor ? "Competitor" : "Non-Competitor" %> Registration Cost</legend>
    <table>
      <% closed_date = RegistrationPeriod.closed_date %>
        <% RegistrationPeriod.includes(:competitor_expense_item).includes(:noncompetitor_expense_item).all.each do |period| %>
          <% if period.past_period? %>
            <tr class="past_reg_period">
          <% elsif period.current_period? %>
            <tr class="current_reg_period">
          <% else %>
            <tr>
          <% end %>
                <td><%= "#{period.name} Registration" %></td>
                <td>From</td>
                <td><%=period.start_date.strftime("%b %d, %Y") %></td>
                <td> to </td>
                <td><%=period.end_date.strftime("%b %d, %Y") %></td>
                <td><b><span class="fee">
                <% if competitor %>
                  <%= fcost(period.competitor_expense_item.cost) %>
                <% else %>
                  <%= fcost(period.noncompetitor_expense_item.cost) %>
                <% end %>
                </span></b></td>
            </tr>
            <% if period.end_date == closed_date %>
              <tr>
                <td colspan="6" class="registration_closes_notice">Registration Closes <%= closed_date.strftime("%b %d, %Y") %></td>
              </tr>
            <% end %>
        <% end %>
    </table>
</fieldset>
