<h1>Registration Periods</h1>

<p>Each registration period will define the range of dates that a user can register for the event at each price.<br />
<b>Note</b>: Because the users may live in different timezones, in order to be fair to everyone, the system will ALLOW paying the initial price until up to 1 full day after the registration period ends.(depending on the location of the server)<br />
<b>Example</b>: If the first registration period is Until April 20th, Registrants will be able to pay the initial price until the server thinks that it is April 22nd.<br />
</p>

<table class="alternate">
  <tr>
    <th>Name</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Onsite</th>
    <th>Competitor cost</th>
    <th>Noncompetitor cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registration_periods.each do |registration_period| %>
  <tr>
    <td><%= registration_period.name %></td>
    <td><%= registration_period.start_date %></td>
    <td><%= registration_period.end_date %></td>
    <td><%= registration_period.onsite %></td>
    <td><%= registration_period.competitor_expense_item.cost %></td>
    <td><%= registration_period.noncompetitor_expense_item.cost %></td>
    <td><%= link_to 'Show', registration_period %></td>
    <td><%= link_to 'Edit', edit_registration_period_path(registration_period) %></td>
    <td><%= link_to 'Delete', registration_period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Registration period', new_registration_period_path %>
