<h1>Printing Forms</h1>

<%= link_to "Race Recording Forms (pdf)", printing_race_recording_multi_lap_path(:format => :pdf) %><br />
<%= link_to "Track Race Instructions (pdf)", printing_race_recording_instructions_path(:format => :pdf) %>

<h2>Event Results Printing</h2>
<table class="sortable">
  <thead>
    <tr>
      <th>Event</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% Event.order(:name).all.each do |event| %>

    <tr>
      <td><%= event %></td>
      <td><%= link_to "View", results_printing_event_path(event, :format => :pdf) %></td>
      <td><%= link_to "Save", results_printing_event_path(event, :format => :pdf, :attachment => true) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

