%h1 Advanced Settings

%p These settings enable/disable various portions of the site. Most likely you should not change any of these settings for your convention.

= simple_form_for(@event_configuration, url: update_advanced_settings_event_configuration_path, method: :put, multipart: true) do |f|
  = render partial: "/shared/error_messages", object: @event_configuration

  %fieldset.form__fieldset
    %h3 Tax Settings
    = f.input :italian_requirements
    .description
      Requires collection of BirthPlace from everyone, and Italian Fiscal Code from Italian registrants.

    = f.input :usa
    = f.input :iuf
    IUF is Unused?
    = f.input :display_confirmed_events
    = f.input :test_mode

    %hr
    = f.button :submit
