%h1= t(".header")

- if EventConfiguration.singleton.under_construction?
  %p= t(".system_under_construction")
- else
  %p= t(".system_live")

%p= t(".under_construction_description")
%p
  %b= t("note")
  = t(".set_costs_warning")

%fieldset.form__fieldset
  = simple_form_for(@event_configuration, url: update_go_live_event_configuration_path, method: :put) do |f|
    = render partial: "/shared/error_messages", object: @event_configuration

    = f.input :under_construction

    = f.button :submit
