%h1= t(".header")

%p= t(".description")

= simple_form_for(@event_configuration, url: update_important_dates_event_configuration_path, method: :put) do |f|
  = render partial: "/shared/error_messages", object: @event_configuration

  .row
    .small-6.columns
      %b= t(".type_of_important_date")
    .small-6.columns
      %b= t(".effective_final_date")
  .row
    .small-6.columns
      = f.input :artistic_closed_date, as: :date_picker
    .small-6.columns
      = EventConfiguration.singleton.effective_artistic_closed_date
  .row
    .small-6.columns
      = f.input :music_submission_end_date, as: :date_picker
    .small-6.columns
      = EventConfiguration.singleton.effective_music_submission_end_date
  .row
    .small-6.columns
      = f.input :event_sign_up_closed_date, as: :date_picker
    .small-6.columns
      = EventConfiguration.singleton.effective_event_sign_up_closed_date
  .row
    .small-6.columns
      = f.input :age_calculation_base_date, as: :date_picker
    .small-6.columns
      = EventConfiguration.singleton.effective_age_calculation_base_date
  .row
    .small-6.columns.end
      = f.input :start_date, as: :date_picker
  .row
    .small-12.columns
      = f.button :submit
