%h1= t(".header")

%p= t(".short_name_description")

%p= t(".long_name_description")

= simple_form_for(@event_configuration, url: update_name_logo_event_configuration_path, method: :put) do |f|
  = render partial: "/shared/error_messages", object: @event_configuration
  %fieldset.form__fieldset
    = f.input :short_name
    = f.input :long_name
    = f.input :location
    = f.input :dates_description
    = f.input :event_url
    = f.input :logo_file
    = image_tag(@event_configuration.logo_file.url) if @event_configuration.logo_file?
    = f.input :contact_email
    = f.input :enabled_locales, collection: EventConfiguration.all_available_languages, input_html: { multiple: true }
    = f.input :style_name, collection: EventConfiguration.style_names, include_blank: false
    = f.button :submit
