%h1= t(".header")

%p= t(".description")

%p
  For Additional Details on how to set up the IPN, please contact Robin or Scott.
  (we would like to have better documentation here...but...we would like a lot of things)

%p
  = t(".ipn_url", url: "http://#{@tenant.permanent_url}/payments/notification")

%fieldset.form__fieldset
  = simple_form_for(@event_configuration, url: update_payment_settings_event_configuration_path, method: :put) do |f|
    = render partial: "/shared/error_messages", object: @event_configuration

    = f.input :paypal_account
    = f.input :currency_code, collection: EventConfiguration.currency_codes
    = f.input :paypal_mode, collection: EventConfiguration.paypal_modes, include_blank: false
    = f.input :offline_payment
    = f.input :offline_payment_description, as: :text, input_html: { class: "tinymce" }

    = f.button :submit
