%h1= t(".header")

%p= t(".description")

= simple_form_for(@event_configuration, url: update_registration_questions_event_configuration_path, method: :put, multipart: true) do |f|
  = render partial: "/shared/error_messages", object: @event_configuration

  %fieldset.form__fieldset
    %h3= t(".contact_details_requested")

    = f.input :request_address
    = f.input :request_emergency_contact
    = f.input :request_responsible_adult

  %fieldset.form__fieldset
    %h3= t(".request_young_users_wheel_size")

    = f.input :registrants_should_specify_default_wheel_size

  %fieldset.form__fieldset
    %h3 Standard Skill

    %p
      Enabling this feature allows a registrant to submit their standard skill routine with their registration.

    = f.input :standard_skill
  %fieldset.form__fieldset
    %h3= t(".representation_type")

    = f.input :representation_type, collection: RepresentationType::TYPES, include_blank: false

    %p
      When displaying a registrant/competitor, what other information might we display.

  = f.button :submit
