%h1= t(".header")

= simple_form_for(@event_configuration, url: update_registrant_types_event_configuration_path, method: :put, multipart: true) do |f|
  = render partial: "/shared/error_messages", object: @event_configuration

  %fieldset.form__fieldset
    %h3= t(".subheader")
    %h4= t(".offered_types")

    .field
      = check_box_tag :competitor, true, true, disabled: true
      = label_tag :competitor, nil, class: 'label--checkbox'

    = f.input :noncompetitors
    .help_bubble{ title: t(".noncompetitor_description") }

    = f.input :spectators

    %hr
    = f.input :max_registrants
    = t(".current_num_registrants", num: Registrant.not_deleted.count)
    %hr

    = f.input :comp_noncomp_url, input_html: { class: "js--fancyboxUrl" }
    = link_to 'Test this URL', '#', class: "fancybox js--dynamicFancybox"
    = f.input :comp_noncomp_page_id, collection: Page.ordinary

    = f.input :competitor_benefits, as: :text
    = f.input :noncompetitor_benefits, as: :text
    = f.input :spectator_benefits, as: :text

    = f.button :submit
