%h1= t(".header")

%p= t(".description")


%p= t(".sub_description")

= simple_form_for(@event_configuration, url: update_rules_waiver_event_configuration_path, method: :put, multipart: true) do |f|
  = render partial: "/shared/error_messages", object: @event_configuration

  %fieldset.form__fieldset
    %h3 Waiver

    = f.input :waiver, as: :radio_buttons, collection: [:none, :online, :print]
    .help_bubble{ title: t(".online_waiver_description") }
    .help_bubble{ title: t(".print_waiver_description") }

    = f.input :custom_waiver_text, placeholder: EventConfiguration.default_waiver_text

    %h3= t(".rules")

    = f.input :rules_file_name
    = f.input :accept_rules

    %h3= t(".rulebook")

    = f.input :rulebook_url

    %p
      = t(".current_iuf_rulebook_link")
      = link_to("https://unicycling.org/files/current-iuf-rulebook.pdf", "https://unicycling.org/files/current-iuf-rulebook.pdf")

    = f.button :submit
