
%table.sortable
  %thead
    %tr
      %th Entry Number
      %th Competitor
      %th Points
      %th Details
      %th Disqualified
      %th Entered At
      %th ID
      %th Name
      %th Age Group
      %th
      %th
  %tbody
    - @external_results.each_with_index do |external_result, index|
      - next unless external_result.persisted?
      %tr
        %td= index + 1
        %td= external_result.competitor
        %td= external_result.points
        %td= external_result.details
        %td= external_result.disqualified?
        %td= external_result.entered_at
        %td= external_result.competitor.bib_number
        %td= external_result.competitor
        %td= external_result.competitor.age_group_entry_description
        %td= link_to t("edit"), edit_preliminary_external_result_path(external_result)
        %td= link_to t("delete"), preliminary_external_result_path(external_result), method: :delete, data: { confirm: t("are_you_sure") }
