<table class="items">
  <thead>
    <tr>
      <th>Gender</th>
      <th>Event Category</th>
      <th>Source Competition</th>
      <th>Max Place</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <%= f.nested_fields_for :competition_sources, render_template: false do |cs| %>
      <tr class="item">
        <td>
          <%= cs.select :gender_filter, CompetitionSource.gender_filters, :include_blank => true %>
        </td>
        <td>
          <%= cs.select :event_category_id, event.event_categories.map{|ec| [ec, ec.id]}, :include_blank => true  %>
        </td>
        <td>
          <%= cs.select :competition_id, Competition.event_order.all.map{|c| [c, c.id]}, :include_blank => true  %>
        </td>
        <td>
          <%= cs.number_field :max_place %>
        </td>
        <td>
          <a href="#" class="remove">remove</a>
          <%= cs.hidden_field :id %>
          <%= cs.hidden_field :_destroy %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="#" class="add">add entry</a><br />
<%= nested_fields_templates %>

<ul>
  <li>Select <b>Event Category</b> <b><u>OR</u></b> Source Competition</li>
  <li><b>Max Place:</b> (Source-Competition <u>only</u>) specify the overall_place which the competitors must achieve in the Source Competition to be included as registrants</li>
</ul>

