%tr
  %td= competition
  %td
    = link_to "Competitor List", announcer_printing_competition_path(competition)
    = link_to "(pdf)", announcer_printing_competition_path(competition, :format => :pdf)

  %td= data_recording_link(competition, is_start_times: true)
  %td= start_data_entry_link(current_user, competition)
  %td= data_confirmation_link(competition, is_start_times: true)

  %td= data_recording_link(competition, is_start_times: false)
  %td= end_data_entry_link(current_user, competition)
  %td= data_confirmation_link(competition, is_start_times: false)
