%h3 Start Line
%ul
  - options = { is_start_times: true }
  - case competition.start_data_type
  - when "Two Data Per Line"
    %li
      = link_to "Recording Sheets", two_attempt_recording_printing_competition_path(competition, options)
      = link_to "(pdf)", two_attempt_recording_printing_competition_path(competition, options.merge(:format => :pdf))

    %li= link_to "Entry Form", user_competition_two_attempt_entries_path(current_user, competition, is_start_times: true)

    %li= link_to "Verification", proof_user_competition_two_attempt_entries_path(current_user, competition, options)

  - when "One Data Per Line"
    %li
      = link_to "Recording Sheets", single_attempt_recording_printing_competition_path(competition, options)
      = link_to "(pdf)", single_attempt_recording_printing_competition_path(competition, options.merge(:format => :pdf))

    %li= link_to "Entry Form", data_entry_user_competition_import_results_path(current_user, competition, is_start_times: true)

    %li= link_to "Verification", review_user_competition_import_results_path(current_user, competition, options)

  - when "Mass Start"
    %li
      = link_to "Start Lists", competition_sign_ins_path(competition)
      = link_to "(pdf)", competition_sign_ins_path(competition, :format => :pdf)

    %li= link_to "Set Competition Wave Times", competition_wave_times_path(competition)
    %li= link_to "Enter Sign-Ins", edit_competition_sign_ins_path(competition)
    %li= link_to "Import Wave Assignments", competition_wave_assignments_path(competition)

  - when "Externally Ranked"
    %li= link_to "View", review_user_competition_import_results_path(current_user, competition, options)

  - if competition.uses_lane_assignments?
    %li
      = link_to "Recording Sheet", heat_recording_printing_competition_path(competition)
      = link_to "(pdf)", heat_recording_printing_competition_path(competition, :format => :pdf)
    - if policy(competition).manage_lane_assignments?
      %li= link_to "Display Heat", view_heat_competition_lane_assignments_path(competition)
      %li= link_to "Set Lane Assignments", competition_lane_assignments_path(competition)
      %li= link_to "Review", review_competition_lane_assignments_path(competition)

%h3 Finish Line
%ul
  - options = { is_start_times: false }
  - case competition.end_data_type
  - when "Two Data Per Line"
    %li
      = link_to "Recording Sheets", two_attempt_recording_printing_competition_path(competition, options)
      = link_to "(pdf)", two_attempt_recording_printing_competition_path(competition, options.merge(:format => :pdf))

    %li= link_to "Entry Form", user_competition_two_attempt_entries_path(current_user, competition, is_start_times: false)
    %li= link_to "Verification", proof_user_competition_two_attempt_entries_path(current_user, competition, options)

  - when "One Data Per Line"
    %li
      = link_to "Recording Sheets", single_attempt_recording_printing_competition_path(competition, options)
      = link_to "(pdf)", single_attempt_recording_printing_competition_path(competition, options.merge(:format => :pdf))

    - if competition.imports_times?
      %li= link_to "Entry Form", data_entry_user_competition_import_results_path(current_user, competition, is_start_times: false)
      %li= link_to "Verification", review_user_competition_import_results_path(current_user, competition, options)
    - elsif competition.imports_points?
      %li= link_to "Entry Form", competition_preliminary_external_results_path(competition)
  - when "Track E-Timer"
    %li
      = link_to "Recording Sheet", heat_recording_printing_competition_path(competition)
      = link_to "(pdf)", heat_recording_printing_competition_path(competition, :format => :pdf)

    %li= link_to "Track Importing", display_lif_user_competition_import_results_path(current_user, competition)
    %li= link_to "View", review_user_competition_import_results_path(current_user, competition)

  - when "Externally Ranked"
    %li= link_to "View", review_user_competition_import_results_path(current_user, competition, options)

  - when "Chip-Timing"
    %li= link_to "Import Chip CSV", display_chip_user_competition_import_results_path(current_user, competition)

  - if competition.imports_times?
    %li= link_to "Import CSV", display_csv_user_competition_import_results_path(current_user, competition)

  - if competition.imports_points?
    %li= link_to "Import CSV", display_csv_competition_preliminary_external_results_path(competition)
