<%= form_for([@event_category, @competition]) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% competition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= label_tag :gender_filter %>
    <%= select_tag :gender_filter, options_for_select(["Both", "Male", "Female"], "Both") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
