<%= form_for(@competition.new_record? ? [@event, @competition] : [@competition]) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :title => "'All' is a special name, which will not be printed on medals" %>
  </div>

  <h2>Settings for selecting the competitors from sign-ups</h2>
  <table>
    <thead>
      <tr>
        <th>Gender</th>
        <th>Event Category</th>
        <th>Source Competition</th>
        <th>Max Place</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :competition_sources do |cs| %>
        <tr>
          <td>
            <%= cs.select :gender_filter, CompetitionSource.gender_filters, :include_blank => true %>
          </td>
          <td>
            <%= cs.select :event_category_id, @event.event_categories.map{|ec| [ec, ec.id]}, :include_blank => true  %>
          </td>
          <td>
            <%= cs.select :competition_id, Competition.all.map{|c| [c, c.id]}, :include_blank => true  %>
          </td>
          <td>
            <%= cs.number_field :max_place %>
          </td>
          <td>
            <%= cs.check_box :_destroy %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <ul>
    <li><b>Max Place:</b> specify the overall_place which the competitors must achieve in the Source Competition to be included as registrants</li>
    <li>If you need more sources, you can do so by Editing the Competition after creation.</li>
  </ul>

  <h2>Settings For gathering/ranking the results</h2>
  <div class="field">
    <%= f.label :age_group_type_id %>
    <%= f.select :age_group_type_id, AgeGroupType.all.map{|agt| [agt,agt.id]}, :include_blank => true  %>
    This is NOT applicable to EXPERT-ONLY competitions
  </div>
  <div class="field">
    <%= f.label :scoring_class %><br />
    <%= f.select :scoring_class, Competition.scoring_classes, :include_blank => true %>
  </div>

  <h2>Settings for printing the awards</h2>
  <div class="field">
    <%= f.label :has_experts %><br />
    (Select this if the results entered here include (or can be considered) EXPERT results. Selecting this checkbox will cause Expert Awards to be created, separately from age-group results) <br />
    <%= f.check_box :has_experts  %>
  </div>
  <div class="field">
    <%= f.label :has_age_groups %><br />
    (Select this if the results should be split by multiple age groups, and awarded en-masse)<br />
    <%= f.check_box :has_age_groups %>
  </div>
  Note: check NEITHER the has_experts or has_age_groups if neither apply (for example: Individual Artistic Intermediate)

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
