<%= form_for([@event_category, @competition]) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :title => "'All' is a special name, which will not be printed on medals" %>
  </div>
  <div class="field">
    <%= f.label :scoring_class %><br />
    <%= f.select :scoring_class, Competition.scoring_classes, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :has_experts %><br />
    (Select this if the results should be calculated together, and overall rankings (by Male and Female) should be calculated. These will be awarded separately from the age-group results)<br />
    <%= f.check_box :has_experts  %>
  </div>
  <div class="field">
    <%= f.label :has_age_groups %><br />
    (Select this if the results should be split by multiple age groups, and awarded en-masse)<br />
    <%= f.check_box :has_age_groups %>
  </div>
  Note: check NEITHER the has_experts or has_age_groups if neither apply (for example: Individual Artistic Intermediate)
  <div class="field">
    <%= f.label :age_group_type_id %>
    <%= f.select :age_group_type_id, AgeGroupType.all.map{|agt| [agt,agt.id]}, :include_blank => true  %>
  </div>
  <div class="field">
    <%= label_tag :gender_filter %>
    <%= select_tag :gender_filter, options_for_select(["Both", "Male", "Female"], "Both") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
