<%= form_for(@competition.new_record? ? [@event, @competition] : [@competition]) do |f| %>
  <%= render partial: "/shared/error_messages", object: @competition %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :title => "'All' is a special name, which will not be printed on medals" %>
  </div>

  <div class="field">
    <%= f.label :scheduled_completion_at %><br />
    <%= f.datetime_select :scheduled_completion_at, include_blank: true %>
  </div>

  <h2>Settings for selecting the competitors from sign-ups</h2>
  <%= render partial: "competition_sources_form", locals: {f: f, event: @event} %>

  <h2>Settings For gathering the results</h2>

  <table>
    <thead>
      <tr>
        <th><%= f.label :uses_lane_assignments %></th>
        <th><%= f.label :start_data_type %></th>
        <th><%= f.label :end_data_type %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.check_box :uses_lane_assignments, title: "Selecting this checkbox enables the Heat/Lane assignment system" %></td>
        <td><%= f.select :start_data_type, Competition.data_recording_types, :include_blank => true %></td>
        <td><%= f.select :end_data_type, Competition.data_recording_types, :include_blank => true %></td>
      </tr>
    </tbody>
  </table>

  <h2>Settings for Scoring the results</h2>
  <div class="field">
    <%= f.label :age_group_type_id %>
    <%= f.select :age_group_type_id, AgeGroupType.all.map{|agt| [agt,agt.id]}, :include_blank => true  %>
    This is NOT applicable to EXPERT-ONLY competitions
  </div>
  <div class="field">
    <%= f.label :scoring_class %><br />
    <%= f.select :scoring_class, Competition.scoring_classes, :include_blank => true %>
  </div>

  <h2>Settings for printing the awards</h2>
  <div class="field">
    <%= f.label :has_experts %><br />
    (Select this if the results entered here include (or can be considered) EXPERT results. Selecting this checkbox will cause Expert Awards to be created, separately from age-group results) <br />
    <%= f.check_box :has_experts  %>
  </div>
  <div class="field">
    <%= f.label :has_age_groups %><br />
    (Select this if the results should be split by multiple age groups, and awarded en-masse)<br />
    <%= f.check_box :has_age_groups %>
  </div>
  Note: check NEITHER the has_experts or has_age_groups if neither apply (for example: Individual Artistic Intermediate)

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
