- if policy(@competition).publish_age_group_entry?
  - if @competition.has_age_group_entry_results?
    %h2 Preliminary Age Group Entry Results
    %table
      %thead
        %tr
          %th Age Group
          %th Preview
          %th Publish
          %th Published-At
      %tbody
        - @competition.age_group_type.age_group_entries.each do |entry|
          - published_entry = @competition.published_age_group_entries.where(age_group_entry: entry).first
          %tr
            %td= entry
            %td
              = link_to "Preview", preview_competition_published_age_group_entry_path(@competition, entry)
              = link_to "(pdf)", preview_competition_published_age_group_entry_path(@competition, entry, format: :pdf)
            %td= link_to "Publish", publish_age_group_entry_competition_path(@competition, age_group_entry: entry.id), method: :post, data: { confirm: "are you sure?" }, class: "button tiny"
            %td
              - if published_entry
                = link_to published_entry, competition_published_age_group_entry_path(@competition, published_entry), title: "published at #{published_entry.published_formatted}"
                = link_to "(pdf)", competition_published_age_group_entry_path(@competition, published_entry,  format: :pdf), title: "published at #{published_entry.published_formatted}"
