- if policy(@competition).update?
  .non_printable
    = @competition.event_class
- if policy(@competition).set_places?
  - if Result.competition_calc_needed?(@competition)
    .calc_needed Places should be re-calculated.
  .non_printable
    = link_to "Set All Places", set_places_competition_path(@competition), method: :post, class: "button", data: { confirm: "This may take a few seconds" }
    = render "competitions/set_age_group_places"

%table.sortable
  %thead
    %tr
      %th{:colspan => "2"} Registrant
      %th{:colspan => "2"}
      - if @competition.has_age_group_entry_results?
        %th{:colspan => "2"} Age Group
      %th
    %tr
      %th ID
      %th Name
      %th Result
      %th Disqualified
      - if @competition.has_age_group_entry_results?
        %th Age Group
        %th Place
      %th Overall Place
  %tbody
    - @competition.competitors.includes(:age_group_result, :overall_result, members: [:registrant]).each do |comp|
      - if comp.has_result?
        %tr
          %td= comp.bib_number
          %td= comp
          %td= comp.result
          %td= comp.disqualified? ? "yes" : ""
          - if @competition.has_age_group_entry_results?
            %td= comp.age_group_entry_description
            %td= comp.place_formatted
          %td= comp.overall_place_formatted
      - else
        %tr
          %td= comp.bib_number
          %td= comp
          %td.unmatching No Result
          %td.unmatching
          - if @competition.has_age_group_entry_results?
            %td.unmatching
            %td.unmatching
          %td.unmatching
