<h1>Listing Results for <%= @competition %></h1>

<%= link_to "Set Places", set_places_competition_path(@competition), method: :post, :confirm => "This may take a few seconds" %>
<%= link_to "Delete All", destroy_results_competition_path(@competition), method: :delete, :class => "results_delete", :confirm => "This will DELETE all data supporting these results. Are you sure?" %>
Results: <%= link_to "View", results_printing_competition_path(@competition, :format => :pdf) %> <%= link_to "Save", results_printing_competition_path(@competition, :format => :pdf, :attachment => true) %>

<table class="sortable">
  <thead>
    <tr>
      <th colspan="2">Registrant</th>
      <th colspan="2">Time</th>
      <td></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Result</th>
      <th>Disqualified</th>
      <th>Age Group</th>
      <th>Place</th>
      <th>Overall Place</th>
    </tr>
  </thead>

  <tbody>
    <% @competition.competitors.each do |comp| %>
      <% next unless comp.has_result? %>
      <tr>
        <td><%= comp.bib_number %></td>
        <td><%= comp %></td>
        <td><%= comp.result %></td>
        <td><%= comp.disqualified %></td>
        <td><%= comp.age_group_entry_description %></td>
        <td><%= comp.place_formatted %></td>
        <td><%= comp.overall_place_formatted %></td>
      </tr>
    <% end %>
  </tbody>
</table>
