- if can? :update, @competition
  .non_printable
    = @competition.event_class
- if can? :set_places, @competition
  - if Result.competition_calc_needed?(@competition)
    .calc_needed Places should be re-calculated.
  .non_printable
    = link_to "Set All Places", set_places_competition_path(@competition), method: :post, data: { confirm: "This may take a few seconds" }
    - if @competition.can_calculated_age_group_results?
      = form_tag set_age_group_places_competition_path(@competition), method: :post do
        = select_tag :age_group_entry_id, options_from_collection_for_select(@competition.age_group_type.age_group_entries, "id", "to_s"), :include_blank => true
        %br
        = submit_tag "Set Single Age Group", data: { confirm: "Set single age group entry?" }

%table.sortable
  %thead
    %tr
      %th{:colspan => "2"} Registrant
      %th{:colspan => "2"}
      - if @competition.has_age_group_entry_results?
        %td{:colspan => "2"} Age Group
      %td
    %tr
      %th ID
      %th Name
      %th Result
      %th Disqualified
      - if @competition.has_age_group_entry_results?
        %th Age Group
        %th Place
      %th Overall Place
  %tbody
    - @competition.competitors.includes(:age_group_results, :overall_results, members: [:registrant]).each do |comp|
      - next unless comp.has_result?
      %tr
        %td= comp.bib_number
        %td= comp
        %td= comp.result
        %td= comp.disqualified? ? "yes" : ""
        - if @competition.has_age_group_entry_results?
          %td= comp.age_group_entry_description
          %td= comp.place_formatted
        %td= comp.overall_place_formatted
