// locals: competitor, judges
%tr
  %td= competitor.position
  %td= competitor.lowest_member_bib_number.to_s
  %td.right_edge= competitor.name
  - judges.each do |judge|
    - score = competitor.scores.find{ |score| score.judge_id == judge.id}
    - if !score.nil?
      - judge.judge_type.num_columns.times do |i|
        %td
          = score.send("val_#{i + 1}")
      %td.derived
        = score.total
        %br
      %td.derived.right_edge= score.placing_points
    - else
      %td.empty.right_edge{:colspan => judge.judge_type.num_columns + 2} -
  %td.derived= @competition.competitor_placing_points(competitor, judges.first.judge_type)
