// locals: competitors
%table.scores_outer
  %tr
    %th Order
    %th ID
    %th Name
    %th.derived
      Total Placing
      %br
      Points
    %th.derived Place
  - competitors.active.each do |competitor|
    - cache [competitor, competitor.competition, Result.cache_key_for_set(competitor.id)] do
      %tr
        %td= competitor.position
        %td= competitor.bib_number
        %td= competitor.name
        %td.derived= competitor.result
        %td.derived= competitor.overall_place
