// locals: competitor, judges
%tr
  %td= competitor.position
  %td= competitor.lowest_member_bib_number.to_s
  %td.right_edge= competitor.name
  - judges.each do |judge|
    - score = competitor.scores.find{ |score| score.judge_id == judge.id}
    - if !score.nil?
      - judge.judge_type.score_numbers.each do |score_number|
        %td
          = score.score_value(score_number)
      %td.derived
        = score.total
        %br
      %td.derived= score.placing_points(with_ineligible: false)
      %td.derived.right_edge= score.placing_points(with_ineligible: true)
    - else
      %td.empty.right_edge{:colspan => judge.judge_type.num_columns + num_total_columns} -
  %td.derived= @competition.competitor_placing_points(competitor, judges.first.judge_type, with_ineligible: false)
  %td.derived= @competition.competitor_placing_points(competitor, judges.first.judge_type, with_ineligible: true)
