- if policy(@competition).result?
  %h2 View Entered Data Summary
  %p
    = link_to 'View', result_competition_path(@competition)
    = link_to '(anonymous)', result_competition_path(@competition, anonymous: true)

  - unless @competition.results_path.nil?
    %h2 Manage Results
    %p
      = link_to("Enter/Modify Results", @competition.results_path)

- if policy(@competition).results?
  %h2 Preview Results to be posted
  %p
    = link_to "View", results_printing_competition_path(@competition)
    = link_to "(pdf)", results_printing_competition_path(@competition, :format => :pdf)

  -# Who should have access to these?
  %h3 Results for ALL Competitions in this event
  = link_to "View", results_printing_event_path(@competition.event)
  = link_to "(pdf)", results_printing_event_path(@competition.event, :format => :pdf)

- if @competition.unlocked? && policy(@competition).lock?
  %h2 Lock (Complete) the competition Results
  = link_to 'Lock', lock_competition_path(@competition), :method => :post, data: { confirm: "No more results can be changed. This cannot be undone by a Director. Continue?" }, class: "action_button"
- if @competition.locked? && policy(@competition).unlock?
  = link_to 'Unlock', unlock_competition_path(@competition), :method => :delete, data: { confirm: "Are you sure?" }
- if policy(@competition).publish?

  - if @competition.has_age_group_entry_results?
    %h2 Preliminary Age Group Entry Results
    = render partial: "publish_age_group_entries"

  %h3 Official Result
  - result = @competition.competition_results.official.first
  - if result.present?
    = link_to "Official Result", result.results_file_url, class: "official_result_link"
  - if @competition.published?
    %br
    = link_to 'Un-Publish', publish_competition_path(@competition), :method => :delete, data: { confirm: "Remove data from online results?" }
  - else
    = link_to 'Publish', publish_competition_path(@competition), :method => :post, data: { confirm: "This will make the data available online for all to see. Continue?" }, class: "action_button"

- if policy(@competition).show?
  %h4 Additional Results
  = link_to "Add Additional Results PDFs", competition_competition_results_path(@competition)
  %p There are currently #{@competition.competition_results.additional.count} Additional Results attached to this event

- if policy(@competition).award?
  %h4 Set as Awarded
  = link_to "Mark as Awarded", award_competition_path(@competition), method: :post, data: { confirm: "are you sure" }, class: "button small"
  %p This will allow registrants to see their results on the per-registrant results page

- if policy(@competition).unaward?
  %h4 Set as Un-Awarded
  = link_to "Mark as UnAwarded", award_competition_path(@competition), method: :delete, data: { confirm: "are you sure" }, class: "button small"
  %p This will remove the results from view.
