%h2 Results Approval

- if policy(@competition).results?
  %h3 Preview Results to be posted
  %p
    = link_to "View", results_printing_competition_path(@competition)
    = link_to "(pdf)", results_printing_competition_path(@competition, :format => :pdf)

  -# Who should have access to these?
  %h3 Results for ALL Competitions in this event (#{@competition.event})
  = link_to "View", results_printing_event_path(@competition.event)
  = link_to "(pdf)", results_printing_event_path(@competition.event, :format => :pdf)


- if @competition.unlocked? && policy(@competition).lock?
  %h3 Competition Results Lock Status: Un-Locked
  = link_to 'Lock', lock_competition_path(@competition), :method => :post, data: { confirm: "No more results can be changed. This cannot be undone by a Director. Continue?" }, class: "action_button"
- if @competition.locked? && policy(@competition).unlock?
  %h3 Competition Results Lock Status: Locked
  = link_to 'Unlock', unlock_competition_path(@competition), :method => :delete, data: { confirm: t("are_you_sure") }, class: "button small secondary"

= render partial: "publish_age_group_entries"

- if policy(@competition).publish?
  %h3 Official Result
  - result = @competition.competition_results.official.first
  - if result.present?
    = link_to "Official Result", result.results_file_url, class: "button"
  - if @competition.published?
    %br
    = link_to 'Un-Publish', publish_competition_path(@competition), :method => :delete, data: { confirm: "Remove data from online results?" }, class: "button small secondary"
  - else
    = link_to 'Publish', publish_competition_path(@competition), :method => :post, data: { confirm: "This will make the data available online for all to see. Continue?" }, class: "action_button"


  %h4= CompetitionResult.model_name.human(count: 2)
  %p There are currently #{@competition.competition_results.additional.count} Additional Results attached to this event


- if policy(@competition).award?
  %h4 Award Status: Un-Awarded
  = link_to "Mark as Awarded", award_competition_path(@competition), method: :post, data: { confirm: t("are_you_sure") }, class: "button small"
  %p This will allow registrants to see their results on the per-registrant results page

- if policy(@competition).unaward?
  %h4 Award Status: Awarded
  = link_to "Mark as Un-Awarded", award_competition_path(@competition), method: :delete, data: { confirm: t("are_you_sure") }, class: "button small secondary"
  %p This will remove the results from the per-registrants results page.
