- if @competition.uses_judges
  %p
    There are currently
    %span.num_volunteers
      = @competition.judges.count
    judges assigned.

  %p
    Please configure volunteers to help with data entry/judging

  = link_to "Manage Judges for #{@competition}", competition_judges_path(@competition)

- if @competition.uses_volunteers
  = link_to "Manage Volunteers for #{@competition}", competition_volunteers_path(@competition)
