<h1>Distance Attempts - <%=@competition %></h1>

<%= render :partial => "/competitions/results" %>

<div class="scores">
  <h3><%= @competition %> Best Successful Attempts</h3>

  <table class="distance_attempts sortable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Distance</th>
        <th>Age Group</th>
        <th>Place</th>
        <th>Overall Place</th>
      </tr>
    </thead>
    <tbody>
      <% @competition.best_distance_attempts.each do |da| %>
        <tr>
          <td><%= da.competitor.external_id %></td>
          <td><%= da.competitor.name %></td>
          <td><%= da.distance %></td>
          <td><%= da.competitor.age_group_entry_description %></td>
          <td><%= da.competitor.place %></td>
          <td><%= da.competitor.overall_place_formatted %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr />
  <% if can? :export_scores, @competition %>
    <%= link_to 'Download Scores CSV', export_scores_competition_path(@competition) %>
  <% end %>
</div>
