%h1
  Final Heat Candidate List for #{@competition}
%table.sortable
  %thead
    %tr
      %th Candidate Slot
      %th Time
      %th ID
      %th Name
      %th Gender
      %th Age Group
      %th Age Group Place
  %tbody
    - @male_candidates.each do |competitor|
      %tr
        %td= competitor.overall_place_formatted
        %td= competitor.result
        %td= competitor.bib_number
        %td= competitor
        %td= competitor.gender
        %td= competitor.age_group_entry_description
        %td= competitor.place_formatted
    - @female_candidates.each do |competitor|
      %tr
        %td= competitor.overall_place_formatted
        %td= competitor.result
        %td= competitor.bib_number
        %td= competitor
        %td= competitor.gender
        %td= competitor.age_group_entry_description
        %td= competitor.place_formatted
%br
