%h1 #{@competition} Results
= render :partial => "/competitions/results"
.scores
  %h3
    = @competition
    Raw Scores
  .non_printable
    = link_to("Toggle Displaying Judge Names", result_competition_path(@competition, anonymous: !@anonymous))

  - @competition.judge_types.uniq.each do |jt|
    %table.scores_outer
      - judges = @competition.judges.where(judge_type: jt).includes(:user, :judge_type).order(:id)
      = render partial: "scores_judging_headers", locals: { judges: judges, judge_type: jt, anonymous: @anonymous }
      - @competition.competitors.includes(scores: [judge: [:judge_type]]).active.each do |competitor|
        = render partial: "scores_competitor_judge_results", locals: { competitor: competitor, judges: judges }
      - if @competition.can_eliminate_judges?
        = render partial: "scores_judging_footers", locals: { judges: judges, judge_type: jt, anonymous: @anonymous }
  = render partial: "scores_summary", locals: { competitors: @competition.competitors.active }
  .non_printable
    %hr
    = link_to 'Download Scores CSV', export_competition_path(@competition)
