<h1>New Competition</h1>

<h2>Event Category: <%= @event %></h2>

<br />
<b>NOTE:</b> This will create the competition ONLY<br />

<%= form_for(@competition, :url => create_empty_event_competitions_path(@event)) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
        <% @competition.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :title => "'All' is a special name which will not be printed on medals" %>
  </div>
  <div class="field">
    <%= f.label :scoring_class %><br />
    <%= f.select :scoring_class, Competition.scoring_classes, :include_blank => true %>
  </div>

  <div class="field">
    <%= f.label :has_experts %><br />
    <%= f.check_box :has_experts %>
  </div>
  <div class="field">
    <%= f.label :has_age_groups %><br />
    <%= f.check_box :has_age_groups %>
  </div>

  <div class="field">
    <%= f.label :age_group_type_id %>
    <%= f.select :age_group_type_id, AgeGroupType.all.map{ |agt| [agt, agt.id]}, :include_blank => true  %>
  </div>
  <div class="actions">
    <%= f.submit "Create Competition" %>
  </div>
<% end %>
