%h3= "#{@competition.event} - #{@competition}"

- if @competition.compete_in_order
  %h4 Sort Competitors (live-save)

  %div
    = render partial: "competitor_sort_list", object: @competition

  %h4 Sort Competitors Randomly

  = link_to "Sort", sort_random_competition_path(@competition), method: :post, data: { confirm: "Are you sure?" }
  %hr
