%h1= @competition
- if policy(@competition).update?
  (Scoring Class: #{@competition.event_class} #{link_to t("edit"), edit_competition_path(@competition)} )
- if policy(@competition).refresh_competitors?
  = link_to "refresh", refresh_competitors_competition_path(@competition), method: :put, data: { confirm: "refresh competitors?" }

%p Manage Competitors, Judges, Volunteers and Results.

%p This page summarizes the state of the #{@competition} competition.

%p Use the menu options along the Left-Hand side to manage the various actions.

= render "show_competitors_selected"
%hr

= render "show_volunteers_configured"
%hr

= render "show_enter_results"
%hr

= render "show_results_for_approval"
%hr
