%h1= @competition
- if can? :update, @competition
  = link_to 'Edit', edit_competition_path(@competition)

%p Manage Competitors, Judges, Volunteers and Results.

.accordion
  %h2 Competitor Selected
  %div
    = render "show_competitors_selected"

  %h2 Volunteers Configured
  %div
    = render "show_volunteers_configured"

  %h2 Enter Results
  %div
    = render "show_enter_results"

  %h2 Results For Approval
  %div
    = render "show_results_for_approval"
