%h1= @competition

- if @competition.locked
  .locked_banner LOCKED

Information about the Competition will appear here, including results, judges, and scoring settings (read-only)

- if can? :lock, @competition
  %h2 Director Abilities

  %h3 Competitor Management
  %table
    %tr
      %th #Signed up
      %th #Assigned Registrants
      %th Manage Competitor List
    %tr.js--highlightMatching
      %td.js--shouldMatch= @competition.signed_up_registrants.count
      %td.js--shouldMatch= @competition.num_assigned_registrants
      %td= link_to 'Manage Competitors', competition_competitors_path(@competition)

  %hr

  %h2 Judges
  - if @competition.uses_judges
    = render partial: "judging_results_summary", locals: {competition: @competition }
  %br
  = link_to "Manage Judges/Data-Entry for #{@competition}", competition_judges_path(@competition)

%h2 Data Entry

- if @competition.uses_judges
  = link_to "Announcer Form", announcer_printing_competition_path(@competition)
  = link_to "(pdf)", announcer_printing_competition_path(@competition, :format => :pdf)
- else
  %table.sortable
    %thead
      = render partial: "data_entry_links_header"
    %tbody
      = render partial: "data_entry_links", locals: {competition: @competition }


- if can? :result, @competition
  %h2 Monitor Results
  %p
    = link_to 'View', results_url(@competition)
    = link_to "View2", result_competition_path(@competition)

  %h2 Preview Results to be posted
  %p
    = link_to "View", results_printing_competition_path(@competition)
    = link_to "(pdf)", results_printing_competition_path(@competition, :format => :pdf)
  %p
    = form_tag(results_printing_competition_path(@competition, :format => :pdf), :method => :get) do
      = label_tag :no_page_breaks
      = check_box_tag :no_page_breaks
      = submit_tag "Print Results"

- if can? :lock, @competition
  %h2 Lock (Complete) the competition Results
  - if @competition.locked?
    = link_to 'Unlock', lock_competition_path(@competition), :method => :delete, data: { confirm: "Are you sure?" }
  - else
    = link_to 'Lock', lock_competition_path(@competition), :method => :post, data: { confirm: "No more results can be changed. Continue?" }, class: "action_button"

- if can? :publish, @competition
  %h2 Publish the competition Results
  = link_to "published Data", @competition.published_results_file.url
  - if @competition.published?
    = link_to 'Un-Publish', publish_competition_path(@competition), :method => :delete, data: { confirm: "Remove data from online results?" }
  - else
    = link_to 'Publish', publish_competition_path(@competition), :method => :post, data: { confirm: "This will make the data available online for all to see. Continue?" }, class: "action_button"

- if can? :manage, AwardLabel
  %h2 Display/print Awards
  = link_to "Awards System", user_award_labels_path(current_user)
  %hr

- if can? :award, @competition
  %h2 Mark this Competition as "Awarded"
  - if @competition.awarded?
    = link_to 'Un-award', award_competition_path(@competition), :method => :delete, data: { confirm: "Remove awarded flag from competition?" }
  - else
    = link_to 'Award', award_competition_path(@competition), :method => :post, data: { confirm: "This will mark the competition as awarded. Continue?" }, class: "action_button"
%hr

%h2 Scoring Type/Rules

%h3= @competition.scoring_class
%p
  = @competition.scoring_description
