%h1 Street - #{@competition} Results
= render :partial => "/competitions/results"
.scores
  %h3
    = @competition
    Raw Scores

  - @competition.judge_types.uniq.each do |jt|
    %table.scores_outer
      - judges = @competition.judges.where(judge_type: jt).order(:id)
      = render partial: "scores_judging_headers", locals: { judges: judges, judge_type: jt }
      - @competition.competitors.each do |competitor|
        - cache [competitor, jt, @competition] do
          = render partial: "scores_competitor_judge_results", locals: { competitor: competitor, judges: judges }
  = render partial: "scores_summary", locals: { competitors: @competition.competitors.active }
  %hr
  = link_to 'Download Scores CSV', export_scores_competition_path(@competition)
