%h1 Registrant Group Types

%p
  Creating a Registrant Group Type allows registrants to specify groups for the event/item.

%p
  Examples:
  %ul
    %li 4x100 Relay Team Members
    %li Lodging Roommates

%table
  %thead
    %tr
      %th Source Element
      %th Created At
      %th Actions
  %tbody
    - @registrant_group_types.each do |reg_group_type|
      %tr
        %td= link_to reg_group_type.source_element, [:convention_setup, reg_group_type]
        %td= l reg_group_type.created_at
        %td
          = link_to "Edit", edit_convention_setup_registrant_group_type_path(reg_group_type)
          = link_to "Delete", convention_setup_registrant_group_type_path(reg_group_type), method: :delete, data: { confirm: "Are you sure?" }

= link_to "New Registrant Group Type", new_convention_setup_registrant_group_type_path, class: "button"
