%thead
  %tr
    %th Order
    %th ID
    %th.competitor_name Name
    %th.judging_category
      = judge_header.val_1_description
      %br
      = "(0-" + judge_header.val_1_max.to_s + ")"
    %th.judging_category
      = judge_header.val_2_description
      %br
      = "(0-" + judge_header.val_2_max.to_s + ")"
    %th.judging_category
      = judge_header.val_3_description
      %br
      = "(0-" + judge_header.val_3_max.to_s + ")"
    %th.judging_category
      = judge_header.val_4_description
      %br
      = "(0-" + judge_header.val_4_max.to_s + ")"
    %th.derived Total
    %th.derived Place
    %th Actions
