%tr{:id => "competitor#{score.competitor.id}"}
  %td= score.competitor.position
  %td= score.competitor.bib_number
  %td= score.competitor.name
  - score.judge_type.score_numbers.each do |score_number|
    %td= score.score_value(score_number)

  %td= score.total
  %td= score.judge_points
  %td= score.notes
  %td= link_to 'Update', edit_judge_score_path(score.judge, score)
