.nested_nested
  %table.items
    %thead
      %tr
        %th Scheduled Time Description
        %th Wave #
        %th Minutes
        %th Seconds
    %tbody
      = f.nested_fields_for :wave_times do |cs|
        %tr.item
          %Td= cs.text_field :scheduled_time
          %td= cs.number_field :wave
          %td= cs.number_field :minutes, {min: 0}
          %Td= cs.number_field :seconds, {min: 0}
          %td
            %a{href: '#', class: 'remove'} remove
            = cs.hidden_field :id
            = cs.hidden_field :_destroy
  %a{ href: "#", class: "add"} add wave time
  %br

