%h2 #{@event} Songs

%p
  This page lists all songs which
  %b Are not
  assigned to a competitor yet

%table.sortable
  %thead
    %tr
      %th Reg ID
      %th Reg Name
      %th Guest?
      %th Description
      %th File name
      %th Updated Date
      %th Download
  %tbody
    - @songs.each do |song|
      %tr
        %td= song.registrant.bib_number
        %td= song.registrant
        %td.js--highlightIfNotBlank= song.uploaded_by_guest? ? "Yes (#{song.user})" : ""
        %td= song.description
        %td= song.human_name
        %td= song.updated_at
        %td
          - if song.song_file_name.present?
            = link_to 'Download', song.song_file_name_url, target: '_blank'
