= simple_form_for(@external_result.new_record? ? [@competition, @external_result] : @external_result) do |f|
  - if @external_result.errors.any?
    #error_explanation
      %h2
        = pluralize(@external_result.errors.count, "error")
        prohibited this external_result from being saved:
      %ul
        - @external_result.errors.full_messages.each do |msg|
          %li= msg
  %div
    .row
      .small-3.columns
        = f.label :competitor_id
        = competitor_select_box(f, @competition)
      .small-2.columns
        = f.input :points, input_html: {min: 0, :step => 0.001 }
      .small-2.columns
        = f.input :details
      .small-2.columns
        = f.input :status, collection: ExternalResult.status_values, include_blank: false
      .small-3.columns
        = f.button :submit
