%h1 Create Sample Registrant data

= form_tag url: sample_data_registrants_path, method: :post do
  .row
    .small-12.medium-6.column
      = label_tag :number, "Number of Registrants"
      = text_field_tag :number
    .small-12.medium-6.columns
      = label_tag :sign_up_for_all_events, "Sign up for all Events"
      = check_box_tag :sign_up_for_all_events
  .row
    .small-12.medium-6.columns
      = submit_tag "Create Sample Registrants", class: "button"

.row
  .small-12.columns
    %b Note
    after creating the registrants, you'll need to set the competition source(s) to pull
    from the signed up events, or else you won't see any registrants signed up.
