%h1 Timed Competitions

%p
  If creating Competitions for use in the Track, you should create a single Competition, and specify an "Age Group Type" in order to subdivide the competitors into separate results groups.

%p
  If the Competition should also calculate the "Top results" across all age groups. (e.g. Fastest Male Muni Cross Country), choose "Experts"
  %br
  You should NOT choose this option if there will be a separate competition to determine the Expert. (e.g. 100m Expert)


If the competitors all start at the same time, but you want to be able to mark down "Did Not Start" or other details (like crank size, or geared Y/N?) you may want to choose "Sign in List Enabled".

If the competitors don't all start at the same time, you will probably have one of the following situations:
%ul
  %li
    Pre-configured Heats/Lanes by age group/best Time. (e.g. 100m)
  %li
    Pre-configured Waves, based on seed time, or registration order. (e.g. 10k)
    %br
    If each wave starts at a different time on a common stopwatch, the Event Director will be able to set the Wave Start Times.
  %li
    Start at will when the competitor arrives at the start line. (e.g. Muni Downhill)
%hr


%h2 Data Recording

%h3 Mass Start

%h4 You can print sign in lists
= image_tag "screenshots/shortest_time_mass_start.png", class: "screenshot"

%h4 And enter the sign in results
= image_tag "screenshots/sign_in_list_form.png", class: "screenshot"
%hr

%h3 Compete in Heats/Lanes

%p
  If you want to assign Heats/Lanes to the competitors <b>at the last minute</b> (e.g. at the track)
  you can print a paper copy of all of the people who are signed up for the event,
  and then assign them to heats/lanes using a laptop at the track.

  %h4 Form
  = image_tag "screenshots/heat_lane_pdf.png", class: "screenshot"

  %h4 Heat/Lane Live Entry
  = image_tag "screenshots/heat_lane_form.png", class: "screenshot"

%p
  If you want to assign Heats/Lanes to competitors <b>In advance</b> you can.
  %ul
    %li Display the registrant-entered Best Time information
    %li Have the system pre-assign competitors to heats/lanes based on their entered best times
    %li Manually adjust the pre-assigned heat/lane assignments

%h4 Pre-Assign Heat/Lane
= image_tag "screenshots/pre_assign_menu.png", class: "screenshot"

%h4 Manually adjust Pre-Assignments
= image_tag "screenshots/pre_assign_adjust.png", class: "screenshot"

%h4 Files for E-Timers

%h5 Registrants File

%p You can download a list of all registrants for the timers to import into their system.

= link_to "Sample Registrant File", download_file_event_competition_choices_path(@event, filename: "sample_competition_registrants.csv")

%h5 EVT File

%p Some E-Timer systems allow for "EVT" format files to specify the heat/lane assignments.

%p Once the heats/lanes have been assigned, you can export an EVT file for the E-Timers

= link_to "Sample EVT File", download_file_event_competition_choices_path(@event, filename: "heats_shortest-time-pop-up.evt")

%h2 Start Line Data Recording

%h3 Two Data per Line

%p
  Most useful when competitors get two attempts at a competition, but don't have
  to compete in a particular order. The official at the start line records their
  start times (against a common clock).

%p
  In most circumstances, the finish line judge doesn't communicate with the start
  line official, but only records the ID/time of each person to cross the line,
  and the difference-in-time is calculated by the judging system.

%h4 Print a paper recording form for the start line
= image_tag "screenshots/start_line_recording_two_line.png", class: "screenshot"

%h4 Enter the results from that recording form
= image_tag "screenshots/start_line_recording_two_line_form.png", class: "screenshot"

%h3 Heat/Lane Assignment races

%p
  At the track, a track official can use an iPad to confirm the competitors are present
  for their heats. This same view can also be useful for the E-Timer person, so that
  they can confirm that they are recording entries for the correct number of competitors
  and the correct lane numbers.

= image_tag "screenshots/heat_lane_line_up_display.png", class: "screenshot"

%p
  If someone doesn't show up, or is disqualified during their attempt, the track
  official can easily mark them as DQ.

= image_tag "screenshots/heat_lane_line_up_dq.png", class: "screenshot"

%hr
%h2 Finish Line Data Recording

%h3 One Data per line

%h4 Print a paper recording form for the finish line
= image_tag "screenshots/finish_line_recording_pdf.png", class: "screenshot"

%h4 Enter the results from that recording form
= image_tag "screenshots/finish_line_recording_form.png", class: "screenshot"

OR
%h4 Import results from a CSV file
= image_tag  "screenshots/finish_line_recording_import.png", class: "screenshot"

%h3 Chip-Timing

%h4 Import Data file from E-Timer system
= image_tag "screenshots/chip_timer_import.png", class: "screenshot"

%h3 Track E-Timer

%p
  Track races are usually done with a Photo-Finish system. To process these files,
  the competitions system is able to process "LIF" format output files.

= link_to "Sample LIF File", download_file_event_competition_choices_path(@event, filename: "heat_01.lif")
%h4 Steps to process as LIF file
%ul
  %li Choose the Heat to import
  %li Import the LIF file, and compare it against the track-official's notes for DQs
  %li Approve the results
  %li (Optionally) Calculate+Print Age-Group results once all heats of an age group have run.

%h4 Import LIF File and view results
= image_tag "screenshots/track_lif_import.png", class: "screenshot"

%hr

%p
  - params = { "competition[scoring_class]" => "Shortest Time", "competition[num_members_per_competitor]" => "One" }
  = link_to "Click here", new_event_competition_path(@event, params), class: "button"
  to continue setting up your Faster-is-better Timed Competition

%p
  - params = { "competition[scoring_class]" => "Longest Time", "competition[num_members_per_competitor]" => "One" }
  = link_to "Click here", new_event_competition_path(@event, params), class: "button"
  to continue setting up your Slower-is-better Timed Competition

%p
  - params = { "competition[scoring_class]" => "Timed Multi-Lap", "competition[num_members_per_competitor]" => "One" }
  = link_to "Click here", new_event_competition_path(@event, params), class: "button"
  to continue setting up your Multi-Lap Timed Competition
