%table
  %thead
    %tr
      %th= t(".age_group")
      %th= t(".wheel_size")
      %th= t(".number_of_registrants")
  %tbody
    - entries.sort_by{|el| el[:age]}.each do |element|
      %tr
        %td= element[:age]
        %td= element[:wheel_size_id]
        %td= element[:count]
