%h1 #{@page} Images

%p
  From this page, you can upload new images. Once they have been uploaded, you
  will need to put the URL into an Image tag on the Page.

%p
  %b Note
  Images should be sized properly. Please try saving/exporting the images with the
  highest Compression ratio possible. Generally speaking images should not be > 300kb
  each in order to ensure that user experiences are not degraded.
  %br
  %br
  If you have any problems or questions, feel free to use the "feedback".

%hr

- if @page.images.any?
  %table
    %thead
      %tr
        %th Name
        %th View
        %th Url
        %th

    %tbody
      - @page.images.each do |image|
        - next if image.new_record?
        %tr
          %td= image.name
          %td= link_to "View", image.image.url, target: "_blank"
          %td= image.image.url
          %td= link_to t("delete"), convention_setup_page_image_path(@page, image), method: :delete, data: { confirm: t("are_you_sure") }

  %hr

%h3 Upload New Image
= simple_form_for @image, url: convention_setup_page_images_path(@page), method: :post, html: { multipart: true }  do |f|
  = render partial: "shared/error_messages", object: @image
  .row
    .small-6.columns= f.input :name
    .small-6.columns= f.input :file, as: :file
  .row
    .small-12.columns= f.submit "Upload Image", class: "button"
