    <div>
        <%= render :partial => "/shared/error_messages", :object => @score %>

        <%= form_tag(judge_street_scores_path(@judge), :method => "post") do |f| %>
                <%= label_tag(:external_id, 'ID') %>
                <%= text_field_tag(:external_id, nil, {:autofocus => true, :autocomplete => 'off'}) %>
                <%= label_tag(:competitor_id) %>
                <%= select_tag(:competitor_id, options_from_collection_for_select(@competitors, "id", "name"), {:include_blank => true}) %>
                <%= label_tag(:score) %>
                <%= text_field_tag(:score, @score.Val1) %>
                <%= submit_tag('Add Attempt') %>
        <% end %>
    </div>
