%h1 Event: #{@competition.name} - Street Scores
%h2 Judge: #{@judge}

%hr.competitor_separator

%table.top_distance_attempts
  %thead
    %tr
      %th Order
      %th ID
      %th Competitor
      %th Score
      %th Place
  %tbody
    - @competitors.each do |competitor|
      %tr{ id: "row_#{competitor.id}"}
        %th= competitor.position
        %td= competitor.bib_number
        %td= competitor.to_s
        %td
          = form_tag(update_score_judge_street_scores_path(@judge), class: "street_ranking", remote: true, data: { competitor: competitor.id }) do
            = hidden_field_tag :competitor_id, competitor.id
            = number_field_tag :score, @street_scores.select{ |s| s.competitor == competitor}.first.try(:val_1), id: "score_#{competitor.id}", class: "street_score", min: 0, max: @judge.judge_type.val_1_max
        %td.place{ id: "comp_#{competitor.id}_place"}


- unless @street_scores.empty?
  %table.top_distance_attempts
    %caption Street Scores
    %thead
      %tr
        %th ID
        %th Competitor
        %th Entered Place
        %th.derived Judged Place
        %th.derived Judged Points
        %th
    %tbody
      - @street_scores.each do |ss|
        - next if ss.new_record?
        %tr
          %td= ss.competitor.bib_number
          %td= ss.competitor.name
          %td= ss.val_1
          %td.derived= ss.judged_place
          %td.derived= ss.placing_points
          %td= link_to 'Delete', judge_street_score_path(@judge, ss), data: { confirm: 'Are you sure?' }, method: :delete
