= simple_form_for(@registration_cost) do |f|
  = render partial: "shared/error_messages", object: @registration_cost
  .row
    .small-6.columns
      = f.input :registrant_type, as: :select, collection: @registrant_types
    .small-6.columns
      = f.input :name
  .row
    .small-12.columns
      = t(".registration_costs_increase_description_html")
  .row
    .small-12.columns
      = f.input :onsite

  .row
    .small-6.columns
      = f.input :start_date, as: :date_picker
    .small-6.columns
      = f.input :end_date, as: :date_picker

  .row
    .small-12.columns
      %b= t("note")
      = t(".last_minute_note")

  %h3.row= t(".cost_header")
  #registration_cost_entries
    = f.simple_fields_for :registration_cost_entries do |member_f|
      = render "registration_cost_entry_fields", f: member_f
  = link_to_add_association 'add new', f, :registration_cost_entries, data: { association_insertion_node: "#registration_cost_entries", association_insertion_method: "append" }, wrap_object: Proc.new {|p| p.build_expense_item }
  .row
    = f.button :submit
