= simple_form_for(@registration_cost) do |f|
  = render partial: "shared/error_messages", object: @registration_cost
  .row
    .small-6.columns
      = f.input :registrant_type, as: :select, collection: @registrant_types
    .small-6.columns
      = f.input :name
  .row
    .small-12.columns
      = t(".registration_costs_increase_description_html")
  .row
    .small-12.columns
      = f.input :onsite

  .row
    .small-6.columns
      = f.input :start_date, as: :date_picker
    .small-6.columns
      = f.input :end_date, as: :date_picker

  .row
    .small-12.columns
      %b= t("note")
      = t(".last_minute_note")

  %h3.row= t(".cost_header")
  = f.simple_fields_for :expense_item do |ce|
    .row
      .small-4.columns
        = ce.input :cost, input_html: { class: "js--costInput" }
      .small-4.columns
        = ce.input :tax, input_html: { class: "js--costInput" }
      .small-4.columns
        = ExpenseItem.human_attribute_name(:total)
        = text_field_tag :total_comp, nil, class: 'js--totalCost', disabled: true, data: { costSources: "js--costInput" }

  .row
    = f.button :submit
