%h1= t(".header")

%p= t(".range_description")
%p
  %b= t("note")
  \:
  = t(".timezone_logic_description")
  %br
  %b= t("example")
  \:
  = t(".timezone_logic_example")
  %br

%table
  %thead
    %tr
      %th= RegistrationCost.human_attribute_name(:name)
      %th= RegistrationCost.human_attribute_name(:registrant_type)
      %th= RegistrationCost.human_attribute_name(:start_date)
      %th= RegistrationCost.human_attribute_name(:end_date)
      %th= ExpenseItem.human_attribute_name(:cost)
      %th
  %tbody
    - @registration_costs.each do |registration_cost|
      %tr
        %td= registration_cost.name
        %td= registration_cost.registrant_type
        %td= registration_cost.start_date
        %td= registration_cost.end_date
        %td= registration_cost.expense_item.cost
        %td= link_to t("edit"), edit_registration_cost_path(registration_cost)

%br
= link_to t(".new_registration_cost"), new_registration_cost_path
