- if @user.invitations.need_reply.any?
  .invitation_access_banner
    = t(".please_share_your_registration")
    = link_to t(".registrant_access_page_title"), invitations_user_additional_registrant_accesses_path(@user)
    = t(".link_end")
- if @user.invitations.permitted.any?
  .invitation_manage_banner
    = t(".you_have_shared")
    = link_to t(".registrant_access_page_title"), invitations_user_additional_registrant_accesses_path(@user)
    = t(".link_end")
