= f.hidden_field :registrant_type
.required= t(".required_fields")
%fieldset.data_block
  %legend= t(".base_details")
  %div
    = render :partial => "/registrants/name", :locals => {:f => f }
  .competitor_show.noncompetitor_show
    = f.label :birthday, t(".birthday"), :class => "required"
    = f.date_select :birthday, {:start_year => 1920, :end_year => Time.now.year, :include_blank => true }
  .competitor_show.noncompetitor_show
    = f.label :gender_male, t('.male'), :class => "required"
    = f.radio_button :gender, 'Male'
    = f.label :gender_female, t('.female'), :class => "required"
    = f.radio_button :gender, 'Female'
  = f.fields_for :contact_detail do |cd|
    %div
      = cd.label :club, t(".primary_team_or_club_name")
      = cd.text_field :club
      %br
      = cd.label :club_contact, t(".primary_team_or_club_contact")
      = cd.text_field :club_contact, :size => 25
    - if @config.usa
      %div
        = cd.label :usa_member_number, "USA Membership Number"
        = cd.text_field :usa_member_number, :size => 5, :class => "ui-tooltip", :title => "A USA membership is required to participate at #{@config.short_name}"
        %br
  %div
    = f.label :volunteer, t(".i_am_interested_in_volunteering")
    = f.check_box :volunteer, :title => t(".i_accept_to_be_contacted")
