<%= reg_f.fields_for :contact_detail do |f| %>
<fieldset>
  <legend><%= t(".contact_information") %></legend>
  <fieldset class="data_block">
    <legend><%= t(".address") %></legend>
    <table>
      <% unless other_registrant.nil? %>
        <tr>
          <td colspan="2">
            <a href="#" id="copy_address"
              data-address="<%= other_registrant.address %>"
              data-city="<%= other_registrant.city %>"
              data-state="<%= other_registrant.state %>"
              data-country-residence="<%= other_registrant.country_residence %>"
              data-country-representing="<%= other_registrant.country_representing %>"
              data-zip="<%= other_registrant.zip %>"
              data-phone="<%= other_registrant.phone %>">Copy Address from <%= other_registrant.name %></a>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>
          <%= f.label :address, t(".address"), :class => "required" %>
        </td>
        <td>
          <%= f.text_field :address %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :city, t(".city"), :class => "required" %>
        </td>
        <td>
          <%= f.text_field :city %>
        </td>
      </tr>
      <tr>
        <td>
          <% if EventConfiguration.usa == true %>
            <%= f.label :state, t(".state"), :class => "required" %>
          <% else %>
            <%= f.label :state, t(".state_province") %>
          <% end %>
        </td>
        <td>
          <%= f.text_field :state %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :country_residence, t(".country_of_residence"), :class => "required" %>
        </td>
        <td>
          <% if EventConfiguration.usa %>
            <%= f.country_select :country_residence, priority: %w(US CA), prompt: ' ' %>
          <% else %>
            <%= f.country_select :country_residence, prompt: ' ' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :country_representing, t(".country_representing"), :title => t(".country_representing_description") %>
        </td>
        <td>
          <% if EventConfiguration.usa %>
            <%= f.country_select(:country_representing, {priority: %w(US CA), prompt: ' '}, {:title => t(".country_representing_description") }) %>
          <% else %>
            <%= f.country_select(:country_representing, {prompt: ' '}, {:title => t(".country_representing_description") }) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :zip, t(".zip"), :class => "required" %>
        </td>
        <td>
          <%= f.text_field :zip %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :phone, t(".phone") %>
        </td>
        <td>
          <%= f.telephone_field :phone %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :mobile, t(".mobile") %>
        </td>
        <td>
          <%= f.telephone_field :mobile %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :email, t(".email") %>
        </td>
        <td>
          <%= f.email_field :email, :class => "ui-tooltip", :title => "Provide your email address to receive updates to registration, schedule, and new events." %>
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset class="data_block">
    <legend><%= t(".emergency_contact") %></legend>
    <table>
      <tr>
        <th colspan="2">
          <b><%= t(".in_case_of_emergency") %></b>
        </th>
      </tr>
      <tr>
        <td>
          <%= f.label :emergency_name, t(".name"), :class => "required" %>
        </td>
        <td>
          <%= f.text_field :emergency_name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :emergency_relationship, t(".relationship"), :class => "required" %>
        </td>
        <td>
          <%= f.text_field :emergency_relationship %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :emergency_attending, "#{t(".attending")} #{EventConfiguration.short_name}?" %>
        </td>
        <td>
          <%= f.check_box :emergency_attending %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :emergency_primary_phone, t(".primary_phone"), :class => "required" %>
        </td>
        <td>
          <%= f.telephone_field :emergency_primary_phone %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :emergency_other_phone, t(".other_phone") %>
        </td>
        <td>
          <%= f.telephone_field :emergency_other_phone %>
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset class="data_block">
    <legend><%= t(".responsible_adult") %></legend>
    <span class="extra_info"><%= t(".responsible_adult_detail") %></span>
    <table>
      <tr>
        <td>
          <%= f.label :responsible_adult_name, t(".name") %>
        </td>
        <td>
          <%= f.text_field :responsible_adult_name, :class => "ui-tooltip", :title => "The 'Responsible Adult' will be responsible for the registered minor." %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :responsible_adult_phone, t(".phone") %>
        </td>
        <td>
          <%= f.telephone_field :responsible_adult_phone %>
        </td>
      </tr>
    </table>
  </fieldset>
</fieldset>
<% end %>
