= reg_f.simple_fields_for :contact_detail do |f|
  %fieldset
    %legend= t(".contact_information")
    %fieldset.data_block
      %legend= t(".address")
      %table
        - if other_registrant
          %tr
            %td{:colspan => "2"}
              %a#copy_address{ data: { address: other_registrant.contact_detail.address,
                city: other_registrant.contact_detail.city,
                country_representing: other_registrant.contact_detail.country_representing,
                country_residence: other_registrant.contact_detail.country_residence,
                phone: other_registrant.contact_detail.phone,
                state: other_registrant.contact_detail.state_code,
                zip: other_registrant.contact_detail.zip },
                href: "#" }
                = t(".copy_from_other_registrant", other_name: other_registrant.name)
        %tr
          %td
            = f.label :address, :class => "required"
          %td
            = f.text_field :address
        %tr
          %td
            = f.label :city, :class => "required"
          %td
            = f.text_field :city
        %tr
          %td
            = f.label :country_residence, :class => "required"
          %td
            - if @config.usa
              = f.country_select :country_residence, {priority_countries: %w(US CA), prompt: ' '}, class: "chosen-select"
            - else
              = f.country_select :country_residence, {prompt: ' '}, class: "chosen-select"
        %tr
          %td
            - if @config.usa == true
              = f.label :state_code, t(".state"), :class => "required"
            - else
              = f.label :state_code, t(".state_province")
          %td
            = render partial: '/registrants/subregion_select', locals: {parent_region: f.object.country_residence, f: f, from_object: true}
        %tr
          %td
            = f.label :country_representing, :title => t(".country_representing_description")
          %td
            - if @config.usa
              = f.country_select(:country_representing, {priority_countries: %w(US CA), prompt: ' '}, {:title => t(".country_representing_description"), class: "chosen-select" })
            - else
              = f.country_select(:country_representing, {prompt: ' '}, {:title => t(".country_representing_description"), class: "chosen-select" })
        %tr
          %td
            = f.label :zip, :class => "required"
          %td
            = f.text_field :zip
        %tr
          %td
            = f.label :phone
          %td
            = f.telephone_field :phone
        %tr
          %td
            = f.label :mobile
          %td
            = f.telephone_field :mobile
        %tr
          %td
            = f.label :email
          %td
            = f.email_field :email, :class => "ui-tooltip", title: t(".email_tooltip")
        - if EventConfiguration.singleton.italian_requirements?
          %tr
            %td= f.label :birthplace
            %td= f.text_field :birthplace
          %tr
            %td= f.label :italian_fiscal_code
            %td= f.text_field :italian_fiscal_code
    %fieldset.data_block
      %legend= t(".team_affiliation")
      %table
        %tr
          %td= f.label :club
          %td= f.text_field :club
        %tr
          %td= f.label :club_contact
          %td= f.text_field :club_contact, :size => 25
        - if @config.usa
          %tr
            %td= f.label :usa_member_number
            %td= f.text_field :usa_member_number, :size => 5, :class => "ui-tooltip", title: t(".usa_membership_number_tooltip", convention_name: @config.short_name)
    %fieldset.data_block
      %legend= t(".emergency_contact")
      %table
        %tr
          %th{:colspan => "2"}
            %b= t(".in_case_of_emergency")
        %tr
          %td
            = f.label :emergency_name, :class => "required"
          %td
            = f.text_field :emergency_name
        %tr
          %td
            = f.label :emergency_relationship, :class => "required"
          %td
            = f.text_field :emergency_relationship
        %tr
          %td
            = f.label :emergency_attending, "#{t(".attending")} #{@config.short_name}?"
          %td
            = f.check_box :emergency_attending
        %tr
          %td
            = f.label :emergency_primary_phone, :class => "required"
          %td
            = f.telephone_field :emergency_primary_phone
        %tr
          %td
            = f.label :emergency_other_phone
          %td
            = f.telephone_field :emergency_other_phone
        %tr
          %th{colspan: "2"}
            %b= t(".responsible_adult")
        %tr
          %th{colspan: "2"}
            %span.extra_info= t(".responsible_adult_detail")
        %tr
          %td
            = f.label :responsible_adult_name
          %td
            = f.text_field :responsible_adult_name, :class => "ui-tooltip", title: t(".responsible_adult_tooltip")
        %tr
          %td
            = f.label :responsible_adult_phone
          %td
            = f.telephone_field :responsible_adult_phone
