<fieldset>
  <legend>Contact Information</legend>
  <fieldset class="data_block">
    <legend>Competitor Details</legend>
    <span>
      <%= f.label :address_line_1 %>
      <%= f.text_field :address_line_1 %>
    </span>
    <span>
      <%= f.label :address_line_2 %>
      <%= f.text_field :address_line_2 %>
    </span>
    <span>
      <%= f.label :city %>
      <%= f.text_field :city %>
    </span>
    <span>
      <%= f.label :state %>
      <%= f.text_field :state %>
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code %>
    </span>
    <span>
      <%= f.label :country %>
      <%= f.text_field :country %>
    </span>
    <span>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </span>
    <span>
      <%= f.label :mobile %>
      <%= f.text_field :mobile %>
    </span>
    <span>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </span>
  </fieldset>
  <fieldset class="data_block">
    <legend>Emergency Contact</legend>
  </fieldset>
</fieldset>
