- cache_i18n [@config, contact_detail] do
  %div.contact_detail_summary
    %p
      %b= ContactDetail.human_attribute_name(:address)
      = contact_detail.address
    %p
      = contact_detail.city
      = contact_detail.state
      = contact_detail.country_residence
      = contact_detail.zip
    %p
      %b= ContactDetail.human_attribute_name(:country_representing)
      = contact_detail.country
    %p
      %b= ContactDetail.human_attribute_name(:phone)
      = contact_detail.phone
    %p
      %b= ContactDetail.human_attribute_name(:mobile)
      = contact_detail.mobile
    %p
      %b= ContactDetail.human_attribute_name(:email)
      = contact_detail.email
    %p
      %b= ContactDetail.human_attribute_name(:club)
      = contact_detail.club
    %p
      %b= ContactDetail.human_attribute_name(:club_contact)
      = contact_detail.club_contact
    - if @config.organization_membership_config?
      %p
        %b= organization_membership_label(@config)
        = contact_detail.organization_member_number
      - if @config.organization_membership_usa?
        %p
          %b= ContactDetail.human_attribute_name(:organization_membership_system_status)
          = render "/registrants/usa_membership_badge", contact_detail: contact_detail
          %span.non_printable
            = link_to usa_membership_welcome_path, target: "_blank" do
              %span.help_bubble{ title: "More details" }
    %p
      %b= t(".emergency_contact_name")
      = contact_detail.emergency_name
    %p
      %b= t(".emergency_contact_relationship")
      = contact_detail.emergency_relationship
    %p
      %b= t(".emergency_contact_attending")
      = contact_detail.emergency_attending? ? t("yes") : t("no")
    %p
      %b= t(".emergency_contact_phone")
      = contact_detail.emergency_primary_phone
      = contact_detail.emergency_other_phone
    %p
      %b= t(".responsible_adult")
      = contact_detail.responsible_adult_name
      = contact_detail.responsible_adult_phone
