<fieldset>
  <legend>Contact Information</legend>
  <fieldset class="data_block">
    <legend>Address</legend>
    <table>
      <% unless other_registrant.nil? %>
        <tr>
          <td colspan="2">
            <a href="#" id="copy_address" 
              data-address="<%= other_registrant.address %>"
              data-city="<%= other_registrant.city %>"
              data-state="<%= other_registrant.state %>"
              data-country-residence="<%= other_registrant.country_residence %>"
              data-country-representing="<%= other_registrant.country_representing %>"
              data-zip="<%= other_registrant.zip %>"
              data-phone="<%= other_registrant.phone %>">Copy Address from <%= other_registrant.name %></a>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>
          <%= f.label :address, :class => "required" %>
        </td>
        <td>
          <%= f.text_field :address %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :city, :class => "required" %>
        </td>
        <td>
          <%= f.text_field :city %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :state, :class => "required" %>
        </td>
        <td>
          <%= f.text_field :state %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :country_residence, :class => "required" %>
        </td>
        <td>
          <% if EventConfiguration.usa %>
            <%= f.country_select :country_residence, priority: %w(US CA), prompt: 'XXX' %>
          <% else %> 
            <%= f.country_select :country_residence, prompt: 'XXX' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :country_representing %>
        </td>
        <td>
          <% if EventConfiguration.usa %>
            <%= f.country_select :country_representing, priority: %w(US CA), prompt: 'XXX' %>
          <% else %> 
            <%= f.country_select :country_representing, prompt: 'XXX' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :zip, :class => "required" %>
        </td>
        <td>
          <%= f.text_field :zip %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :phone %>
        </td>
        <td>
          <%= f.telephone_field :phone %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :mobile %>
        </td>
        <td>
          <%= f.telephone_field :mobile %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :email %>
        </td>
        <td>
          <%= f.email_field :email, :class => "ui-tooltip", :title => "Provide your email address to receive updates to registration, schedule, and new events." %>
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset class="data_block">
    <legend>Emergency Contact</legend>
    <table>
      <tr>
        <th colspan="2">
          <b>In case of emergency</b>
        </th>
      </tr>
      <tr>
        <td>
          <%= f.label :emergency_name, "Name", :class => "required" %>
        </td>
        <td>
          <%= f.text_field :emergency_name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :emergency_relationship, "Relationship", :class => "required" %>
        </td>
        <td>
          <%= f.text_field :emergency_relationship %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :emergency_attending, "Attending?" %>
        </td>
        <td>
          <%= f.check_box :emergency_attending %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :emergency_primary_phone, "Primary Phone", :class => "required" %>
        </td>
        <td>
          <%= f.telephone_field :emergency_primary_phone %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :emergency_other_phone, "Other Phone" %>
        </td>
        <td>
          <%= f.telephone_field :emergency_other_phone %>
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset class="data_block">
    <legend>Responsible Adult</legend>
    <span class="extra_info">(for Registrants Under the age of 18)</span>
    <table>
      <tr>
        <td>
          <%= f.label :responsible_adult_name, "Name" %>
        </td>
        <td>
          <%= f.text_field :responsible_adult_name, :class => "ui-tooltip", :title => "The 'Responsible Adult' will be responsible for the registered minor." %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :responsible_adult_phone, "Phone" %>
        </td>
        <td>
          <%= f.telephone_field :responsible_adult_phone %>
        </td>
      </tr>
    </table>
  </fieldset>
</fieldset>
