<fieldset>
  <legend>Contact Information</legend>
  <fieldset class="data_block">
    <legend>Competitor Details</legend>
    <span>
      <%= f.label :address %>
      <%= f.text_field :address %>
    </span>
    <span>
      <%= f.label :city %>
      <%= f.text_field :city %>
    </span>
    <span>
      <%= f.label :state %>
      <%= f.text_field :state %>
    </span>
    <span>
      <%= f.label :country, :class => "required" %>
      <%= f.text_field :country %>
    </span>
    <span>
      <%= f.label :zip %>
      <%= f.text_field :zip %>
    </span>
    <span>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </span>
    <span>
      <%= f.label :mobile %>
      <%= f.text_field :mobile %>
    </span>
    <span>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </span>
  </fieldset>
  <fieldset class="data_block">
    <legend>Emergency Contact</legend>
    <b>In case of emergency</b>
    <span>
      <%= f.label :emergency_name, "Name", :class => "required" %>
      <%= f.text_field :emergency_name %>
    </span>
    <span>
      <%= f.label :emergency_relationship, "Relationship", :class => "required" %>
      <%= f.text_field :emergency_relationship %>
    </span>
    <span>
      <%= f.label :emergency_attending, "Attending?" %>
      <%= f.check_box :emergency_attending %>
    </span>
    <span>
      <%= f.label :emergency_primary_phone, "Primary Phone", :class => "required" %>
      <%= f.text_field :emergency_primary_phone %>
    </span>
    <span>
      <%= f.label :emergency_other_phone, "Other Phone" %>
      <%= f.text_field :emergency_other_phone %>
    </span>
  </fieldset>
  <fieldset class="data_block">
    <legend>Responsible Adult (for Registrants Under the age of 18)</legend>
    <span>
      <%= f.label :responsible_adult_name, "Name" %>
      <%= f.text_field :responsible_adult_name %>
    </span>
    <span>
      <%= f.label :responsible_adult_phone, "Phone" %>
      <%= f.text_field :responsible_adult_phone %>
    </span>
  </fieldset>
  <br />
  <b>Important:</b> Provide your email address to receive updates to registration, schedule, and new events.
  <br />
  <br />
  The "Responsible Adult", will be responsible for the registered minor.
</fieldset>
