<fieldset>
  <legend>Contact Information</legend>
  <fieldset class="data_block">
    <legend>Competitor Details</legend>
    <span>
      <%= f.label :state %>
      <%= f.text_field :state %>
    </span>
    <span>
      <%= f.label :country, :class => "required" %>
      <%= f.text_field :country %>
    </span>
    <span>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </span>
    <span>
      <%= f.label :mobile %>
      <%= f.text_field :mobile %>
    </span>
    <span>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </span>
  </fieldset>
  <fieldset class="data_block">
    <legend>Emergency Contact</legend>
    <span>
      <%= f.label :emergency_name, :class => "required" %>
      <%= f.text_field :emergency_name %>
    </span>
    <span>
      <%= f.label :emergency_relationship, :class => "required" %>
      <%= f.text_field :emergency_relationship %>
    </span>
    <span>
      <%= f.label :emergency_attending %>
      <%= f.check_box :emergency_attending %>
    </span>
    <span>
      <%= f.label :emergency_primary_phone, :class => "required" %>
      <%= f.text_field :emergency_primary_phone %>
    </span>
    <span>
      <%= f.label :emergency_other_phone %>
      <%= f.text_field :emergency_other_phone %>
    </span>
  </fieldset>
  <fieldset class="data_block">
    <legend>Responsible Adult (for registrants Under the age of 18)</legend>
    <span>
      <%= f.label :responsible_adult_name %>
      <%= f.text_field :responsible_adult_name %>
    </span>
    <span>
      <%= f.label :responsible_adult_phone %>
      <%= f.text_field :responsible_adult_phone %>
    </span>
  </fieldset>
</fieldset>
