<fieldset>
  <legend>Contact Information</legend>
  <fieldset class="data_block">
    <legend>Competitor Details</legend>
    <table>
      <tr>
        <td>
          <%= f.label :address, :class => "required" %>
        </td>
        <td>
          <%= f.text_field :address %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :city, :class => "required" %>
        </td>
        <td>
          <%= f.text_field :city %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :state, :class => "required" %>
        </td>
        <td>
          <%= f.text_field :state %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :country, :class => "required" %>
        </td>
        <td>
          <%= f.text_field :country %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :zip, :class => "required" %>
        </td>
        <td>
          <%= f.text_field :zip %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :phone %>
        </td>
        <td>
          <%= f.text_field :phone %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :mobile %>
        </td>
        <td>
          <%= f.text_field :mobile %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :email %>
        </td>
        <td>
          <%= f.text_field :email %>
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset class="data_block">
    <legend>Emergency Contact</legend>
    <table>
      <tr>
        <th colspan="2">
          <b>In case of emergency</b>
        </th>
      </tr>
      <tr>
        <td>
          <%= f.label :emergency_name, "Name", :class => "required" %>
        </td>
        <td>
          <%= f.text_field :emergency_name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :emergency_relationship, "Relationship", :class => "required" %>
        </td>
        <td>
          <%= f.text_field :emergency_relationship %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :emergency_attending, "Attending?" %>
        </td>
        <td>
          <%= f.check_box :emergency_attending %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :emergency_primary_phone, "Primary Phone", :class => "required" %>
        </td>
        <td>
          <%= f.text_field :emergency_primary_phone %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :emergency_other_phone, "Other Phone" %>
        </td>
        <td>
          <%= f.text_field :emergency_other_phone %>
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset class="data_block">
    <legend>Responsible Adult<br /><span class="extra_info">(for Registrants Under the age of 18)</span></legend>
    <span>
      <%= f.label :responsible_adult_name, "Name" %>
      <%= f.text_field :responsible_adult_name %>
    </span>
    <span>
      <%= f.label :responsible_adult_phone, "Phone" %>
      <%= f.text_field :responsible_adult_phone %>
    </span>
  </fieldset>
  <br />
  <b>Important:</b> Provide your email address to receive updates to registration, schedule, and new events.
  <br />
  <br />
  The "Responsible Adult", will be responsible for the registered minor.
</fieldset>
