<%# locals: registrant %>
<div class="expenses data_block">
  <fieldset>
    <legend><%= t(".registrants_expenses", :registrant => registrant.to_s) %></legend>
    <table id="expense_lines">
      <thead>
        <tr>
          <th>Item</th>
          <th><%= t(".cost") %></th>
          <th></th>
          <th><%= t(".paid") %>?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% registrant.paid_details.each do |pei| %>
          <tr>
            <td><%= pei %></td>
            <td><%= print_item_cost_currency(pei.base_cost) %></td>
            <td></td>
            <td>(<%= t(".paid")%>)</td>
            <td></td>
          </tr>
        <% end %>
        <% registrant.owing_registrant_expense_items.each do |ce| %>
          <tr>
            <td>
              <%= ce.expense_item %>
            </td>
            <td>
              <%= print_item_cost_currency(ce.cost) %>
            </td>
            <td>
              <% if ce.expense_item.has_details %>
                <%= ce.expense_item.details_label %>: <%= ce.details %>
              <% end %>
            </td>
            <% if ce.free %>
              <td>n/a</td>
            <% else %>
              <td class="unpaid">&#x2717;</td>
            <% end %>
            <td>
              <% if ce.persisted? and not ce.system_managed %>
                <%= form_for([registrant, ce], :url => registrant_registrant_expense_item_path(registrant, ce), :html => { :method => :delete }) do |ff| %>
                  <%= ff.submit "Delete", :class => "delete"%>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>Total</th>
          <th><%= print_formatted_currency(registrant.expenses_total) %></th>
          <th colspan="3"></th>
        </tr>
      </tfoot>
    </table>
  </fieldset>
</div>
