<%# locals: registrant %>
<div class="expenses data_block">
  <fieldset>
    <legend><%= registrant.to_s %>'s Expenses</legend>
    <table id="expense_lines">
      <thead>
        <tr>
          <th>Item</th>
          <th>Cost</th>
          <th>Paid?</th>
          <th></th>
        </tr>
      </thead>
      <% registrant.paid_details.each do |pei| %>
        <tr>
          <td><%= pei %></td>
          <td><%= print_formatted_currency(pei.cost) %></td>
          <td></td>
          <td>(Paid)</td>
          <td>
        </tr>
      <% end %>
      <% registrant.owing_registrant_expense_items.each do |ce| %>
        <tr>
          <td>
            <%= ce.expense_item %>
          </td>
          <td>
            <%= print_formatted_currency(ce.cost) %>
          </td>
          <td>
            <% if ce.expense_item.has_details %>
              <%= ce.expense_item.details_label %>: <%= ce.details %>
            <% end %>
          </td>
          <td></td>
          <td>
            <% if ce.persisted? %>
              <%= form_for([registrant, ce], :url => registrant_registrant_expense_item_path(registrant, ce), :html => { :method => :delete }) do |ff| %>
                <%= ff.submit "Delete" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </fieldset>
</div>
