<%# locals: registrant %>
<div class="expenses data_block">
  <fieldset>
    <legend><%= registrant.to_s %>'s Expenses</legend>
    <table id="expense_lines">
      <% registrant.paid_expense_items.each do |pei| %>
        <tr>
          <td><%= pei %></td>
          <td><%= number_to_currency(pei.cost, unit: "$CAD", separator: ".", delimiter: ",", format: "%n %u") %> <%# replace with currency variable %></td>
          <td>(Paid)</td>
        </tr>
      <% end %>
      <% registrant.registrant_expense_items.each do |ce| %>
        <%= render :partial => "/registrant_expenses/registrant_expense_item", :locals => { :registrant_expense_item => ce} %>
      <% end %>
      <% unless registrant.reg_paid? %>
        <% reg_item = registrant.registration_item %>
        <% unless reg_item.nil? %>
          <tr>
            <td>Registration Fee</td>
            <td><%= number_to_currency(reg_item.cost, unit: "$CAD", separator: ".", delimiter: ",", format: "%n %u") %> <%# replace with currency variable %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </fieldset>
</div>
