<%= form_for(@registrant) do |f| %>
  <% if @registrant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registrant.errors.count, "error") %> prohibited this registrant from being saved:</h2>

      <ul>
      <% @registrant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="data_block">
    <h2>Competitor</h2>
    <span class="required">Required fields</span>
    <fieldset class="data_block">
      <legend>Base Details</legend>
      <span>
        <%= f.label :first_name, 'Name', :class => "required" %>
        <%= f.text_field :first_name, :placeholder => 'First', :autofocus => "true" %>
        <%= f.text_field :middle_initial, :size => 3 %>
        <%= f.text_field :last_name, :placeholder => 'Last' %>
      </span>
      <span>
        <%= f.label :birthday, :class => "required" %>
        <%= f.date_select :birthday, {:start_year => 1900, :include_blank => true} %>
      </span>
      <span>
        <%= f.label :gender_male, 'Male', :class => "required" %>
        <%= f.radio_button :gender, 'Male' %>
        <%= f.label :gender_female, 'Female', :class => "required" %>
        <%= f.radio_button :gender, 'Female' %>
      </span>
    </fieldset>

    <%= render :partial => "registration_periods/list", :locals => {:competitor => true} %>

    <fieldset>
      <legend>Contact Information</legend>
      <fieldset class="data_block">
        <legend>Competitor Details</legend>
        <span>
          <%= f.label :address_line_1 %>
          <%= f.text_field :address_line_1 %>
        </span>
        <span>
          <%= f.label :address_line_2 %>
          <%= f.text_field :address_line_2 %>
        </span>
        <span>
          <%= f.label :city, :class => "required" %>
          <%= f.text_field :city %>
        </span>
        <span>
          <%= f.label :state %>
          <%= f.text_field :state %>
          <%= f.label :zip_code %>
          <%= f.text_field :zip_code %>
        </span>
        <span>
          <%= f.label :country, :class => "required" %>
          <%= f.text_field :country %>
        </span>
        <span>
          <%= f.label :phone %>
          <%= f.text_field :phone %>
        </span>
        <span>
          <%= f.label :mobile %>
          <%= f.text_field :mobile %>
        </span>
        <span>
          <%= f.label :email %>
          <%= f.text_field :email %>
        </span>
      </fieldset>
      <fieldset class="data_block">
        <legend>Emergency Contact</legend>
      </fieldset>
    </fieldset>
  </div>
  <div class="actions">
    <%= f.submit 'Next Page', :class => "competitor registration_button" %>
  </div>
<% end %>
