<%= form_for(setup_registrant_choices(@registrant)) do |f| %>
  <% if @registrant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registrant.errors.count, "error") %> prohibited this registrant from being saved:</h2>

      <ul>
      <% @registrant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="data_block">
    <%= f.hidden_field :competitor %>
    <h2><%= @registrant.competitor ? "Competitor" : "Non-Competitor" %></h2>
    <span class="required">Required fields</span>
    <fieldset class="data_block">
      <legend>Base Details</legend>
      <span>
        <%= f.label :first_name, 'Name', :class => "required" %>
        <%= f.text_field :first_name, :placeholder => 'First', :autofocus => "true" %>
        <%= f.text_field :middle_initial, :size => 3 %>
        <%= f.text_field :last_name, :placeholder => 'Last' %>
      </span>
      <span>
        <%= f.label :birthday, :class => "required" %>
        <%= f.date_select :birthday, {:start_year => 1900, :include_blank => true} %>
      </span>
      <span>
        <%= f.label :gender_male, 'Male', :class => "required" %>
        <%= f.radio_button :gender, 'Male' %>
        <%= f.label :gender_female, 'Female', :class => "required" %>
        <%= f.radio_button :gender, 'Female' %>
      </span>
    </fieldset>

    <%= render :partial => "registration_periods/list", :locals => {:competitor => @registrant.competitor } %>

    <%= render :partial => "/attending/events", :locals => {:registrant => @registrant, :categories => @categories, :f => f } %>

    <%= render :partial => "contact_info", :locals => { :f => f } %>
  </div>
  <div class="actions">
    <% if @registrant.competitor %>
      <%= f.submit 'Next Page', :class => "competitor registration_button" %>
    <% else %>
      <%= f.submit 'Save Registration', :class => "noncompetitor registration_button" %>
    <% end %>
  </div>
<% end %>
