<%= form_for(setup_registrant_choices(@registrant)) do |f| %>
  <% if @registrant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registrant.errors.count, "error") %> prohibited this registrant from being saved:</h2>

      <ul>
        <% @registrant.errors.each do |attribute,error_message| %>
          <% next if attribute == :gender_male %>
          <% next if attribute == :gender_female %>
          <% next if "#{attribute}" == "registrant_event_sign_ups.signed_up" %>
          <% next if "#{attribute}" == "registrant_event_sign_ups.event_category_id" %>
          <% if "#{attribute}" == "registrant_event_sign_ups.base" %>
            <li><%= error_message %></li>
          <% else %>
            <li><%= @registrant.errors.full_message(attribute, error_message )%></li>
          <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="data_block">
    <%= f.hidden_field :competitor %>
    <h2><%= @registrant.competitor ? "Competitor" : "Non-Competitor" %></h2>
    <% unless @registrant.new_record? %>
      <div class="delete_link">
        <% if can? :destroy, @registrant %>
          <%= link_to 'Delete', registrant_path(@registrant), :confirm => "Are you sure you want to delete this registration", :method => :delete %>
        <% end %>
      </div>
    <% end %>
    <div class="required">Required fields</div>
    <fieldset class="data_block">
      <legend>Base Details</legend>
      <span>
        <%= f.label :first_name, 'Name', :class => "required" %>
        <%= f.text_field :first_name, :placeholder => 'First', :size => 12, :autofocus => "true" %>
        <%= f.text_field :middle_initial, :size => 1 %>
        <%= f.text_field :last_name, :placeholder => 'Last', :size => 15 %>
      </span>
      <span>
        <%= f.label :birthday, :class => "required" %>
        <%= f.date_select :birthday, {:start_year => 1920, :end_year => Time.now.year, :include_blank => true, :order => [:month, :day, :year]} %>
      </span>
      <span>
        <%= f.label :gender_male, 'Male', :class => "required" %>
        <%= f.radio_button :gender, 'Male' %>
        <%= f.label :gender_female, 'Female', :class => "required" %>
        <%= f.radio_button :gender, 'Female' %>
      </span>
      <span>
        <%= f.label :club, "Primary Team or Club Name" %>
        <%= f.text_field :club %><br />
        <%= f.label :club_contact, "Primary Team or Club Contact" %>
        <%= f.text_field :club_contact, :size => 25  %>
      </span>
      <% if EventConfiguration.usa %>
        <span>
          <%= f.label :usa_member_number, "USA Membership Number" %>
          <%= f.text_field :usa_member_number, :size => 5, :class => "ui-tooltip", :title => "A USA membership is required to participate at #{EventConfiguration.short_name}" %><br />
        </span>
      <% end %>
      <span>
        <%= f.label :volunteer, "I am interested in volunteering" %>
        <%= f.check_box :volunteer, :title => "I accept to be contacted by email by the Organization team" %>
      </span>
      <% if @registrant.competitor and !EventConfiguration.competitor_free_item_expense_group.nil? %>
        <span>
          <%= f.label :free_expense_item_id, "Free #{EventConfiguration.competitor_free_item_expense_group.to_s}", :class => "required" %>
          <%= f.select :free_expense_item_id, EventConfiguration.competitor_free_item_expense_group.expense_items.map{|ei| [ei, ei.id]}, :include_blank => true %><br />
        </span>
      <% end %>
      <% if !@registrant.competitor  and !EventConfiguration.noncompetitor_free_item_expense_group.nil? %>
        <span>
          <%= f.label :free_expense_item_id, "Free #{EventConfiguration.noncompetitor_free_item_expense_group.to_s}", :class => "required" %>
          <%= f.select :free_expense_item_id, EventConfiguration.noncompetitor_free_item_expense_group.expense_items.map{|ei| [ei, ei.id]}, :include_blank => true %><br />
        </span>
      <% end %>
    </fieldset>
    <%= render :partial => "registration_periods/list", :locals => {:competitor => @registrant.competitor } %>

    <% unless @categories.nil? %>
      <%= render :partial => "/attending/events", :locals => {:registrant => @registrant, :categories => @categories, :f => f } %>
    <% end %>

    <div class="data_block">
      <%= render :partial => "contact_info", :locals => { :f => f, :other_registrant => @other_registrant } %>
    </div>

  </div>
  <div class="actions">
    <% if @registrant.competitor %>
      <%= f.submit 'Continue (Expenses...)', :class => "competitor registration_button" %>
    <% else %>
      <%= f.submit 'Continue (Expenses...)', :class => "noncompetitor registration_button" %>
    <% end %>
  </div>
<% end %>
