<%= form_for(@registrant) do |f| %>
  <% if @registrant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registrant.errors.count, "error") %> prohibited this registrant from being saved:</h2>

      <ul>
      <% @registrant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="data_block">
    <h2>Registrant Details</h2>
    <fieldset>
      <legend>Name</legend>
      <span>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </span>
      <span>
        <%= f.label :middle_initial %>
        <%= f.text_field :middle_initial %>
      </span>
      <span>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </span>
    </fieldset>

    <fieldset>
      <legend>Birthday</legend>
      <span>
        <%= f.label :birthday %>
        <%= f.date_select :birthday, {:start_year => 1900, :include_blank => true} %>
      </span>
    </fieldset>

    <fieldset>
      <legend>Gender</legend>
      <span>
        <%= f.label :gender %>
        <%= f.text_field :gender %>
      </span>
    </fieldset>
    <fieldset>
      <legend>Address</legend>
      <span>
        <%= f.label :address_line_1 %>
        <%= f.text_field :address_line_1 %>
      </span>
      <span>
        <%= f.label :address_line_2 %>
        <%= f.text_field :address_line_2 %>
      </span>
      <span>
        <%= f.label :city %>
        <%= f.text_field :city %>
      </span>
      <span>
        <%= f.label :state %>
        <%= f.text_field :state %>
      </span>
      <span>
        <%= f.label :country %>
        <%= f.text_field :country %>
      </span>
      <span>
        <%= f.label :zip_code %>
        <%= f.text_field :zip_code %>
      </span>
    </fieldset>
    <fieldset>
      <legend>Phone</legend>
      <span>
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </span>
      <span>
        <%= f.label :mobile %>
        <%= f.text_field :mobile %>
      </span>
    </fieldset>
    <fieldset>
      <legend>Email</legend>
      <span>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </span>
    </fieldset>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
