#tabs{ data: { active: (@copy_from_previous ? 0 : 1) } }
  %ul
    %li
      %a{ href: "#tabs-copy-from-previous"} Copy From Previous
    %li
      %a{ href: "#tabs-new-registrant" } New Registrant
  %div{ id: "tabs-copy-from-previous"}
    %h2 Copy name & address from a previous convention

    %p
      Choose a registrant from your past conventions to copy the name/address details.

    = form_for(@registrant, url: create_from_previous_registrant_build_index_path(user_id: @user.id, registrant_id: "building")) do |f|
      = f.hidden_field :registrant_type
      = render partial: "shared/error_messages", object: @registrant
      .row.copy_choices
        .small-12.medium-3.columns
          = label_tag(:previous_registrant, "Previous Registrant")
        .small-12.medium-9.columns
          = select_tag(:previous_registrant, options_for_select(@previous_registrant_options), include_blank: true)
      = render partial: "/registrants/form_actions", locals: {f: f}
      = link_to t("cancel"), user_registrants_path(@user)

  %div{ id: "tabs-new-registrant"}
    = form_for(@registrant, url: registrant_build_index_path(user_id: @user.id, registrant_id: "building")) do |f|
      = f.hidden_field :registrant_type
      = render partial: "shared/error_messages", object: @registrant
      - if @registrant.errors.any?
        #error_explanation
          %h2
            = pluralize(@registrant.errors.count, "error")
            prohibited this registrant from being saved:
          %ul
            - @registrant.errors.each do |attribute,error_message|
              - next if attribute == :gender_male
              - next if attribute == :gender_female
              - next if "#{attribute}" == "registrant_event_sign_ups.signed_up"
              - next if "#{attribute}" == "registrant_event_sign_ups.event_category_id"
              - if "#{attribute}" == "registrant_event_sign_ups.base"
                %li= error_message
              - else
                %li= @registrant.errors.full_message(attribute, error_message )

      .row
        .small-12.columns
          = render partial: "/registrants/base_details", locals: {f: f}


      = render partial: "/registrants/form_actions", locals: {f: f}
      = link_to t("cancel"), user_registrants_path(@user)
