<%# locals: item %>
<tr>
  <td>
    <%= item.name %>
  </td>
  <td>
    <%= number_to_currency(item.cost, unit: "$CAD", separator: ".", delimiter: ",", format: "%n %u") %> <%# replace with currency variable %>
  </td>
  <td>
    <%= form_for RegistrantExpenseItem.new(:expense_item_id => item.id), :url => single_registrant_expenses_url, :remote => true do |ff| %>
      <%#= ff.error_messages %>
      <%= ff.hidden_field :expense_item_id %>
      <%= ff.submit 'Add Item', :class => "multiclick" %>
    <% end %>
  </td>
</tr>
