<%# locals: item, show_as_free %>
<tr>
  <td>
    <%= item.name %>
  </td>
  <td>
    <%= print_item_cost_currency(item.cost) %>
  </td>
  <td>
    <%= form_for [@registrant, @registrant_expense_item] do |ff| %>
      <%= render :partial => "/shared/error_messages", :object => @registrant_expense_item %>
      <%#= ff.error_messages %>
      <%= ff.hidden_field :registrant_id %>
      <%= ff.hidden_field :expense_item_id %>
      <% if show_as_free %>
        <%= ff.hidden_field :free, {:value => 1} %>
      <% end %>
      <% if @registrant_expense_item.expense_item.has_details %>
        <%= ff.label :details, @registrant_expense_item.expense_item.details_label %>:
        <%= ff.text_field :details %>
      <% end %>
      <% if show_as_free %>
        <%= ff.submit 'Add FREE Item', {:title => "One is free with your registration", :class => "free_item"} %>
      <% elsif item.maximum_reached? %>
        <%= ff.submit "Sold Out", :disabled => true, :class => "Sold Out" %>
      <% else %>
        <%= ff.submit 'Add Item' %>
      <% end %>
    <% end %>
  </td>
</tr>
