.display_new_registrant.show_hide_elements
  = form_for(@registrant, url: registrant_build_index_path(user_id: @user.id, registrant_id: "building")) do |f|
    = render partial: "shared/error_messages", object: @registrant
    - if @registrant.errors.any?
      #error_explanation
        %h2
          = pluralize(@registrant.errors.count, "error")
          prohibited this registrant from being saved:
        %ul
          - @registrant.errors.each do |attribute,error_message|
            - next if attribute == :gender_male
            - next if attribute == :gender_female
            - next if "#{attribute}" == "registrant_event_sign_ups.signed_up"
            - next if "#{attribute}" == "registrant_event_sign_ups.event_category_id"
            - if "#{attribute}" == "registrant_event_sign_ups.base"
              %li= error_message
            - else
              %li= @registrant.errors.full_message(attribute, error_message )

    .data_block
      = render partial: "/registrants/base_details", locals: {f: f}

      .competitor_show
        = render :partial => "registration_periods/list", locals: {competitor: true }
      .noncompetitor_show
        = render :partial => "registration_periods/list", locals: {competitor: false}

    = render partial: "/registrants/form_actions", locals: {f: f}
    = link_to "Cancel", {}, class: "js--hide_new_registrant"
