%fieldset.data_block
  %legend= t(".header")
  - cache [@config] do
    #waiver_text_box
      = text_to_html_linebreaks(@config.waiver_text).html_safe
  %p
    - if @registrant.age.nil?
      = t(".by_signing_you_agree_by_age")
    - else
      - if @registrant.minor?
        = t(".by_having_your_parent_sign_you_agree")

      - else
        = t(".by_signing_you_agree")
  = f.label :online_waiver_signature, :class => "required"
  = f.text_field :online_waiver_signature, :size => 25
