- cache_i18n [@config, organization_membership] do
  - if @config.organization_membership_config?
    %div.organization_membership
      %p
        %b= organization_membership_label(@config)
        = organization_membership.member_number
      - if @config.organization_membership_usa?
        %p
          %b= OrganizationMembership.human_attribute_name(:system_status)
          = render "/registrants/usa_membership_badge", organization_membership: organization_membership
          %span.non_printable
            = link_to usa_membership_welcome_path, target: "_blank" do
              %span.help_bubble{ title: "More details" }
