<fieldset class="data_block">
  <legend><%= t(".expenses") %></legend>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th><%= t(".cost") %></th>
        <th><%= t(".paid") %>?</th>
      </tr>
    </thead>

    <tbody>
      <% @registrant.paid_details.each do |pei| %>
        <tr>
          <td><%= pei %></td>
          <td><%= print_item_cost_currency(pei.cost) %></td>
          <td>&#x2713;</td>
        </tr>
      <% end %>
      <% @registrant.owing_registrant_expense_items.each do |ce| %>
        <tr>
          <td><%= ce.expense_item %></td>
          <td><%= print_item_cost_currency(ce.cost) %></td>
          <td>&#x2717;</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
