.pricing_options
  - reg_period = RegistrationPeriod.current_period
  - if reg_period && reg_period.competitor_expense_item
    .pricing_option.recommended.competitor_sign_up
      %h3.recommended_title= t('.recommended')
      %h3.title= t('competitor')
      .current_price= print_formatted_currency(reg_period.competitor_expense_item.cost)
      .price_note Prices Increase in #{distance_of_time_in_words(DateTime.now, reg_period.end_date) }
      %ul.price_details
        %li.highlighted Can Compete in all events
        %li Participate in Workshops
        %li Buy T-Shirts
        %li Buy Dinner Tickets
        %li Support the Unicycling community
      = link_to t(".create_new_competitor"), {}, class: "js--display_new_registrant competitor registration_button", data: { registrant_type: 'competitor' }
  - if reg_period && reg_period.noncompetitor_expense_item
    .pricing_option.non-competitor_sign_up
      %h3.title= t('noncompetitor')
      .current_price= print_formatted_currency(reg_period.noncompetitor_expense_item.cost)
      .price_note Prices Increase in #{distance_of_time_in_words(DateTime.now, reg_period.end_date) }
      %ul.price_details
        %li -
        %li.highlighted Participate in Workshops
        %li Buy T-Shirts
        %li Buy Dinner Tickets
        %li Support the Unicycling community
      = link_to t(".create_new_noncompetitor"), {}, class: "js--display_new_registrant noncompetitor registration_button", data: { registrant_type: 'noncompetitor' }
  - if @config.spectators
    .pricing_option.spectator_sign_up
      %h3.title= t('spectator')
      .current_price $0
      .price_note &nbsp;
      %ul.price_details
        %li -
        %li -
        %li Buy T-Shirts
        %li Buy Dinner Tickets
        %li Support the Unicycling community
      = link_to t(".create_new_spectator"), {}, class: "js--display_new_registrant spectator registration_button", data: { registrant_type: 'spectator' }

= render partial: "new_name"
