.pricing_options
  .pricing_option.recommended.competitor_sign_up
    %h3.recommended_title= t('.recommended')
    %h3.title= t('competitor')
    - reg_cost = RegistrationCost.for_type("competitor").current_period
    - if reg_cost && reg_cost.expense_items.any?
      .current_price
        - RegistrationCostPresenter.new(reg_cost).describe_entries do |entry_string|
          = entry_string
          %br
      .price_note= print_time_until_prices_increase(reg_cost)
    %ul.price_details
      - EventConfiguration.singleton.competitor_benefits_list.each do |item|
        %li= item
    = link_to t(".create_new_competitor"), new_registrant_path(registrant_type: 'competitor'), class: "competitor_button"

  - if @config.noncompetitors?
    .pricing_option.non-competitor_sign_up
      %h3.title= t('noncompetitor')
      - reg_cost = RegistrationCost.for_type("noncompetitor").current_period
      - if reg_cost && reg_cost.expense_items.any?
        .current_price
          - RegistrationCostPresenter.new(reg_cost).describe_entries do |entry_string|
            = entry_string
            %br
        .price_note= print_time_until_prices_increase(reg_cost)
      %ul.price_details
        - EventConfiguration.singleton.noncompetitor_benefits_list.each do |item|
          %li= item
      = link_to t(".create_new_noncompetitor"), new_registrant_path(registrant_type: 'noncompetitor'), class: "noncompetitor_button"

  - if @config.spectators?
    .pricing_option.spectator_sign_up
      %h3.title= t('spectator')
      .current_price= print_formatted_currency(0)
      .price_note &nbsp;
      %ul.price_details
        - EventConfiguration.singleton.spectator_benefits_list.each do |item|
          %li= item
      = link_to t(".create_new_spectator"), new_registrant_path(registrant_type: 'spectator'), class: "spectator_button"
