
<% total_owing = 0 %>
<% unless registrant_list.empty? %>
<hr />
  <div>
    <fieldset class="registrations_box">
      <legend><%= list_name %> Registrations</legend>
      <table class="registrant_summary">
        <% registrant_list.each do |registrant| %>
          <tr>
            <td>
              <%= link_to registrant.name, registrant, :class =>  (registrant.competitor ? "competitor_link" : "noncompetitor_link") %>
            </td>
            <td>
              <%= number_to_currency(registrant.expenses_total) %>
            </td>
            <td>
              <% if can? :update, registrant %>
                <%= link_to 'Edit', edit_registrant_path(registrant), :class => "registrant_edit_button " + (registrant.competitor ? "competitor" : "noncompetitor" ) %>
              <% end %>
              <%= link_to 'See Summary', registrant_path(registrant), :class => "registrant_edit_button " + (registrant.competitor ? "competitor" : "noncompetitor" ) %>
              <%= link_to 'Legal Waiver', waiver_registrant_path(registrant, :format => 'pdf'), {:class => "waiver_link", :target => "_blank" } %>
            </td>
            <td>
              <% amount_owing = registrant.amount_owing %>
              <% if amount_owing > 0 %>
                <span class="unpaid"><%= number_to_currency(amount_owing) %> Unpaid</span>
                <% total_owing += amount_owing %>
              <% else %>
                <span class="paid">Paid</span>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="2">Total Amount Owing:</td>
          <td><%= number_to_currency(total_owing) %></td>
        </tr>
      </table>
    </fieldset>
  </div>
<% end %>
<% if total_owing > 0 %>
  <%= render :partial => "/registrants/pay_now", :locals => {:total_owing => total_owing } %>
<% end %>
