.pricing_options
  - reg_cost = RegistrationCost.for_type("competitor").current_period
  - if reg_cost && reg_cost.expense_item
    .pricing_option.recommended.competitor_sign_up
      %h3.recommended_title= t('.recommended')
      %h3.title= t('competitor')
      .current_price= print_formatted_currency(reg_cost.expense_item.cost)
      .price_note= print_time_until_prices_increase(reg_cost)
      %ul.price_details
        - EventConfiguration.singleton.competitor_benefits_list.each do |item|
          %li= item
      = link_to t(".create_new_competitor"), {}, class: "js--display_new_registrant competitor registration_button", data: { registrant_type: 'competitor' }
  - reg_cost = RegistrationCost.for_type("noncompetitor").current_period
  - if reg_cost && reg_cost.expense_item
    .pricing_option.non-competitor_sign_up
      %h3.title= t('noncompetitor')
      .current_price= print_formatted_currency(reg_cost.expense_item.cost)
      .price_note= print_time_until_prices_increase(reg_cost)
      %ul.price_details
        - EventConfiguration.singleton.noncompetitor_benefits_list.each do |item|
          %li= item
      = link_to t(".create_new_noncompetitor"), {}, class: "js--display_new_registrant noncompetitor registration_button", data: { registrant_type: 'noncompetitor' }
  - if @config.spectators?
    .pricing_option.spectator_sign_up
      %h3.title= t('spectator')
      .current_price= print_formatted_currency(0)
      .price_note &nbsp;
      %ul.price_details
        - EventConfiguration.singleton.spectator_benefits_list.each do |item|
          %li= item
      = link_to t(".create_new_spectator"), {}, class: "js--display_new_registrant spectator registration_button", data: { registrant_type: 'spectator' }

= render partial: "new_name"
