- cache [I18n.locale, @config, @registrant, include_form, details] do
  - @registrant.owing_registrant_expense_items.each do |ce|
    %tr
      %td= ce
      - if details
        %td= ce.details_description
      %td= print_item_cost_currency(ce.total_cost)
      - if ce.free
        %td n/a
      - else
        %td.unpaid ✗
      - if include_form
        %td
          - if ce.persisted? and not ce.system_managed
            = form_for([@registrant, ce], :url => registrant_registrant_expense_item_path(@registrant, ce), :html => { :method => :delete }) do |ff|
              = ff.submit t(".delete"), :class => "delete"
