- use_wizard = true

- if true
  .pricing_options
    .pricing_option.recommended.competitor_sign_up
      %h3.recommended_title= t('recommended')
      %h3.title= t('competitor')
      .current_price $100
      .price_note Prices Increase to $140 January 1st
      %ul.price_details
        %li.highlighted Compete in all events
        %li Participate in Workshops
        %li Buy T-Shirts
        %li Buy Dinner Tickets
        %li Support the Unicycling community
      - if use_wizard
        = link_to t(".create_new_competitor"), user_registrant_build_index_path(user_id: @user, registrant_id: "building", competitor: true), :class => "competitor registration_button", method: :post
      - else
        = link_to t(".create_new_competitor"), new_registrant_path, :class => "competitor registration_button"
    .pricing_option.non-competitor_sign_up
      %h3.title= t('noncompetitor')
      .current_price $40
      .price_note Prices Increase to $50 January 1st
      %ul.price_details
        %li -
        %li.highlighted Participate in Workshops
        %li Buy T-Shirts
        %li Buy Dinner Tickets
        %li Support the Unicycling community
      - if use_wizard
        = link_to t(".create_new_noncompetitor"), user_registrant_build_index_path(user_id: @user, registrant_id: "building", non_competitor: true), :class => "noncompetitor registration_button", method: :post
      - else
        = link_to t(".create_new_noncompetitor"), new_registrant_path(:non_competitor => true), :class => "noncompetitor registration_button"
    .pricing_option.spectator_sign_up
      %h3.title= t('spectator')
      .current_price $0
      .price_note &nbsp;
      %ul.price_details
        %li -
        %li -
        %li Buy T-Shirts
        %li Buy Dinner Tickets
        %li Support the Unicycling community
      - if use_wizard
        = link_to t(".create_new_spectator"), user_registrant_build_index_path(user_id: @user, registrant_id: "building", competitor: nil), :class => "spectator registration_button", method: :post
      - else
        = link_to t(".create_new_spectator"), new_registrant_path(:non_competitor => true), :class => "spectator registration_button"
- else
  .pricing_options
    .pricing_option
      = link_to t(".create_new_competitor"), new_registrant_path, :class => "competitor registration_button"
      = render :partial => "registration_periods/list", :locals => {:competitor => true }
    .pricing_option
      = link_to t(".create_new_noncompetitor"), new_registrant_path(:non_competitor => true), :class => "noncompetitor registration_button"
      = render :partial => "registration_periods/list", :locals => {:competitor => false }
