- cache [I18n.locale, @registrant] do
  %fieldset
    %legend= t(".confirmed_events")
    %table.events_summary_table
      %tbody
        - Category.includes(:events, :translations).each do |cat|
          - if @registrant.has_confirmed_event_in_category?(cat)
            %tr
              %td.event_heading{:colspan => "5"}= cat
            - cat.events.each do |event|
              - if @registrant.has_confirmed_event?(event)
                - competitor = @registrant.active_competitor(event)
                %tr
                  %td
                    = competitor.competition.award_title
                    = " -  #{competitor.team_name}" if competitor.team_name
                    - unless @registrant.has_event?(event)
                      %i (Competitor, but Not Signed up)
