- cache [I18n.locale, @config, @registrant] do
  - @registrant.paid_details.each do |pei|
    %tr
      %td= pei
      %td
        - if pei.has_details
          = "#{pei.details_label}: #{pei.details}"
      %td= print_item_cost_currency(pei.cost)
      %td= "✓ (#{t(".paid")})"
      %td
