- registrant = registrant_list_entry
- reg_class = registrant.registrant_type
.row
  .small-3.columns
    = link_to_if policy(registrant).update_any_data?, registrant.name, registrant_build_index_path(registrant), :class =>  "#{reg_class}_link"
    %br
    = t(".#{reg_class}")
  .small-2.columns
    - if policy(registrant).update_any_data?
      = link_to t('.edit'), registrant_build_index_path(registrant), :class => "#{reg_class}_button"
  .small-4.columns
    - if registrant.validated?
      = link_to t('.see_summary'), registrant_path(registrant), :class => "#{reg_class}_button"
    - else
      %span.incomplete
        = t('.incomplete')
    - if registrant.events_with_music_allowed.any? && policy(Song.new).create?
      %span.edit_link_block
        - need_music = registrant.songs.none?
        = link_to "Upload music", registrant_songs_path(registrant), class: "button #{'alert' if need_music}"
  .small-3.columns
    - if @has_print_waiver
      = link_to t(".legal_waiver", first_name: registrant.first_name), waiver_registrant_path(registrant, format: 'pdf'), { class: "print_waiver_link", target: "_blank" }
      %br
    = render partial: "registrant_total_owing", locals: { registrant: registrant }
