- cache_i18n [registrant] do
  - if registrant.amount_owing > 0.to_money
    .unpaid
      = print_formatted_currency(registrant.amount_owing)
      = t(".unpaid")
  - if registrant.amount_pending > 0.to_money
    .unpaid
      = print_formatted_currency(registrant.amount_pending)
      = t(".pending")
  - if registrant.amount_paid > 0.to_money
    .paid
      = print_formatted_currency(registrant.amount_paid)
      = t(".paid")
