<% registrant = registrant_list_entry %>
<tr class="<%= shared ? "shared" : "my" %>_registrant">
  <td>
    <%= link_to registrant.name, registrant, :class =>  (registrant.competitor ? "competitor_link" : "noncompetitor_link") %>
    <br />
    <%= (registrant.competitor ? t(".competitor") : t(".noncompetitor") ) %>
  </td>
  <td>
    <%= print_formatted_currency(registrant.expenses_total) %>
  </td>
  <td>
    <% if can? :update, registrant %>
      <%= link_to t('.edit'), edit_registrant_path(registrant), :class => "registrant_edit_button " + (registrant.competitor ? "competitor" : "noncompetitor" ) %>
    <% end %>
  </td>
  <td>
    <%= link_to t('.see_summary'), registrant_path(registrant), :class => "registrant_edit_button " + (registrant.competitor ? "competitor" : "noncompetitor" ) %>
  </td>
  <% if @has_print_waiver %>
  <td>
    <%= link_to "Legal Waiver (#{registrant.first_name})", waiver_registrant_path(registrant, :format => 'pdf'), {:class => "print_waiver_link", :target => "_blank" } %>
  </td>
  <% end %>
  <td>
    <%= render partial: "registrant_total_owing", locals: { registrant: registrant } %>
  </td>
</tr>
