// [I18n.locale, @config, @registrant]
%fieldset.data_block
  %legend= t(".expenses")
  %table
    %thead
      %tr
        %th Item
        %td
        %th= t(".cost")
        %th
          = t(".paid")
          ?
    %tbody
      = render partial: "registrant_paid_expenses"
      = render partial: "registrant_unpaid_expenses", locals: { include_form: false }
    %tfoot
      %th{colspan: 4}
        = render partial: "/registrants/registrant_total_owing", locals: { registrant: @registrant }
