- cache [I18n.locale, @registrant] do
  %fieldset
    %legend= t(".events")
    %table.events_summary_table
      %tbody
        - Category.includes(:events, :translations).each do |cat|
          - if @registrant.has_event_in_category?(cat)
            %tr
              %td.event_heading{:colspan => "5"}= cat
            - cat.events.each do |event|
              - if @registrant.has_event?(event)
                - details = @registrant.describe_event_hash(event)
                %tr
                  %td
                    = details[:description]
                    = "- #{details[:category]}" if details[:category].present?
                    = details[:additional]
