
<% unless my_registrants_list.empty? and shared_list.empty? %>
  <div>
    <fieldset class="registrations_box">
      <legend><%= t(".registrations") %></legend>
      <table class="registrant_summary">
        <% my_registrants_list.each do |registrant| %>
          <%= render :partial => "registrant_list_entry", :object => registrant, :locals => {:shared => false } %>
        <% end %>
        <% shared_list.each do |registrant| %>
          <%= render :partial => "registrant_list_entry", :object => registrant, :locals => {:shared => true } %>
        <% end %>
        <tr>
          <td colspan="4"><%= t(".total_amount_owing") %></td>
          <td><%= print_formatted_currency(@total_owing) %></td>
        </tr>
      </table>
    </fieldset>
  </div>
<% end %>
<%= render :partial => "/registrants/pay_now", :locals => {:total_owing => @total_owing } %>
