<h1><%= t(".registration_summary") %>:
<%= @registrant.first_name %>
<%= @registrant.middle_initial %>
<%= @registrant.last_name %>
 #<%= @registrant.bib_number %>
</h1>
<div class="non_printable">
  <%= link_to t(".printable_pdf"), registrant_path(@registrant, :format => "pdf"), {:target => "_blank"} %>
</div>

<div style="display:inline-block;">
  <div class="data_block" style="display:block; max-width:450px;">
    <%= render :partial => "/registrants/summary" %>
    <% if can? :update, @registrant %>
        <div class="edit_link_block">
            <%= link_to t(".edit_registration"), edit_registrant_path(@registrant) %>
        </div>
    <% end %>
  </div>
  <div class="data_block" style="max-width:450px;">
    <%= render :partial => "/registrants/registrant_expenses" %>
    <% if can? :update_items, @registrant %>
        <div class="edit_link_block">
            <%= link_to t(".edit_items"), items_registrant_path(@registrant) %>
        </div>
    <% end %>
  </div>
</div><div class="data_block" style="max-width:550px;">
  <% if @registrant.competitor %>
    <%= render :partial => "/registrants/registrant_events" %>
    <% if can? :update, @registrant %>
        <div class="edit_link_block">
          <%= link_to t(".edit_events"), edit_registrant_path(@registrant) %>
        </div>
    <% end %>
  <% end %>
</div>
<% if @registrant.has_standard_skill? %>
  <hr class="non_printable" />
  <div class="edit_link_block">
    <%= render :partial => "/standard_skill_routines/routine_links", :locals => {:registrant => @registrant} %>
  </div>
<% end %>
<hr class="non_printable" />
<div class="non_printable">
  <% if @registrant.competitor %>
    <%= link_to t(".done"), registrants_path, {:class => "competitor registration_button"} %>
  <% else %>
    <%= link_to t('.done'), registrants_path, {:class => "noncompetitor registration_button"} %>
  <% end %>
</div>
<% if can? :manage, AwardLabel %>
  <%= link_to "Create Free Item Refund", create_free_items_admin_registrant_path(@registrant), :method => :post %>
<% @email = Email.new %>
<% @email.subject = "Unicon Registration Incorrect double-listing of items" %>
<% 
  items = []
  @registrant.paid_details.each do |pei|
   items << "#{pei} - #{print_item_cost_currency(pei.cost)}"
  end
  @registrant.owing_registrant_expense_items.each do |ce|
    items << "#{ce.expense_item} - #{print_item_cost_currency(ce.cost)}"
  end
  items.sort!
  list_of_items = ""
  items.each do |item|
    list_of_items += "- #{item}\n"
  end
@email.body =  "Dear #{@registrant.name}

We have recently learned about an error in the Unicon Registration system which caused it to incorrectly list your Items as:

#{list_of_items}

We have now corrected the issue, the duplicated entries have been removed, and your items are now:

#{list_of_items}

Please ensure that the items that you desired are still listed.

We apologize for any inconvenience, and welcome any questions or concerns.


Thank you,

Unicon Staff"
%>

  <%= form_for @email, url: create_free_email_admin_registrant_path(@registrant) do |f| %>
    <%= f.label :subject %>
    <%= f.text_field :subject %><br />
    <%= f.label :body %>
    <%= f.text_area :body, {:cols => 100, :rows => 20 } %><br />
    <%= f.submit "Send Email", :class => "focus_button" %>
  <% end %>

<% end %>
<% if @waiver %><%= render :partial => "/registrants/waiver" %><% end %>
