- cache [current_user] do
  - if can? :update, @registrant
    .js--showElement{ data: { key: "update_registrant" } }
  - if can? :create, RegistrantExpenseItem
    .js--showElement{ data: { key: "create_rei" } }
  - if can? :manage, @registrant
    .js--showElement{ data: { key: "manage_registrant" } }

- cache_i18n ['header', @registrant] do
  .registrant_header
    .registrant_header__name
      %h1
        = "#{@registrant.last_name}, #{@registrant.first_name} ##{@registrant.bib_number}"
    .info_block
      = render partial: "/registrants/unpaid_warnings"
      = render partial: "/registrants/access_code"

- cache_i18n ['printable_link', @registrant, @registrant.members_cache_key] do
  .non_printable
    = link_to t(".printable_pdf"), registrant_path(@registrant, :format => "pdf"), {:target => "_blank"}
.registrant_summary{ class: "show_#{@registrant.registrant_type}_elements" }
  .registrant_summary_block
    // this partial includes conditional-display logic..do not cache it
    = render :partial => "/registrants/summary"
    - cache_i18n ['edit_link', @registrant] do
      .edit_link_block.js--showElementTarget{ data: { key: "update_registrant" } }
        = link_to t(".edit_registration"), registrant_build_path(@registrant, :add_name)
  - cache_i18n ['expenses', @registrant, @registrant.members_cache_key] do
    .registrant_expenses_block
      = render :partial => "/registrants/registrant_expenses"
      .edit_link_block.js--showElementTarget{ data: { key: "create_rei" } }
        = link_to t(".edit_items"), registrant_build_path(@registrant, :expenses)
      .non_printable.js--showElementTarget{ data: { key: "manage_registrant" } }
        = link_to t(".list_payments"), registrant_payments_path(@registrant)
    .registrant_events_block
      - if @registrant.competitor
        - if @config.display_confirmed_events?
          = render partial: "/registrants/registrant_confirmed_events"
          = render partial: "/registrants/registrant_unconfirmed_events"
        - else
          = render :partial => "/registrants/registrant_events"
        .edit_link_block.js--showElementTarget{ data: { key: "update_registrant" } }
          = link_to t(".edit_events"), registrant_build_path(@registrant, :add_events)

  // contains caching
  = render partial: "/registrants/registrant_songs"
  - cache_i18n ['standard_and_waiver', @registrant] do
    - if @registrant.has_standard_skill?
      %hr.non_printable
      .edit_link_block
        = render :partial => "/standard_skill_routines/routine_links", :locals => {:registrant => @registrant}
    %hr.non_printable
    .non_printable
      = link_to t(".done"), user_registrants_path(current_user), {:class => "registration_button"}
    = render :partial => "/registrants/waiver"
