- cache [current_user] do
  - if policy(@registrant).add_name?
    .js--showElement{ data: { key: "update_registrant_name" } }
  - if policy(@registrant).add_events?
    .js--showElement{ data: { key: "update_registrant_events" } }
  - if policy(@registrant).expenses?
    .js--showElement{ data: { key: "create_rei" } }
  - if policy(@registrant).payments?
    .js--showElement{ data: { key: "manage_registrant" } }

- cache_i18n ['header', @registrant] do
  .row
    .small-12.medium-6.print-4.columns.text-left
      %h1
        = "##{@registrant.bib_number}"
        = "#{@registrant.last_name}, #{@registrant.first_name}"
        = "(incomplete)" unless @registrant.validated?
    .small-12.medium-2.print-4.columns.text-center
      %h2= @registrant.registrant_type.capitalize
      .non_printable
        = link_to t(".printable_pdf"), registrant_path(@registrant, :format => "pdf"), {:target => "_blank"}
    .small-12.medium-4.columns.print-4.text-right
      = render partial: "/registrants/unpaid_warnings"
      = render partial: "/registrants/access_code"
  %hr
.row.full_page{ class: "show_#{@registrant.registrant_type}_elements" }
  .small-12.medium-6.large-4.columns.print-4
    // this partial includes conditional-display logic..do not cache it
    = render :partial => "/registrants/summary"
    - cache_i18n ['edit_link', @registrant] do
      .edit_link_block.js--showElementTarget{ data: { key: "update_registrant_name" } }
        = link_to t(".edit_registration"), registrant_build_path(@registrant, :add_name)
  - cache_i18n ['expenses', @registrant, @registrant.members_cache_key, @config] do
    .small-12.medium-6.large-4.columns.print-4
      = render :partial => "/registrants/registrant_expenses"
      .edit_link_block.js--showElementTarget{ data: { key: "create_rei" } }
        = link_to t(".edit_items"), registrant_build_path(@registrant, :expenses)
      .non_printable.js--showElementTarget{ data: { key: "manage_registrant" } }
        = link_to t(".list_payments"), payments_registrant_path(@registrant.bib_number)
    .small-12.medium-6.large-4.columns.print-4
      - if @registrant.competitor?
        - if @config.display_confirmed_events?
          = render "/registrants/registrant_events_or_competition_assignments"
        - else
          = render :partial => "/registrants/registrant_events"
        .edit_link_block.js--showElementTarget{ data: { key: "update_registrant_events" } }
          = link_to t(".edit_events"), registrant_build_path(@registrant, :add_events)

  // contains caching
  = render partial: "/registrants/registrant_songs"
  - cache_i18n ['standard_and_waiver', @registrant, Result] do
    - if @registrant.has_standard_skill?
      %hr.non_printable
      .edit_link_block
        = link_to "Manage Standard Skill Routine for #{@registrant}", registrant_standard_skill_routines_path(@registrant), :method => :post, class: "button"
    %hr.non_printable
    .non_printable
      = link_to t(".done"), user_registrants_path(current_user), {:class => "registration_button"}
      - if Result.any? && policy(@registrant).results?
        = link_to "Results", results_registrant_path(@registrant), class: "button primary alert"
    = render :partial => "/registrants/waiver"
