<h1><%= t(".registration_summary") %>:
<%= @registrant.first_name %>
<%= @registrant.middle_initial %>
<%= @registrant.last_name %>
 #<%= @registrant.bib_number %>
</h1>
<div class="non_printable">
  <%= link_to t(".printable_pdf"), registrant_path(@registrant, :format => "pdf"), {:target => "_blank"} %>
</div>

<div style="display:inline-block;">
  <div class="data_block" style="display:block; max-width:450px;">
    <%= render :partial => "/registrants/summary" %>
    <% if can? :update, @registrant %>
        <div class="edit_link_block">
            <%= link_to t(".edit_registration"), edit_registrant_path(@registrant) %>
        </div>
    <% end %>
  </div>
  <div class="data_block" style="max-width:450px;">
    <%= render :partial => "/registrants/registrant_expenses" %>
    <% if can? :create, RegistrantExpenseItem %>
        <div class="edit_link_block">
            <%= link_to t(".edit_items"), items_registrant_path(@registrant) %>
        </div>
    <% end %>
  </div>
</div><div class="data_block" style="max-width:550px;">
  <% if @registrant.competitor %>
    <%= render :partial => "/registrants/registrant_events" %>
    <% if can? :update, @registrant %>
        <div class="edit_link_block">
          <%= link_to t(".edit_events"), edit_registrant_path(@registrant) %>
        </div>
    <% end %>
  <% end %>
</div>
<% if @registrant.has_standard_skill? %>
  <hr class="non_printable" />
  <div class="edit_link_block">
    <%= render :partial => "/standard_skill_routines/routine_links", :locals => {:registrant => @registrant} %>
  </div>
<% end %>
<hr class="non_printable" />
<div class="non_printable">
  <% if @registrant.competitor %>
    <%= link_to t(".done"), user_registrants_path(current_user), {:class => "competitor registration_button"} %>
  <% else %>
    <%= link_to t('.done'), user_registrants_path(current_user), {:class => "noncompetitor registration_button"} %>
  <% end %>
</div>
<% if @has_print_waiver %><%= render :partial => "/registrants/waiver" %><% end %>
