#registrant_contact_detail_attributes_state_wrapper
  - parent_region ||= params[:parent_region]
  - if parent_region.blank?
    %em
      = t(".select_country")
  - else
    - country = ISO3166::Country.new(parent_region)
    - if country.try(:subdivisions?)
      - state_options = country.subdivisions.map{ |state, hash| [hash["name"], state] }
      - if from_object
        = f.select :state_code, state_options, {include_blank: true}, class: "chosen-select"
      - else
        = select_tag "registrant[contact_detail_attributes][state_code]", options_for_select(state_options), {include_blank: true, class: "chosen-select" }
    - else
      - if from_object
        = f.text_field :state_code
      - else
        = text_field("registrant[contact_detail_attributes]", :state_code)
