<fieldset class="data_block">
  <legend><%= t(".registration_summary") %></legend>
  <div>
    <b><%= t(".name") %>:</b>
    <%= @registrant.first_name %>
    <%= @registrant.middle_initial %>
    <%= @registrant.last_name %>
  </div>
  <div>
    <b><%= t(".gender") %>:</b>
    <%= @registrant.gender %>
    <b><%= t(".birthday") %>:</b>
    <%= @registrant.birthday.strftime("%d-%b-%Y") %>
    <b><%= t(".age") %>:</b>
    <%= @registrant.age %>
  </div>
  <div>
    <b><%= t(".volunteer") %>:</b>
    <%= @registrant.volunteer %>
  </div>
  <% if can? :read_contact_info, @registrant  %>
    <%= render :partial => "contact_summary", locals: { :contact_detail => @registrant.contact_detail } %>
  <% end %>
</fieldset>
