#volunteer_opportunities
  %h3 Volunteer Opportunities
  = hidden_field_tag "registrant[volunteer_opportunity_ids][]"
  %ul.volunteer_options{:class => ("three_columns" if VolunteerOpportunity.count >= 12)}
    - VolunteerOpportunity.all.each do |vop|
      %li
        = check_box_tag "registrant[volunteer_opportunity_ids][]", vop.id, @registrant.volunteer_opportunities.include?(vop), id: "registrant_volunteer_opportunity_#{vop.id}"
        = label_tag "registrant_volunteer_opportunity_#{vop.id}", vop.description

