- cache_i18n [Registrant] do
  %h1= t(".all_registrants")

  %table.sortable.searchable
    %thead
      %tr
        %th= t(".ID")
        %th= t(".name")
        %th= t(".registrant_type")
        %th= t(".club")
        %th= RepresentationType.description
    %tbody
      - @registrants.find_each(batch_size: 100) do |registrant|
        %tr
          %td= registrant.bib_number
          %td= registrant
          %td= registrant.registrant_type.capitalize
          %td= registrant.club
          %td= registrant.representation
