- cache [I18n.locale, Registrant] do
  %h1= t(".all_registrants")

  %table.sortable.searchable
    %thead
      %tr
        %th= t(".ID")
        %th= t(".name")
        - if @config.usa?
          %th= t(".state")
        - else
          %th= t(".country")
    %tbody
      - @registrants.each do |registrant|
        %tr
          %td= registrant.bib_number
          %td= registrant
          - if @config.usa?
            %td= registrant.state
          - else
            %td= registrant.country
