<h1><%= t(".all_registrants") %></h1>

<table class="sortable searchable">
  <thead>
    <tr>
      <th><%= t(".ID") %></th>
      <th><%= t(".name") %></th>
      <th><%= t(".country") %></th>
    </tr>
  </thead>
  <tbody>
    <% @registrants.each do |registrant| %>
      <tr>
        <td><%= registrant.bib_number %></td>
        <td><%= registrant %></td>
        <td><%= registrant.country %></td>
      </tr>
    <% end %>
  </tbody>
</table>
