%h1.event_title
  = @config.short_name
  = t(".registration")
= render "additional_registrant_access_banners"

= render "reg_closed_banner" if EventConfiguration.closed?

- if can? :create, Registrant # until registration is closed
  - if @config.comp_noncomp_url?
    .sign_up_difference
      = link_to t(".whats_the_difference"), @config.comp_noncomp_url, class: "fancybox", title: t(".difference_tooltip")
  = render "registrant_choices"
= render "/attending/rulebook_link"
- if @shared_registrants.count > 0
  %div
    = t(".registrants_includes_shared")
    = link_to (".registrant_access_page_title"), user_additional_registrant_accesses_path(@user)
    = t(".link_end")

= render :partial => "registrants_list", :locals => {:shared_list => @shared_registrants, :my_registrants_list => @my_registrants}
= render partial: "waiver_blank"
- if @config.online_payment?
  %hr
  %p
    = t(".be_sure_to_submit_payment")
  %p= t(".note_date_of_payment_html")
  = render :partial => "waiver"
  %p
    = t(".registration_time")
    %br
    = t(".can_change_events")
    %br
    = t(".onsite_restricted_events")
    %br
