<h1>Registration</h1>

<%= render :partial => "/registrants/links" %>

<% unless @registrants.empty? %>
  <div>
    <fieldset class="registrations_box">
      <legend>Registrations</legend>
      <table class="registrant_summary">
        <% @registrants.each do |registrant| %>
          <tr>
            <td>
              <%= link_to registrant.name, registrant, :class =>  (registrant.competitor ? "competitor_link" : "noncompetitor_link") %>
            </td>
            <td>
              <span class="fee"><%= registrant.expenses_total %></span>
            </td>
            <td>
              <%= link_to 'Edit', edit_registrant_path(registrant), :class => "registrant_edit_button " + (registrant.competitor ? "competitor" : "noncompetitor" ) %>
              <%= link_to 'See Summary', registrant_path(registrant), :class => "registrant_edit_button " + (registrant.competitor ? "competitor" : "noncompetitor" ) %>
            </td>
            <td>
              <% if registrant.amount_owing > 0 %>
                <span class="unpaid"><span class="fee"><%= registrant.amount_owing %></span> Unpaid</span>
              <% else %>
                <span class="paid">Paid</span>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="2">Total Amount Owing:</td>
          <td><span class="fee"><%= @total_owing %></span></td>
        </tr>
      </table>
    </fieldset>
  <% end %>
  <% if @total_owing > 0 %>
    <%= render :partial => "/registrants/pay_now", :locals => {:total_owing => @total_owing } %>
  <% end %>
</div>

