<h1>Registration</h1>

<div class="registration_sign_up">
  <div class="competitor registration_button"><%= link_to 'Competitor', new_registrant_path %></div>
  <div class="noncompetitor registration_button"><%= link_to 'Non-Competitor', new_registrant_path %></div>
</div>

<fieldset class="registrations_box">
  <legend>Registrations</legend>
    <div class="registrants">
      <% @registrants.each do |registrant| %>
        <div class="registrant">
          <span><%= link_to registrant.name, registrant %></span>
          (<%= link_to 'edit', edit_registrant_path(registrant) %>)
    TEMP: <%= link_to "Atending", attending_index_path(registrant) %>
    <%= link_to 'Destroy', registrant, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
</fieldset>
