<h1 class="title"><%= EventConfiguration.short_name %> Registration</h1>

<% if mixpanel? %>
  <script type="text/javascript">
    mixpanel.track("Main Registration Landing Page Loaded")
  </script>
<% end %>

<% if @display_invitation_request %>
  <div class="invitation_access_banner">
    You have been asked to share a registration with another user.
    <%= link_to "See the Registration Access", invitations_user_additional_registrant_accesses_path(@user) %> page for details.
  </div> 
<% end %>
<% if @display_invitation_manage_banner %>
  <div class="invitation_manage_banner">
    You have shared your registration with another user.
    <%= link_to "See the Registration Access", invitations_user_additional_registrant_accesses_path(@user) %> to adjust settings.
  </div> 
<% end %>

<% if EventConfiguration.closed? %>
  <div class="registration_closed">
    <h2>Online Registration is now closed</h2>
    You cannot make any more changes to your registration details.<br />
    If you have any outstanding payments, you may be able to continue this registration on-site (at the discretion of the event-organizers)
  </div>
<% end %>
<div>
  <div class="competitor_sign_up">
    <% if can? :create, Registrant %>
      <%= link_to 'Create New Competitor', new_registrant_path, :class => "competitor registration_button" %>
    <% end %>
  </div><div class="non-competitor_sign_up">
    <% if can? :new_noncompetitor, Registrant %>
      <%= link_to 'Create New Non-Competitor', new_noncompetitor_registrants_path, :class => "noncompetitor registration_button" %>
    <% end %>
  </div>
  <% unless EventConfiguration.comp_noncomp_url.nil? %>
    <div class="sign_up_difference">
      <%= link_to "What's the difference?", EventConfiguration.comp_noncomp_url, :class => "fancybox", :title =>"Click here for more information!" %>
    </div>
  <% end %>
  <div class="competitor_sign_up">
    <%= render :partial => "registration_periods/list", :locals => {:competitor => true } %><br /><br />
  </div><div class="non-competitor_sign_up">
  <%= render :partial => "registration_periods/list", :locals => {:competitor => false } %><br /><br />
  </div>
</div>

<% if @shared_registrants.count > 0 %>
  <div>The Registrants list includes Registrants shared with you. See the <%= link_to "Registrant Access", user_additional_registrant_accesses_path(@user) %> page for details.
  </div>
<% end %>
<%= render :partial => "registrants_list", :locals => {:shared_list => @shared_registrants, :my_registrants_list => @my_registrants} %>
<% if @waiver %>
  Everyone must have a signed <%= link_to 'Legal Waiver', empty_waiver_registrants_path(:format => 'pdf'), {:class => "waiver_link", :target => "_blank" } %>
<% end %>


<hr />

<p>
  Once you have created your registrations, be sure to submit payment.
</p>
<p>NOTE! - It is the <b>date of your payment that defines the registration fee</b>, NOT the registration date.</p>
<% if @waiver %>
  <%= render :partial => "/registrants/waiver" %>
<% end %>
<p>
Registering takes about 15 minutes.<br />
After you have finished your registration, you are still able to change your event data.<br />
In order to schedule events properly, On-Site registration will not offer all of the events/items that pre-registration allows.<br />
</p>
