<h1>Registration</h1>

<div class="registration_sign_up">
  <%= link_to 'Competitor', new_registrant_path, :class => "competitor registration_button" %>
  <%= link_to 'Non-Competitor', new_registrant_path, :class => "noncompetitor registration_button", data: {confirm: 'Not yet implemented'} %>
</div>

<br />
<br />


<% unless @registrants.empty? %>
  <fieldset class="registrations_box">
    <legend>Registrations</legend>
      <% @registrants.each do |registrant| %>
        <div>
          <%= link_to registrant.name, registrant, :class =>  "registrant " + (registrant.competitor ? "competitor" : "noncompetitor") %>
          (<%= link_to 'edit', edit_registrant_path(registrant) %>)
          <span class="fee"><%= registrant.registration_cost %></span>
          <% if registrant.amount_owing > 0 %>
            <img src="/images/incomplete.png" class="status_image" title="not yet paid">
          <% else %>
            <img src="/images/paid.png" class="status_image" title="paid">
          <% end %>
        </div>
      <% end %>
  </fieldset>
<% end %>

<% if @total_owing > 0 %>
  <div>
    <div class="registrations_box">
      <div class="payment_process">
        <%= link_to "Pay Now ($" +  @total_owing.to_s + ")", new_payment_path, :class => "payment_link" %>
      </div>
      <div>
        Prices Increase March 1st
      </div>
    </div>
  </div>
<% end %>
