%h1.event_title
  = @config.short_name
  = t(".registration")
= render "additional_registrant_access_banners"

- if EventConfiguration.under_construction?
  = render "reg_under_construction"
- elsif EventConfiguration.closed?
  = render "reg_closed_banner"

- if policy(@registrant).create? # until registration is closed
  - if @config.additional_info?
    .sign_up_difference
      = link_to t(".whats_the_difference"), additional_information_url(@config, I18n.locale, "comp_noncomp"), class: "fancybox", title: t(".difference_tooltip")
  = render "registrant_choices"
- if @shared_registrants.count > 0
  %div
    = t(".registrants_includes_shared")
    = link_to t(".registrant_access_page_title"), user_additional_registrant_accesses_path(@user)
    = t(".link_end")

= render :partial => "registrants_list", :locals => {:shared_list => @shared_registrants, :my_registrants_list => @my_registrants}
= render partial: "waiver_blank"
- if @config.online_payment?
  %hr
  %p
    = t(".be_sure_to_submit_payment")
  %p= t(".note_date_of_payment_html")
  = render :partial => "waiver"
  %p
    = t(".registration_time")
    %br
    = t(".can_change_events")
    %br
    = t(".onsite_restricted_events")
    %br
