<h1>Registration</h1>

<h2>Welcome to the <%= EventConfiguration.long_name %> Registration Site.</h2>

<div style="text-align: left">
  From this page, you can:
  <ul>
    <li>create new Registrations
    <ul>
      <li>Sign Up for events</li>
      <% ExpenseGroup.all.each do |eg| %>
        <li>Choose <%= eg %></li>
      <% end %>
      <li>Pay for Registrations</li>
      <li>and more.</li>
    </ul>
    </li>
  </ul>
</div>
<p>
  Once you have created your registrations, be sure to submit payment.
</p>
<p>NOTE! - It is the <b>date of your payment that defines the registration fee</b>, NOT the registration date.</p>
<%= render :partial => "/registrants/waiver" %>

<p>
Registering takes about 15 minutes.<br />
After you have finished your registration, you are still able to change your data.<br />
In order to schedule events properly, On-Site registration will not offer all of the events/items that pre-registration allows.<br />
</p>

<% if mixpanel? %>
  <script type="text/javascript">
    mixpanel.track("Main Registration Landing Page Loaded")
  </script>
<% end %>

<%= render :partial => "/registrants/links" %>
<%= render :partial => "registration_periods/list", :locals => {:competitor => true } %>
<%= render :partial => "registration_periods/list", :locals => {:competitor => false } %>

<% unless @registrants.empty? %>
  <div>
    <fieldset class="registrations_box">
      <legend>My Registrations</legend>
      <table class="registrant_summary">
        <% @registrants.each do |registrant| %>
          <tr>
            <td>
              <%= link_to registrant.name, registrant, :class =>  (registrant.competitor ? "competitor_link" : "noncompetitor_link") %>
            </td>
            <td>
              <span class="fee"><%= fcost(registrant.expenses_total) %></span>
            </td>
            <td>
              <%= link_to 'Edit', edit_registrant_path(registrant), :class => "registrant_edit_button " + (registrant.competitor ? "competitor" : "noncompetitor" ) %>
              <%= link_to 'See Summary', registrant_path(registrant), :class => "registrant_edit_button " + (registrant.competitor ? "competitor" : "noncompetitor" ) %>
            </td>
            <td>
              <% if registrant.amount_owing > 0 %>
                <span class="unpaid"><span class="fee"><%= fcost(registrant.amount_owing) %></span> Unpaid</span>
              <% else %>
                <span class="paid">Paid</span>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="2">Total Amount Owing:</td>
          <td><span class="fee"><%= fcost(@total_owing) %></span></td>
        </tr>
      </table>
    </fieldset>
  <% end %>
  <% if @total_owing > 0 %>
    <%= render :partial => "/registrants/pay_now", :locals => {:total_owing => @total_owing } %>
  <% end %>
</div>

