%h1.event_title
  = @config.short_name
  = t(".registration")
= render "additional_registrant_access_banners"

= render "reg_closed_banner" if EventConfiguration.closed?

- if can? :create, Registrant # until registration is closed
  - if @config.comp_noncomp_url?
    .sign_up_difference
      = link_to t(".whats_the_difference"), @config.comp_noncomp_url, :class => "fancybox", :title =>"Click here for more information!"
  = render "registrant_choices"
= render "/event_configurations/rulebook_link"
- if @shared_registrants.count > 0
  %div
    The Registrants list includes Registrants shared with you. See the
    = link_to "Registrant Access", user_additional_registrant_accesses_path(@user)
    page for details.
= render :partial => "registrants_list", :locals => {:shared_list => @shared_registrants, :my_registrants_list => @my_registrants}
- if @has_print_waiver
  Everyone must have a signed
  = link_to 'Legal Waiver', empty_waiver_registrants_path(:format => 'pdf'), {:class => "print_waiver_link", :target => "_blank" }
%hr
%p
  = t(".be_sure_to_submit_payment")
%p= t(".note_date_of_payment_html")
- if @has_print_waiver
  = render :partial => "/registrants/waiver"
%p
  = t(".registration_time")
  %br
  = t(".can_change_events")
  %br
  = t(".onsite_restricted_events")
  %br
