.non_printable
  - if can? :bag_labels, Registrant
    = link_to 'Bag Labels PDF', bag_labels_registrants_path
  = link_to '(pdf)', registrants_path(:format => :pdf)
  - if can? :show_all, Registrant
    = link_to "All Registrants Summaries (pdf)", show_all_registrants_path(:format => :pdf)

%h1 Edit Registrants
- unless @registrant.nil?
  = render :partial => "/shared/error_messages", :object => @registrant

%table.sortable.searchable
  %thead
    %tr
      %th ID
      %th Last Name
      %th First Name
      %th Age
      %th Gender
      - if @config.usa?
        %th State
      - else
        %th Country
      %th.non_printable Summary
      %th.non_printable Edit
      %th.non_printable Deleted?
      %th.non_printable User
  %tbody
    // # includes 'current_user' because of the 'can? :reg_fee' Call
    - cache ['index_all.registrant', I18n.locale, Registrant, current_user, @config ] do
      - @registrants.each do |registrant|
        %tr
          %td= registrant.bib_number
          %td= registrant.last_name
          %td= registrant.first_name
          %td= registrant.age
          %td= registrant.gender
          - if @config.usa?
            %td= registrant.state
          - else
            %td= registrant.country
          %td.non_printable
            = link_to "Summary", registrant_path(registrant)
            = link_to "(pdf)", registrant_path(registrant, :format => :pdf)
          %td.non_printable
            - if can? :edit, registrant
              = link_to "Events", edit_registrant_path(registrant)
              = link_to "Items", registrant_registrant_expense_items_path(registrant)
            - if can? :reg_fee, registrant
              = link_to "Reg Fee", reg_fee_registrant_path(registrant)
          %td.non_printable
            - if registrant.deleted
              = link_to_if( can?(:undelete, registrant), 'Undelete', undelete_registrant_path(registrant), :method => :post)
          %td.non_printable= registrant.user
