<h1><%= EventConfiguration.short_name %> Registration</h1>

<% if mixpanel? %>
  <script type="text/javascript">
    mixpanel.track("Main Registration Landing Page Loaded")
  </script>
<% end %>

<% if EventConfiguration.closed? %>
  <div class="registration_closed">
    <h2>Online Registration is now closed</h2>
    You cannot make any more changes to your registration details.<br />
    If you have any outstanding payments, you may be able to continue this registration on-site (at the discretion of the event-organizers)
  </div>
<% end %>
<div>
  <div class="competitor_sign_up">
    <% if can? :create, Registrant %>
      <%= link_to 'Create New Competitor', new_registrant_path, :class => "competitor registration_button" %>
    <% end %>
  </div><div class="non-competitor_sign_up">
    <% if can? :new_noncompetitor, Registrant %>
      <%= link_to 'Create New Non-Competitor', new_noncompetitor_registrants_path, :class => "noncompetitor registration_button" %>
    <% end %>
  </div>
  <% unless EventConfiguration.comp_noncomp_url.nil? %>
    <div class="sign_up_difference">
      <%= link_to "What's the difference?", EventConfiguration.comp_noncomp_url, :class => "", :title =>"Click here for more information!", :target => "_blank" %>
    </div>
  <% end %>
  <div class="competitor_sign_up">
    <%= render :partial => "registration_periods/list", :locals => {:competitor => true } %><br /><br />
  </div><div class="non-competitor_sign_up">
  <%= render :partial => "registration_periods/list", :locals => {:competitor => false } %><br /><br />
  </div>
</div>

<%= render :partial => "registrant_list", :object => @my_registrants, :locals => { :list_name => "My"} %>
<%= render :partial => "registrant_list", :object => @shared_registrants, :locals => { :list_name => "Shared"} %>

<hr />

<p>
  Once you have created your registrations, be sure to submit payment.
</p>
<p>NOTE! - It is the <b>date of your payment that defines the registration fee</b>, NOT the registration date.</p>
<%= render :partial => "/registrants/waiver" %>

<p>
Registering takes about 15 minutes.<br />
After you have finished your registration, you are still able to change your data.<br />
In order to schedule events properly, On-Site registration will not offer all of the events/items that pre-registration allows.<br />
</p>
