<h1><%= EventConfiguration.short_name %> Registration</h1>

<% if mixpanel? %>
  <script type="text/javascript">
    mixpanel.track("Main Registration Landing Page Loaded")
  </script>
<% end %>

<% if EventConfiguration.closed? %>
  <div class="registration_closed">
    <h2>Online Registration is now closed</h2>
    You cannot make any more changes to your registration details.<br />
    If you have any outstanding payments, you may be able to continue this registration on-site (at the discretion of the event-organizers)
  </div>
<% end %>
<div>
  <div class="competitor_sign_up">
    <% if can? :create, Registrant %>
      <%= link_to 'Create New Competitor', new_registrant_path, :class => "competitor registration_button" %>
    <% end %>
    <br /><br />
    <%= render :partial => "registration_periods/list", :locals => {:competitor => true } %><br /><br />
  </div><div class="non-competitor_sign_up">
    <% if can? :new_noncompetitor, Registrant %>
      <%= link_to 'Create New Non-Competitor', new_noncompetitor_registrants_path, :class => "noncompetitor registration_button" %>
    <% end %>
    <br /><br />
  <%= render :partial => "registration_periods/list", :locals => {:competitor => false } %><br /><br />
  </div>
</div>

<% unless @registrants.empty? %>
<hr />
  <div>
    <fieldset class="registrations_box">
      <legend>My Registrations</legend>
      <table class="registrant_summary">
        <% @registrants.each do |registrant| %>
          <tr>
            <td>
              <%= link_to registrant.name, registrant, :class =>  (registrant.competitor ? "competitor_link" : "noncompetitor_link") %>
            </td>
            <td>
              <span class="fee"><%= fcost(registrant.expenses_total) %></span>
            </td>
            <td>
              <% if can? :update, registrant %>
                <%= link_to 'Edit', edit_registrant_path(registrant), :class => "registrant_edit_button " + (registrant.competitor ? "competitor" : "noncompetitor" ) %>
              <% end %>
              <%= link_to 'See Summary', registrant_path(registrant), :class => "registrant_edit_button " + (registrant.competitor ? "competitor" : "noncompetitor" ) %>
              <%= link_to 'Legal Waiver', waiver_registrant_path(registrant, :format => 'pdf'), {:class => "waiver_link", :target => "_blank" } %>
            </td>
            <td>
              <% if registrant.amount_owing > 0 %>
                <span class="unpaid"><span class="fee"><%= fcost(registrant.amount_owing) %></span> Unpaid</span>
              <% else %>
                <span class="paid">Paid</span>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="2">Total Amount Owing:</td>
          <td><span class="fee"><%= fcost(@total_owing) %></span></td>
        </tr>
      </table>
    </fieldset>
  </div>
<% end %>
<% if @total_owing > 0 %>
  <%= render :partial => "/registrants/pay_now", :locals => {:total_owing => @total_owing } %>
<% end %>


<hr />

<p>
  Once you have created your registrations, be sure to submit payment.
</p>
<p>NOTE! - It is the <b>date of your payment that defines the registration fee</b>, NOT the registration date.</p>
<%= render :partial => "/registrants/waiver" %>

<p>
Registering takes about 15 minutes.<br />
After you have finished your registration, you are still able to change your data.<br />
In order to schedule events properly, On-Site registration will not offer all of the events/items that pre-registration allows.<br />
</p>
