<h1>Items</h1>
<% if mixpanel? %>
  <script type="text/javascript">
    mixpanel.track("Items Page Loaded")
  </script>
<% end %>

<h2><%= @registrant %></h2>

<%= render :partial => "new_expenses" %>
<%= form_for(@registrant, :url => update_items_registrant_path(@registrant)) do |f| %>
  <% if @registrant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registrant.errors.count, "error") %> prohibited this registrant from being saved:</h2>

      <ul>
      <% @registrant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= render :partial => "expenses", :locals => {:registrant => @registrant} %>
  </div>

  <div class="actions">
    <% if @registrant.competitor %>
      <%= f.submit 'Save + Continue', :class => "competitor registration_button" %>
    <% else %>
      <%= f.submit 'Save + Continue', :class => "noncompetitor registration_button" %>
    <% end %>
  </div>
<% end %>
