<h1>Items</h1>
<% if mixpanel? %>
  <script type="text/javascript">
    mixpanel.track("Items Page Loaded")
  </script>
<% end %>

<h2><%= @registrant %></h2>
<% unless @registrant_expense_item.nil? %>
  <%= render :partial => "/shared/error_messages", :object => @registrant_expense_item %>
<% end %>

<%= render :partial => "/registrants/new_expenses" %>

<div>
  <%= render :partial => "/registrants/expenses", :locals => {:registrant => @registrant} %>
</div>

<div class="actions">
  <% if @registrant.competitor %>
    <%= link_to t(".continue"), registrant_path(@registrant), :class => "competitor registration_button" %>
  <% else %>
    <%= link_to t(".continue"), registrant_path(@registrant), :class => "noncompetitor registration_button" %>
  <% end %>
</div>
<%= link_to t('back'), edit_registrant_path(@registrant) %>
