<h1>Registration Fee</h1>
<h2><%= @registrant %></h2>

<p>This form allows you to specify the registration period to be set for this registrant.<br />
<b>NOTE:</b> The registration period selected will be "Locked", and will not automatically increase as the dates go by<br />
<b>NOTE:</b> There is currently no way to "unlock" an item.
</p>

<% if @registrant.reg_paid? %>
  <h3 class="reg_already_paid">Unable to change reg fee after registrant has paid</h3>
<% else %>
  <%= form_tag(update_reg_fee_registrant_path(@registrant), {:method => :put}) do %>
    <%= @registrant %>'s Current Registration Item: <b><%= @registrant.registration_item %></b><br />
    <br />
    <%= label_tag :registration_period_id, "New Registration Period" %>
    <%= select_tag :registration_period_id, options_from_collection_for_select(RegistrationPeriod.all, "id", "name") %>
    <%= submit_tag "Change Registration Period" %>
  <% end %>
<% end %>
