%h1 #{@registrant} Results

// Note: this isn't working nicely yet because some events have "overall" results which are not Overall results.
%table
  %thead
    %tr
      %th{colspan: 2} Competition
      %th Place
      %th Status
      %th Detail
  %tbody
    - @results.each do |result|
      %tr
        %td= result.competition
        %td= result.category_description
        %td= result.place
        %td= result.status
        %td
          - if result.competitor.members.count > 1
            = result.competitor.to_s
            %br
          = result.competitor.result
