<h1>Registration Summary</h1>

<div>
    <div class="data_block">
    <%= render :partial => "summary" %>
    <div style="text-align: center">
      <%= link_to 'Edit Registration', edit_registrant_path(@registrant) %>
    </div>
    </div>
  <div class="data_block">
    <%= render :partial => "registrant_expenses" %>
    <div style="text-align: center">
      <%= link_to 'Edit Items', items_registrant_path(@registrant) %>
    </div>
  </div>
</div>
<%= render :partial => "/registrants/waiver" %>
<%= link_to 'Print Legal Waiver', waiver_registrant_path(@registrant, :format => 'pdf'), {:class => "waiver_link", :target => "_blank" } %>
<div>
  <% if @registrant.competitor %>
    <%= render :partial => "registrant_events" %>

    <%= link_to 'Edit Details/Events', edit_registrant_path(@registrant) %>
  <% else %>
    <%= link_to 'Edit Details', edit_registrant_path(@registrant) %>
  <% end %>
</div>
<hr />

<div>
  <div class="data_block">
    <%= render :partial => "/registrants/pay_now" %>
  </div>
  <div class="data_block">
    <%= link_to 'Show My Registrations', registrants_path %>
  </div>
</div>
