<h1>Registration Summary</h1>

<div>
  <fieldset class="data_block">
    <legend>Registration Summary</legend>
    <div>
      <b>Name:</b>
      <%= @registrant.first_name %>
      <%= @registrant.middle_initial %>
      <%= @registrant.last_name %>
    </div>
    <div>
      <b>Gender:</b>
      <%= @registrant.gender %>
      <b>Birthday:</b>
      <%= @registrant.birthday.strftime("%d-%b-%Y") %>
    </div>
    <div>
      <b>Address:</b>
      <%= @registrant.address_line_1 %><br />
      <%= @registrant.address_line_2 %><br />
      <%= @registrant.city %>
      <%= @registrant.state %>
      <%= @registrant.country %>
      <%= @registrant.zip_code %>
    </div>
    <div>
      <b>Phone:</b>
      <%= @registrant.phone %>
    </div>

    <div>
      <b>Mobile:</b>
      <%= @registrant.mobile %>
    </div>

    <div>
      <b>Email:</b>
      <%= @registrant.email %>
    </div>
  </fieldset>
</div>

<div>
  <h3>Events</h3>
  <div class="data_block">
    <% Category.all.each do |cat| %>
      <% if @registrant.has_event_in_category?(cat) %>
        <fieldset class="data_block">
          <legend><%= cat %></legend>
          <ul>
            <% cat.events.each do |event| %>
              <% if @registrant.has_event?(event) %>
                <li><%= @registrant.describe_event(event) %></li>
              <% end %>
            <% end %>
          </ul>
        </fieldset>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <%= link_to 'Edit this registration', edit_registrant_path(@registrant) %> |
  <%= link_to 'Show all my registrations', registrants_path %>
</div>

<hr />
<%= render :partial => "/registrants/links" %>

<%= render :partial => "/registrants/pay_now" %>
