<h1>Registration Summary</h1>

<div>
  <%= render :partial => "summary" %>
  <div class="data_block">
    <%= render :partial => "registrant_expenses" %>
    <div style="text-align: center">
      <%= link_to 'Edit Items', items_registrant_path(@registrant) %>
    </div>
  </div>
</div>
<%= render :partial => "/registrants/waiver" %>
<div>
  <%= render :partial => "registrant_events" %>

  <%= link_to 'Edit Details/Events', edit_registrant_path(@registrant) %>
</div>
<hr />

<div>
  <div class="data_block">
    <%= render :partial => "/registrants/pay_now" %>
  </div>
  <div class="data_block">
    <%= link_to 'Show My Registrations', registrants_path %>
  </div>
</div>
