<fieldset class="data_block">
  <legend>Registration Summary</legend>
  <div>
    <b>Name:</b>
    <%= @registrant.first_name %>
    <%= @registrant.middle_initial %>
    <%= @registrant.last_name %>
  </div>
  <div>
    <b>Gender:</b>
    <%= @registrant.gender %>
    <b>Birthday:</b>
    <%= @registrant.birthday %>
  </div>
  <div>
    <b>Address:</b>
    <%= @registrant.address_line_1 %><br />
    <%= @registrant.address_line_2 %><br />
    <%= @registrant.city %>
    <%= @registrant.state %>
    <%= @registrant.country %>
    <%= @registrant.zip_code %>
  </div>
  <div>
    <b>Phone:</b>
    <%= @registrant.phone %>
  </div>

  <div>
    <b>Mobile:</b>
    <%= @registrant.mobile %>
  </div>

  <div>
    <b>Email:</b>
    <%= @registrant.email %>
  </div>
</fieldset>

<% x = RegistrantChoicesFacade.new(@registrant) %>
<fieldset class="data_block">
  <legend>Events</legend>
  <% Category.all.each do |cat| %>
    <% if @registrant.categories.all.include?(cat) %>
      <fieldset>
        <legend><%= cat %></legend>
        <ul>
          <% cat.events.each do |event| %>
            <% if x.has_event?(event) %>
              <li><%= x.describe_event(event) %></li>
            <% end %>
          <% end %>
        </ul>
      </fieldset>
    <% end %>
  <% end %>
</fieldset>

<hr />
<%= link_to 'Edit', edit_registrant_path(@registrant) %> |
<%= link_to 'Back', registrants_path %>
