<h1>Registration Summary</h1>

<div>
  <fieldset class="data_block">
    <legend>Registration Summary</legend>
    <div>
      <b>Name:</b>
      <%= @registrant.first_name %>
      <%= @registrant.middle_initial %>
      <%= @registrant.last_name %>
    </div>
    <div>
      <b>Gender:</b>
      <%= @registrant.gender %>
      <b>Birthday:</b>
      <%= @registrant.birthday.strftime("%d-%b-%Y") %>
    </div>
    <div>
      <b>Address:</b>
      <%= @registrant.address_line_1 %><br />
      <%= @registrant.address_line_2 %><br />
      <%= @registrant.city %>
      <%= @registrant.state %>
      <%= @registrant.country %>
      <%= @registrant.zip_code %>
    </div>
    <div>
      <b>Phone:</b>
      <%= @registrant.phone %>
    </div>

    <div>
      <b>Mobile:</b>
      <%= @registrant.mobile %>
    </div>

    <div>
      <b>Email:</b>
      <%= @registrant.email %>
    </div>
  </fieldset>
  <%= render :partial => "registrant_events" %>

  <%= link_to 'Edit Details/Events', edit_registrant_path(@registrant) %>
  <hr />

  <%= render :partial => "registrant_expenses" %>
  <div>
    <%= link_to 'Edit Items', items_registrant_path(@registrant) %>
  </div>

  <hr />

<div>
  <div class="data_block">
    <%= render :partial => "/registrants/pay_now" %>
  </div>
  <div class="data_block">
    <%= link_to 'Show My Registrations', registrants_path %>
  </div>
</div>
