= form_for(@expense_group) do |f|
  = render partial: "/shared/error_messages", object: @expense_group
  .field
    - languages.each do |lang|
      = f.globalize_fields_for lang do |g|
        = g.label :group_name
        (
        %b= long_language_name(lang)
        )
        %br
        = g.text_field :group_name
        %br
    = f.label :info_url
    = f.url_field :info_url
    %br
    = f.label :visible
    = f.check_box :visible
    %br
    = f.label :admin_visible
    = f.check_box :admin_visible
    Allows admin to add this item to a registrant, even though they cannot
    %br
    = f.label :position
    = f.number_field :position
    %br
    = f.label :competitor_free_options
    = f.select :competitor_free_options, ExpenseGroup.free_options, :include_blank => true
    %br
    = f.label :noncompetitor_free_options
    = f.select :noncompetitor_free_options, ExpenseGroup.free_options, :include_blank => true
    %br
    = f.label :competitor_required
    = f.check_box :competitor_required
    An element of this expense group MUST be selected by the registrant (if there is only 1 item in the group, it will automatically be chosen)
    %br
    = f.label :noncompetitor_required
    = f.check_box :noncompetitor_required
    An element of this expense group MUST be selected by the registrant (if there is only 1 item in the group, it will automatically be chosen)
    .actions
    = f.submit
