<%= form_for(@expense_group) do |f| %>
  <% if @expense_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense_group.errors.count, "error") %> prohibited this expense_group from being saved:</h2>

      <ul>
      <% @expense_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_name %>
    <%= f.text_field :group_name %>
    <br />
    <%= f.label :info_url %>
    <%= f.url_field :info_url %>
    <br />
    <%= f.label :visible %>
    <%= f.check_box :visible %>
    <br />
    <%= f.label :position %>
    <%= f.number_field :position %>
    <br />
    <%= f.label :competitor_free_options %>
    <%= f.select :competitor_free_options, ExpenseGroup.free_options, :include_blank => true %>
    <br />
    <%= f.label :noncompetitor_free_options %>
    <%= f.select :noncompetitor_free_options, ExpenseGroup.free_options, :include_blank => true %>
    <br />
    <%= f.label :competitor_required %>
    <%= f.check_box :competitor_required %>
    An element of this expense group MUST be selected by the registrant (if there is only 1 item in the group, it will automatically be chosen)
    <br />
    <%= f.label :noncompetitor_required %>
    <%= f.check_box :noncompetitor_required %>
    An element of this expense group MUST be selected by the registrant (if there is only 1 item in the group, it will automatically be chosen)
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
