%h1 Listing expense_groups
%table.alternate
  %tr
    %th Group name
    %th Info Url
    %th Visible
    %th Admin-Visible
    %th Position
    %th Competitor Free Options
    %th Non-Competitor Free Options
    %th Competitor Required
    %th Non-Competitor Required
    %th
    %th
    %th
  - @expense_groups.each do |expense_group|
    %tr
      %td= expense_group.group_name
      %td= expense_group.info_url
      %td= expense_group.visible
      %td= expense_group.admin_visible
      %td= expense_group.position
      %td= expense_group.competitor_free_options
      %td= expense_group.noncompetitor_free_options
      %td= expense_group.competitor_required
      %td= expense_group.noncompetitor_required
      %td= link_to 'Show', expense_group
      %td= link_to 'Edit', edit_expense_group_path(expense_group)
      %td= link_to 'Delete', expense_group, method: :delete, data: { confirm: 'Are you sure?' }
%br/
%h2 New expense_group
= render 'form'
