<p>
  <b>Group name:</b>
  <%= @expense_group.group_name %>
</p>

<p>
  <b>Info URL:</b>
  <%= @expense_group.info_url %>
</p>

<p>
  <b>Visible:</b>
  <%= @expense_group.visible %>
</p>

<p>
  <b>Position:</b>
  <%= @expense_group.position %>
</p>


<%= link_to 'Edit', edit_expense_group_path(@expense_group) %> |
<%= link_to 'Back', expense_groups_path %>
