%h2= t(".title")
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  %div
    = f.label :password, t(".password_label")
    %br/
    = f.password_field :password
  %div
    = f.label :password_confirmation, t(".password_confirmation_label")
    %br/
    = f.password_field :password_confirmation
  %div= f.submit t(".action"), :class => "focus_button"
= render "devise/shared/links"
