%h1= t(".header")

%p= t(".instructions")

%h2= t(".events_by_category")
%table
  %thead
    %tr
      %th= Category.model_name.human
      %th= Event.model_name.human
      %th= t(".directors")
      %th= Competition.model_name.human(count: 2)
      %th
  %tbody
    - @categories.each do |category|
      - category.events.each do |event|
        %tr
          %td= category
          %td= event
          %td
            %ul.categoryList__eventList
              - event.directors.each do |director|
                %li= director
          %td
            %ul.categoryList__eventList
              - event.competitions.each do |competition|
                %li= link_to competition, competition
          %td
            %ul.categoryList__eventList
              - if policy(Competition.new).create?
                %li= link_to t(".new_competition"), event_competition_choices_path(event)
