= simple_form_for([:convention_setup, @event_category_grouping_entry]) do |f|
  = render partial: "shared/error_messages", object: @event_category_grouping_entry

  - # If a BLANK is selected, we will create a new event_category_grouping
  = f.input :event_category_grouping_id, collection: @event_category_groupings, include_blank: true, hint: "If you don't select one, a new group will be created"

  = f.input :event_category_id, collection: @event_categories, label_method: :to_s, include_blank: true

  = f.button :submit
