%fieldset.form__fieldset
  = simple_form_for([@competition, @wave_time]) do |f|
    = render partial: "shared/error_messages", object: @wave_time

    = f.input :scheduled_time
    = f.input :wave
    .row
      .small-6.columns
        = f.input :minutes, input_html: {min: 0}
      .small-6.columns
        = f.input :seconds, input_html: {min: 0}

    = f.button :submit
