- if !competitor.new_record?
  %tr
    %td= competitor.position
    %td= competitor.bib_number
    %td= competitor.name
    %td
      - score = competitor.standard_skill_scores.where(judge: @judge).first
      - if score.present?
        = link_to 'score', edit_judge_competitor_standard_skill_score_path(@judge, competitor, score)
      - else
        = link_to 'score', new_judge_competitor_standard_skill_score_path(@judge, competitor)
