  <div class="field">
    <%= f.label :short_description %><br />
    <%= f.text_field :short_description %>
  </div>
  <div class="field">
    <%= f.label :long_description %><br />
    <%= f.text_field :long_description %>
  </div>
  <div class="field">
    <%= f.label :start_age %><br />
    <%= f.number_field :start_age %>
  </div>
  <div class="field">
    <%= f.label :end_age %><br />
    <%= f.number_field :end_age %>
  </div>
  <div class="field">
    <%= f.label :wheel_size_id, 'Required Wheel Size' %><br />
    <%= f.select :wheel_size_id, WheelSize.all.map { |ws| [ws.description, ws.id] }, :include_blank => true  %><br />
    Specify "blank" to ignore the competitor's specified wheel size.
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, ['Male', 'Female', 'Mixed'] %>
  </div>
