<%= form_for(@age_group_type) do |f| %>
  <% if @age_group_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@age_group_type.errors.count, "error") %> prohibited this age group type from being saved:</h2>

      <ul>
        <% @age_group_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
      <%= f.text_field :name, :autofocus => "true" %>
      <table class="items sortable">
        <caption>Entries</caption>
        <thead>
          <tr>
            <th>Description</th>
            <th>Start Age</th>
            <th>End Age</th>
            <th>Required Wheel Size (optional)</th>
            <th>Gender</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

        <%= f.nested_fields_for :age_group_entries, render_template: false do |member_f| %>
          <tr class="item">
            <%= render partial: "age_group_entry", locals: {f: member_f} %>

            <td>
              <a href="#" class="remove">remove</a>
              <%= member_f.hidden_field :id %>
              <%= member_f.hidden_field :_destroy %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <a href="#" class="add">add entry</a><br />
      <%= nested_fields_templates %>
      <%= f.submit %>
  </div>
<% end %>
