<%= form_for(@age_group_type) do |f| %>
  <% if @age_group_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@age_group_type.errors.count, "error") %> prohibited this age group type from being saved:</h2>

      <ul>
        <% @age_group_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
      <%= f.text_field :name, :autofocus => "true" %>
      <div class="items">
        <%= f.nested_fields_for :age_group_entries do |member_f| %>
         <fieldset class="item">
          <%= render partial: "age_group_entry", locals: {f: member_f} %>

          <a href="#" class="remove">remove</a>

          <%= member_f.hidden_field :id %>
          <%= member_f.hidden_field :_destroy %>
        </fieldset>
    <% end %>
  </div>
  <a href="#" class="add">add entry</a>
        <%= f.submit %>
  </div>
<% end %>
