<h1>Listing <%= @age_group_type %> Age Group Entries</h1>

<table>
  <tr>
    <th>Short description</th>
    <th>Long description</th>
    <th>Start age</th>
    <th>End age</th>
    <th>Wheel Size</th>
    <th>Gender</th>
  </tr>

<% @age_group_type.age_group_entries.each do |age_group_entry| %>
  <tr>
    <td><%= age_group_entry.short_description %></td>
    <td><%= age_group_entry.long_description %></td>
    <td><%= age_group_entry.start_age %></td>
    <td><%= age_group_entry.end_age %></td>
    <td><%= age_group_entry.wheel_size %></td>
    <td><%= age_group_entry.gender %></td>
  </tr>
<% end %>
</table>

