- cache_i18n ['director_events', current_user, Competition] do
  - unless @director_events.empty?
    %h1 My Event Director Events

    %table
      %thead
        %tr
          %th Event
          %th Competition
      %tbody
        - @director_events.each do |event|
          - event.competitions.each do |competition|
            %tr
              %td= event
              %td= link_to "Manage #{competition}", competition, class: "button #{competition.locked? ? 'secondary' : nil}"
    %hr

- unless @judges.empty?
  %h1 My Judging Events

  %table
    %thead
      %tr
        %th Enter Judging Scores for
    %tbody
      - @judges.each do |judge|
        %tr
          - if judge.competition.locked?
            %td= scoring_link(judge, class: 'locked_competition_action')
          - else
            %td= scoring_link(judge, class: 'action_button')
  %hr

%h1 Data Entry Menu

.data_entry_choices
  Please choose the event that you want to enter data for:

  %table.sortable
    %thead
      %tr
        %th Competition End
        %th Category
        %th Event
        %th Competition
        %th Start Line Data Entry
        %th Finish Line Data Entry
        %th Locked?
        %th Published?
        - if policy(current_user).under_development?
          %th Status
    %tbody
      - cache_i18n [Competition, current_user] do
        -# Competition.limit(10).each do |competition|
        - Competition.with_roles(User::POSSIBLE_DATA_VOLUNTEERS, current_user).distinct.find_each(batch_size: 10) do |competition|
          - cache_i18n [competition] do
            %tr
              %td= competition.end_time_to_s
              %td= competition.event.category
              %td= competition.event
              %td= competition
              %td
                = render "competitions/start_line_data_entry_links", competition: competition
              %td
                = render "competitions/finish_line_data_entry_links", competition: competition
              %td= competition.locked?
              %td= competition.published?
              - if policy(current_user).under_development?
                - competition_presenter = CompetitionPresenter.new(competition)
                %td{ class: competition_presenter.status_code}= competition_presenter.status
  %p
    If you don't see the event that you need, please contact an administrator (or use the "Help" menu to send me an e-mail).
