- cache ['director_events', I18n.locale, current_user, Competition] do
  - unless @director_events.empty?
    %h1 My Event Director Events

    %table
      %thead
        %tr
          %th Event
          %th Competition
      %tbody
        - @director_events.each do |event|
          - event.competitions.each do |competition|
            %tr
              %td= event
              %td= link_to "Manage #{competition}", competition, class: 'action_button'
    %hr

- unless @judges.empty?
  %h1 My Judging Events

  %table
    %thead
      %tr
        %th Enter Judging Scores for
    %tbody
      - @judges.each do |judge|
        %tr
          - if judge.competition.locked?
            %td= scoring_link(judge, class: 'locked_competition_action')
          - else
            %td= scoring_link(judge, class: 'action_button')
  %hr

%h1 Data Entry Menu

- if @judges.any?
  // hide the data entry by default
  .js--hiddenToggleMenu.action_button Show Data Entry Menu

- if can? :judging_menu, :welcome
  %p
    %a= link_to "(old link )", welcome_judging_menu_path

.data_entry_choices{ class: @judges.any? ? 'js--hiddenToggle' : '' }
  Please choose the event that you want to enter data for:

  %table.sortable
    %thead
      %tr
        %th Competition End
        %th Category
        %th Event
        %th Competition
        %th Status
    %tbody
      - cache [Competition] do
        - Competition.all.each do |competition|
          - cache [competition] do
            %tr
              %td= competition.end_time_to_s
              %td= competition.event.category
              %td= competition.event
              %td= link_to competition.name, competition
              - competition_presenter = CompetitionPresenter.new(competition)
              %td{ class: competition_presenter.status_code}= competition_presenter.status
  %p
    If you don't see the event that you need, please contact an administrator (or use the "Help" menu to send me an e-mail).
