- unless @director_events.empty?
  %h1 My Event Director Events

  %table
    %thead
      %tr
        %th Event
        %th Competition
    %tbody
      - @director_events.each do |event|
        - event.competitions.each do |competition|
          %tr
            %td= event
            %td= link_to competition, competition
  %hr

- unless @judges.empty?
  %h1 My Judging Events

  %table
    %thead
      %tr
        %th Event
        %th Locked?
    %tbody
      - @judges.each do |judge|
        %tr
          %td= scoring_link(judge)
          %Td= judge.competition.locked?
  %hr

%h1 Data Entry Menu

- if can? :judging_menu, :welcome
  %p
    %a= link_to "(old link )", welcome_judging_menu_path

Please choose the event that you want to enter data for:

%h1 Results Summary
%table.sortable
  %thead
    %tr
      %th Competition End
      %th Category
      %th Event
      %th Competition
      %th Status
  %tbody
    - Competition.all.each do |competition|
      %tr
        %td= competition.scheduled_completion_at
        %td= competition.event.category
        %td= competition.event
        %td= link_to competition.name, competition
        - competition_presenter = CompetitionPresenter.new(competition)
        %td{ class: competition_presenter.status_code}= competition_presenter.status

%p
  If you don't see the event that you need, please contact an administrator (or use the "Help" menu to send me an e-mail).
