- cache_i18n [:help_headers] do
  %h1= t('.header')
  %h2= t(".subheader", domain: @tenant.subdomain)
  %h3= t(".frequently_asked_questions")

.help_text
  %ul
    %li
      %b= t(".i_cannot_login")
      \:
      = t(".login_help")
    %li
      %b= t(".translations")
      \:
      = t(".translation_help")
    %li
      %b= t(".registration")
      \:
      = t(".registration_help")
    %li
      %b= t(".sharing_registration_details")
      \:
      = t(".sharing_registration_details_help")
      %br
      - if signed_in?
        = t(".sharing_link", link: link_to(AdditionalRegistrantAccess.model_name.human, user_additional_registrant_accesses_path(@user)) ).html_safe

= t(".general_help")
%br
= render "feedback"
