<h1>Help</h1>

<h2>This site is for the Unicycling Convention registration</h2>

<h3>FAQ</h3>
<div class="help_text">
  <ul>
    <li><b>I cannot Log in:</b>
    Once you have Signed Up, check your e-mail for a confirmation message. Check all spam filters. Choose "Resend Confirmation E-mail" if you cannot find the e-mail
    </li>
    <li><b>Translations</b>: I found a missing/mistake in a translation. Submit the translation details here in the 'feedback'.</li>
    <li><b>How do I Register:</b>
    Once you have signed in, choose "Create New Competitor" or "Creat New Non-Competitor" and fill out the fields.<br />
    Pay for the registration in order to secure your registration
    </li>
    <li><b>How to share Registration Details:</b>
    As a Team Captain or Club leader you can request access so that you can pay for other members' registrations, as well as see the events that they have signed up for<br />
    <% if signed_in? %>
      Request access to your team's registrations through the <%= link_to "Registrant Access Request", user_additional_registrant_accesses_path(@user) %> Form
    <% end %>
    </li>
  </ul>
</div>

If you have any problems or questions about registration, please contact <%= @config.contact_email %><br /><br /> or submit feedback:<br />

<h4>Feedback</h4>
<%= render :partial => "/shared/error_messages", :object => @contact_form %>
<%= form_for @contact_form, url: welcome_feedback_path do |f| %>
  <%= f.label :email, "Your Email" %>
  <%= f.text_field :email, :placeholder => "Optional" %><br />
  <%= f.text_area :feedback, {:cols => 100, :rows => 6 } %><br />
  <%= f.submit "Send Feedback", :class => "focus_button" %>
<% end %>

