%h1 My Judging Events

%ul
  - @judges.each do |judge|
    %li= scoring_link(judge)

%hr

%h1 Results Summary
%table.sortable
  %thead
    %tr
      %th Cat
      %th Event
      %th Competition
      %th #Signed up
      %th #Assigned Registrants
      %th #Competitors
      %th #Results
  %tbody
    - Competition.all.each do |competition|
      %tr
        %td= competition.event.category
        %td= competition.event
        %td= competition.name
        - reg_style = "warning" unless competition.all_registrants_are_competitors?
        %td{class: reg_style}= competition.signed_up_registrants.count
        %td{class: reg_style}= competition.num_assigned_registrants
        - style = "warning" unless competition.has_results_for_all_competitors?
        %td{class: style}= competition.num_competitors
        %td{class: style}= competition.num_results


%h2= link_to "Categories/Events", summary_events_path

%table.sortable
  %thead
    %tr
      %th Category
      %th Event
      %th Event Sign Ups
      %th Event Category Sign Ups
      %th Event Results
      %th Competitions
  %tbody
    - Event.all.each do |event|
      %tr
        %td= event.category
        %td= link_to event, event_path(event)
        %td= link_to "Sign Ups", sign_ups_event_path(event)
        %td
          - event.event_categories.each do |ecat|
            %span.minor= link_to "#{ecat} Sign Ups", sign_ups_event_category_path(ecat)
            %br
        %td= link_to "Results", results_printing_event_path(event)
        %td
          - event.competitions.each do |competition|
            = link_to competition, competition
            %br
s
