%table.sortable
  %caption
    = gender
    Competitors:
  %thead
    %tr
      - if @combined_competition.use_age_group_places?
        %th Age group
        %th Age Group Place
      - else
        %th Place
      %th ID
      %th Name
      - results.combined_competition.combined_competition_entries.each do |entry|
        %th= entry.to_s
        %th
      %th Total Points
  %tbody
    - results_competition = @combined_competition.competition
    - results_competitors = results_competition.competitors.includes(:age_group_results, :overall_results) if results_competition
    - results.results(gender).each do |result|
      %tr
        - if results_competition
          - comp = results_competitors.find{|comp| comp.lowest_member_bib_number == result[:bib_number] }
        - if @combined_competition.use_age_group_places?
          %td= comp.try(:age_group_entry_description)
          %td= comp.try(:place)
        - else
          %td= comp.try(:overall_place)
        %td= result[:bib_number]
        %td= Registrant.find_by(:bib_number => result[:bib_number])
        - results.combined_competition.combined_competition_entries.each do |entry|
          - matching_comp = result[:results][entry.abbreviation]
          - if matching_comp
            %td= matching_comp[:entry_place]
            %td= matching_comp[:entry_points].round(2)
          - else
            %td
            %td
        %th= result[:total_points].round(2)
