%h1 Competition and Result Data

%p
  Results are not guaranteed to be published quickly. We will publish them as soon as reasonable and with the permission/direction of the event organizers.

%p
  This is <b>Not</b> the official final location of results. That will be the USA or IUF organization website. Results will only be available on this site <u>During</u> the competition.

%fieldset.row
  %legend View Individual Results
  = form_tag(registrant_results_path, method: :get) do
    .row
      .small-12.medium-6.columns
        = label_tag :registrant_id, "Registrant"
        = select_tag :registrant_id, options_from_collection_for_select(Registrant.active.competitor, "id", "with_id_to_s"), include_blank: true, autofocus: true, class: 'chosen-select js--autoFocus'
      .small-12.medium-6.columns.text-left
        = submit_tag "View Results", class: "button"

%table.sortable
  %thead
    %tr
      %th Competition End
      %th Competition
      %th
      //%th Status
      %th Competitor List
      %th Start List
      %th Results
      %th Date Published
  %tbody
    - Competition.includes(:published_age_group_entries).all.each do |competition|
      - cache_i18n [competition] do
        %tr
          %td= competition.end_time_to_s
          %td= competition.award_title_name
          %td= competition.award_subtitle_name
          // competition_presenter = CompetitionPresenter.new(competition)
          //%td{ class: competition_presenter.status_code}= competition_presenter.status
          %td
            - if competition.num_competitors > 0
              = link_to "Competitor List", announcer_printing_competition_path(competition)
          %td
            - if competition.start_list?
              - if competition.start_list_present?
                = link_to "Start List", start_list_printing_competition_path(competition)
              - else
                Not yet available
          %td
            - if !competition.published? && competition.has_age_group_entry_results?
              - competition.published_age_group_entries.each do |entry|
                = link_to entry, competition_published_age_group_entry_path(competition, entry), title: "published at #{entry.published_formatted}"
                %br
            - else
              - if competition.published?
                - competition.competition_results.active.each do |result|
                  = link_to result.to_s, result.results_file_url
                  %br
          %td
            - if competition.published?
              - competition.competition_results.active.each do |result|
                = result.published_date_to_s
                %br


-#
  %h1 Overall Champions
  %table.sortable
    %thead
      %tr
        %th Championship
        %th Preliminary Results
    %tbody
      - CombinedCompetition.all.each do |combined_competition|
        %tr
          %td= combined_competition.name
          %td= link_to "Results", scores_result_path(combined_competition.competition)
