%h1 Published Results
%table.sortable
  %thead
    %tr
      %th Competition End
      %th Competition
      %th
      //%th Status
      %th Results
      %th Date Published
  %tbody
    - Competition.all.each do |competition|
      %tr
        %td= competition.end_time_to_s
        %td= competition.award_title_name
        %td= competition.award_subtitle_name
        - competition_presenter = CompetitionPresenter.new(competition)
        //%td{ class: competition_presenter.status_code}= competition_presenter.status
        %td= link_to_if(competition.published?, "Results", competition.published_results_file_url) { 'Not yet' }
        %td= competition.published_date_to_s

%p
  Results are not guaranteed to be published quickly. We will publish them as soon as reasonable and with the permission/direction of the event organizers.

%p
  This is <b>Not</b> the official final location of results. That will be the USA or IUF organization website. Results will only be available on this site <u>During</u> the competition.




%h1 Overall Champions
%table.sortable
  %thead
    %tr
      %th Championship
      %th Preliminary Results
  %tbody
    - CombinedCompetition.all.each do |combined_competition|
      %tr
        %td= combined_competition.name
        %td= link_to "Results", combined_competition_path(combined_competition)
