  <table class="event_listing">
    <tr>
      <th>Event</th>
      <th>Event-Category</th>
      <th>Sign-Ups</th>
      <th>Associated Competition</th>
    </tr>

    <% @events.each do |event| %>
      <% event.event_categories.each do |ec| %>
        <tr>
          <th><%= event.name %></th>
          <td><%= ec %></td>
          <td><%= link_to 'View Sign Up list', sign_ups_event_category_path(ec) %></td>
          <td><%= link_to "Create New", new_event_category_competition_path(ec) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <hr />

  <table>
    <tr>
      <th>Event</th>
      <th>Competition</th>
      <th>Competitor List</th>
      <th>Locked?</th>
      <th>All Results</th>
      <th>Judges</th>
    </tr>
    <% @events.each do |event| %>
      <% event.competitions.each do |ec| %>
          <th><%= event.name %></th>
          <td><%= ec %></td>
          <td><%= link_to 'Competitors', competition_competitors_path(ec) %></td>
          <td><%= ec.locked? %>
          <% if can? :lock, ec %>
            <% if ec.locked? %>
                <%= link_to 'Unlock', lock_competition_path(ec), :method => :delete %>
            <% else %>
                <%= link_to 'Lock', lock_competition_path(ec), :method => :post %>
            <% end %>
          <% end %>
          </td>
          <td><%= link_to 'View', freestyle_scores_competition_path(ec) %></td>
          <td><%= link_to 'View/Add', competition_judges_path(ec) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
