<% # locals:
# import: are results import-able
# competitions: the competitions to list
# Judges: are there judges
# %>
  <table>
    <tr>
      <th>Event</th>
      <th>Competition</th>
      <th></th>
      <th></th>
      <th>Competitor List</th>
      <th>Locked?</th>
      <% if import %>
        <th>Import Results</th>
      <% end %>
      <th>Results</th>
      <th>Print</th>
      <% if judges %>
        <th>Judges</th>
      <% end %>
    </tr>
    <% competitions.each do |ec| %>
      <% event = ec.event %>
      <tr>
        <th><%= event.name %></th>
        <td><%= ec %></td>
        <td><%= link_to 'Edit', edit_competition_path(ec) %></td>
        <td><%= link_to 'Delete',  competition_path(ec), :method => :delete, data: { confirm: "Are you sure?" } %></td>

        <td><%= link_to 'Competitors', competition_competitors_path(ec) %></td>
        <td><%= ec.locked? %>
          <% if can? :lock, event %>
            <% if ec.locked? %>
              <%= link_to 'Unlock', lock_competition_path(ec), :method => :delete %>
            <% else %>
              <%= link_to 'Lock', lock_competition_path(ec), :method => :post %>
            <% end %>
          <% end %>
        </td>
        <% if import %>
          <td><%= link_to 'Import Results', user_competition_import_results_path(current_user, ec) %></td>
        <% end %>
        <td><%= link_to 'View', results_url(ec) %></td>
        <td><%= link_to "Results", results_printing_competition_path(ec, :format => :pdf) %></td>
        <% if judges %>
          <td><%= link_to 'View/Add', competition_judges_path(ec) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
