<h2>Data Entry</h2>
<%= link_to "Blank Race Recording Forms", printing_race_recording_blank_path %>
<%= link_to "(pdf)", printing_race_recording_blank_path(:format => :pdf) %><br />
<%= link_to "Track Race Instructions", printing_race_recording_instructions_path %>
<%= link_to "(pdf)", printing_race_recording_instructions_path(:format => :pdf) %>

<table class="sortable">
  <thead>
    <tr>
      <th>Competition</th>
      <th>Announcer Form</th>
      <th colspan="2">Excel Results</th>
      <th colspan="2">Two-Attempt-per-row Data Entry</th>
      <th colspan="2">Single-Attempt-per-row Data Entry</th>
      <th colspan="2">Heat Recording</th>
    </tr>
  </thead>
  <tbody>
    <% @event.competitions.each do |competition| %>
      <tr>
        <td><%= competition %></td>
        <td>
          <%= link_to "Announcer Form", announcer_printing_competition_path(competition) %>
          <%= link_to "(pdf)", announcer_printing_competition_path(competition, :format => :pdf) %>
        </td>
        <td colspan="2">
          <% if competition.scoring_helper.results_importable %>
            <%= link_to 'Import', user_competition_import_results_path(current_user, competition) %>
          <% else %>
            <%= "N/A" %>
          <% end %>
        </td>
        <% if can? :create, TwoAttemptEntry %>
          <td>
            <%= link_to "Two Attempt Recording", two_attempt_recording_printing_competition_path(competition) %>
            <%= link_to "(pdf)", two_attempt_recording_printing_competition_path(competition, :format => :pdf) %>
          </td>
          <td>
            <%= link_to 'Enter Start Times', user_competition_two_attempt_entries_path(current_user, competition, :is_start_time => true) %>
          </td>
        <% else %>
          <td colspan="2">N/A</td>
        <% end %>
        <td>
          <%= link_to "Blank Race Recording Forms", printing_race_recording_blank_path %>
          <%= link_to "(pdf)", printing_race_recording_blank_path(:format => :pdf) %>
        </td>
        <td>
          <%= link_to 'Enter Finish Times', data_entry_user_competition_import_results_path(current_user, competition) %>
        </td>
        <td>
          <%= link_to "Heat Recording", heat_recording_printing_competition_path(competition) %>
          <%= link_to "(pdf)", heat_recording_printing_competition_path(competition, :format => :pdf) %>
        </td>
        <td>
          <% if competition.uses_lane_assignments %>
            <%= link_to "#{competition} Lane Assignments", competition_lane_assignments_path(competition) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
