<%= form_for([@category, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :title => "'Standard Skill' is a special name, it causes a link on the registration form summary" %>
  </div>
  <div class="field">
    <%= f.label :export_name %><br />
    <%= f.text_field :export_name %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :visible %><br />
    <%= f.check_box :visible  %>
  </div>
  <h2>Event Categories</h2>
  Specify any choices that the user may make.
  <%= f.fields_for :event_categories do |ec| %>
    <div>
      <%= ec.label :name %><br />
      <%= ec.text_field :name %><br /> (specify 'All' if there is only 1 category)
    </div>
    <div>
      <%= ec.label :position %><br />
      <%= ec.number_field :position %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
