  <table class="event_listing">
    <tr>
      <th>Event</th>
      <th>Event-Category</th>
      <th>Sign-Ups</th>
      <th>Associated Competition</th>
      <th></th>
    </tr>

    <% @events.each do |event| %>
      <% event.event_categories.each do |ec| %>
        <tr>
          <th><%= event.name %></th>
          <td><%= ec %></td>
          <td><%= link_to 'View Sign Up list', sign_ups_event_category_path(ec) %></td>
          <td><% if ec.competition.nil? %>
              <%= link_to "Create", new_event_category_competition_path(ec) %>
            <% else %>
              <%= link_to ec.competition, competition_competitors_path(ec.competition) %>
            <% end %>
          </td>
          <td>
            <%= link_to "Create New (blank)",  new_empty_event_competitions_path(event) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>


  <table>
    <tr>
      <th>Event</th>
      <th>Competition</th>
      <th></th>
      <th>Competitor List</th>
      <th>Locked?</th>
      <th>Enter Results</th>
      <th>Results</th>
    </tr>
    <% @events.each do |event| %>
      <% event.competitions.each do |ec| %>
        <tr>
          <th><%= event.name %></th>
          <td><%= ec %></td>
          <td><%= link_to 'Edit', edit_competition_path(ec) %></td>
          <td><%= link_to 'Destroy',  competition_path(ec), :method => :delete, :confirm => "Are you sure?" %></td>

          <td><%= link_to 'Competitors', competition_competitors_path(ec) %></td>
          <td><%= ec.locked? %>
          <% if can? :lock, event %>
            <% if ec.locked? %>
                <%= link_to 'Unlock', lock_competition_path(ec), :method => :delete %>
            <% else %>
                <%= link_to 'Lock', lock_competition_path(ec), :method => :post %>
            <% end %>
          <% end %>
          </td>
          <td><%= link_to 'Import Results', user_import_results_path(current_user) %></td>
          <td><%= link_to 'View', competition_time_results_path(ec) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
