<h1>Editing event</h1>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= @event.name %>
  </div>
  <div class="field">
    <%= f.label :category_id %>
    <%= f.select :category_id, Category.all.map{|c| [c.name, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :description %> (unused)
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :position %>
    <%= f.number_field :position %>
  </div>
  <h3>Event Choices</h3>
  <%= f.fields_for :event_choices do |ec| %>
    <div class="field">
      <%= ec.label :export_name %>
      <%= ec.text_field :export_name %>
    </div>
    <div class="field">
      <%= ec.label :cell_type %>
      <%= ec.select :cell_type, ['boolean', 'text', 'multiple'] %>
    </div>
    <div class="field">
      <%= ec.label :multiple_values %>
      <%= ec.text_field :multiple_values %>
    </div>
    <div class="field">
      <%= ec.label :label %>
      <%= ec.text_field :label %>
    </div>
    <div class="field">
      <%= ec.label :position %>
      <%= ec.number_field :position %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', category_events_path(@event.category) %>
