<h1>Editing event</h1>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="event_edit">
    <tr>
      <th colspan="2">Event: <%= @event.name %></th>
    </tr>
    <tr>
      <td><%= f.label :category_id %></td>
      <td><%= f.select :category_id, Category.all.map{|c| [c.name, c.id]} %></td>
    </tr>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :export_name %></td>
      <td><%= f.text_field :export_name %></td>
    </tr>
    <tr>
      <td><%= f.label :position %></td>
      <td><%= f.number_field :position %></td>
    </tr>
    <tr>
      <td><%= f.label :visible %></td>
      <td><%= f.check_box :visible %></td>
    </tr>

    <tr>
      <td><%= f.label :accepts_music_uploads %></td>
      <td><%= f.check_box :accepts_music_uploads %></td>
    </tr>

    <tr>
      <th class="center" colspan="2">Event Choices</th>
    </tr>
    <%= f.fields_for :event_choices do |ec| %>
      <tr>
        <td><%= ec.label :export_name %></td>
        <td><%= ec.text_field :export_name %></td>
      </tr>
      <tr>
        <td><%= ec.label :cell_type %></td>
        <td><%= ec.select :cell_type, EventChoice.cell_types %></td>
      </tr>
      <tr>
        <td><%= ec.label :multiple_values %></td>
        <td><%= ec.text_field :multiple_values %></td>
      </tr>
      <tr>
        <td><%= ec.label :label %></td>
        <td><%= ec.text_field :label %></td>
      </tr>
      <tr>
        <td><%= ec.label :position %></td>
        <td><%= ec.number_field :position %></td>
      </tr>
    <% end %>
    <tr>
      <td class="center" colspan="2"><%= f.submit %></td>
    </tr>
  </table>
<% end %>
<%= link_to 'Show', @event %> |
<%= link_to 'Back', category_events_path(@event.category) %>
