<h1>Externally Ranked Events</h1>

  <table class="event_listing">
    <tr>
      <th>Event</th>
      <th>Event-Category</th>
      <th>Sign-Ups</th>
      <th>Associated Competition</th>
    </tr>

    <% @events.each do |event| %>
      <% event.event_categories.each do |ec| %>
        <tr>
          <th><%= event.name %></th>
          <td><%= ec %></td>
          <td><%= link_to 'View Sign Up list', sign_ups_event_category_path(ec) %></td>
          <td><% if ec.competition.nil? %>
              <%= link_to "Create", new_event_category_competition_path(ec) %>
            <% else %>
              <%= link_to ec.competition, competition_competitors_path(ec.competition) %>
            <% end %>
            <%= link_to "Create New (blank)",  new_empty_event_competitions_path(event) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

 
  <%= render :partial => "/events/competitions", :locals => {:import => true, :judges => false, :competitions => @events.map{|ev| ev.competitions}.flatten } %>
