<h1>Manage <%= @event %> Competitions</h1>
<hr />
<%= render :partial => "sign_ups_menu" %>

<hr />

<h2>Competitions</h2>

<% if @event.competitions.count == 0 %>
  <div>
    <b>There are no current Competitions. Please contact an ADMINISTRATOR to have a competition created</b>
  </div>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Competition</th>
      </tr>
    </thead>

    <tbody>
      <% @event.competitions.each do |competition| %>
        <tr>
          <td><%= link_to competition, competition %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<hr />
<h3>Event Results</h3>
<ul>
  <li>Event Results Summary pdf
  <ul>
    <li><%= link_to "View", results_printing_event_path(@event, :format => :pdf) %></li>
    <li><%= link_to "Save", results_printing_event_path(@event, :format => :pdf, :attachment => true) %></li>
  </ul>
  </li>
</ul>

<hr />
