<h1>Manage <%= @event %> Competitions</h1>
<hr />

<h2>Event Directors</h2>
<table class="sortable">
  <thead>
    <tr>
      <th>User</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @event.directors.each do |admin| %>
      <tr>
        <td><%= admin %></td>
        <td>
          <% if can? :destroy_director, @event %>
            <%= link_to "Delete", destroy_director_event_path(@event, :user_id => admin), method: :delete,  data: {confirm: "Are you sure?" }  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if can? :create_director, @event %>
  <%= form_tag(create_director_event_path(@event), :method => "post") do |f| %>
    <%= select_tag :user_id, options_from_collection_for_select(User.all, "id", "to_s") %>
    <%= submit_tag "Add Director", :class => "focus_button" %>
  <% end %>
<% end %>

<hr />
<%= render :partial => "sign_ups_menu" %>

<hr />

<h2>Competitions</h2>

<% if @event.competitions.count == 0 %>
  <div>
    <b>There are no current Competitions. Please contact an ADMINISTRATOR to have a competition created</b>
  </div>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Competition</th>
      </tr>
    </thead>

    <tbody>
      <% @event.competitions.each do |competition| %>
        <tr>
          <td><%= link_to competition, competition %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<hr />
<h3>Event Results</h3>
<ul>
  <li>Event Results Summary pdf
  <ul>
    <li><%= link_to "View", results_printing_event_path(@event, :format => :pdf) %></li>
    <li><%= link_to "Save", results_printing_event_path(@event, :format => :pdf, :attachment => true) %></li>
  </ul>
  </li>
</ul>

<hr />
