<h1>Manage <%= @event %> Competitions</h1>
<hr />

<h2>Event Directors</h2>
<table class="sortable">
  <thead>
    <tr>
      <th>User</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @event.directors.each do |admin| %>
      <tr>
        <td><%= admin %></td>
        <td>
          <% if can? :destroy_director, @event %>
            <%= link_to "Destroy", destroy_director_event_path(@event, :user_id => admin), method: :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if can? :create_director, @event %>
  <%= form_tag(create_director_event_path(@event), :method => "post") do |f| %>
    <%= select_tag :user_id, options_from_collection_for_select(User.all, "id", "to_s") %>
    <%= submit_tag "Add Director", :class => "focus_button" %>
  <% end %>
<% end %>

<hr />
<%= render :partial => "sign_ups_menu" %>

<hr />

<h2>Competitions</h2>

<% if @event.competitions.count == 0 %>
  <div>
    <b>There are no current Competitions. Please contact an ADMINISTRATOR to have a competition created</b>
  </div>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Competition</th>
        <th>Manage</th>
      </tr>
    </thead>

    <tbody>
      <% @event.competitions.each do |competition| %>
        <tr>
          <td><%= link_to competition, competition %></td>
          <td>
            <% if can? :update, competition %>
              <%= link_to 'Edit', edit_competition_path(competition) %>
            <% end %>
            <% if can? :destroy, competition %>
              <%= link_to 'Destroy',  competition_path(competition), :method => :delete, :confirm => "Are you sure you want to destroy the COMPETITION?" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if can? :create, Competition %>
  <%= link_to "Create New Competition", new_event_competition_path(@event) %><br />
<% end %>

<hr />
<%= render :partial => "data_entry_forms" %>

<hr />
<h2>Results printing</h2>
<ul>
  <li>Display/Edit Results</li>
  <% @event.competitions.each do |competition| %>
    <li><%= competition %>
    <ul>
      <li><%= link_to 'View', results_url(competition) %></li>
      <li>
      <%= form_tag(results_printing_competition_path(competition, :format => :pdf), :method => :get) do %>
        <%= label_tag :no_page_breaks %>
        <%= check_box_tag :no_page_breaks %><br />

        <%= submit_tag "Print Results" %>
      <% end %>
      </li>
    </ul>
    </li>
  <% end %>
</ul>
<h3>Event Results</h3>
<ul>
  <li>Event Results Summary pdf
  <ul>
    <li><%= link_to "View", results_printing_event_path(@event, :format => :pdf) %></li>
    <li><%= link_to "Save", results_printing_event_path(@event, :format => :pdf, :attachment => true) %></li>
  </ul>
  </li>
</ul>

<hr />
<h2>Awards Printing</h2>
<ul>
  <li>Announcer Forms</li>
  <li>Create Awards</li>
</ul>
