<h1><%= @event %></h1>
<hr />


<table class="event_listing">
  <thead>
    <tr>
      <th>Event-Category</th>
      <th>Sign-Ups</th>
      <th># Signed Up</th>
      <th colspan="2">Create Competition</th>
    </tr>
  </thead>

  <tbody>
    <% @event.event_categories.each do |ec| %>
      <tr>
        <td><%= ec %></td>
        <td><%= link_to 'View Sign Up list', sign_ups_event_category_path(ec) %>
          <%= link_to '(pdf)', sign_ups_event_category_path(ec, :format => :pdf) %></td>
        <td><%= ec.signed_up_registrants.count %></td>
        <td><%= link_to "Create New", new_event_category_competition_path(ec) %></td>
        <td><%= link_to "Create New (blank)", new_empty_event_competitions_path(@event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<h2>Competitions</h2>

<%
  case @event.event_class
  when "Freestyle"
    import = false
    judges = true
  when "Flatland"
    import = false
    judges = true
  when "Street"
    import = false
    judges = true
  when "Two Attempt Distance"
    import = true
    judges = true
  when "Distance"
    import = true
    judges = false
  when "Ranked"
    import = true
    judges = false
  end
%>

<table>
  <thead>
    <tr>
      <th>Competition</th>
      <th></th>
      <th></th>
      <th>Competitor List</th>
      <th>Locked?</th>
      <% if import %>
        <th>Import Results</th>
      <% end %>
      <th>Results</th>
      <th>Print</th>
      <% if judges %>
        <th>Judges</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @event.competitions.each do |ec| %>
      <tr>
        <td><%= ec %></td>
        <td><%= link_to 'Edit', edit_competition_path(ec) %></td>
        <td><%= link_to 'Destroy',  competition_path(ec), :method => :delete, :confirm => "Are you sure?" %></td>

        <td><%= link_to 'Competitors', competition_competitors_path(ec) %></td>
        <td><%= ec.locked? %>
          <% if can? :lock, @event %>
            <% if ec.locked? %>
              <%= link_to 'Unlock', lock_competition_path(ec), :method => :delete %>
            <% else %>
              <%= link_to 'Lock', lock_competition_path(ec), :method => :post %>
            <% end %>
          <% end %>
        </td>
        <% if import %>
          <td><%= link_to 'Import Results', user_import_results_path(current_user) %></td>
        <% end %>
        <td><%= link_to 'View', results_url(ec) %></td>
        <td><%= link_to "Results", results_printing_competition_path(ec, :format => :pdf) %></td>
        <% if judges %>
          <td><%= link_to 'View/Add', competition_judges_path(ec) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<h2>Management</h2>
<ul>
  <li>Create Competition from Sign-Ups</li>
  <li>Disable Judging<br />
  <ul>
    <% @event.competitions.each do |competition| %>
      <li>
      <% if competition.locked? %>
        <%= link_to "Unlock #{competition}", lock_competition_path(competition), :method => :delete %>
      <% else %>
        <%= link_to "Lock #{competition}", lock_competition_path(competition), :method => :post %>
      <% end %>
      </li>
    <% end %>
  </ul>
  </li>
  <li>Manage Judges<br />
  <ul>
    <% @event.competitions.each do |competition| %>
      <li>
      <%= link_to 'View/Add', competition_judges_path(competition) %>
      </li>
    <% end %>
  </ul>
  </li>
  <li>Manage Competition <br />
  <ul>
    <% @event.competitions.each do |competition| %>
      <li><%= link_to "Edit #{competition}", edit_competition_path(competition) %></li>
      <li><%= link_to "Destroy #{competition}",  competition_path(competition), :method => :delete, :confirm => "Are you sure?" %></li>
    <% end %>
  </ul>
  </li>

  <li>Publish Results</li>
</ul>
<hr />

<h2>Sign Ups</h2>

see above


<hr />
<h2>Data Entry</h2>
<%= link_to "Race Recording Forms (pdf)", printing_race_recording_multi_lap_path(:format => :pdf) %><br />
<%= link_to "Track Race Instructions (pdf)", printing_race_recording_instructions_path(:format => :pdf) %>

<ul>
  <% @event.competitions.each do |competition| %>
    <li>Print Paper Copies for <%= competition %><br />
    <ul>
      <li><%= link_to "Announcer Form", announcer_printing_competition_path(competition) %>
      <%= link_to "(pdf)", announcer_printing_competition_path(competition, :format => :pdf) %></li>
      <li><%= link_to "Heat Recording", heat_recording_printing_competition_path(competition) %>
      <%= link_to "(pdf)", heat_recording_printing_competition_path(competition, :format => :pdf) %></li>
      <li><%= link_to "Two Attempt Recording", two_attempt_recording_printing_competition_path(competition) %>
      <%= link_to "(pdf)", two_attempt_recording_printing_competition_path(competition, :format => :pdf) %></li>
    </ul>
    </li>
  <% end %>
  <li>Enter Heat Information
    <ul>
    <% @event.competitions.each do |competition| %>
      <li><%= link_to "#{competition} Lane Assignments", competition_lane_assignments_path(competition) %></li>
    <% end %>
    </ul>
  </li>
  <li>Enter Results</li>
  <li>Print Data Checking</li>
</ul>

<hr />
<h2>Results printing</h2>
<ul>
  <li>Display/Edit Results</li>
  <% @event.competitions.each do |competition| %>
    <li><%= competition %>
    <ul>
      <li><%= link_to 'View', results_url(competition) %></li>
      <li>
      <%= form_tag(results_printing_competition_path(competition, :format => :pdf), :method => :get) do %>
        <%= label_tag :no_page_breaks %>
        <%= check_box_tag :no_page_breaks %><br />

        <%= submit_tag "Print Results" %>
      <% end %>
      </li>
    </ul>
    </li>
  <% end %>
</ul>
<h3>Event Results</h3>
<ul>
  <li>Event Results Summary pdf
  <ul>
    <li><%= link_to "View", results_printing_event_path(@event, :format => :pdf) %></li>
    <li><%= link_to "Save", save_printing_event_path(@event, :format => :pdf) %></li>
  </ul>
  </li>
</ul>

<hr />
<h2>Awards Printing</h2>
<ul>
  <li>Announcer Forms</li>
  <li>Create Awards</li>
</ul>
