<h1>Manage <%= @event %> Competitions</h1>
<hr />

<h2>Chief Judges</h2>
<table class="sortable">
  <thead>
    <tr>
      <th>User</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @event.chief_judges.each do |admin| %>
      <tr>
        <td><%= admin %></td>
        <td><%= link_to "Destroy (NOT WORKING)", root_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= form_tag(create_chief_judges_path, :method => "post") do |f| %>
  <%= hidden_field_tag :event_id, @event.id %>
  <%= select_tag :user_id, options_from_collection_for_select(User.all, "id", "to_s") %>
  <%= submit_tag "Add Chief", :class => "focus_button" %>
<% end %>

<hr />

<h2>Sign Up Lists</h2>

<table class="event_listing">
  <thead>
    <tr>
      <th>Event-Category</th>
      <th># Signed Up</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% total_competitors = 0 %>
    <% @event.event_categories.each do |ec| %>
      <tr>
        <td><%= ec %></td>
        <% total_competitors += ec.num_competitors %>
        <td><%= ec.num_competitors %></td>
        <td><%= link_to 'View Sign Up list', sign_ups_event_category_path(ec) %>
          <%= link_to '(pdf)', sign_ups_event_category_path(ec, :format => :pdf) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th>Total: <%= total_competitors %></th>
      <th><%= link_to 'View All Sign Up lists (NOT YET COMPLETED)', root_path %>
        <%= link_to '(pdf)', root_path %></th>
    </tr>
  </tfoot>
</table>

<hr />

<h2>Competitions</h2>

<table>
  <thead>
    <tr>
      <th>Competition</th>
      <th># Competitors</th>
      <th>Manage</th>
      <th>Competitor List</th>
    </tr>
  </thead>

  <tbody>
    <% @event.competitions.each do |competition| %>
      <tr>
        <td><%= competition %></td>
        <td><%= competition.competitors.count %></td>
        <td>
          <%= link_to 'Edit', edit_competition_path(competition) %>
          <%= link_to 'Destroy',  competition_path(competition), :method => :delete, :confirm => "Are you sure you want to destroy the COMPETITION?" %>
        </td>
        <td><%= link_to 'Manage Competitors', competition_competitors_path(competition) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create New Competition", new_event_competition_path(@event) %><br />

<hr />
<h2>Judging Results</h2>

<% @event.competitions.each do |competition| %>
  <%= link_to "Manage Judges for #{competition}", competition_judges_path(competition) %><br />
<% end %>
<br />

<table>
  <caption>Judge-specific results</caption>
  <thead>
    <tr>
      <th>Competition</th>
      <th>Judge</th>
      <th># Competitors</th>
      <th># Results Entered</th>
      <th>Results</th>
    </tr>
  </thead>
  <tbody>
    <% @event.competitions.each do |competition| %>
      <% competition.judges.each do |judge| %>
        <tr>
          <td><%= competition %></td>
          <td><%= judge %></td>
          <td><%= competition.competitors.count %></td>
          <td><%= judge.get_scores.count %></td>
          <td>Not yet imelmented</td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table>
  <caption>Competition Results Summaries</caption>
  <thead>
    <tr>
      <th>Competition</th>
      <th>Locked?</th>
      <th>Import Results</th>
      <th>Results</th>
      <th>Print</th>
      <th>Publish</th>
    </tr>
  </thead>
  <tbody>
    <% @event.competitions.each do |competition| %>
      <tr>
        <td><%= competition %></td>
        <td><%= competition.locked? %>
          <% if can? :lock, competition %>
            <% if competition.locked? %>
              <%= link_to 'Unlock', lock_competition_path(competition), :method => :delete %>
            <% else %>
              <%= link_to 'Lock', lock_competition_path(competition), :method => :post %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if competition.scoring_helper.results_importable %>
            <%= link_to 'Import Results', user_competition_import_results_path(current_user, competition) %>
          <% else %>
            N/A
          <% end %>
        </td>
        <td><%= link_to 'View', results_url(competition) %></td>
        <td><%= link_to "(pdf)", results_printing_competition_path(competition, :format => :pdf) %></td>
        <td>Not yet implemented</td>
      </tr>
    <% end %>
  </tbody>
</table>


<hr />
<h2>Data Entry</h2>
<%= link_to "Race Recording Forms (pdf)", printing_race_recording_multi_lap_path(:format => :pdf) %><br />
<%= link_to "Track Race Instructions (pdf)", printing_race_recording_instructions_path(:format => :pdf) %>

<table>
  <thead>
    <tr>
      <th>Competition</th>
      <th>Announcer Form</th>
      <th>Heat Recording</th>
      <th>Race Recording Form</th>
      <th>Enter Heat Information</th>
    </tr>
  </thead>
  <tbody>
    <% @event.competitions.each do |competition| %>
      <tr>
        <td><%= competition %></td>
        <td><%= link_to "Announcer Form", announcer_printing_competition_path(competition) %>
          <%= link_to "(pdf)", announcer_printing_competition_path(competition, :format => :pdf) %></td>
        <td><%= link_to "Heat Recording", heat_recording_printing_competition_path(competition) %>
          <%= link_to "(pdf)", heat_recording_printing_competition_path(competition, :format => :pdf) %></td>
        <td><%= link_to "Two Attempt Recording", two_attempt_recording_printing_competition_path(competition) %>
          <%= link_to "(pdf)", two_attempt_recording_printing_competition_path(competition, :format => :pdf) %></td>
        <td>
          <% if competition.uses_lane_assignments %>
            <%= link_to "#{competition} Lane Assignments", competition_lane_assignments_path(competition) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />
<h2>Results printing</h2>
<ul>
  <li>Display/Edit Results</li>
  <% @event.competitions.each do |competition| %>
    <li><%= competition %>
    <ul>
      <li><%= link_to 'View', results_url(competition) %></li>
      <li>
      <%= form_tag(results_printing_competition_path(competition, :format => :pdf), :method => :get) do %>
        <%= label_tag :no_page_breaks %>
        <%= check_box_tag :no_page_breaks %><br />

        <%= submit_tag "Print Results" %>
      <% end %>
      </li>
    </ul>
    </li>
  <% end %>
</ul>
<h3>Event Results</h3>
<ul>
  <li>Event Results Summary pdf
  <ul>
    <li><%= link_to "View", results_printing_event_path(@event, :format => :pdf) %></li>
    <li><%= link_to "Save", results_printing_event_path(@event, :format => :pdf, :attachment => true) %></li>
  </ul>
  </li>
</ul>

<hr />
<h2>Awards Printing</h2>
<ul>
  <li>Announcer Forms</li>
  <li>Create Awards</li>
</ul>
