<h1>Events Report</h1>

<table>
  <caption>Overview</caption>
  <thead>
    <tr>
      <th></th>
      <th>Male</th>
      <th>Female</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Competitors</th>
      <td><%= @num_male_competitors %></td>
      <td><%= @num_female_competitors %></td>
      <td><%= @num_competitors %></td>
    </tr>
    <tr>
      <th>Non-Competitors</th>
      <td><%= @num_male_noncompetitors %></td>
      <td><%= @num_female_noncompetitors %></td>
      <td><%= @num_noncompetitors %></td>
    </tr>
    <tr>
      <th>Total Registrations</th>
      <td><b><%= @num_male_registrants %></b></td>
      <td><b><%= @num_female_registrants %></b></td>
      <td><b><%= @num_registrants %></b></td>
    </tr>
  </tbody>
</table>

<hr />

<table class="sortable">
  <caption>Event-Competitor-Breakdown</caption>
  <thead>
    <th>Category</th>
    <th>Event Name</th>
    <th>Event Category</th>
    <th>Sign Up List</th>
    <th># Signed Up</th>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <% event.event_categories.each do |ecat| %>
        <tr>
          <td><%= event.category %></td>
          <td><%= event %></td>
          <td><%= ecat %></td>
          <td>
            <%= link_to "HTML", sign_ups_event_category_path(ecat) %>
            <%= link_to "PDF", sign_ups_event_category_path(ecat, :format => "pdf") %>
          </td>
          <td><%= ecat.num_signed_up_registrants %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
