%h1 Events Report
%table
  %caption Overview
  %thead
    %tr
      %th
      %th Male
      %th Female
      %th Total
  %tbody
    %tr
      %th Competitors
      %td= @num_male_competitors
      %td= @num_female_competitors
      %td= @num_competitors
    - if @config.noncompetitors?
      %tr
        %th Non-Competitors
        %td= @num_male_noncompetitors
        %td= @num_female_noncompetitors
        %td= @num_noncompetitors
    - if @config.spectators?
      %tr
        %th Spectators
        %td n/a
        %td n/a
        %td= @num_spectators
    %tr
      %th Total Registrations
      %td
        %b= @num_male_registrants
      %td
        %b= @num_female_registrants
      %td
        %b= @num_registrants
%hr

- if policy(:export).download_events?
  = link_to 'Download Event Info (xls)', export_download_events_path(:format => :xls)

%hr
%table.sortable
  %caption Event-Competitor-Breakdown
  %thead
    %th Category
    %th Event Name
    %th Event Category
    %th Sign Up List
    %th # Signed Up
  %tbody
    - @events.each do |event|
      - event.event_categories.each do |ecat|
        %tr
          %td= event.category
          %td= event
          %td= ecat
          %td
            = link_to "HTML", sign_ups_event_category_path(ecat)
            = link_to "PDF", sign_ups_event_category_path(ecat, :format => :pdf)
          %td= ecat.num_signed_up_registrants
      - if event.event_categories.count > 1
        %tr
          %td= event.category
          %td= event
          %td ALL Combined
          %td
            = link_to 'HTML', sign_ups_event_path(event)
            = link_to 'PDF', sign_ups_event_path(event, :format => :pdf)
          %td= event.num_signed_up_registrants

%hr
%h3 Signed Up Volunteers

%table.sortable
  %thead
    %th Volunteer Type
    %th # Signed Up
  %tbody
    %tr
      %td= link_to "General Volunteers", general_volunteers_events_path
      %td= Registrant.active.where(volunteer: true).count
    - @volunteer_opportunities.each do |vo|
      %tr
        %td= link_to vo.description, specific_volunteers_events_path(vo)
        %td= vo.volunteer_choices.count
