= simple_form_for(@lane_assignment.persisted? ? @lane_assignment : [@competition, @lane_assignment], remote: remote) do |f|
  = render partial: "/shared/error_messages", object: @lane_assignment
  .row
    .small-12.medium-6.columns
      = f.label :competitor_id
      = competitor_select_box(f, @competition, class: "js--competitors", autofocus: true)
    .small-6.medium-3.columns
      = f.label :heat
      = f.number_field :heat, {min: 1, required: true}
    .small-6.medium-3.columns
      = f.label :lane
      = f.number_field :lane, {min: 1, required: true}
  .row
    = f.button :submit, class: "multiclick"
