%tr
  %td= lane_assignment.competitor.bib_number
  %td= lane_assignment.competitor
  %td= lane_assignment.heat
  %td= lane_assignment.lane
  %td= link_to 'Edit', edit_lane_assignment_path(lane_assignment)
  %td= link_to 'Delete', lane_assignment, method: :delete, data: { confirm: 'Are you sure?' }
