%h1= "#{@competition} New Lane Assignment"

#notice

.row
  .small-12.medium-6.columns
    .row
      .small-12.columns
        = render partial: 'form', locals: { remote: true }
    .row
      .small-12.columns
        %hr
        = render "/competitors/add_last_minute_competitor_form", competition: @competition

  .small-12.medium-6.columns
    %table.sortable.lane_assignments
      %thead
        %tr
          %th= LaneAssignment.human_attribute_name(:heat)
          %th= LaneAssignment.human_attribute_name(:lane)
          %th ID
          %th Competitor
          %th Age Group
          %th Gender
          %th
          %th

      %tbody
        - @lane_assignments.each do |lane_assignment|
          - next if lane_assignment.new_record?
          = render partial: "lane_assignment", object: lane_assignment
