%p.previous_heat= link_to "Previous Heat", view_heat_competition_lane_assignments_path(@competition, heat: @heat - 1) unless @heat <= 1

%p.next_heat= link_to "Next Heat", view_heat_competition_lane_assignments_path(@competition, heat: @heat +1 ), class: 'next_action' unless @heat.nil?

%h2= @competition

%h1.heat_number= "Heat # #{@heat}"

Lane Assignments
= render "view_heat_summary"
