%h1= "#{@competition} Heat # #{@heat}"

Lane Assignments

%table
  %thead
    %tr
      %th ID
      %th Lane
      %th Status
      %th Comments
  %tbody
    - @lane_assignments.each do |lane|
      %tr
        %td= lane.registrant_id
        %td= lane.lane
        %td= lane.status
        %td= lane.comments

= form_for @dq_request, url: dq_competitor_competition_lane_assignments_path(@competition) do |f|
  = f.label :bib_number
  = f.select :bib_number, @lane_assignments.map{|l_a| l_a.registrant_id}
  = f.hidden_field :heat
  = f.label :comments
  = f.text_field :comments
  = f.submit "DQ this competitor", data: { confirm: "Are you sure?" }
