= form_for(@time_result.new_record? ? [@competition, @time_result] : [@time_result]) do |f|
  = render partial: "/shared/error_messages", object: @time_result
  %table
    %thead
      %tr
        %th= f.label :registrant_id
        %th= f.label :minutes
        %th= f.label :seconds
        %th= f.label :thousands
        %th= f.label :status
        %th= f.label :comments
        %th= f.label :comments_by
        %th= f.label :attempt_number
        %th
    %tbody
      %tr
        %td.ui-widget
          = f.select :competitor_id, @competition.competitors.all.map { |comp| ["#{comp.bib_number}-#{comp}", comp.id] }, {:include_blank => true}, autofocus: true
        %td= f.number_field :minutes, {min: 0}
        %td= f.number_field :seconds, {min: 0}
        %td= f.number_field :thousands, {min: 0}
        %td= f.select :status, TimeResult.status_values, include_blank: true
        %td= f.text_field :comments
        %td= f.text_field :comments_by
        %td= f.number_field :attempt_number, {min: 1}
        %td= f.submit

:javascript
  $(function() {
    $( "#time_result_registrant_id" ).combobox();
  });

