= simple_form_for(@time_result.new_record? ? [@competition, @time_result] : [@time_result]) do |f|
  = render partial: "/shared/error_messages", object: @time_result
  %table
    - displayer = @competition.results_displayer
    %thead
      %tr
        %th= f.label :competitor_id

        - displayer.form_label_symbols.each do |label_symbol|
          %th= f.label label_symbol

        %th= f.label :status
        %th= f.label :status_description
        %th= f.label :comments
        %th= f.label :comments_by
        %th
    %tbody
      %tr
        %td.ui-widget
          = competitor_select_box(f, @competition)

        - displayer.form_inputs.each do |input_symbol, input_options|
          %th= f.number_field input_symbol, input_options

        %td= f.select :status, TimeResult.status_values, include_blank: false
        %td= f.text_field :status_description
        %td= f.text_field :comments
        %td= f.text_field :comments_by
        %td= f.button :submit
