<h1>Listing Time Results for <%= @competition %></h1>

<%= link_to "View Top Results", final_candidates_competition_path(@competition) %>

<table class="sortable">
  <thead>
    <tr>
      <th colspan="2">Registrant</th>
      <th colspan="3">Time</th>
      <td></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Start Time?</th>
      <th>Minutes</th>
      <th>Seconds</th>
      <th>Thousands</th>
      <th>Disqualified</th>
      <th>Age Group</th>
      <th>Place</th>
      <th>Overall Place</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @competition.time_results.each do |time_result| %>
      <tr>
        <td><%= time_result.bib_number %></td>
        <td><%= time_result.competitor %></td>
        <td><%= time_result.is_start_time %></td>
        <td><%= time_result.minutes %></td>
        <td><%= time_result.seconds %></td>
        <td><%= time_result.thousands %></td>
        <td><%= time_result.disqualified %></td>
        <td><%= time_result.competitor.age_group_entry_description %></td>
        <td><%= time_result.competitor.place_formatted %></td>
        <td><%= time_result.competitor.overall_place_formatted %></td>
        <td class="non_printable"><%= link_to 'Edit', edit_time_result_path(time_result) %></td>
        <td class="non_printable"><%= link_to 'Destroy', time_result, data: { confirm: 'Are you sure?' }, :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
