%h1
  Listing Time Results for #{@competition}
%table.sortable
  %thead
    %tr
      %th{:colspan => "2"} Competitor
      %th{:colspan => "4"} Time
      - if @competition.has_penalty?
        %th
      %th{:colspan => "7"}
    %tr
      %th ID
      %th Name
      %th Start Time?
      %th= TimeResult.human_attribute_name(:minutes)
      %th= TimeResult.human_attribute_name(:seconds)
      %th= TimeResult.human_attribute_name(:thousands)
      - if @competition.has_penalty?
        %th Penalties
      - if @competition.has_num_laps?
        %th # Laps
      %th Disqualified
      %th Entered At
      %th Age Group
      %th Place
      %th Overall Place
      %th
      %th
  %tbody
    - @competition.time_results.includes(competitor: [:age_group_result, :overall_result]).each do |time_result|
      %tr
        %td= time_result.bib_number
        %td= time_result.competitor
        %td= time_result.is_start_time?
        %td= time_result.minutes
        %td= time_result.seconds
        %td= time_result.thousands
        - if @competition.has_penalty?
          %td= time_result.number_of_penalties
        - if @competition.has_num_laps?
          %td= time_result.number_of_laps
        %td= time_result.disqualified? ? t("yes") : ""
        %td= time_result.entered_at_to_s
        %td= time_result.competitor.age_group_entry_description
        %td= time_result.competitor.place_formatted
        %td= time_result.competitor.overall_place_formatted
        %td.non_printable= link_to t("edit"), edit_time_result_path(time_result)
        %td.non_printable= link_to t("delete"), time_result, data: { confirm: t("are_you_sure") }, :method => :delete
