<h1>Final Heat Candidate List for <%= @competition %></h1>

<table class="sortable">
  <thead>
    <tr>
      <th>Candidate Slot</th>
      <th>Time</th>
      <th>ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Age Group</th>
      <th>Age Group Place</th>
    </tr>
  </thead>

  <tbody>
    <% @male_candidates.each do |competitor| %>
      <tr>
        <td><%= competitor.overall_place_formatted %></td>
        <td><%= competitor.result %></td>
        <td><%= competitor.external_id %></td>
        <td><%= competitor %></td>
        <td><%= competitor.gender %></td>
        <td><%= competitor.age_group_entry_description %></td>
        <td><%= competitor.place_formatted %></td>
      </tr>
    <% end %>
    <% @female_candidates.each do |competitor| %>
      <tr>
        <td><%= competitor.overall_place_formatted %></td>
        <td><%= competitor.result %></td>
        <td><%= competitor.external_id %></td>
        <td><%= competitor %></td>
        <td><%= competitor.gender %></td>
        <td><%= competitor.age_group_entry_description %></td>
        <td><%= competitor.place_formatted %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

