<h1>Final Heat Candidate List for <%= @competition %></h1>

<table class="sortable">
  <thead>
    <tr>
      <th>Candidate Slot</th>
      <th>Time</th>
      <th>ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Age Group</th>
      <th>Age Group Place</th>
    </tr>
  </thead>

  <tbody>
    <% @male_time_results.each_with_index do |time_result, index| %>
      <tr>
        <td><%= time_result.overall_place %></td>
        <td><%= time_result.full_time %></td>
        <td><%= time_result.competitor.external_id %></td>
        <td><%= time_result.competitor %></td>
        <td><%= time_result.competitor.gender %></td>
        <td><%= time_result.competitor.age_group_entry_description %></td>
        <td><%= time_result.competitor.place %></td>
      </tr>
    <% end %>
    <% @female_time_results.each_with_index do |time_result, index| %>
      <tr>
        <td><%= time_result.overall_place %></td>
        <td><%= time_result.full_time %></td>
        <td><%= time_result.competitor.external_id %></td>
        <td><%= time_result.competitor %></td>
        <td><%= time_result.competitor.gender %></td>
        <td><%= time_result.competitor.age_group_entry_description %></td>
        <td><%= time_result.competitor.place %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

