<h1>Listing Time Results for <%= @competition %></h1>

<%= link_to "Set Racing Places", set_places_competition_time_results_path(@competition), method: :put %>

<table class="sortable">
  <thead>
    <tr>
      <th colspan="2">Registrant</th>
      <th colspan="3">Time</th>
      <td></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Minutes</th>
      <th>Seconds</th>
      <th>Thousands</th>
      <th>Disqualified</th>
      <th>Age Group</th>
      <th>Place</th>
      <th>Overall Place</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @time_results.each do |time_result| %>
      <tr>
        <td><%= time_result.bib_number %></td>
        <td><%= time_result.competitor %></td>
        <td><%= time_result.minutes %></td>
        <td><%= time_result.seconds %></td>
        <td><%= time_result.thousands %></td>
        <td><%= time_result.disqualified %></td>
        <td><%= time_result.competitor.age_group_description %></td>
        <td><%= time_result.place %></td>
        <td><%= time_result.overall_place %></td>
        <td class="non_printable"><%= link_to 'Edit', edit_time_result_path(time_result) %></td>
        <td class="non_printable"><%= link_to 'Destroy', time_result, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

