%h1= t(".header")

%p= t(".description")


%p
  %b= t("note")
  = t(".manage_events_note")

- if @categories.any?
  %h2= t(".existing_categories")

  %table.js--sortable{ data: { target: update_row_order_convention_setup_categories_path } }
    %thead
      %tr
        %th= Category.human_attribute_name(:name)
        %th
        %th
        %th
    %tbody
      - @categories.each do |category|
        %tr.item{ data: { item_id: category.id } }
          %td= category.name
          %td= link_to t(".manage_events"), convention_setup_category_events_path(category)
          %td= link_to t("edit"), edit_convention_setup_category_path(category)
          %td= link_to t("delete"), [:convention_setup, category], method: :delete, data: { confirm: t("are_you_sure") }
- else
  %h2= t(".copy_from_previous.header")
  %p
    = link_to t(".copy_from_previous.link"), migrate_index_path

%br
%fieldset.form__fieldset
  %h3= t(".new_category")
  = render 'form'
= render :partial => "/attending/preview"
