<h1>Listing payments</h1>

<table>
  <caption>Payments Summary</caption>
  <thead>
    <tr>
      <th>Total Amount Received</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @total_received %></td>
    </tr>
  </tbody>
</table>

<hr />
<h2>Expenses by Group</h2>

<table>
  <thead>
    <tr>
      <th>
        Group
      </th>
      <th>
        Entry
      </th>
      <th>
        Num paid
      </th>
    </tr>
  </thead>
  <tbody>
    <% @expense_groups.each do |group| %>
      <% group.expense_items.each do |item| %>
        <tr>
          <td>
            <%= group %>
          </td>
          <td>
            <%= item %>
          </td>
          <td>
            <%= @paid_expense_items.count(item) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<hr />
<table>
  <tr>
    <th>User</th>
    <th>Completed</th>
    <th>Cancelled</th>
    <th>Transaction</th>
    <th>Completed date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payments.each do |payment| %>
  <tr>
    <td><%= payment.user %></td>
    <td><%= payment.completed %></td>
    <td><%= payment.cancelled %></td>
    <td><%= payment.transaction_id %></td>
    <td><%= payment.completed_date %></td>
    <td><%= link_to 'Show', payment %></td>
    <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
    <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payment', new_payment_path %>
