<h1>New payment</h1>

<div>
  Select the items to pay for:
</div>

<div class="payment_details">
  <%= form_for([:admin, @payment]) do |f| %>
    <% if @payment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

        <ul>
          <% @payment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :note, "Payment Note" %>: <%= f.text_field :note %><br />
    <%= f.label :payment_date %>: <%= f.text_field :payment_date %><br />

    <table class="alternate">
      <thead>
        <tr>
          <th>Registrant</th>
          <th>Item</th>
          <th>Details (only required for USA memberships)</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :payment_details do |pf| %>
          <tr>
            <td><%= pf.select :registrant_id, Registrant.order("first_name, last_name").all.map {|reg| [reg, reg.id] }, :include_blank => true %></td>
            <td><%= pf.select :expense_item_id, ExpenseItem.all.map {|ei| [ei.to_s + " - " + ei.cost.to_s, ei.id] }  %></td>
            <td><%= pf.text_field :details %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="actions">
      <%= f.submit 'Start Payment', :class => "payment_link registration_button" %>
    </div>
  <% end %>
</div>
<div>
  <%= link_to 'Back', registrants_path %>
</div>
