<h1>Onsite payment confirmation</h1>
<% if mixpanel? %>
  <script type="text/javascript">
    mixpanel.track("New Payment Page Loaded")
  </script>
<% end %>

<div>
  Confirm the items to be paid for:
</div>

<div class="payment_details">
  <%= form_for(@payment, :url => onsite_pay_create_admin_payments_path) do |f| %>
    <%= f.label :note %><%= f.text_field :note %><br />
    <%= render :partial => "/payments/form_contents", :locals => {:f => f } %>
  <% end %>
<div>
<%= link_to 'Back', onsite_pay_new_admin_payments_path %>
