<h1>Payment Adjstments</h1>
<% if mixpanel? %>
  <script type="text/javascript">
    mixpanel.track("New Payment Page Loaded")
  </script>
<% end %>

<h1>New payment</h1>

<h1>
  Select the items to pay for:
</h1>


<% @registrants = @p.registrants %>
<%= form_for(@p, :url => onsite_pay_create_admin_payments_path) do |pf| %>
  <%= render :partial => "/shared/error_messages", :object => @p %>

  <%= pf.label :note %><%= pf.text_field :note %>

  <h1>Paid Details</h1>
  <table class="sortable">
    <thead>
      <tr>
        <th>Registrant</th>
        <th>Item</th>
        <th>Paid Amount</th>
        <th>Details (only required for some items)</th>
      </tr>
    </thead>
    <tbody>
      <%= pf.fields_for :paid_details do |paid_detail| %>
        <tr>
          <td><%= paid_detail.object.registrant %><%= paid_detail.hidden_field :registrant_id %></td>
          <td><%= paid_detail.object.expense_item %><%= paid_detail.hidden_field :expense_item_id %></td>
          <td><%= paid_detail.object.amount %><%= paid_detail.hidden_field :amount %><%= paid_detail.hidden_field :free %></td>
          <td><%= paid_detail.object.details %><%= paid_detail.hidden_field :details %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h1>Chosen (but unpaid) Items</h1>
  <table class="sortable">
    <thead>
      <tr>
        <th>Registrant</th>
        <th>Item</th>
        <th>Cost</th>
        <th>Details (only required for some items)</th>
        <th>Mark this item as having Money-Received</th>
        <th>Give this item to the Registrant for free</th>
      </tr>
    </thead>
    <tbody>
      <%= pf.fields_for :unpaid_details do |unpaid_detail| %>
        <tr>
          <td><%= unpaid_detail.object.registrant %><%= unpaid_detail.hidden_field :registrant_id %></td>
          <td><%= unpaid_detail.object.expense_item %><%= unpaid_detail.hidden_field :expense_item_id %></td>
          <td><%= unpaid_detail.object.amount %></td>
          <td><%= unpaid_detail.object.details %><%= unpaid_detail.hidden_field :details %></td>
          <td><%= unpaid_detail.check_box :pay_for %></td>
          <td><%= unpaid_detail.check_box :free %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <a id="show_hide_admin_payments_other_new" href="#">select other item</a>
  <table class="sortable" id="admin_payments_other_new">
    <thead>
      <tr>
        <th>Registrant</th>
        <th>Item</th>
        <th>Details (only required for some items)</th>
        <th>Pay for this item</th>
        <th>Mark this item as free</th>
      </tr>
    </thead>
    <tbody>
      <%= pf.fields_for :new_details do |new_detail| %>
        <tr>
          <td><%= new_detail.select :registrant_id, @registrants.map {|reg| [reg, reg.id] }, :include_blank => true %></td>
          <td><%= new_detail.select :expense_item_id, ExpenseItem.all.map {|ei| [ei.to_s + " - " + ei.cost.to_s, ei.id] }, :include_blank => true  %></td>
          <td><%= new_detail.text_field :details %></td>
          <td><%= new_detail.check_box :pay_for %></td>
          <td><%= new_detail.check_box :free %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= pf.submit "Create and Save Payment", :class => "payment_link registration_button" %>
<% end %>

<div>
  <%= link_to 'Back', admin_payments_path %>
</div>
