<h1>Payments Summary</h1>

<%= link_to "Create Adjustment Payment", onsite_pay_new_admin_payments_path %><br />
<%= link_to "Create New Payment (of anything)", new_admin_payment_path %><br />
<%= link_to "View list of Payments/Refunds", admin_payments_path %>
<br /><br />


<table>
  <caption>Payments Summary</caption>
  <thead>
    <tr>
      <th>Total Amount Received</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @total_received %></td>
    </tr>
  </tbody>
</table>

<hr />
<h2>Expenses by Group</h2>

<table class="sortable">
  <thead>
    <tr>
      <th>
        Group
      </th>
      <th>
        Entry
      </th>
      <th>
        Num paid
      </th>
      <th>
        Num unpaid
      </th>
      <th>
        Num total
      </th>
    </tr>
  </thead>
  <tbody>
    <% @expense_groups.each do |group| %>
      <% group.expense_items.each do |item| %>
        <tr>
          <td>
            <%= group %>
          </td>
          <td>
            <%= item %>
          </td>
          <td>
            <%= paid_count = item.payment_details.completed.count %>
          </td>
          <td>
            <% total_count = @all_expense_items.count(item) %>
            <%= (total_count - paid_count) %>
          </td>
          <td>
            <%= total_count %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
