%h1 List Directors
%table.sortable
  %thead
    %tr
      %th Event
      %th Director
  %tbody
    - @events.each do |event|
      %tr
        %td= event
        %td
          - User.with_role(:director, event).each do |user|
            = user
            = link_to "Delete", director_path(user.id, event_id: event.id), method: :delete,  data: {confirm: "Are you sure?" }

%h2 Create Director
= form_tag(directors_path, :method => "post") do |f|
  .row
    .small-12.medium-4.columns
      = label_tag :user_id, "User"
      = select_tag :user_id, options_from_collection_for_select(User.all, "id", "to_s"), include_blank: true, class: "chosen-select"
    .small-12.medium-4.columns
      = label_tag :event_id, "Event"
      = select_tag :event_id, options_from_collection_for_select(@events, "id", "to_s"), include_blank: true, class: "chosen-select"
    .small-12.medium-4.columns.text-left
      = submit_tag "Add Director", :class => "focus_button"
