%h1= t(".header")

%p= t(".description")


%p
  %b= t("note")
  = t(".note_1")
  %br
  = t(".note_2")

%table.sortable
  %thead
    %tr
      %th= Event.model_name.human
      %th= t(".director")
  %tbody
    - @events.each do |event|
      %tr
        %td= event
        %td
          - User.this_tenant.with_role(:director, event).each do |user|
            = user
            = link_to t("delete"), director_path(user.id, event_id: event.id), method: :delete,  data: {confirm: t("are_you_sure") }

%h2= t(".create_director")
= form_tag(directors_path, :method => "post") do |f|
  .row
    .small-12.medium-4.columns
      = label_tag :user_id, User.model_name.human
      = select_tag :user_id, options_from_collection_for_select(User.this_tenant.all, "id", "to_s"), include_blank: true, class: "chosen-select"
    .small-12.medium-4.columns
      = label_tag :event_id, Event.model_name.human
      = select_tag :event_id, options_from_collection_for_select(@events, "id", "to_s"), include_blank: true, class: "chosen-select"
    .small-12.medium-4.columns.text-left
      = submit_tag t(".add_director"), :class => "focus_button"
