= simple_form_for(@song.new_record? ? [@registrant, @song] : [@song]) do |f|
  = render partial: "shared/error_messages", object: @song
  .field
    = f.label :event
    = f.collection_select :event_id, @registrant.events_with_music_allowed, :id, :name
    = f.label :description
    = f.text_field :description
  = f.button :submit, "Next Step"
