= simple_form_for(@song, url: create_guest_song_user_songs_path(@user)) do |f|
  = render partial: "shared/error_messages", object: @song
  .field
    = f.label :registrant_id
    = f.select :registrant_id, Registrant.select_box_options, {include_blank: true}, class: "chosen-select"
    = f.label :event
    = f.collection_select :event_id, Event.music_uploadable, :id, :name
    = f.label :description
    = f.text_field :description
    %small
      %b= t(".note")
      = t(".max_file_size", size_mb: Song::SONG_MAX_SIZE_MB)
      %br
    = f.file_field :song_file_name
  = f.button :submit, t(".upload")
