%p= t(".description")
%b= t(".requirements")
%p
  %b= t(".music_deadline", end_date: @config.effective_music_submission_end_date)
  = t(".changes_after_deadline")

%table.sortable
  %thead
    %tr
      %th= Registrant.human_attribute_name(:bib_number)
      %th= t(".reg_name")
      %th= t(".guest")
      %th= Event.model_name.human
      %th= Song.human_attribute_name(:description)
      %th= Song.human_attribute_name(:song_file_name)
      %th= Song.human_attribute_name(:updated_at)
      %th
      %th
  %tbody
    - @songs.each do |song|
      - next unless song.persisted?
      %tr
        %td= song.registrant.bib_number
        %td= song.registrant
        %td= song.uploaded_by_guest? ? t("yes") : ""
        %td= song.event
        %td= song.description
        %td= song.human_name
        %td= song.updated_at
        %td
          %audio{ controls: true, src: song.song_file_name.url }
            %a{ href: song.song_file_name.url } song.song_file_name.to_s
          = link_to t(".download"), song.song_file_name.url, target: '_blank', download: true
        %td= link_to t(".remove"), song, method: :delete, data: { confirm: t("are_you_sure") }
