<p>
For some competitions, music is played during the competitor's competition time. Please upload an mp3 with the music you would like played. Please provide music of the appropriate length (see rulebook) for your competition/category.
</p>

<b>You are still required to have the music on a CD or MP3 player at the competition. This is so that if there are technical difficulties with the uploaded version, there is an alternate copy available.</b>

<p>
<b>Music may be uploaded until <%= @config.music_submission_end_date %></b>. After that time, if you need to change your music, please contact the organizers (or use "Help"->"Feedback").
</p>
<table class="sortable">
  <thead>
    <tr>
      <th>Event</th>
      <th>Description</th>
      <th>File name</th>
      <th>Last Updated</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.event %></td>
        <td><%= song.description %></td>
        <td><%= song.human_name %></td>
        <td><%= song.updated_at %></td>
        <td><%= link_to 'Download', song.song_file_name_url, target: '_blank' %></td>
        <td><%= link_to 'Add Song', add_file_song_path(song) %></td>
        <td><%= link_to 'Remove', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
