<h2>Song Add File </h2>
<h3>Event: <%= @song.event %> - <%= @song.description %></h3>
<%= direct_upload_form_for @uploader do |f| %>
  <%= hidden_field_tag 'Content-Type', 'audio/mpeg' %>
  <%= f.file_field :song_file_name %>
  <%= f.submit 'Upload Music' %>
<% end %>
