%h1= t(".title", name: @registrant.to_s)
= render "songs_list"
%br

%h1= t(".new_song")
.row
  .small-12.columns
    = render 'form'

%br
= link_to t(".add_songs_for_others"), my_songs_user_songs_path(current_user)

%hr
%p
  If you are done uploading songs, please proceed to the "#{@registrant} Summary"
  %br
  %b Note
  you can return to upload/update songs later.
= link_to "#{@registrant} Summary", registrant_path(@registrant), class: "button secondary"
