<h2>All Songs</h2>

<table class="sortable">
  <thead>
  <tr>
    <th>Reg ID</th>
    <th>Reg Name</th>
    <th>Event</th>
    <th>Description</th>
    <th>Updated Date</th>
    <th>Download</th>
  </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.registrant.bib_number %></td>
        <td><%= song.registrant %></td>
        <td><%= song.event %></td>
        <td><%= song.description %></td>
        <td><%= song.updated_at %></td>
        <td><%= link_to 'Download', song.song_file_name_url, target: '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
