%h1= t(".header")
%div= t(".description")

%br
.payment_details
  = form_tag(choose_manual_payments_path, method: :get) do
    = label_tag(:registrant_ids, Registrant.model_name.human(count: 2))
    = select_tag(:registrant_ids, options_from_collection_for_select(@registrants, "id", "with_id_to_s"), :multiple => true, class: 'chosen-select')
    %br
    = submit_tag t(".start_process"), class: "button"
  %div
    = link_to t("back"), summary_payments_path
