<%= form_for(@import_result.new_record? ? [@user, @import_result] : [@import_result]) do |f| %>
  <% if @import_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@import_result.errors.count, "error") %> prohibited this import_result from being saved:</h2>

      <ul>
      <% @import_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Competition</th>
        <th>Raw Data</th>
        <th>Bib Number</th>
        <th>Minutes</th>
        <th>Seconds</th>
        <th>Thousands</th>
        <th>DQ</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.select :competition_id, Competition.all.map {|comp| [comp.name, comp.id] }  %></td>
        <td><%= f.text_field :raw_data %></td>
        <td><%= f.number_field :bib_number %></td>
        <td><%= f.number_field :minutes %></td>
        <td><%= f.number_field :seconds %></td>
        <td><%= f.number_field :thousands %></td>
        <td><%= f.check_box :disqualified %></td>
        <td><%= f.submit %></td>
      </tr>
    </tbody>
  </table>
<% end %>
