= form_for(@import_result.new_record? ? [@user, @competition, @import_result] : [@import_result], |
  {:remote => true, :html => {:class => "data_entry"}}) do |f|                                    |
  = render partial: "/shared/error_messages", object: @import_result
  = f.hidden_field :is_start_time

  %table.import_results
    %thead
      %tr
        %th ID
        %th Name
        - if @competition.imports_times
          %th Minutes
          %th Seconds
          %th Thousands
        - else
          %th Rank (External)
          %th Details (external)
        %th Disqualified
        %th Competitor Exists?
        %th
        %th
    %tbody
      = render partial: 'import_result', collection: @import_results

    %tfoot
      %tr
        %td{ colspan: 2}= f.select :bib_number, Registrant.select_box_options_to_bib_number, {:include_blank => true, }, {:autofocus => true, class: 'chosen-select js--autoFocus' }
        - if @competition.imports_times
          %td= f.number_field :minutes
          %td= f.number_field :seconds
          %td= f.number_field :thousands
        - else
          %td= f.number_field :rank
          %td= f.text_field :details
        %td= f.select :status, TimeResult.status_values, include_blank: true
        %td{ colspan: "4"}= f.submit "Submit", :class => "multiclick"

#notice
