= simple_form_for(@import_result.new_record? ? [@user, @competition, @import_result] : [@import_result], |
  {:remote => true, :html => {:class => "data_entry"}}) do |f|                                    |
  = render partial: "/shared/error_messages", object: @import_result
  = f.hidden_field :is_start_time

  %table.import_results
    - cache ['header', @competition] do
      %thead
        %tr
          %th ID
          %th Name
          %th Competitor Exists?
          %th Minutes
          %th Seconds
          %th Thousands
          - if @competition.has_penalty?
            %th Penalties
          %th Disqualified
          %th
          %th
    %tbody
      = render partial: 'imported_time_result', collection: @import_results, as: :import_result


    %tfoot
      %tr
        %td{ colspan: 2}= registrant_bib_number_select_box(f, @competition)
        %td
        %td= f.number_field :minutes, {:min => 0}
        %td= f.number_field :seconds, {:min => 0}
        %td= f.number_field :thousands, {:min => 0}
        - if @competition.has_penalty?
          %td= f.number_field :number_of_penalties
        %td= f.select :status, TimeResult.status_values, include_blank: true
        %td{ colspan: "2"}= f.button :submit, "Submit", :class => "multiclick"

#notice
