= simple_form_for(@import_result.new_record? ? [@user, @competition, @import_result] : [@import_result], |
  {:remote => true, :html => {:class => "data_entry"}}) do |f|                                    |
  = render partial: "/shared/error_messages", object: @import_result
  = f.hidden_field :is_start_time

  %table.import_results
    - cache ['header', @competition] do
      = render "imported_time_result_thead"
    %tbody
      = render partial: 'imported_time_result', collection: @import_results, as: :import_result

    %tfoot
      %tr
        %td
        %td{ colspan: 2}= registrant_bib_number_select_box(f, @competition, class: "js--autoFocus")
        %td

        - displayer = @competition.results_displayer
        - displayer.form_inputs.each do |field_name, field_options|
          %td= f.number_field field_name, field_options

        %td= f.select :status, TimeResult.status_values, include_blank: true
        %td{ colspan: "2"}= f.button :submit, "Submit", data: { disable_with: false }

#notice
