<tr>
  <td><%= import_result.competition %></td>
  <td><%= import_result.raw_data %></td>
  <td><%= import_result.bib_number %></td>
  <td><%= import_result.minutes %></td>
  <td><%= import_result.seconds %></td>
  <td><%= import_result.thousands %></td>
  <td><%= import_result.disqualified %></td>
  <td><%= import_result.is_start_time %></td>
  <td><%= import_result.rank %></td>
  <td><%= import_result.details %></td>
  <td><%= Registrant.find_by_bib_number(import_result.bib_number) %></td>
  <% if import_result.competition.find_competitor_with_bib_number(import_result.bib_number) %>
    <td class="competitor_exists">Yes</td>
  <% else %>
    <td class="competitor_not_exists">No</td>
  <% end %>
  <td><%= link_to 'Edit', edit_import_result_path(import_result) %></td>
  <td><%= link_to 'Destroy', import_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
