- cache [import_result, Registrant, import_result.competition] do
  %tr
    %td= import_result.bib_number
    = render partial: "matching_registrant_cell", locals: { import_result: import_result }
    - if import_result.competition.data_entry_format.hours?
      %td= import_result.hours
    %td= import_result.minutes
    %td= import_result.seconds
    - if import_result.competition.data_entry_format.thousands?
      %td= import_result.thousands
    - if import_result.competition.data_entry_format.hundreds?
      %td= import_result.hundreds
    - if import_result.competition.has_penalty?
      %td= import_result.number_of_penalties
    %td= import_result.disqualified? ? "Yes" : ""
    %td= link_to t("edit"), edit_import_result_path(import_result)
    %td= link_to t("delete"), import_result, method: :delete, data: { confirm: t("are_you_sure") }
