<h1>Data Entry for <%= @competition %> </h1

<h1>Listing Imported Results</h1>
<%= render :partial => "imported_results" %>
<%= form_tag(destroy_all_user_competition_import_results_path(@user, @competition), {:method => :delete, :multipart=>true}) do %>
  <%= submit_tag "Delete all in Temp Table", :class => "data_import_delete", data: {:confirm => "DELETE, Are you sure?" } %>
<% end %>
<%= form_tag(approve_user_competition_import_results_path(@user, @competition), {:method => :post}) do %>
  <%= submit_tag "Import all in Temp Table into Competition", :class=> "data_import_submit", data: {:confirm => "IMPORT, Are you sure?" } %>
<% end %>
<hr />

<div id="notice"></div>
<% @import_result ||= ImportResult.new %>
<%= render partial: "form" %>
