%h1 Import CSV Data

%h2 CSV Import Instructions

- if @competition.uses_lane_assignments
  Please import a Comma-Separated-File file with the following format (for 'Distance' competitions):

  %ul
    %li Column 1: ID
    %li Column 2: Minutes
    %li Column 3: Seconds
    %li Column 4: Thousands
    %li Column 5: "DQ" or empty

  = form_tag(import_csv_user_competition_import_results_path(@user, @competition), {:method => :post, :multipart=>true}) do
    = label_tag :file, "Source File"
    = file_field_tag :file
    %br
    = label_tag :start_times, "Start Times?"
    = check_box_tag :start_times
    %br
    = submit_tag "Load CSV to Temp Table"

- elsif @competition.event_class == "Points High to Low" || @competition.event_class == "Points Low to High"
  Please import a Comma-Separated-File file with the following format (for 'Points' Competitions):
  %ul
    %li Column 1: ID
    - if @competition.event_class == "Points High to Low"
      %li Column 2: Points (Numeric value, higher is better. Used when calculating age-group places)
    - else
      %li Column 2: Points (Numeric value, lower is better. Used when calculating age-group places)
    %li Column 3: Details (to be printed on awards)

  = form_tag(import_csv_user_competition_import_results_path(@user, @competition), {:method => :post, :multipart=>true}) do
    = file_field_tag "file"
    = submit_tag "Load CSV to Temp Table"

= render :partial => "imported_results"
