<h1>New Importing Data</h1>

<h1>Listing <%= @user %>'s Imported Results</h1>

<h3>Menu of actions</h3>
<ul>
  <li><%= link_to "Enter Single-result", user_competition_single_attempt_entries_path(@user, @competition) %></li>
  <li><%= link_to "Enter two-results at a time", user_competition_two_attempt_entries_path(@user, @competition) %></li>
  <li><%= link_to "Import CSV", display_csv_user_competition_import_results_path(@user, @competition) %></li>
  <li><%= link_to "Import LIF", display_lif_user_competition_import_results_path(@user, @competition) %></li>
  <li></li>
  <li><%= link_to "Accept these Results", approve_user_competition_import_results_path(@user, @competition), method: :post, data: {:confirm => "Are you Sure?" }, class: "data_import_submit" %></li>
  <li><%= link_to "Remove all Data", destroy_all_user_competition_import_results_path(@user, @competition), method: :delete, data: {confirm: "DELETE, Are you sure?"}, class: "data_import_delete" %></li>
</ul>

<%= render :partial => "imported_results" %>
