<h1>New Importing Data</h1>

<h1>Listing <%= @user %>'s Imported Results</h1>

<h3>Menu of actions</h3>
<ul>
  <li><%= link_to "Enter Single-result", data_entry_user_competition_import_results_path(@user, @competition) %></li>
  <li><%= link_to "Enter two-results at a time", user_competition_two_attempt_entries_path(@user, @competition) %></li>
  <li><%= link_to "Import CSV", display_csv_user_competition_import_results_path(@user, @competition) %></li>
  <li><%= link_to "Import LIF", display_lif_user_competition_import_results_path(@user, @competition) %></li>
  <li></li>
</ul>

<%= render :partial => "imported_results" %>
