<h1>New Importing Data</h1>

<%= render 'form' %>

<h1>Listing Import Results</h1>
<table>
  <tr>
    <th>Raw data</th>
    <th>Bib number</th>
    <th>Minutes</th>
    <th>Seconds</th>
    <th>Thousands</th>
    <th>Disqualified</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @import_results.each do |import_result| %>
  <tr>
    <td><%= import_result.raw_data %></td>
    <td><%= import_result.bib_number %></td>
    <td><%= import_result.minutes %></td>
    <td><%= import_result.seconds %></td>
    <td><%= import_result.thousands %></td>
    <td><%= import_result.disqualified %></td>
    <td><%= link_to 'Edit', edit_import_result_path(import_result) %></td>
    <td><%= link_to 'Destroy', import_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<h2>CSV Import Instructions</h2>
Please import a Comma-Separated-File file with the following format:
<ul>
  <li>Column 1: ID
  <li>Column 2: Minutes
  <li>Column 3: Seconds
  <li>Column 4: Thousands
  <li>Column 5: "DQ" or empty
</ul>

<%= form_tag(import_csv_user_import_results_path(@user), {:method => :post, :multipart=>true}) do %>
  <%= file_field_tag "file" %>
  <%= submit_tag "Load CSV to Temp Table" %>
<% end %>
<hr />
<%= form_tag(import_lif_user_import_results_path(@user), {:method => :post, :multipart=>true}) do %>
  <%= label_tag :heat, "Heat" %><%= text_field_tag "heat" %><br />
  <%= file_field_tag "file" %>
  <%= submit_tag "Load LIF to Temp Table" %>
<% end %>
<hr />
<%= form_tag(destroy_all_user_import_results_path(@user), {:method => :delete, :multipart=>true}) do %>
  <%= submit_tag "Delete all in Temp Table", :confirm => "DELETE, Are you sure?" %>
<% end %>
