%h1
  Review Heat ##{@heat} Data for #{@competition}

.heat_assignment_summary
  = render partial: "/lane_assignments/view_heat_summary"

%table.sortable.import_results.js--shouldNotMatchSet
  %thead
    %tr
      %th Lane #
      %th Bib number
      %th Competitor
      %th
      %th Raw data
      %th Time
      %th Disqualified
      %th Entered By
      %th Entered At
      %th
      %th
  %tbody
    - @heat_lane_results.each do |result|
      %tr
        %th.js--shouldNotMatch= result.lane
        %td= result.bib_number
        %td.js--highlightIfBlank= result.competitor_name
        %td.js--highlightIfNotBlank= result.competitor_has_results? ? "WARN: Competitor has result" : ""
        %td= result.raw_data
        %td= result.full_time
        %td= result.disqualified? ? "DQ" : ""
        %td= result.entered_by
        %td= result.entered_at
        %td= link_to 'Edit', edit_heat_lane_result_path(result)
        %td= link_to 'Delete', result, method: :delete, data: { confirm: 'Are you sure?' }
    - @lane_assignments.each do |assignment|
      - if @heat_lane_results.where(lane: assignment.lane).empty?
        %tr
          %td.js--shouldNotMatch= assignment.lane
          %td.missing_data Not Found
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td

%h3 Menu of actions

%p= link_to "Accept these Results", approve_heat_user_competition_import_results_path(@user, @competition, heat: @heat), method: :post, data: {:confirm => "Are you Sure?" }, class: "button success"

%br
%br

%p= link_to "Delete These Resuls without Approving", delete_heat_user_competition_import_results_path(@user, @competition, heat: @heat), method: :delete, data: { confirm: "Deleting, Are you sure?" }, class: "button warn"

= link_to "Back to Heat Import", import_lif_user_competition_import_results_path(@user, @competition)
