<h1>Payment Adjstments</h1>
<% if mixpanel? %>
  <script type="text/javascript">
    mixpanel.track("New Payment Page Loaded")
  </script>
<% end %>


<h1>Paid Items</h1>
<table class="sortable">
  <thead>
    <tr>
      <th>Registrant</th>
      <th>Item</th>
      <th>Paid Amount</th>
      <th>Details (only required for some items)</th>
    </tr>
  </thead>
  <tbody>
    <% @p.paid_details.each do |paid_detail| %>
      <tr>
        <td><%= paid_detail.registrant %></td>
        <td><%= paid_detail.expense_item %></td>
        <td><%= paid_detail.amount %></td>
        <td><%= paid_detail.details %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= form_tag(refund_choose_payment_adjustments_path, :method => :post) do %>
  <% @p.registrants.each do |reg| %>
    <%= hidden_field_tag "registrant_id[]", reg.id %>
  <% end %>
  <%= submit_tag "Refund some items", :class => "payment_link registration_button" %>
<% end %>

<hr />

<h1>Chosen (but unpaid) Details</h1>
<table class="sortable">
  <thead>
    <tr>
      <th>Registrant</th>
      <th>Item</th>
      <th>Cost</th>
      <th>Details (only required for some items)</th>
    </tr>
  </thead>
  <tbody>
    <% @p.unpaid_details.each do |unpaid_detail| %>
      <tr>
        <td><%= unpaid_detail.registrant %></td>
        <td><%= unpaid_detail.expense_item %></td>
        <td><%= unpaid_detail.amount %></td>
        <td><%= unpaid_detail.details %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag(onsite_pay_confirm_payment_adjustments_path, :method => :post) do %>
  <% @p.registrants.each do |reg| %>
    <%= hidden_field_tag "registrant_id[]", reg.id %>
  <% end %>
  <%= submit_tag "Choose Items to Mark Paid", :class => "payment_link registration_button" %>
<% end %>

<div>
  <%= link_to 'Back', new_payment_adjustment_path %>
</div>
