<h1>Listing payments And Refunds</h1>

<br /><br />

<table class="sortable">
  <thead>
    <tr>
      <th>Payment ID</th>
      <th>User</th>
      <th>Completed</th>
      <th>Cancelled</th>
      <th>Transaction</th>
      <th>Note</th>
      <th>Completed date</th>
      <th>Payment date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.id %></td>
        <td><%= payment.user %></td>
        <td><%= payment.completed %></td>
        <td><%= payment.cancelled %></td>
        <td><%= payment.transaction_id %></td>
        <td><%= payment.note %></td>
        <td><%= payment.completed_date %></td>
        <td><%= payment.payment_date %></td>
        <td><%= link_to 'Show', payment %></td>
      </tr>
    <% end %>
  </thead>
</table>

<br />

<table class="sortable">
  <thead>
    <tr>
      <th>Refund ID</th>
      <th>User</th>
      <th>Note</th>
      <th>Refund Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @refunds.each do |refund| %>
      <tr>
        <td><%= refund.id %></td>
        <td><%= refund.user %></td>
        <td><%= refund.note %></td>
        <td><%= refund.refund_date %></td>
        <td><%= link_to 'Show', refund %></td>
      </tr>
    <% end %>
  </tbody>
</table>

