<h1>Payment Adjstments</h1>

<h1>
  Select the items to refund:
</h1>
<b>Note: Refunds don't cause the item to be added back to the Registrant's choices (except for 'required' items)</b>


<% @registrants = @refund_presenter.registrants %>
<%= form_for(@refund_presenter, :url => refund_create_payment_adjustments_path) do |pf| %>
  <%= render :partial => "/shared/error_messages", :object => @refund_presenter %>

  <%= pf.label :note %><%= pf.text_field :note %>
  <%= pf.label :percentage %><%= pf.number_field :percentage, {min: 0} %>

  <h1>Paid Details</h1>
  <table class="sortable">
    <thead>
      <tr>
        <th>Registrant</th>
        <th>Item</th>
        <th>Paid Amount</th>
        <th>Details (only required for some items)</th>
        <th>Refund This Item</th>
      </tr>
    </thead>
    <tbody>
      <%= pf.fields_for :paid_details do |paid_detail| %>
        <tr>
          <% pd = paid_detail.object.payment_detail %>
          <td><%= pd.registrant %><%= paid_detail.hidden_field :payment_detail_id %></td>
          <td><%= pd.expense_item %></td>
          <td><%= pd.amount %></td>
          <td><%= pd.details %></td>
          <td><%= paid_detail.check_box :refund %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= pf.submit "Create Refund", :class => "payment_link registration_button" %>
<% end %>

<div>
  <%= link_to 'Back', new_payment_adjustment_path %>
</div>
