%h1 Payment Adjstments
%h1
  Select the items to refund:
%b Note: Refunds don't cause the item to be added back to the Registrant's choices (except for 'required' items)
- @registrants = @refund_presenter.registrants
= form_for(@refund_presenter, :url => refund_create_payment_adjustments_path) do |pf|
  = render :partial => "/shared/error_messages", :object => @refund_presenter
  = pf.label :note
  = pf.text_field :note
  = pf.label :percentage
  = pf.number_field :percentage, {min: 0}
  %h1 Paid Details
  %table.sortable
    %thead
      %tr
        %th Registrant
        %th Item
        %th Paid Amount
        %th Details (only required for some items)
        %th Refund This Item
    %tbody
      = pf.fields_for :paid_details do |paid_detail|
        %tr
          - pd = paid_detail.object.payment_detail
          %td
            = pd.registrant
            = paid_detail.hidden_field :payment_detail_id
          %td= pd.expense_item
          %td= pd.amount
          %td= pd.details
          %td= paid_detail.check_box :refund
  = pf.submit "Create Refund", :class => "payment_link registration_button"
%div
  = link_to 'Back', new_payment_adjustment_path
