= simple_form_for([@coupon_code]) do |f|
  = render partial: "/shared/error_messages", object: @coupon_code
  = f.input :name
  = f.input :code
  = f.input :description
  = f.input :inform_emails
  = f.input :price
  = f.input :max_num_uses
  = f.association :expense_items, collection: ExpenseItem.user_manageable.order(:name).all, label_method: :name, include_blank: true, input_html: { multiple: true, class: "chosen-select" }
  = f.button :submit
