- # age_group_entry
- # competition
- place_function = :place_formatted
- # description
- # result_description
- # competitors
- # place_function

- competitors = competition.results_list_for(age_group_entry)
- return if competitors.size == 0
.nobreak
  %h2.age_group_description= age_group_entry
  %div{:style => "clear: both"}
  %hr
  - if competitors.count == 0
    %h3 No Competitors
  - else
    %table.full.results.race
      %thead
        %tr
          %th.place Place
          %th.id ID
          %th.name Name
          - unless competition.result_description.nil?
            %th.time= competition.result_description
          %th.details Details
      %tbody
        - competitors.each do |competitor|
          - cache [competitor, Result.cache_key_for_set(competitor.id)] do
            %tr
              %td.place= competitor.send(place_function)
              %td= competitor.bib_number
              %td
                - if competitor.team_name.present?
                  %b= competitor.team_name
                  %br
                = competitor.members.map(&:to_s).join(", ")
              - unless competitor.result.nil?
                %td.time= competitor.result
              %td.details= competitor.details

  %hr.age_group_separator
