- # description
- # result_description
- # competitors
- # place_function
.nobreak
  %h2.age_group_description= description
  %div{:style => "clear: both"}
  %hr
  - if competitors.count == 0
    %h3 No Competitors
  - elsif competitors.first.active_members.count > 2
    - # Group event, list the members
    - competitors.each do |competitor|
      %h3
        Place: #{competitor.send(place_function)} -  #{competitor}
      %table
        %thead
          %tr
            %th ID
            %th Name
        %tbody
          - competitor.active_members.each do |member|
            %tr
              %td= member.registrant.bib_number
              %td= member.registrant
      %hr
  - else
    %table.full.results.race
      %thead
        %tr
          %th.place Place
          %th.id ID
          %th.name Name
          - unless result_description.nil?
            %th.time= result_description
          %th.details Details
      %tbody
        - competitors.each do |competitor|
          %tr
            %td.place= competitor.send(place_function)
            %td= competitor.bib_number
            %td= competitor.to_s
            - unless result_description.nil?
              %td.time= competitor.result
            %td.details= competitor.details

  %hr.age_group_separator
