<% # description
# result_description
# competitors
# no_page_breaks
%>
<div class="nobreak">
  <h2 class="age_group_description"><%= description %></h2>
  <div style="clear: both"></div>
  <hr />

  <% if competitors.count == 0 %>
    <h3>No Competitors yet</h3>
  <% elsif competitors.first.members.count > 2 %>
    <% # Group event, list the members %>
    <% competitors.each do |competitor| %>
      <h3>Place: <%= competitor.place_formatted %> -  <%= competitor %></h3>
      <hr />
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% competitor.members.each do |member| %>
            <tr>
              <td><%= member.registrant.bib_number %></td>
              <td><%= member.registrant %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <table class="full results race">
      <thead>
        <tr>
          <th class="place">Place</th>
          <th class="id">ID</th>
          <th class="name">Name</th>
          <% unless result_description.nil? %>
            <th class="time"><%= result_description %></th>
          <% end %>
          <th class="details">Details</th>
        </tr>
      </thead>
      <tbody>
        <% competitors.each do |competitor| %>
          <%= render :partial => "/printing/competitions/result_entry", :locals => {:id => competitor.bib_number, :name => competitor.to_s, :time => competitor.result, :place => competitor.place_formatted, details: competitor.details } %>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% if no_page_breaks %>
    <hr class="age_group_separator" />
  <% else %>
    <div class="page-break"></div>
  <% end %>
</div>
