.race_recording
  %h1
    = @competition.award_title_name
    = @competition.award_subtitle_name
    Results
  - if !@competition.has_age_group_entry_results?
    - @all_competitors = @competition.results_list
    = render :partial => "/printing/competitions/competition_results", :locals => {:description => nil, :result_description => nil, :competitors => @all_competitors, place_function: :overall_place_formatted }
  - else
    - if @competition.has_experts?
      - ["Male", "Female"].each do |gender|
        = render partial: "/printing/competitions/competition_results", locals: { description: "Expert #{gender}", result_description: @competition.result_description, competitors: @competition.expert_results_list(gender), place_function: :overall_place_formatted }
    - @competition.age_group_entries.each do |ag_entry|
      = render partial: "/printing/competitions/age_group_results", locals: { age_group_entry: ag_entry, competition: @competition }
