-cache [@competition, @config] do
  %h2= "#{@competition} Competitors"

  %table.full.grid.competitor_list
    %thead
      %tr
        - if @competition.compete_in_order
          %th Order
        %th ID
        %th Name
        %th Club
        - if @config.usa?
          %th State
        - else
          %th Country
    %tbody
      - @competition.competitors.active.each do |comp|
        - cache [@competition, comp, @config] do
          %tr
            - if @competition.compete_in_order
              %td= comp.position
            %td= comp.bib_number
            %td
              - if comp.team_name.present?
                %b= comp.team_name
                %br
              - comp.members.each do |member|
                = member
                %br
            %td= comp.club
            - if @config.usa?
              %td= comp.state
            - else
              %td= comp.country
