%h2= "#{@competition} Competitors"

%table.full_grid
  %thead
    %tr
      - if @competition.compete_in_order
        %th Order
      %th ID
      %th Name
      %th Club
      %th Country
  %tbody
    - @competition.competitors.each do |comp|
      %tr
        - if @competition.compete_in_order
          %td= comp.position
        %td= comp.bib_number
        %td= comp
        %td= comp.club
        %td= comp.country
