- cache_i18n [@competition, @config] do
  %h2= "#{@competition.award_title} Competitors"

  - if @competition.start_list?
    %p These competitors are in ID order. Not in competition-order

  %table.full.grid.sortable
    %thead
      %tr
        %th ID
        %th Name
        - if @competition.age_group_type
          %th Age Group
        %th= Competitor.state_or_country_description(@config.usa?)

    %tbody
      - competitors = @competition.competitors.includes(:members => [:registrant => [:contact_detail]]).active
      - competitors = competitors.reorder("competitors.lowest_member_bib_number")
      - competitors.each do |comp|
        -# Why is this cached with i18n?
        - cache_i18n [@competition, comp, @config] do
          %tr
            %td= comp.bib_number
            %td
              - if comp.team_name.present?
                %b= comp.team_name
                %br
              - comp.members.each do |member|
                = member
                %br
            - if @competition.age_group_type
              %td= comp.age_group_entry_description
            %td= comp.state_or_country(@config.usa?)
