%h1 #{@competition}

- event_class = @competition.scoring_class # "Artistic Freestyle IUF 2017"
- performance_judge_type = JudgeType.where(event_class: event_class).find_by(name: "Performance")
- technical_judge_type = JudgeType.where(event_class: event_class).find_by(name: "Technical")
- dismount_judge_type = JudgeType.where(event_class: event_class).find_by(name: "Dismount")
- with_ineligible = @competition.score_ineligible_competitors?
%table
  %thead
    %tr
      %th{ rowspan: 2 } Name
      %th{ rowspan: 2 } Performance [%]
      %th{ rowspan: 2 } Technical [%]
      - if dismount_judge_type
        %th{ colspan: 2 } Dismounts [#]
      %th.border-left{ rowspan: 2 } Total [%]
      %th{ rowspan: 2 } Place
    - if dismount_judge_type
      %tr
        %th Major
        %th Minor
  %tbody
    - @competition.results_list.each do |competitor|
      %tr
        %td= competitor
        %td= @competition.competitor_placing_points(competitor, performance_judge_type, with_ineligible: true)
        %td= @competition.competitor_placing_points(competitor, technical_judge_type, with_ineligible: true)
        - if dismount_judge_type
          - dismounts = @competition.scoring_calculator.dismount_points_for_competitor(competitor, dismount_judge_type)
          %td= dismounts[:major_dismounts]
          %td= dismounts[:minor_dismounts]
        %td.border-left= competitor.comparable_score_with_ineligible
        %td= competitor.overall_place
  %tfoot
    %tr
      %td Total
      %td 100%
      %td 100%
      - if dismount_judge_type
        %td -
        %td -
      %td.border-left 100%
      %td

%br
%br
.left-aligned
  = render "freestyle_explanation"
