<div class="race_recording">
  <% @competition_sign_up.age_group_entries.each do |description, gender| %>
  <h1>Race Recording Form</h1>
  <hr />
  <h2><%= @competition %></h2>
  <hr />
  <h2 class="age_group_description"><%= description %></h2>
  <h2 class="age_group_gender"><%= gender %></h2>
  <div style="clear: both"></div>
  <hr />

  <table class="full grid race">
    <thead>
      <tr>
        <th class="heat_entry">Heat</th>
        <th class="lane_entry">Lane</th>
        <th class="id">ID</th>
        <th class="name">Name</th>
        <th class="dq">DQ?</th>
        <th class="notes">Notes</th>
      </tr>
    </thead>
    <tbody>
      <% @competition_sign_up.signed_up_list(description).each do |reg| %>
        <%= render :partial => "heat_entry", :locals => {:id => reg.external_id, :name => reg.to_s, :not_signed_up => false } %>
      <% end %>
      <% @competition_sign_up.not_signed_up_list(description).each do |reg| %>
        <%= render :partial => "heat_entry", :locals => {:id => reg.external_id, :name => reg.to_s, :not_signed_up => true } %>
      <% end %>
      <% 5.times do %>
        <%= render :partial => "heat_entry", :locals => {:id => nil, :name => nil, :not_signed_up => false} %>
      <% end %>

    </tbody>
  </table>
  <div class="page-break"></div>
<% end %>
</div>
