<h1>Competition Forms</h1>
<h2><%= @competition %></h2>

<h3>Data Gathering</h3>
<%= link_to "Announcer Form", announcer_printing_competition_path(@competition) %>
<%= link_to "(pdf)", announcer_printing_competition_path(@competition, :format => :pdf) %>

<br /><br />
<%= link_to "Heat Recording", heat_recording_printing_competition_path(@competition) %>
<%= link_to "(pdf)", heat_recording_printing_competition_path(@competition, :format => :pdf) %>

<br /><br />
<%= link_to "Two Attempt Recording", two_attempt_recording_printing_competition_path(@competition) %>
<%= link_to "(pdf)", two_attempt_recording_printing_competition_path(@competition, :format => :pdf) %>

<br /><br />
<h2>Competition Results Printing</h2>
<%= form_tag(results_printing_competition_path(@competition, :format => :pdf), :method => :get) do %>
  <%= label_tag :no_page_breaks %>
  <%= check_box_tag :no_page_breaks %><br />

  <%= submit_tag "Print Results" %>
<% end %>

<br /><br />
