- cache_i18n [@competition, @config] do
  %h2= "Order of #{@competition.award_title} Competitors"

  - heat_times = @competition.heat_times

  - competitors = @competition.competitors.includes(:members => [:registrant => [:contact_detail]]).active

  // Artistic
  - if @competition.compete_in_order?
    - competitors = competitors.reorder("competitors.position")
    = render partial: "artistic_start_list", locals: { competitors: competitors }

  // Track
  - if @competition.uses_lane_assignments?
    - competitors = competitors.includes(:lane_assignments).reorder("lane_assignments.heat, lane_assignments.lane")
    = render partial: "lane_assignment_start_list", locals: { competitors: competitors, heat_times: heat_times }

  // Distance Mass Start
  - has_heats = competitors.where.not(heat: nil).any?
  - if has_heats
    - heats = competitors.map(&:heat).uniq.compact.sort
    - heats.each do |heat|
      - filtered_competitors = competitors.where(heat: heat).reorder(:lowest_member_bib_number)
      = render partial: "mass_start_list", locals: { heat: heat, competitors: filtered_competitors, heat_times: heat_times }
