- cache_i18n [@competition, @config] do
  %h2= "Order of #{@competition.award_title} Competitors"

  - wave_times = @competition.wave_times

  - competitors = @competition.competitors.includes(:members => [:registrant => [:contact_detail]]).active

  // Artistic
  - if @competition.compete_in_order?
    - competitors = competitors.reorder("competitors.position")
    = render partial: "artistic_start_list", locals: { competitors: competitors }

  // Track
  - if @competition.uses_lane_assignments?
    - competitors = competitors.includes(:lane_assignments).reorder("lane_assignments.heat, lane_assignments.lane")
    = render partial: "lane_assignment_start_list", locals: { competitors: competitors, wave_times: wave_times }

  // Distance Mass Start
  - has_waves = competitors.where.not(wave: nil).any?
  - if has_waves
    - waves = competitors.map(&:wave).uniq.compact.sort
    - waves.each do |wave|
      - filtered_competitors = competitors.where(wave: wave).reorder(:lowest_member_bib_number)
      = render partial: "mass_start_list", locals: { wave: wave, competitors: filtered_competitors, wave_times: wave_times }
