%h1 #{@competition.award_title_name} Candidates

%p
  These are the competitors who are currently candidates for the #{@competition.award_title_name}

.non_printable
  = link_to "PDF (by gender)", competition_candidates_path(@competition, format: :pdf, sort: "gender")
  = link_to "PDF (by result)", competition_candidates_path(@competition, format: :pdf, sort: "result")

%table.sortable
  %thead
    %tr
      %th Gender
      %th Place
      %th ID
      %th Competitor
      %th Time
  %tbody
    - @competitors.each do |comp|
      %tr
        %td= comp.gender
        %td= comp.overall_place
        %td= comp.bib_number
        %td= comp
        %td= comp.result

%hr

- if @competition.uses_lane_assignments?
  .non_printable
    - if @lanes_for_places
      = render "confirm_proposed_lane_assignments"
    - else
      = render "choose_expert_lane_assignments"
