<h1>Users</h1>
<% roles = User.roles %>

<h2>Role Descriptions</h2>

<% User.roles.each do |role| %>
  <h3><%= role %></h3>
  <p><pre><%= User.role_description(role) %></pre></p>

  <br />
  <table class="sortable">
    <thead>
      <tr>
        <th>Email</th>
        <th>Remove <%= role %></th>
      </tr>
    </thead>
    <tbody>
      <% User.with_role(role).each do |user| %>
        <tr>
          <td><%= user %></td>
          <td>
            <%= form_tag(set_role_permissions_path, { :method => :put }) do %>
              <%= hidden_field_tag :role_name, role %>
              <%= hidden_field_tag :user_id, user.id %>
              <%= submit_tag "Remove #{role}" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= form_tag(set_role_permissions_path, { :method => :put}) do %>
    <%= select_tag :user_id, options_from_collection_for_select(User.all, "id", "to_s", {:include_blank => true}) %>
    <%= hidden_field_tag :role_name, role %>
    <%= submit_tag "Add #{role}" %>
  <% end %>
<% end %>
