= form_for(@combined_competition) do |f|
  - if @combined_competition.errors.any?
    #error_explanation
      %h2
        = pluralize(@combined_competition.errors.count, "error")
        prohibited this combined_competition from being saved:
      %ul
        - @combined_competition.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :use_age_group_places
    %br
    = f.check_box :use_age_group_places
  .field
    = f.label :percentage_based_calculations
    %br
    = f.check_box :percentage_based_calculations
  .actions
    = f.submit
