<table class="sortable">
  <caption><%= results.gender %> Competitors:</caption>
  <thead>
    <tr>
      <th>Place</th>
      <th>ID</th>
      <th>Name</th>
      <% results.combined_competition.combined_competition_entries.each do |entry| %>
        <th><%= entry.to_s %></th>
        <th></th>
      <% end %>
      <th>Total Points</th>
    </tr>
  </thead>

  <tbody>
    <% results.results.each do |result| %>
      <tr>
        <td><%= result[:place] %></td>
        <td><%= result[:bib_number] %></td>
        <td><%= Registrant.find_by(:bib_number => result[:bib_number]) %></td>
        <% results.combined_competition.combined_competition_entries.each do |entry| %>
          <% matching_comp = result[:results][entry.abbreviation] %>
          <% if matching_comp %>
            <td><%= matching_comp[:entry_place] %></td>
            <td><%=  matching_comp[:entry_points] %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        <% end %>
        <th><%= result[:total_points] %></th>
      </tr>
    <% end %>
  </tbody>
</table>
