<h1>Listing combined_competitions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @combined_competitions.each do |combined_competition| %>
      <tr>
        <td><%= combined_competition.name %></td>
        <td><%= link_to 'Show', combined_competition %></td>
        <td><%= link_to 'Edit', edit_combined_competition_path(combined_competition) %></td>
        <td><%= link_to 'Destroy', combined_competition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Combined competition', new_combined_competition_path %>
