%h1= StandardSkillEntry.model_name.human(count: 2)
%p= t(".available_entries")
%table
  %tr
    %th= StandardSkillEntry.human_attribute_name(:number)
    %th= StandardSkillEntry.human_attribute_name(:letter)
    %th= StandardSkillEntry.human_attribute_name(:points)
    %th= StandardSkillEntry.human_attribute_name(:description)
  - @standard_skill_entries.each do |entry|
    %tr
      %td= entry.number
      %td= entry.letter
      %td= entry.points
      %td= entry.description
