%h1 Convention Setup

%p There are the following major settings to be configured:

%ul
  %li
    Server settings. These are settings like
    = link_to "Name & Logo", name_logo_event_configuration_path
    ,
    = link_to "Information Pages", convention_setup_pages_path
    (ie: details about the city, lodging, or other miscellaneous details you want to share with registrants)
    = link_to "Domain Setup", tenant_aliases_path
  %li
    = link_to "Registrant Type", registrant_types_event_configuration_path
    details
    (ie: do we want to accept Spectator Registrations, describe the benefits of each type of registration)
  %li
    What
    = link_to "Rules & Waiver", rules_waiver_event_configuration_path
    will be in use for this Convention?
  %li
    What does it
    = link_to "Cost", convention_setup_costs_path
    to register for the convention?
  %li
    What
    = link_to "Events", convention_setup_categories_path
    are being offered?
