%h1 #{@judge.competition} - Tie Break Adjustments

.row
  .small-12.columns
    %p
      If competitors end their official attempts with a tie, they should compete
      in a tie-breaker.

    %p
      From this page, you can enter the results of that tie breaker so that the
      correct place is assigned to the individual competitors, even though they
      both will receive the same official "Distance" result.

- unless @tie_break_adjustments.empty?
  %table.sortable
    %caption All Tie Break Adjustments
    %thead
      %tr
        %th Initial Distance
        %th Age Group
        %th ID
        %th Competitor
        %th Tie Break Place
        %th Judge
        %th
    %tbody
      - @tie_break_adjustments.each do |tba|
        - next unless tba.persisted?
        - cache [tba] do
          %tr
            %td= tba.competitor.result
            %td= tba.competitor.age_group_entry_description
            %td= tba.competitor.bib_number
            %td= tba.competitor.to_s
            %td= tba.tie_break_place
            %td= tba.judge.to_s
            %td= link_to t("delete"), tba, method: :delete, data: { confirm: t("are_you_sure") }

.non_printable
  %br
  %rb
  = render partial: "form"

  = link_to "Back", judge_distance_attempts_path(@judge)
