%h1 Registrant Wheel Size Overrides

%h3 Your default Wheel Size is #{@registrant.default_wheel_size}
%br
%br

%table
  %thead
    %tr
      %th Event
      %th Wheel Size
      %th
      %th
  %tbody
    - @competition_wheel_sizes.each do |competition_wheel_size|
      - next unless competition_wheel_size.persisted?
      %tr
        %td= competition_wheel_size.event
        %td= competition_wheel_size.wheel_size
        %td= link_to 'Delete', competition_wheel_size, method: :delete, data: { confirm: 'Are you sure?' }

%hr

%h1 New Registrant Wheel Size Override
= render 'form'

%br
%br
When you are done, close this window to return to the Registration form.
