<% @categories = categories
   @registrant = registrant
 %>
  <div id="tabs">
    <ul>
      <% @categories.each do |category| %>
        <li><a href="#tabs-<%= category.id %>"><%= category %></a></li>
      <% end %>
    </ul>

    <% @categories.each_index do |index|
      category = @categories[index]
      if index >= @categories.length
        next_category = nil
      else
        next_category = @categories[index + 1]
      end %>
      <div id="tabs-<%= category.id %>">
        <% category.events.each do |event| %>
          <div class="event">
            <div class="event_choices">
              <% event.event_choices.each do |choice| %>
                <span class="event_choice">
                  <% 
                    found_rc = nil
                    rc = @registrant.registrant_choices.each do |rc|
                    if rc.event_choice_id == choice.id
                      found_rc = rc
                      break
                    end
                  end %>
                  <%= f.fields_for :registrant_choices, found_rc do |ec| %>
                    <%= ec.hidden_field :event_choice_id %>
                    <% if ec.object.event_choice.cell_type == "boolean" %>
                      <%= ec.check_box :value %>
                      <%= ec.label :value, choice.event %>
                    <% elsif ec.object.event_choice.cell_type == "text" %>
                      <%= ec.label :value, choice.label %>
                      <%= ec.text_field :value, :placeholder => ec.object.event_choice.label  %>
                    <% elsif ec.object.event_choice.cell_type == "multiple" %>
                      <%= ec.label :value, choice.label %>
                      <%= ec.select :value, ec.object.event_choice.values, {:include_blank => true} %>
                    <% end %>
                  <% end %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
        <% unless next_category.nil? %>
          <a class="nexttab" href="#tabs-<%= next_category.id %>">Next Tab</a>
        <% end %>
      </div>
    <% end %>
  </div>
<script>
  $(function() {
    $( "#tabs" ).tabs({ heightStyle: "auto"});
    $(".nexttab").click(function() {
      $("#tabs").tabs("select", this.hash);
    });
  });
</script>
