<% @categories = categories
   @registrant = registrant
 %>
 <% unless EventConfiguration.rulebook_url.nil? %>
   <div class="rulebook_link">
     <%= link_to t("competition_rulebook"), EventConfiguration.rulebook_url, :target => '_blank', :title =>"Click here for the rulebook that governs this competition!" %>
   </div>
 <% end %>
 <div id="tabs">
   <ul>
     <% @categories.each do |category| %>
       <li><a href="#tabs-<%= category.id %>"><%= category %></a></li>
     <% end %>
   </ul>

   <% @categories.each do |category| %>
     <div id="tabs-<%= category.id %>">
       <% if category.info_url.present? %>
         <div class="event_link">
           <%= link_to "#{t('.more_info')} [#{category}]", category.info_url, {:target => "_blank", :class=> "external_link fancybox"} %>
         </div>
       <% end %>
       <table class="events alternate">
         <% category.events.each do |event| %>
           <% next unless event.visible %>
           <%= render :partial => "/attending/event", :locals => {:f => f, :registrant => @registrant, :category => category}, :object => event %>
         <% end %>
       </table>
     </div>
   <% end %>
 </div>
