- form = RegistrantEventChoicesForm.new(registrant, event, current_user)
%tr{class: "event #{form.disabled_event? ? 'disabled_event' : ''}" }
  = f.fields_for :registrant_event_sign_ups, form.registrant_event_sign_up do |resu|
    %td.event_choice
      - if form.disabled_event? && resu.object.signed_up?
        = link_to t(".drop_out_of_event"), drop_event_registrant_build_index_path(registrant, event_id: event.id), data: { confirm: t(".drop_out_confirmation") }, class: "button alert tiny", method: :delete
      = resu.hidden_field :event_id

      - if form.paid_for?
        %span.label{ title: t(".paid_for_tooltip") }
          = t(".paid_for")
      - else
        = resu.input :signed_up, :class => "primary_checkbox", label: event.to_s

    - if !(event.event_categories.size == 1)
      %td.event_choice
        = resu.input :event_category_id, collection: form.event_categories, as: :select , disabled: form.inaccessible_event_categories, include_blank: true, label: t('.category')

  - # Padding before EventChoices
  - if category.max_number_of_event_choices != event.num_choices
    %td{:colspan => category.max_number_of_event_choices - event.num_choices}

  -# Event Choices
  - form.event_choices_and_registrant_choices.each do |choice, found_rc|
    %td.event_choice
      = f.fields_for :registrant_choices, found_rc do |ec|
        = ec.hidden_field :event_choice_id
        - case ec.object.event_choice.cell_type
        - when "boolean"
          = ec.input :value, as: :boolean, label: choice.label, wrapper_html: { title: choice.tooltip }
        - when "text"
          = ec.input :value, as: :string, label: ec.object.event_choice.label, wrapper_html: {title: choice.tooltip }
        - when "multiple"
          = ec.label :value, choice.label, :title => choice.tooltip
          = ec.select :value, ec.object.event_choice.values, {:include_blank => true}, :title => choice.tooltip
        - when "best_time"
          = ec.text_field :value, :placeholder => ec.object.event_choice.label, :title => choice.tooltip.blank? ? choice.tooltip : "hh:mm:ss or mm:ss"
  - if event.best_time?
    %td
      .row
        .small-12.columns
          = t(".best_time")
      = f.simple_fields_for :registrant_best_times, form.best_time do |rbt|
        = rbt.hidden_field :event_id
        .row
          .small-12.medium-6.columns
            = rbt.input :source_location, required: false
          .small-12.medium-6.columns
            = rbt.input :formatted_value, required: false, hint: "Format: #{rbt.object.hint}"

  - if event.accepts_music_uploads?
    %td
      .music_help{:href => "#", :title => t(".upload_music_details") }= t(".upload_music")
