- @registrant = registrant
- disabled_event = event.artistic? && !policy(current_user).add_artistic_events?
%tr{:class => "event #{disabled_event ? 'disabled_event' : ''}" }
  - found_resu = nil
  - @registrant.registrant_event_sign_ups.each do |resu|
    - if resu.event_id == event.id
      - found_resu = resu
  = f.fields_for :registrant_event_sign_ups, found_resu do |resu|
    %td.event_choice
      - if disabled_event && resu.object.signed_up?
        = link_to t(".drop_out_of_event"), drop_event_registrant_build_index_path(@registrant, event_id: event.id), data: { confirm: t(".drop_out_confirmation") }, class: "button alert tiny", method: :delete
      = resu.hidden_field :event_id

      - if event.has_cost? && @registrant.paid_or_pending_expense_items.include?(event.expense_item)
        %span.label{ title: t(".paid_for_tooltip") }
          = t(".paid_for")
      - else
        = resu.input :signed_up, :class => "primary_checkbox", label: event.to_s

      - if event.event_categories.size == 1
        = resu.hidden_field :event_category_id, :value => event.event_categories.first.id

    - if !(event.event_categories.size == 1)
      %td.event_choice
        = resu.label :event_category_id, t('.category')
        - list = []
        - disabled_list = []
        - event.event_categories.each do |cat|
          - list << [cat.name, cat.id]
          - if !cat.age_is_in_range(registrant.age)
            - disabled_list << cat.id
        = resu.select :event_category_id, list, :disabled => disabled_list, :include_blank => true

  - # Padding before EventChoices
  - if event.category.max_number_of_event_choices != event.num_choices
    %td{:colspan => category.max_number_of_event_choices - event.num_choices}

  -# Event Choices
  - event.event_choices.each do |choice|
    %td.event_choice
      - found_rc = nil
      - rc = @registrant.registrant_choices.each do |rc|
        - if rc.event_choice_id == choice.id
          - found_rc = rc
          - break
      = f.fields_for :registrant_choices, found_rc do |ec|
        = ec.hidden_field :event_choice_id
        - case ec.object.event_choice.cell_type
        - when "boolean"
          = ec.input :value, as: :boolean, label: choice.label, :title => choice.tooltip
        - when "text"
          = ec.text_field :value, :placeholder => ec.object.event_choice.label, :title => choice.tooltip
        - when "multiple"
          = ec.label :value, choice.label, :title => choice.tooltip
          = ec.select :value, ec.object.event_choice.values, {:include_blank => true}, :title => choice.tooltip
        - when "best_time"
          = ec.text_field :value, :placeholder => ec.object.event_choice.label, :title => choice.tooltip.blank? ? choice.tooltip : "hh:mm:ss or mm:ss"
  - if event.best_time?
    - found_bt = nil
    - @registrant.registrant_best_times.each do |bt|
      - if bt.event_id == event.id
        - found_bt = bt
    %td
      .row
        .small-12.columns
          = t(".best_time")
      = f.simple_fields_for :registrant_best_times, found_bt do |rbt|
        = rbt.hidden_field :event_id
        .row
          .small-12.medium-6.columns
            = rbt.input :source_location, required: false
          .small-12.medium-6.columns
            = rbt.input :formatted_value, required: false, placeholder: rbt.object.hint

  - if event.accepts_music_uploads?
    %td
      %a.music_help{:href => "#", :title => t(".upload_music_details") }= t(".upload_music")
