- @categories = categories
- @registrant = registrant
- content_for :importmap_modules do
  = javascript_import_module_tag "controllers"
#tabs{ data: { controller: "entries-matching", entries_matching_groups_value: EventCategoryGrouping.all.map {|g| g.event_category_grouping_entries.map(&:event_category_id) }, entries_matching_clear_message_value: t('.clear_selection_message'), entries_matching_change_message_value: t('.change_selection_message') } }
  %ul
    - @categories.each do |category|
      %li
        %a{:href => "#tabs-#{category.id}"}= category
  - @categories.each do |category|
    %div{:id => "tabs-#{category.id}"}
      - if category.additional_info?
        .event_link
          = link_to "#{t('.more_info')} [#{category}]", additional_information_url(category, I18n.locale), {:target => "_blank", :class=> "external_link fancybox"}
      %table.events
        - category.events.each do |event|
          - next unless event.visible?
          = render partial: "/attending/event", locals: {f: f, registrant: @registrant, category: category, event: event}, object: event
