<% @categories = categories
   @registrant = registrant
 %>
  <div id="tabs">
    <ul>
      <% @categories.each do |category| %>
        <li><a href="#tabs-<%= category.id %>"><%= category %></a></li>
      <% end %>
    </ul>

    <% @categories.each_index do |index|
      category = @categories[index]
      if index == 0
        prev_category = nil
      else
        prev_category = @categories[index - 1]
      end
      if index >= @categories.length
        next_category = nil
      else
        next_category = @categories[index + 1]
      end %>
      <div id="tabs-<%= category.id %>">
        <% unless category.info_url.nil? %>
          <div class="event_link">
            <%= link_to "More Info [#{category}]", category.info_url, {:target => "_blank", :class=> "external_link"} %>
          </div>
        <% end %>
        <% category.events.each do |event| %>
          <div class="event">
            <div class="event_choices">
              <% event.event_choices.each do |choice| %>
                <span class="event_choice">
                  <% 
                    found_rc = nil
                    primary = false
                    if event.primary_choice == choice
                      primary = true
                    end

                    rc = @registrant.registrant_choices.each do |rc|
                    if rc.event_choice_id == choice.id
                      found_rc = rc
                      break
                    end
                  end %>
                  <%= f.fields_for :registrant_choices, found_rc do |ec| %>
                    <%= ec.hidden_field :event_choice_id %>
                    <% if ec.object.event_choice.cell_type == "boolean" %>
                      <% if primary %>
                        <%= ec.check_box :value, :class => "primary_checkbox" %>
                        <%= ec.label :value, event.to_s, :title => event.description %>
                      <% else %>
                        <%= ec.check_box :value %>
                        <%= ec.label :value, choice.label %>
                      <% end %>
                    <% elsif ec.object.event_choice.cell_type == "text" %>
                      <%= ec.label :value, choice.label %>
                      <% if ec.object.event_choice.autocomplete %>
                        <% ac_class = "autocomplete#{choice.id}" %>
                        <%= ec.text_field :value, :placeholder => ec.object.event_choice.label, :class => ac_class %>
                        <script>
                          $(".<%= ac_class %>").autocomplete({ 
                            source: [
                            <% choice.unique_values.each do |val| %>
                              '<%= raw(escape_javascript(val)) %>',
                            <% end %>
                            '']
                          });
                        </script>
                      <% else %>
                        <%= ec.text_field :value, :placeholder => ec.object.event_choice.label  %>
                      <% end %>
                    <% elsif ec.object.event_choice.cell_type == "multiple" %>
                      <%= ec.label :value, choice.label %>
                      <%= ec.select :value, ec.object.event_choice.values, {:include_blank => true} %>
                    <% elsif ec.object.event_choice.cell_type == "category" %>
                      <%= ec.label :value, choice.label %>
                      <%= ec.select :value, ec.object.event_choice.values, {:include_blank => true} %>
                    <% end %>
                  <% end %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
