<h1>Events</h1>
<% x = RegistrantChoicesFacade.new(@registrant) %>
<%= form_for(x, :url => attending_index_path(@registrant), :as => :event_choices) do |f| %>
  <div id="tabs">
    <ul>
      <% @categories.each do |category| %>
        <li><a href="#tabs-<%= category.id %>"><%= category %></a></li>
      <% end %>
    </ul>
    <% @categories.each do |category| %>
      <div id="tabs-<%= category.id %>">
        <% category.events.each do |event| %>
          <div class="event">
            <span class="event_choices">
              <% event.event_choices.each do |choice| %>
                <span class="event_choice">
                  <% if choice.cell_type == "boolean" %>
                    <%= f.check_box(choice.choicename) %>
                    <%= f.label choice.choicename, event %>
                  <% elsif choice.cell_type == "text" %>
                    <%= f.label choice.choicename, choice.label %>
                    <%= f.text_field choice.choicename, :placeholder => choice.label  %>
                  <% elsif choice.cell_type == "multiple" %>
                    <%= f.label choice.choicename, choice.label %>
                    <%= f.select(choice.choicename, choice.values, {:include_blank => true}) %>
                  <% end %>
                </span>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= submit_tag 'Submit' %>
<% end %>
<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>
