<h1>Attending#new</h1>
<p>Find me in app/views/attending/new.html.erb</p>

<% x = RegistrantChoicesFacade.new(@registrant) %>
<%= form_for(x, :url => attending_index_path(@registrant), :as => :event_choices) do |f| %>
  <% @categories.each do |category| %>

    <h1><%= category %></h1>

    <% category.events.each do |event| %>
      <div class="event">
        <span class="event_title"><%= event %></span>
        <span class="event_choices">
          <% event.event_choices.each do |choice| %>
            <%= f.label choice.choicename %>
            <% if choice.cell_type == "boolean" %>
              <%= f.check_box(choice.choicename) %>
            <% elsif choice.cell_type == "text" %>
              <%= f.text_field(choice.choicename) %>
            <% elsif choice.cell_type == "multiple" %>
              <%= f.select(choice.choicename, choice.values, {:include_blank => true}) %>
            <% end %>
            <br />
          <% end %>
        </span>
      </div>
    <% end %>
  <% end %>
  <%= submit_tag 'Submit' %>
<% end %>
