<h1>Attending#new</h1>
<p>Find me in app/views/attending/new.html.erb</p>

<% x = RegistrantChoicesFacade.new(@registrant) %>
<%= form_for(x, :url => attending_index_path(@registrant), :as => :event_choices) do |f| %>
  <% @events.each do |event| %>
    <h1><%= event %></h1>
    <% event.event_choices.each do |choice| %>
      <b>Choice: <%= choice %></b>
      <%= f.check_box(choice.choicename) %>
      <br />
    <% end %>
  <% end %>
  <%= submit_tag 'Submit' %>
<% end %>
