<h1>Events</h1>
<% x = RegistrantChoicesFacade.new(@registrant) %>
<%= form_for(x, :url => attending_index_path(@registrant), :as => :event_choices) do |f| %>
  <div id="tabs">
    <ul>
      <% @categories.each do |category| %>
        <li><a href="#tabs-<%= category.id %>"><%= category %></a></li>
      <% end %>
    </ul>
    <% @categories.each_index do |index| %>
      <% category = @categories[index]
      if index >= @categories.length
        next_category = nil
      else
        next_category = @categories[index + 1]
      end
    %>
      <div id="tabs-<%= category.id %>">
        <% category.events.each do |event| %>
          <div class="event">
            <div class="event_choices">
              <% event.event_choices.each do |choice| %>
                <span class="event_choice">
                  <% if choice.cell_type == "boolean" %>
                    <%= f.check_box(choice.choicename) %>
                    <%= f.label choice.choicename, event %>
                  <% elsif choice.cell_type == "text" %>
                    <%= f.label choice.choicename, choice.label %>
                    <%= f.text_field choice.choicename, :placeholder => choice.label  %>
                  <% elsif choice.cell_type == "multiple" %>
                    <%= f.label choice.choicename, choice.label %>
                    <%= f.select(choice.choicename, choice.values, {:include_blank => true}) %>
                  <% end %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
        <% unless next_category.nil? %>
          <a class="nexttab" href="#tabs-<%= next_category.id %>">Next Tab</a>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= submit_tag 'Save Registration', :class => "competitor registration_button" %>
<% end %>
<script>
  $(function() {
    $( "#tabs" ).tabs({ heightStyle: "auto"}); // Not working in current version of jqueryUI (must upgrade)
    $(".nexttab").click(function() {
      $("#tabs").tabs("select", this.hash);
    });
  });
</script>
