= form_for(@expense_group) do |f|
  = render partial: "/shared/error_messages", object: @expense_group
  .field
    = f.label :group_name
    = f.text_field :group_name
  .field
    = f.label :info_url
    = f.url_field :info_url
    .input_details
      This link appears on the expenses page, useful if the expenses need further explanation, or to show pictures

  %h3 Does a Competitor get one free?
  .field
    = f.label :competitor_free_options
    = f.select :competitor_free_options, ExpenseGroup.free_options, :include_blank => true
  .field
    = f.label :competitor_required
    = f.check_box :competitor_required
    .input_details
      An element of this expense group MUST be selected by the registrant (if there is only 1 item in the group, it will automatically be chosen)

  .field
    = f.label :noncompetitor_free_options
    = f.select :noncompetitor_free_options, ExpenseGroup.free_options, :include_blank => true
  .field
    = f.label :noncompetitor_required
    = f.check_box :noncompetitor_required
    .input_details
      An element of this expense group MUST be selected by the registrant (if there is only 1 item in the group, it will automatically be chosen)
  .actions
    = f.submit
