%h1= t(".header")

%p= t(".description")

%table.js--sortable{ data: { target: update_row_order_expense_groups_path } }
  %thead
    %tr
      %th= ExpenseGroup.human_attribute_name(:group_name)
      %th
      %th
      %th
  %tbody
    - @expense_groups.each do |expense_group|
      %tr.item{ data: { item_id: expense_group.id } }
        %td= expense_group.group_name
        %td= link_to ExpenseItem.model_name.human(count: 2), expense_group_expense_items_path(expense_group)
        %td= link_to t("edit"), edit_expense_group_path(expense_group)
        %td= link_to t("delete"), expense_group, method: :delete, data: { confirm: t("are_you_sure") }
%br
%h2= t(".new_expense_group")

%fieldset.form__fieldset
  = render 'form'
