%h1 Items For Sale

%p If you want to sell items (like T-Shirts, Lodging, etc.) create an Expense Group for set of items.

%table.alternate.js--sortable{ data: { target: update_row_order_expense_groups_path } }
  %thead
    %tr
      %th Group name
      %th
      %th
      %th
  %tbody
    - @expense_groups.each do |expense_group|
      %tr.item{ data: { item_id: expense_group.id } }
        %td= expense_group.group_name
        %td= link_to 'Items', expense_group_expense_items_path(expense_group)
        %td= link_to 'Edit', edit_expense_group_path(expense_group)
        %td= link_to 'Delete', expense_group, method: :delete, data: { confirm: 'Are you sure?' }
%br
%h2 New expense group

%fieldset.form__fieldset
  = render 'form'
