%h1= t(".header")
%table
  %thead
    %tr
      %th= Registrant.human_attribute_name(:bib_number)
      %th= Registrant.model_name.human
      %th= t(".standard_skill_routine_created")
      %th= t(".pdfs")
  %tbody
    - @registrants.each do |registrant|
      %tr
        %td= registrant.bib_number
        %td= link_to registrant, registrant
        %td
          - if registrant.standard_skill_routine.nil?
            = t("no")
          - else
            = link_to t("yes"), standard_skill_routine_path(registrant.standard_skill_routine)
        %td
          = render partial: "/admin/standard_skill_routines/view_pdfs", locals: { standard_skill_routine: registrant.standard_skill_routine }
