%h1= RegistrantGroupType.model_name.human(count: 2)

%p= t('events_which_require_multiple_registrants_to_compete')

%p= t('note_html')


.row
  .small-12.columns
    .left-aligned
      %p= t('please_chose_event')

      %ul
        - @registrant_group_types.each do |reg_group_type|
          %li= link_to reg_group_type.source_element, registrant_group_type_registrant_groups_path(reg_group_type)
