%h1 Imported Registrants

%p Allows upload of a list of regisrtants, for use in the competition-portion of the application

%table.sortable
  %thead
    %tr
      %th ID
      %th First Name
      %th Last Name
      %th Birthdate
      %th Age
      %td Action
  %tbody
    - @imported_registrants.each do |registrant|
      %tr
        %td= registrant.bib_number
        %td= registrant.first_name
        %td= registrant.last_name
        %td
        %td
        %td= link_to t("delete"), imported_registrant_path(registrant), method: :delete,  data: {confirm: t("are_you_sure") }

%h2 Create new Imported Registrant
= simple_form_for(@new_imported_registrant) do |f|
  = render partial: "/shared/error_messages", object: @new_imported_registrant
  .row
    .small-12.medium-4.columns
      = f.input :bib_number
    .small-12.medium-4.columns
      = f.input :first_name
    .small-12.medium-4.columns
      = f.input :last_name
    .small-12.medium-4.columns.text-left
      = f.submit "Create new Registrant", :class => "focus_button"
