%h1= t(".header")

= form_for(@manual_refund, :url => manual_refunds_path, method: :post) do |pf|
  = render :partial => "/shared/error_messages", :object => @manual_refund
  %br
  %br
  %b.payment_instructions= t(".description")
  .row
    .small-6.columns.text-right
      = pf.label :note
    .small-6.columns
      = pf.text_field :note
  .row
    .small-6.columns.text-right
      = pf.label :percentage
    .small-6.columns
      = pf.number_field :percentage

  %h1= t(".paid_items")
  .payment_instructions= t(".choose_items")
  %table.sortable
    %thead
      %tr
        %th= Registrant.model_name.human
        %th= ExpenseItem.model_name.human
        %th= ExpenseItem.human_attribute_name(:cost)
        %th
          = ExpenseItem.human_attribute_name(:details)
          = t(".details_note")
        %th= t(".mark_this_item")
    %tbody
      = pf.fields_for :items do |paid_detail|
        %tr
          %td
            = paid_detail.object.registrant
            = paid_detail.hidden_field :paid_detail_id
          %td
            = paid_detail.object.line_item
          %td= paid_detail.object.cost
          %td
            = paid_detail.object.details
          %td= paid_detail.check_box :refund, { class: "js--costItem", data: { cents: (paid_detail.object.cost.to_f * 100)} }

    %tfoot
      %tr
        %th
        %th= ExpenseItem.human_attribute_name(:total)
        %th.js--total
        %th{ colspan: 2 }

  = submit_tag t(".submit"), :class => "payment_link"

%div
  = link_to t("back"), new_manual_refund_path
