= simple_form_for(@award_label.new_record? ? [@user, @award_label] : [@award_label]) do |f|
  - if @award_label.errors.any?
    #error_explanation
      %h2
        = pluralize(@award_label.errors.count, "error")
        prohibited this award_label from being saved:
      %ul
        - @award_label.errors.full_messages.each do |msg|
          %li= msg
  .row.collapse
    .small-1.column= f.label :bib_number
    .small-2.column= f.label :line_1
    .small-2.column= f.label :line_2
    .small-2.column= f.label :line_3
    .small-1.column= f.label :line_4
    .small-1.column= f.label :line_5
    .small-1.column= f.label :place
    .small-2.column= f.label :registrant_id
  .row.collapse
    .small-1.column= f.number_field :bib_number
    .small-2.column= f.text_field :line_1
    .small-2.column= f.text_field :line_2
    .small-2.column= f.text_field :line_3
    .small-1.column= f.text_field :line_4
    .small-1.column= f.text_field :line_5
    .small-1.column= f.number_field :place, {min: 0}
    .small-2.column= all_registrant_competitors(f)
  .row
    .small-12.column= f.button :submit
