<%= form_for(@award_label.new_record? ? [@user, @award_label] : [@award_label]) do |f| %>
  <% if @award_label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@award_label.errors.count, "error") %> prohibited this award_label from being saved:</h2>

      <ul>
      <% @award_label.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th><%= f.label :bib_number %></th>
        <th><%= f.label :competitor_name %></th>
        <th><%= f.label :competition_name %></th>
        <th><%= f.label :team_name %></th>
        <th><%= f.label :category %></th>
        <th><%= f.label :details %></th>
        <th><%= f.label :place %></th>
        <th><%= f.label :registrant_id %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <td><%= f.number_field :bib_number %></td>
      <td><%= f.text_field :competitor_name %></td>
      <td><%= f.text_field :competition_name %></td>
      <td><%= f.text_field :team_name %></td>
      <td><%= f.text_field :category %></td>
      <td><%= f.text_field :details %></td>
      <td><%= f.number_field :place %></td>
      <td><%= f.select :registrant_id, Registrant.select_box_options %></td>
      <td><%= f.submit %></td>
    </tbody>
  </table>
<% end %>
