= simple_form_for([:convention_setup, @page]) do |f|
  = render partial: "shared/error_messages", object: @page

  = f.input :slug
  = f.input :title
  = f.input :parent_page_id, collection: Page.ordinary.parent_or_single
  = f.input :position
  = f.input :body, as: :text, input_html: { class: "full_tinymce" }

  = f.button :submit
