%h1
  Listing pages
%table
  %thead
    %tr
      %th Slug
      %th Title
      %th
      %th
      %th
  %tbody
    - @pages.each do |page|
      %tr
        %td= page.slug
        %td= page.title
        %td= link_to 'Show', convention_setup_page_path(page)
        %td= link_to 'Edit', edit_convention_setup_page_path(page)
        %td= link_to 'Delete', [:convention_setup, page], method: :delete, data: { confirm: 'Are you sure?' }

= link_to "New Page", new_convention_setup_page_path
