%h1= t(".header")

%ul
  %li= t(".description")
  %li= t(".pages_location_description")
  %li= t(".pages_structure_description")

%h4= t(".special_pages")
%ul
  %li= t(".home_page")
  %li= t(".privacy_policy_page")

%table
  %thead
    %tr
      %th= Page.human_attribute_name(:slug)
      %th= Page.human_attribute_name(:title)
      %th
      %th
      %th
  %tbody
    - @pages.each do |page|
      %tr
        %td= page.slug
        %td= page.title
        %td= link_to t("show"), convention_setup_page_path(page)
        %td= link_to t("edit"), edit_convention_setup_page_path(page)
        %td= link_to t("delete"), [:convention_setup, page], method: :delete, data: { confirm: t("are_you_sure") }

= link_to t(".new_page"), new_convention_setup_page_path
