%h1
  = Page.human_attribute_name(:slug)
  \: #{@page.slug}

%h2
  = Page.human_attribute_name(:title)
  \: #{@page.title}

= @page.body.html_safe

= link_to "Add Images", convention_setup_page_images_path(@page)
