- if allow_reg_modifications?
  %br
  = link_to t(".use_access_code"), code_permissions_path, class: "access_code_link"
  %br
%h2= t(".action")
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "no_dirty_check" } ) do |f|
  .panel.row
    .row
      .small-3.columns.text-right.inline
        = f.label :email
      .small-9.columns
        = f.email_field :email, :autofocus => true
    .row
      .small-3.columns.text-right.inline
        = f.label :password
      .small-9.columns
        = f.password_field :password
    - if devise_mapping.rememberable?
      .small-12.columns
        = f.check_box :remember_me
        = f.label :remember_me
    .row
      .small-12.columns= f.button :submit, t(".action"), :class => "focus_button"
= render "devise/shared/links"
