- if policy(@config).setup_convention?
  %li= link_to t('.on_site_registration'), onsite_registration_path
- if policy(:translation).index?
  %li= link_to t('.translations'), translations_path
- if policy(current_user).contact_registrants?
  %li= link_to t('.send_email_to_registrants'), emails_path
- if policy(current_user).manage_memberships?
  %li= link_to t('.manage_memberships'), organization_memberships_path
- if @config.standard_skill && policy(current_user).under_development?
  %li= link_to t('.manage_standard_skill_entries'), standard_skill_entries_path
- if policy(@config).manage_cache?
  %li= link_to t('.manage_cache'), cache_event_configuration_path
- if policy(current_user).registrant_information?
  %li= link_to t('.registrant_bag_labels'), bag_labels_registrants_path(:format => :pdf)
- if policy(current_user).registrant_information?
  %li= link_to t('.registrant_summaries_by_last_name'), show_all_registrants_path(:format => :pdf)
  %li= link_to t('.registrant_summaries_by_id'), show_all_registrants_path(order: :id, :format => :pdf)
