- if policy(current_user).view_data_entry_menu?
  %li= link_to t('.data_entry'), data_entry_menu_welcome_path
- if policy(@config).setup_convention?
  %li= link_to t('.convention_setup'), convention_setup_path
- if policy(:admin_permission).index?
  %li= link_to t('.user_management'),  permissions_path
- if policy(Event.new).summary?
  %li= link_to  t('.registration_overview'), summary_events_path
- if policy(@config).setup_competition?
  %li= link_to t('.competition_overview'), competition_setup_path
- if policy(current_user).manage_awards?
  %li= link_to t('.manage_awards'), user_award_labels_path(current_user)
- if policy(current_user).manage_music?
  %li= link_to t('.manage_music'), event_songs_path
- if policy(Payment.new).summary?
  %li= link_to t('.manage_payments'), summary_payments_path
- if policy(current_user).registrant_information?
  %li= link_to t('.manage_registrants'), manage_one_registrants_path
  %li
    = form_tag choose_one_registrants_path, method: :post do
      %ul.menu
        %li
          = text_field_tag :bib_number, nil, placeholder: t('.search_by_id_label'), id: "nav_bar_reg_id"
          = hidden_field_tag :summary, "1", id: "unimportant"
        %li
          = submit_tag t('.search_by_id_button'), class: "button primary"
