- if can? :data_entry_menu, :welcome
  %li= link_to 'Data Entry', welcome_data_entry_menu_path
- if can?(:read, :convention_setup)
  %li= link_to 'Convention Setup', convention_setup_path
- if can?(:read, :permission)
  %li= link_to 'User Management',  permissions_path
- if can?(:summary, Event)
  %li= link_to  'Registration Overview', summary_events_path
- if can? :read, :competition_setup
  %li= link_to 'Competition Overview', competition_setup_path
- if can?(:manage, AwardLabel)
  %li= link_to  'Print/Create Awards', user_award_labels_path(current_user)
- if can?(:manage, :event_song)
  %li= link_to  'Manage Music', event_songs_path
- if can?(:summary, Payment)
  %li= link_to  'Payments', summary_payments_path
- if can?(:read, :onsite_registration)
  %li= link_to 'On-Site Registration', onsite_registration_path
- if can?(:read, :translation)
  %li= link_to "Translations", translations_path
