- cache_i18n ['admin_bar', current_user, @config] do
  - if user_signed_in? && current_user.roles.any?
    .title-bar{ data: { responsive_toggle: "admin-bar-menu", hide_for: "large" } }
      .title-bar-title{ data: { toggle: true } }
        %a{ href: "#" }
          %button.menu-icon
          = "Admin bar"
    %nav.top-bar#admin-bar-menu
      .top-bar-left
        %ul.menu.vertical.large-horizontal
          = render "nav_bar/admin_set_one"

- cache_i18n ['admin_bar2', current_user, @config] do
  - if user_signed_in? && current_user.roles.any?
    .title-bar{ data: { responsive_toggle: "admin-bar-menu2", hide_for: "large" } }
      .title-bar-title{ data: { toggle: true } }
        %a{ href: "#" }
          %button.menu-icon
          = "Admin bar 2"
    %nav.top-bar#admin-bar-menu2
      .top-bar-left
        %ul.menu.vertical.large-horizontal
          = render "nav_bar/admin_set_two"
- cache_i18n ['admin_bar3', current_user, @config] do
  - if user_signed_in? && current_user.roles.any?
    .title-bar{ data: { responsive_toggle: "admin-bar-menu3", hide_for: "large" } }
      .title-bar-title{ data: { toggle: true } }
        %a{ href: "#" }
          %button.menu-icon
          = "Admin bar 3"
    %nav.top-bar#admin-bar-menu3
      .top-bar-left
        %ul.menu.vertical.large-horizontal
          = render "nav_bar/admin_set_three"
