- if policy(current_user).under_development?
  %li= link_to 'Registrant Groups', registrant_groups_path
- if policy(:export).index?
  %li= link_to t('.export_data'), export_index_path
- if policy(current_user).under_development?
  %li= link_to  'Import Data', new_import_path
- if policy(current_user).under_development?
  %li= link_to  'Multi-Tenant Research', research_competitions_path
- if policy(@config).setup_convention?
  %li= link_to t('.copy_events'), migrate_index_path
- if policy(current_user).view_modification_history?
  %li= link_to 'Modification History', rails_admin_path
- if @config.standard_skill
  - if policy(:standard_skill_routine).view_all?
    %li= link_to t('.standard_skill_routines_view'), view_all_standard_skill_routines_path
  - if policy(:standard_skill_routine).export?
    %li= link_to t('.standard_skill_routines_export'), download_file_standard_skill_routines_path
- if policy(:sample_data).create?
  %li= link_to "Create Sample Data", sample_data_registrants_path
