%h1 Medical Certificate Review page

%table.sortable
  %thead
    %tr
      %th= Registrant.human_attribute_name(:bib_number)
      %th= Registrant.model_name.human
      %th= Registrant.human_attribute_name(:age)
      %th= Registrant.human_attribute_name(:medical_certificate_url)
      %th= Registrant.human_attribute_name(:email)
      %th= User.human_attribute_name(:email)
      %th= Registrant.human_attribute_name(:medical_certificate_manually_confirmed)
  %tbody
    - @registrants.each do |registrant|
      %tr
        %td= registrant.bib_number
        %td= registrant
        %td= registrant.age
        %td
          - if registrant.medical_certificate.present?
            = link_to "Medical Certificate", registrant.medical_certificate_url
            %br
            = registrant.medical_certificate_uploaded_at.iso8601
        %td= registrant.email
        %td= registrant.user.email
        %td
          - if registrant.medical_certificate_manually_confirmed?
            .medical_complete Reviewed
          - else
            .medical_incomplete Not yet Reviewed
          = link_to "Reviewed Medical Documents", medical_certificate_path(registrant.id), method: :put
