= simple_form_for(@volunteer_opportunity) do |f|
  = render partial: "/shared/error_messages", object: @volunteer_opportunity
  = f.input :description
  = f.input :inform_emails
  = f.input :display_order
  = f.button :submit
