<h1>Freestyle - <%=@judge.competition %> Judging Form</h1>
<h2><%= @judge.judge_type.name %> Judge</h2>

<% if cannot? :create_scores, @judge.competition %>
  <p class="event_locked">Scores for this event are now locked (closed)</p>
<% end %>

<h3>Judge: <%= @judge %></h3>

<% # this page displays each competitor, and, IF PRESENT, the score for that competitor %>
<% # Display the scores, but allow one for editing %>
<% unless @score.nil? %>
  <%= render :partial => "/shared/error_messages", :object => @score %>
<% end %>

<table class="judging">
    <%= render :partial => "/scores/judge_header", :object => @judge %>
    <tbody>
        <% @judge.competitors.each do |competitor| %>
            <tr id="competitor<%= competitor.id %>">
                <% score = @judge.scores.where(:competitor_id => competitor.id).first %>
                <% if @score.nil? or @score.competitor_id != competitor.id %>
                    <%= render :partial => "/competitors/single_competitor", :locals => {:competitor => competitor, :score => score } %>
                <% else %>
                    <%= form_for(@score, url: judge_competitor_scores_path(@judge, competitor), method: :post) do |f| %>
                        <%= render :partial => "/competitors/competitor_basic", :object => competitor %>
                        <% # can make the hashes into a helper %>
                        <td class="judging_category"><%= f.number_field :val_1, {:min => 0, :max => @judge.judge_type.val_1_max, :step => 0.001, :autofocus => true } %></td>
                        <td class="judging_category"><%= f.number_field :val_2, {:min => 0, :max => @judge.judge_type.val_2_max, :step => 0.001 } %></td>
                        <td class="judging_category"><%= f.number_field :val_3, {:min => 0, :max => @judge.judge_type.val_3_max, :step => 0.001 } %></td>
                        <td class="judging_category"><%= f.number_field :val_4, {:min => 0, :max => @judge.judge_type.val_4_max, :step => 0.001 } %></td>
                        <td></td>
                        <td></td>
                        <td><%= f.submit 'Save' %></td>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

