%h3 Competitors

- if @competition.compete_in_order?
  %p
    %b Note
    These are in ID order (not in order of competition)

- display_group_size = @competition.num_members_per_competitor == "Three or more"
%table.sortable.competitor_statuses
  %caption Competitors
  %thead
    %tr
      %th.sign_up ID
      %th.sign_up Name
      - if display_group_size
        %th.sign_up # Members
      %th.sign_up Age
      %th.sign_up Gender
      %th.sign_up= RepresentationType.description
      %th.sign_up Age Group
      - if @competition.event.accepts_music_uploads?
        %th.sign_up Music
      %th.sign_up Original Event Selection
      %th Warnings?
      %th.competitor_member
  %tbody
    - @competitors.find_each(batch_size: 100) do |competitor|
      - next if competitor.new_record?
      %tr{:class => competitor.status == "active" ? "active" : "not_active", id: "row#{competitor.id}" }
        - event_category = nil
        - registrant = competitor.members.first.registrant
        - event_category = registrant.registrant_event_sign_ups.where({:event_id => @competition.event.id}).try(:first).try(:event_category)
        %td= competitor.bib_number
        %td= competitor.detailed_name
        - if display_group_size
          %td= competitor.active_members.count
        %td= competitor.age
        %td= competitor.gender
        %td= competitor.representation
        %td= competitor.age_group_entry_description
        - if @competition.event.accepts_music_uploads?
          %td= competitor.has_music?
        %td= event_category
        %td{ class: competitor.warning_class }= competitor.member_warnings
        %td
          = link_to t("edit"), edit_competitor_path(competitor)
          = link_to t("delete"), competitor, method: :delete, data: { confirm: t("are_you_sure") }, remote: true
          = link_to "Withdraw", withdraw_competitor_path(competitor), method: :put, data: { confirm: "Withdraw?" }
