%h3 Create Competitors from Signed-Up Registrants

%p
  Signing up for an event does NOT automatically cause that registrant to become a competitor in a competition. It is up to the director to manage the list.
  %br
  This is so that the director can add people who didn't sign up, and remove people who DID sign up, without changing their registration information. Also, for pairs/team events, multiple registrants become a single Competitor through this process.

%p
  Below, you will see a list of all the registrants who have signed up who are not yet assigned as competitors for this competition.

%p Choose the registrants that you would like from the following list, and create competitors from those registrants. All registrants should be associated with competitors

- @remaining_registrants = @registrants - (@competition.competitors.map{ |comp| comp.registrants }.flatten)

- if @remaining_registrants.any?
  = form_tag(add_competition_competitors_path(@competition), {:method => :post}) do
    %table.sortable
      %caption Signed-up registrants who are not yet competitors
      %thead
        %tr
          %th
            %a#competitor_select_all{:href => "#"}> All
            \/
            %a#competitor_unselect_all{:href => "#"} None
          %th ID
          %th Name
          %th Sign Up Details
          %th Assigned to another competition?
      %tbody
        - @remaining_registrants.each do |reg|
          %tr
            - assigned_comp = reg.matching_competition_in_event(@competition.event)
            %td= check_box_tag "registrants[]", reg.id, !assigned_comp, :class => "registrant_checkbox"
            %td= reg.bib_number
            %td= reg
            %td= reg.describe_event(@competition.event)
            %td= assigned_comp

    - display_all = @competition.num_members_per_competitor.nil?
    - if display_all || @competition.num_members_per_competitor == "One"
      = submit_tag Competitor.single_selection_text, :class => "multiclick action_button", :data => { :confirm => "This will create a SEPARATE competitor for each chosen registrant. Continue?" }
      %br
    - if @competition.num_members_per_competitor == "Two"
      = submit_tag Competitor.group_selection_text, :class => "multiclick action_button", :data => { :confirm => "This will create a Pair with the chosen registrants. Continue?" }
      %br
    - if display_all ||  @competition.num_members_per_competitor == "Three or more"
      = text_field_tag :group_name, nil, :placeholder => "Group Name (optional)"
      %br
      = submit_tag Competitor.group_selection_text, :class => "multiclick action_button", :data => { :confirm => "This will create a Single competitor for all chosen registrants. Continue?" }

    = submit_tag Competitor.not_qualified_text, :class => "multiclick counter_action_button", :data => { :confirm => "This will create a Single competitor for each registrants, and mark these as 'not qualified'. Continue?" }
- else
  %pb All Registrants are assigned to competition or are marked as "will not compete".
