<% # variable 'form' is being passed in %>
<%= render :partial => "/shared/error_messages", :object => form %>
<%= form_for form.persisted? ? form : [form.competition, form] do |f| %>
  <%= f.label :position %><%= f.text_field :position %><br />

  <%= f.label :custom_name, "Group/Team Name (optional)" %><%= f.text_field :custom_name %><br />

  <%= f.label :status %><br />
  <%= f.select :status, Competitor.statuses.keys %><br />

  <div class="items">
    <%= f.nested_fields_for :members do |member_f| %>
       <div class="item">
          <%= member_f.label :registrant %>
          <%= member_f.select :registrant_id, Registrant.select_box_options, {include_blank: true}  %>

          <a href="#" class="remove">remove</a>

          <%= member_f.hidden_field :id %>
          <%= member_f.hidden_field :_destroy %>
        </div>
    <% end %>
  </div>
  <a href="#" class="add">add registrant</a><br /><br />


  <%= f.submit %>
<% end %>

