- # variable 'form' is being passed in
= render :partial => "/shared/error_messages", :object => form
= simple_form_for form.persisted? ? form : [form.competition, form] do |f|
  .row
    .small-12.columns
      %fieldset
        %legend Members
        #members
          = f.simple_fields_for :members do |member_f|
            = render "member_fields", f: member_f
          .links
            = link_to_add_association 'add another member', f, :members
    %hr
    .small-6.columns
      = f.label :custom_name, "Group/Team Name (optional)"
      = f.text_field :custom_name
    .small-6.columns
      = f.label :status
      = f.select :status, Competitor.statuses.keys
  .row
    .small-12.columns
      = f.button :submit
