%h1 Candidates

When a competition's competitor list is based on the results of other competitions, this page shows the results of those other competitions.

%table.sortable
  %thead
    %tr
      %th Gender
      %th Place
      %th ID
      %th Competitor
      %th Time
  %tbody
    - @competitors.each do |comp|
      %tr
        %td= comp.gender
        %td= comp.overall_place
        %td= comp.bib_number
        %td= comp
        %td= comp.result

%hr

- if @competition.uses_lane_assignments?
  .non_printable
    - if @lanes_for_places
      = render "confirm_proposed_lane_assignments"
    - else
      = render "choose_expert_lane_assignments"
