
%h1 Candidates

%table.sortable
  %thead
    %tr
      %th Place
      %th Competitor
      %th Time
  %tbody
    - @competitors.each do |comp|
      %tr
        %td= comp.overall_place
        %td= comp
        %td= comp.result

%hr

.non_printable

  - def get_lane(place)
    - heat_lane = [4, 5, 3, 6, 2, 7, 1, 8]
    -  heat_lane[place - 1] if place > 0 && place <= 8

  = form_tag(create_from_candidates_competition_competitors_path(@competition), method: :post) do
    = label_tag :heat
    = text_field_tag :heat
    %table.sortable
      %thead
        %tr
          %th Place
          %th Competitor
          %th Time
          %th Lane
      %tbody
        - @competitors.each do |comp|
          = fields_for "competitors[#{comp.id}]" do |comp_f|
            %tr
              %td= comp.overall_place
              %td= comp
              %td= comp.result
              %td
                = comp_f.hidden_field :bib_number, value: comp.bib_number
                = comp_f.text_field :lane, value: get_lane(comp.overall_place)
    = submit_tag
