<h1>Editing competitor</h1>

<% # variable 'form' is being passed in %>
<%= form_for @competitor do |f| %>
  <%= f.label :position %><%= f.text_field :position %><br />
  <%= f.label :registrant_ids %><%= f.select :registrant_ids, Registrant.where(:competitor => true).all.map { |reg| [reg.with_id_to_s, reg.id] }, {}, {:multiple => true, :size => 20, :include_blank => true } %><br />
  <%= f.label :custom_external_id %><%= f.text_field :custom_external_id %><br />
  <%= f.label :custom_name %><%= f.text_field :custom_name %><br />

  <%= f.submit %>
<% end %>

<%= link_to "Back", competition_competitors_path(@competitor.competition) %>

