<h1><%= @competition %> - Manage Competitors</h1>

<p>Please choose the registrants that you would like from the following list, and create competitors from those registrants. All registrants should be associated with competitors</p>

<%= form_tag(add_competition_competitors_path(@competition), {:method => :post}) do %>
  <table class="sortable">
    <caption>Signed-up registrants</caption>
    <thead>
      <tr>
        <th><a href="#" id="competitor_select_all">All</a>/<a href="#" id="competitor_unselect_all">None</a></th>
        <th>ID</th>
        <th>Name</th>
        <th>Sign Up Details</th>
        <th>Competitor?</th>
      </tr>
    </thead>
    <tbody>
      <% @registrants.each do |reg| %>
        <tr>
          <td><%= check_box_tag "registrants[]", reg.id, true, :class => "registrant_checkbox" %></td>
          <td><%= reg.bib_number %></td>
          <td><%= reg %></td>
          <td><%= reg.describe_event(@competition.event) %></td>
          <td>
            <%
              competitor = @competition.has_participant(reg)
              if competitor.nil? %>
              <b>NO</b>
            <% else %>
              Yes (<%= competitor %>)
            <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "Create from EACH selected Registrant", :class => "multiclick", :confirm => "This will create a SEPARATE competitor for each chosen registrant. Continue?" %><br />
  <%= submit_tag "Create Pair/Group from selected Registrants", :class => "multiclick", :confirm => "This will create a Single competitor for all chosen registrants. Continue?" %>
  <%= text_field_tag :group_name, nil, :placeholder => "Group Name (optional)" %>
<% end %>

<hr />

<table class="sortable">
  <caption>Competitors</caption>
  <thead>
    <tr>
      <th class="competitor_member">Order</th>
      <th class="sign_up">ID</th>
      <th class="sign_up">Name</th>
      <th class="sign_up">Age</th>
      <th class="sign_up">Gender</th>
      <th class="sign_up">Country</th>
      <th class="sign_up">Age Group</th>
      <th class="sign_up">Original Event Selection</th>
      <th class="competitor_member"></th>
    </tr>
  </thead>
  <tbody>
    <% @competitors.each do |competitor| %>
      <% next if competitor.new_record? %>
      <tr>
        <td>
          <%= competitor.position %>
        </td>
        <% event_category = nil
           registrant = competitor.members.first.registrant
        %>
        <% event_category = registrant.registrant_event_sign_ups.where({:event_id => @competition.event.id}).try(:first).try(:event_category) %>
        <td><%= competitor.external_id %></td>
        <td><%= competitor.detailed_name %></td>
        <td><%= competitor.age %></td>
        <td><%= competitor.gender %></td>
        <td><%= competitor.country %></td>
        <td><% unless @competition.age_group_type.nil? %>
            <%= @competition.age_group_type.age_group_entry_description(registrant.age, registrant.gender, registrant.default_wheel_size.id) %>
          <% end %>
        </td>
        <td><%= event_category %></td>
        <td>
            <%= link_to 'Edit', edit_competitor_path(competitor) %>
            <%= link_to 'Destroy', competitor, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

Advanced Options: <%= link_to 'Upload or Create Competitor', new_competition_competitor_path(@competition) %><br />

<%= link_to "Back", event_path(@competition.event) %>
