%h1= "#{@competition} - Manage Competitors"

- if @competition.has_competition_sources?
  %p.important_note_block
    %b Note:
    This competition appears to be sourced from another competition results.
    %br
    = link_to "Display + Assign Candidates", display_candidates_competition_competitors_path(@competition), class: "button primary"

- if @competition.automatic_competitor_creation?
  .competition_instructions
    This event is configured for <b>Automatic</b> Competitor creation.
    %br
    Any Registrant who is added to this event will automatically create a competitor.

- if @competition.age_group_type
  %h3 Age Group Configuration
  = link_to "View Configured Age Group", age_group_type_path(@competition.age_group_type)
  %p If the age group breakdown is incorrect, contact an Organizer to have a different age group selected
  %hr

= render "display_sign_ups"
%hr

= render "display_competitors"

%p
  = link_to 'Manually Create Competitor', new_competition_competitor_path(@competition), class: "minor_action"
