%h1= "#{@competition} - Manage Competitors"

- if @competition.has_competition_sources?
  %p
    If this competition is sourced from other competition results
    = link_to "Display + Assign Candidates", display_candidates_competition_competitors_path(@competition)

- if @competition.automatic_competitor_creation?
  .competition_instructions
    This event is configured for <b>Automatic</b> Competitor creation.
    %br
    Any Registrant who is added to this event will automatically create a competitor.

= render "display_sign_ups"

%p
  These are all of the competitors configured for this competition
- if @competition.compete_in_order?
  %p
    %b Note
    These are not in order of competition
= render "display_competitors"

%hr
%p
  Advanced Options:
  = link_to 'Advanced Create Competitor', new_competition_competitor_path(@competition), class: "minor_action"

%br
= link_to "Back", @competition
