<h1><%= @competition %> - Competitors</h1>

<table>
  <thead>
    <tr>
      <th class="sign_up">Event Category</th>
      <th class="sign_up">ID</th>
      <th class="sign_up">Name</th>
      <th class="sign_up">Age</th>
      <th class="sign_up">Gender</th>
      <th class="sign_up">Age Group</th>
      <th class="competitor_member">Competition</th>
      <th class="competitor_member"></th>
    </tr>
  </thead>
  <tbody>
    <% @all_registrants.each do |registrant| %>
        <% event_category = nil
           competition = nil
        %>
        <% if @registrants.include?(registrant)
            event_category = registrant.registrant_event_sign_ups.where({:event_id => @competition.event.id}).try(:first).try(:event_category)
           end
        %>
        <% if @competitors.include?(registrant.competitors.where({:competition_id => @competition.id}).try(:first))
                competition = registrant.competitors.where({:competition_id => @competition.id}).try(:first).try(:competition)
           end
        %>
      <tr>
        <td><%= event_category %></td>
        <td><%= registrant.external_id %></td>
        <td><%= registrant.name %></td>
        <td><%= registrant.age %></td>
        <td><%= registrant.gender %></td>
        <td><%= nil %></td>
        <td><%= competition %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "new Competition", new_event_competition_path(@competition.event) %>
<%= link_to 'Upload or Create Competitor', new_competition_competitor_path(@competition) %>
