<h3><%= @competition.event %> - <%= @competition %></h3>

<div>
  <%= render :partial => "/event_categories/sign_ups", locals: {:registrants => @registrants, :event => @competition.event} %>
</div>
<div>
      <%= render :partial => "/competitors/competitors", :object => @competition.competitors %>
      <hr />
      <%= render :partial => "/competitors/form", :object => @competitor %>
</div>

<div class="bottom-nav">
<%= link_to 'Back', event_path(@competition.event) %>
</div>
