<h3><%= @competition.event %> - <%= @competition %></h3>

<h4>Sort Competitors (live-save) </h4>

<div>
  <%= render partial: "competitor_sort_list", object: @competition %>
</div>

<h4>Sort Competitors Randomly </h4>

<%= link_to "Sort", sort_random_competition_path(@competition), method: :post, data: { confirm: "Are you sure?" }  %>
<hr />

<h4> Add New Competitor </h4>

<%= render :partial => "/competitors/form", :object => @competitor %>

<div class="bottom-nav">
<%= link_to 'Back', event_path(@competition.event) %>
</div>
