%h3= "#{@competition.event} - #{@competition}"

%h4 Add New Competitor

= render :partial => "/competitors/form", :object => @competitor

.bottom_nav
  = link_to 'Back', event_path(@competition.event)
