%h3= "#{@competition.event} - #{@competition}"

.row
  .small-12.columns
    %h4 Add New Competitor

= render :partial => "/competitors/form", :object => @competitor

.bottom_nav
  = link_to 'Back', competition_setup_path
