<h3><%= @competition.event %> - <%= @competition %></h3>

<div>
  <% @event = @competition.event %>
  <%= render :partial => "/event_categories/sign_ups" %>
</div>
<div>
      <%= render :partial => "/competitors/competitors", :object => @competition.competitors %>
      <hr />
      <%= render :partial => "/competitors/form", :object => @competitor %>
</div>
<div class="import">
    <%= render :partial => "upload" %>
</div>

<div class="bottom-nav">
<%= link_to 'Back', competition_path(@competition) %>
</div>
