<h3><%= @competition.event %> - <%= @competition %></h3>

<table class="sortable">
  <thead>
    <tr>
      <th>Registrant</th>
    </tr>
  </thead>
  <tbody>
    <% @filtered_registrants.each do |reg| %>
      <tr>
        <td><%= reg %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
      <%= render :partial => "/competitors/competitors", :object => @competition.competitors %>
      <hr />
      <%= render :partial => "/competitors/form", :object => @competitor %>
</div>

<div class="bottom-nav">
<%= link_to 'Back', event_path(@competition.event) %>
</div>
