- if @payment.errors.any?
  = render partial: "shared/error_messages", object: @payment
%table.sortable
  %thead
    %tr
      %th= Registrant.model_name.human
      %th= RegistrantExpenseItem.model_name.human
      %th= t(".details")
      %th= t(".cost")
      %th= RegistrantExpenseItem.human_attribute_name(:tax)
      %th= t(".total_cost")
      %th.choose_payments
        %a#unselect_all{:href => "#"}>= t(".unselect_all")
        \/
        %a#select_all{:href => "#"}= t(".select_all")
  %tbody
    = f.fields_for :payment_details do |pf|
      %tr
        %td
          = pf.hidden_field :registrant_id
          = pf.object.registrant
        %td
          = pf.hidden_field :line_item_id
          = pf.hidden_field :line_item_type
          = pf.object.line_item
        %td
          = pf.hidden_field :details
          - unless pf.object.details.blank?
            = "(" + pf.object.details + ")"
        %td
          = print_item_cost_currency(pf.object.base_cost)
          = pf.hidden_field :free
        %td= print_item_cost_currency(pf.object.tax)
        %td
          = pf.hidden_field :amount
          = print_item_cost_currency(pf.object.amount)
        %td.choose_payments
          = pf.check_box :_destroy, {checked: true, :class => "delete_payment_item js--costItem", data: { cents: pf.object.amount.to_f * 100 } }, '0', '1'
  %tfoot
    %tr
      %th{:colspan => "4"}
      %th= Payment.human_attribute_name(:total)
      %th.js--total
      %th.choose_payments
.actions
  = f.submit t(".start_payment"), :class => "payment_link"
