<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="sortable">
    <thead>
      <tr>
        <th>Registrant</th>
        <th>Item</th>
        <th>Details</th>
        <th>Cost</th>
        <th>Taxes</th>
        <th>Total Cost</th>
        <th>
          <a href="#" id="unselect_all">Unselect All</a>/<a href="#" id="select_all">Select All</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :payment_details do |pf| %>
        <tr>
          <td><%= pf.hidden_field :registrant_id %><%= pf.object.registrant %></td>
          <td><%= pf.hidden_field :expense_item_id %><%= pf.object.expense_item %></td>
          <td><%= pf.hidden_field :details %>
            <% unless pf.object.details.blank? %>
              <%= "(" + pf.object.details + ")"%>
            <% end %>
          </td>
          <td><%= print_formatted_currency(pf.object.expense_item.cost) %></td>
          <td><%= print_formatted_currency(pf.object.expense_item.tax) %></td>
          <td><%= pf.hidden_field :amount %><%= print_formatted_currency(pf.object.amount) %></td>
          <td>
            <% # XXX http://rubysource.com/complex-rails-forms-with-nested-attributes/  to not need to invert things anymore 
          %>
            <%= pf.check_box :_destroy, :class => "delete_payment_item", :style => "display: none" %>
            <%= check_box_tag :anon, nil, true, :class => "anon", :id => nil, "data-cents" => pf.object.amount * 100 %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4"></th>
        <th>Total</th>
        <th id="total_field"></th>
        <th></th>
      </tr>
    </tfoot>
  </table>
  <div class="actions">
    <%= f.submit 'Start Payment', :class => "payment_link registration_button" %>
  </div>
<% end %>
