  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="sortable">
    <thead>
      <tr>
        <th><%= t(".registrant") %></th>
        <th>Item</th>
        <th><%= t(".details") %></th>
        <th><%= t(".cost") %></th>
        <th>Taxes</th>
        <th><%= t(".total_cost") %></th>
        <th class="choose_payments">
          <a href="#" id="unselect_all"><%= t(".unselect_all") %></a>/<a href="#" id="select_all"><%= t(".select_all") %></a>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :payment_details do |pf| %>
        <tr>
          <td><%= pf.hidden_field :registrant_id %><%= pf.object.registrant %></td>
          <td><%= pf.hidden_field :expense_item_id %><%= pf.object.expense_item %></td>
          <td><%= pf.hidden_field :details %>
            <% unless pf.object.details.blank? %>
              <%= "(" + pf.object.details + ")"%>
            <% end %>
          </td>
          <td><%= print_item_cost_currency(pf.object.base_cost) %>
            <%= pf.hidden_field :free %>
          </td>
          <td><%= print_item_cost_currency(pf.object.tax) %></td>
          <td><%= pf.hidden_field :amount %><%= print_item_cost_currency(pf.object.amount) %></td>
          <td class="choose_payments">
            <% # XXX http://rubysource.com/complex-rails-forms-with-nested-attributes/  to not need to invert things anymore 
          %>
            <%= pf.check_box :_destroy, :class => "delete_payment_item", :style => "display: none" %>
            <%= check_box_tag :anon, nil, true, :class => "anon", :id => nil, "data-cents" => pf.object.amount * 100 %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4"></th>
        <th>Total</th>
        <th id="total_field"></th>
        <th class="choose_payments"></th>
      </tr>
    </tfoot>
  </table>
  <div class="actions">
    <%= f.submit t(".start_payment"), :class => "payment_link registration_button" %>
  </div>
