<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="alternate">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>
          <a href="#" id="unselect_all">Unselect All</a>/<a href="#" id="select_all">Select All</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :payment_details do |pf| %>
        <tr>
          <td><%= pf.hidden_field :registrant_id %><%= pf.object.registrant %></td>
          <td><%= pf.hidden_field :expense_item_id %><%= pf.object.expense_item %></td>
          <td><%= pf.hidden_field :details %>
            <% unless pf.object.details.blank? %>
              <%= "(" + pf.object.details + ")"%>
            <% end %>
          </td>
          <td><%= pf.hidden_field :amount %><span class="fee"><%= fcost(pf.object.amount) %></span></td>
          <td>
            <%= pf.check_box :_destroy, :class => "delete_payment_item", :style => "display: none" %>
            <%= check_box_tag :anon, nil, true, :class => "anon", "data-cents" => pf.object.amount * 100 %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3">Total</th>
        <th class="fee" id="total_field"></th>
        <th></th>
      </tr>
    </tfoot>
  </table>
  <div class="actions">
    <%= f.submit 'Start Payment', :class => "payment_link registration_button" %>
  </div>
  <script>
    function findDeleteCheck(el) {
      var row = el.parent().parent();
      var del = row.find("input[type='checkbox']").first();
      return del;
    }
    function calculateTotal() {
      var all_values = $("input[data-cents]");
      var total_cents = 0;
      all_values.each(function() {
        var el = $(this);
        if (el.prop('checked')) {
          total_cents += parseInt(el.data("cents"));
        }
      });
      return (total_cents / 100).toFixed(2);
    }
    $(document).on("change", "#anon", function() {
      var el = $(this);
      var del = findDeleteCheck(el);
      del.prop('checked', !el.prop('checked'));
      $("#total_field").html(calculateTotal());
    });
    $(document).on("click", "#unselect_all", function() {
      select_all(false);
    });
    $(document).on("click", "#select_all", function() {
      select_all(true);
    });
    function select_all(check_on) {
      $(".anon").each(function() {
        el = $(this);
        if (el.prop('checked') != check_on) {
          el.trigger("click");
        }
      });
    }
    $(document).ready(function() {
      // calculate initially
      $("#total_field").html(calculateTotal());
    });
  </script>
<% end %>
