<% # locals: payment %>
<p>
  <b>PaymentID:</b>
  <%= payment.id %>
</p>

<% if payment.completed %>
  <p>
  <b>TransactionID:</b>
  <%= @payment.transaction_id %>
  </p>

  <p>
  <b>Note:</b>
  <%= @payment.note %>
  </p>

  <p>
  <b>Completed date:</b>
  <%= @payment.completed_date %>
  </p>
<% end %>

<table class="sortable">
  <caption>Payment Details:</caption>
  <thead>
    <tr>
      <th>Registrant</th>
      <th>Item</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @payment.payment_details.each do |pd| %>
      <tr>
        <td>
          <%= pd.registrant %>
        </td>
        <td>
          <%= pd.expense_item %>
          <% unless pd.details.blank? %>
            <%= "(" + pd.details + ")" %>
          <% end %>
        </td>
        <td>
          <%= number_to_currency(pd.amount, unit: "$CAD", separator: ".", delimiter: ",", format: "%n %u") %> <%# replace with currency variable %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2">Total</th>
      <th><%= number_to_currency(payment.total_amount, unit: "$CAD", separator: ".", delimiter: ",", format: "%n %u") %> <%# replace with currency variable %></th>
    </tr>
  </tfoot>
</table>
