<% # locals: payment %>
<p>
  <b>PaymentID:</b>
  <%= payment.id %>
</p>

<% if payment.completed %>
  <p>
  <b>TransactionID:</b>
  <%= @payment.transaction_id %>
  </p>

  <p>
  <b>Note:</b>
  <%= @payment.note %>
  </p>

  <p>
  <b>Completed date:</b>
  <%= @payment.completed_date %>
  </p>
<% end %>

<table class="sortable">
  <caption><%= t(".payment_details") %>:</caption>
  <thead>
    <tr>
      <th><%= t(".registrant") %></th>
      <th>Item</th>
      <th><%= t(".cost") %></th>
      <th><%= t(".tax") %></th>
      <th><%= t(".total_cost") %></th>
    </tr>
  </thead>
  <tbody>
    <% @payment.payment_details.each do |pd| %>
      <tr>
        <td>
          <%= link_to pd.registrant, pd.registrant %>
        </td>
        <td>
          <%= pd.to_s %>
          <% unless pd.details.blank? %>
            <%= "(" + pd.details + ")" %>
          <% end %>
        </td>
        <td><%= print_item_cost_currency(pd.base_cost) %></td>
        <td><%= print_item_cost_currency(pd.tax) %></td>
        <td><%= print_item_cost_currency(pd.cost) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="3"></th>
      <th>Total</th>
      <th><%= print_formatted_currency(payment.total_amount) %></th>
    </tr>
  </tfoot>
</table>
