<% # locals: payment %>
<p>
  <b>PaymentID:</b>
  <%= payment.id %>
</p>

<% if payment.completed %>
  <p>
  <b>TransactionID:</b>
  <%= @payment.transaction_id %>
  </p>

  <p>
  <b>Completed date:</b>
  <%= @payment.completed_date %>
  </p>
<% end %>

<table class="alternate">
  <caption>Payment Details:</caption>
  <thead>
    <tr>
      <th>Registrant</th>
      <th>Item</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @payment.payment_details.each do |pd| %>
      <tr>
        <td>
          <%= pd.registrant %>
        </td>
        <td>
          <%= pd.expense_item %>
          <% unless pd.details.blank? %>
            <%= "(" + pd.details + ")" %>
          <% end %>
        </td>
        <td>
          <span class="fee"><%= fcost(pd.amount) %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2">Total</th>
      <th><span class="fee"><%= fcost(payment.total_amount) %></span></th>
    </tr>
  </tfoot>
</table>
