- # locals: payment
%p
  %b= Payment.human_attribute_name(:payment_id)
  #{payment.id} - #{payment.invoice_id}

- if payment.completed
  %p
    %b= Payment.human_attribute_name(:transaction_id)
    = @payment.transaction_id
  %p
    %b= Payment.human_attribute_name(:note)
    = @payment.note
  %p
    %b= Payment.human_attribute_name(:completed_date)
    = @payment.completed_date
%table.sortable
  %caption
    = t(".payment_details")
    \:
  %thead
    %tr
      %th= t(".registrant")
      %th= RegistrantExpenseItem.model_name.human
      %th= t(".cost")
      %th= t(".tax")
      %th= t(".total_cost")
  %tbody
    - @payment.payment_details.each do |pd|
      %tr
        %td
          = link_to pd.registrant, pd.registrant
        %td
          = pd.to_s
          - unless pd.details.blank?
            = "(" + pd.details + ")"
        %td= print_item_cost_currency(pd.base_cost)
        %td= print_item_cost_currency(pd.tax)
        %td= print_item_cost_currency(pd.cost)
  %tfoot
    %tr
      %th{:colspan => "3"}
      %th= Payment.human_attribute_name(:total)
      %th= print_formatted_currency(payment.total_amount)
