<h1>Listing <%= @filter %> Payment Details for <%= @expense_item %></h1>

<table class="sortable">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Registrant
      </th>
      <th>
        Details
      </th>
      <th>
        Date
      </th>
    </tr>
  </thead>
  <tbody>
    <% @details.each do |detail| %>
      <tr>
        <td>
          <%= detail.registrant.bib_number %>
        </td>
        <td>
          <%= detail.registrant %>
        </td>
        <td>
          <%= detail.details %>
        </td>
        <td>
          <%= detail.created_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
