<h1>My Payments</h1>

<% unless @payments.empty? %>
  <table class="payments alternate">
    <tr>
      <th>Invoice Number</th> 
      <th>Amount</th> 
      <th>Transaction</th>
      <th>Completed date</th>
      <th></th>
    </tr>

    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.id %></td>
        <td><%= print_formatted_currency(payment.total_amount) %></td>
        <td><%= payment.transaction_id %></td>
        <td><%= payment.completed_date %></td>
        <td><%= link_to 'Show Details', payment %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<br />

<% if can? :new, Payment %>
  <%= link_to 'Start New Payment', new_payment_path %>
<% end %>
