<h1><%= t(".persons_payments", :registrant => @title_name ) %></h1>

<% unless @payments.empty? %>
  <table class="payments alternate">
    <tr>
      <th>Invoice Number</th> 
      <th>Amount</th> 
      <th>Details (txn/note)</th>
      <th>Completed date</th>
      <th></th>
    </tr>

    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.id %></td>
        <td><%= print_formatted_currency(payment.total_amount) %></td>
        <td><%= payment.details %></td>
        <td><%= payment.completed_date %></td>
        <td>
          <% if can? :read, payment %>
            <%= link_to 'Show Details', payment %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<br />
<% unless @refunds.empty? %>
  <table class="refunds alternate">
    <tr>
      <th>Refund Id</th>
      <th>Refunded by</th>
      <th>Refund Date</th> 
      <th>Details (note)</th>
      <th></th>
    </tr>

    <% @refunds.each do |refund| %>
      <tr>
        <td><%= refund.id %></td>
        <td><%= refund.user %></td>
        <td><%= refund.refund_date %></td>
        <td><%= refund.note %></td>
        <td>
          <% if can? :read, refund %>
            <%= link_to "Refund Details", refund %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<br />

<% if can? :new, Payment %>
  <%= link_to 'Start New Payment', new_payment_path %>
<% end %>
