%h1= t(".persons_payments", :registrant => @title_name )
- unless @payments.empty?
  %table.payments
    %tr
      %th= Payment.human_attribute_name(:payment_id)
      %th= Payment.human_attribute_name(:amount)
      %th= Payment.human_attribute_name(:details)
      %th= Payment.human_attribute_name(:completed_date)
      %th
    - @payments.each do |payment|
      %tr
        %td= payment.id
        %td= print_formatted_currency(payment.total_amount)
        %td= payment.details
        %td= payment.completed_date
        %td
          - if policy(payment).show?
            = link_to t(".show_details"), payment
%br
- unless @refunds.empty?
  %table.refunds
    %tr
      %th= Refund.human_attribute_name(:refund_id)
      %th= Refund.human_attribute_name(:user_id)
      %th= Refund.human_attribute_name(:refund_date)
      %th= Refund.human_attribute_name(:details)
      %th
    - @refunds.each do |refund|
      %tr
        %td= refund.id
        %td= refund.user
        %td= refund.refund_date
        %td= refund.note
        %td
          - if policy(refund).show?
            = link_to t(".show_details"), refund
%br
= render partial: "/registrants/pay_now", :locals => {:total_owing => current_user.total_owing }
