<h1>Listing Payments</h1>

<table>
  <tr>
    <th>User</th>
    <th>Completed</th>
    <th>Cancelled</th>
    <th>Transaction</th>
    <th>Completed date</th>
    <th></th>
  </tr>

<% @payments.each do |payment| %>
  <tr>
    <td><%= payment.user %></td>
    <td><%= payment.completed %></td>
    <td><%= payment.cancelled %></td>
    <td><%= payment.transaction_id %></td>
    <td><%= payment.completed_date %></td>
    <td><%= link_to 'Show Details', payment %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payment', new_payment_path %>
