
<p>
  <b>PaymentID:</b>
  <%= @payment.id %>
</p>

<p>
  <b>Completed:</b>
  <%= @payment.completed %>
</p>
<p>
  <b>Cancelled:</b>
  <%= @payment.cancelled %>
</p>

<p>
  <b>TransactionID:</b>
  <%= @payment.transaction_id %>
</p>

<p>
  <b>Completed date:</b>
  <%= @payment.completed_date %>
</p>

Details:
<% @payment.payment_details.each do |pd| %>
  <%= pd.registrant %> - <%= pd.amount %><br />
<% end %>
<br />

<div>
  <a class="registration_button" href="#" onclick="alert('not yet implemented'); return false;">Go to Credit Card Vendor</a>
</div>

<% if @config.test_mode %>
  <div class="test_mode">
    <%= link_to 'Pretend to pay by credit card', fake_complete_payment_path(@payment) %>
  </div>
<% end %>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
