<p>
  <b>Completed:</b>
  <%= @payment.completed %>
</p>

<p>
  <b>Cancelled:</b>
  <%= @payment.cancelled %>
</p>

<p>
  <b>TransactionID:</b>
  <%= @payment.transaction_id %>
</p>

<p>
  <b>Completed date:</b>
  <%= @payment.completed_date %>
</p>

Details:
<% @payment.payment_details.each do |pd| %>
  <%= pd.registrant %> - <%= pd.amount %><br />
<% end %>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
