%h1= t(".payment_summary")
= render :partial => "summary", :locals => {:payment => @payment }

- if @config.offline_payment?
  %fieldset
    %legend= t(".offline_payment_instructions")
    = @config.offline_payment_description.try(:html_safe)
    %hr
    %b= t(".payment_reference", payment_id: @payment.id)

- unless @payment.completed_or_offline?
  .row
    = render partial: 'add_coupon'
  .row
    = t(".please_proceed_with_payment")
    - if @payment.total_amount > 0.to_money
      - if @config.online_payment?
        = render "paypal_payment_form", payment: @payment, config: @config
      - if @config.offline_payment?
        = form_tag pay_offline_payment_path(@payment) do
          = submit_tag t(".pay_offline"), data: { confirm: t("are_you_sure") }, class: "payment_link"

    - else
      = form_tag complete_payment_path(@payment) do
        = submit_tag "Complete Payment", class: "payment_link"
    - if @config.test_mode?
      = link_to "Pretend to pay by credit card #{print_formatted_currency(@payment.total_amount)}", fake_complete_payment_path(@payment), :method => :post, class: "button warning"

= link_to t('back'), user_payments_path(current_user)
