<h1>Payments Summary</h1>

<% if can? [:admin, :onsite_pay_new], Payment %>
  <%= link_to "Create Adjustment Payment", onsite_pay_new_admin_payments_path %><br />
<% end %>
<% if can? [:admin, :new], Payment %>
  <%= link_to "Create New Payment (of anything)", new_admin_payment_path %><br />
<% end %>
<% if can? [:admin, :show], Payment %>
  <%= link_to "View list of Payments/Refunds", admin_payments_path %>
<% end %>
<br /><br />


<table>
  <caption>Payments Summary</caption>
  <thead>
    <tr>
      <th>Total Amount Received</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= print_formatted_currency(@total_received) %></td>
    </tr>
  </tbody>
</table>

<hr />
<h2>Expenses by Group</h2>

<table class="sortable">
  <thead>
    <tr>
      <th>
        Group
      </th>
      <th>
        Entry
      </th>
      <th>
        Num paid
      </th>
      <th>
        Num unpaid
      </th>
      <th>
        Num total
      </th>
    </tr>
  </thead>
  <tbody>
    <% @expense_groups.each do |group| %>
      <% group.expense_items.each do |item| %>
        <tr>
          <td>
            <%= group %>
          </td>
          <td>
            <%= item %>
          </td>
          <td>
            <%= paid_count = item.num_paid %>
          </td>
          <td>
          <%= unpaid_count = item.num_unpaid %>
          </td>
          <td>
            <%= paid_count + unpaid_count %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
