%h1 Payments Management

- if policy(current_user).manage_all_payments?
  = link_to "Adjust a Registrant's Registration Fee", set_reg_fees_path
  %br
  %small If we need to lock a competitor into a previous Registration Period
  %br

- if policy(current_user).manage_all_payments?
  = link_to "Manually Receive Payment", new_manual_payment_path
  %br

- if policy(current_user).manage_all_payments?
  = link_to "Create Refund", new_manual_refund_path
  %br

- if policy(current_user).manage_old_payment_adjustments?
  = link_to "Create Refund/Exchange", new_payment_adjustment_path
  %br

- if policy(current_user).manage_all_payments?
  = link_to "View list of Payments/Refunds", list_payment_adjustments_path
  %br

- if policy(current_user).manage_all_payments?
  = link_to "Download Payments", list_export_payments_path
  %br


%br
%br

%hr

- cache [Payment, RegistrantExpenseItem, :top_summary] do
  %h2 By Group

  %table.sortable
    %thead
      %tr
        %th= ExpenseGroup.model_name.human
    %tbody
      - @expense_groups.each do |expense_group|
        %tr
          %td= link_to expense_group, payment_summary_expense_group_path(expense_group)
%hr
  %table
    - cache [Payment, Refund] do
      %tfoot
        %tr
          %th{colspan: 3}
          %th Refunded Amount
          %th= print_formatted_currency(Payment.total_refunded_amount)
          %th{ colspan: 2}
        %tr
          %th{colspan: 3}
          %th Total
          %th= print_formatted_currency(Payment.total_received)
          %th{ colspan: 2}

- if CouponCode.any?
  %h2= CouponCode.model_name.human(count: 2)
  %table.sortable
    %thead
      %tr
        %th= CouponCode.human_attribute_name(:name)
        %th Number Applied
    %tbody
      - CouponCode.all.each do |coupon_code|
        - cache [PaymentDetailCouponCode.cache_key_for_set(coupon_code.id)] do
          %tr
            %td= link_to coupon_code, coupon_code_summary_path(coupon_code)
            %td= coupon_code.applied_to_payment_details.count
