<h1>Payments Summary</h1>

<% if can? [:admin, :onsite_pay_new], Payment %>
  <%= link_to "Create Adjustment Payment", new_payment_adjustment_path %><br />
<% end %>
<% if can? [:admin, :new], Payment %>
  <%= link_to "Create New Payment (of anything)", new_admin_payment_path %><br />
<% end %>
<% if can? [:admin, :show], Payment %>
  <%= link_to "View list of Payments/Refunds", list_payment_adjustments_path %>
<% end %>
<br /><br />


<table>
  <caption>Payments Summary</caption>
  <thead>
    <tr>
      <th>Total Amount Received</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= print_formatted_currency(@total_received) %></td>
    </tr>
  </tbody>
</table>

<hr />
<h2>Expenses by Group</h2>

<table class="sortable">
  <thead>
    <tr>
      <th>
        Group
      </th>
      <th>
        Entry
      </th>
      <th>
        Num truly paid
      </th>
      <th>
        Num Marked Free
      </th>
      <th>
        Num Refunded
      </th>
      <th>
        Num unpaid
      </th>
      <th>
        Num total (paid + free + unpaid - refunded)
      </th>
    </tr>
  </thead>
  <tbody>
    <% @expense_groups.each do |group| %>
      <% group.expense_items.each do |item| %>
        <tr>
          <td>
            <%= group %>
          </td>
          <td>
            <%= item %>
          </td>
          <td>
            <% paid_count = item.num_paid %>
            <%= link_to paid_count, details_expense_item_path(item, :filter => "paid") %>
          </td>
          <td>
            <% free_count = item.num_free %>
            <%= link_to free_count, details_expense_item_path(item, :filter => "free") %>
          </td>
          <td>
            <% refunded_count = item.num_refunded %>
            <%= link_to refunded_count, details_expense_item_path(item, :filter => "refunded") %>
          </td>
          <td>
            <% unpaid_count = item.num_unpaid %>
            <%= link_to unpaid_count, details_expense_item_path(item, :filter => "unpaid") %>
          </td>
          <td>
            <%= total_count = paid_count + free_count + unpaid_count - refunded_count %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
