%fieldset
  = simple_form_for(@age_group_type) do |f|
    = render partial: "shared/error_messages", object: @age_group_type

    = f.input :name, autofocus: true

    %div
      %table
        %thead
          %tr
            %th= AgeGroupType.human_attribute_name(:description)
            %th= AgeGroupEntry.human_attribute_name(:start_age)
            %th= AgeGroupEntry.human_attribute_name(:end_age)
            %th= AgeGroupEntry.human_attribute_name(:wheel_size)
            %th= AgeGroupEntry.human_attribute_name(:gender)
            %th
        %tbody#age_group_entries
          = f.simple_fields_for :age_group_entries do |member_f|
            = render "age_group_entry_fields", f: member_f
      .right_aligned.links
        = link_to_add_association 'add new', f, :age_group_entries, { data: { association_insertion_node: "#age_group_entries", association_insertion_method: "append" } }
    = f.button :submit

  = render "order_warning"
  %p You can set the order later though.
