%h1= t(".header")

%p= t(".description")
%p
  %b= t("note")
  = t(".automatic_increase")
  %br
  %b= t("note")
  = t(".can_lock_again")

= render partial: "/shared/error_messages", object: @reg_fee

%fieldset.form__fieldset
  = simple_form_for(@reg_fee, url: update_reg_fee_path, method: :post) do |f|
    = f.input :registrant_id, collection: Registrant.active, label_method: :with_id_to_s, input_html: { class: "chosen-select" }
    = f.input :registration_cost_id, collection: RegistrationCost.all, label_method: :to_s_with_type, input_html: { class: "chosen-select" }
    = f.button :submit, t(".set_reg_fee")
