%h1 Change Registration Fee

%p This form allows you to specify the registration period to be set for this registrant.
%p
  %b NOTE:
  Once specified, the selected registration period will be "Locked" for the registrant, and will not automatically increase as the dates go by
  %br
  %b NOTE:
  Even after "Locking" the registration period, you can specify a registration period for a registrant again.

= render partial: "/shared/error_messages", object: @reg_fee

%fieldset.form__fieldset
  = simple_form_for(@reg_fee, url: update_reg_fee_path, method: :post) do |f|
    = f.input :registrant_id, collection: Registrant.active, label_method: :with_id_to_s, input_html: { class: "chosen-select" }
    = f.input :registration_period_id, collection: RegistrationPeriod.all, label_method: :name, input_html: { class: "chosen-select" }
    = f.button :submit
