= simple_form_for(@event.persisted? ? [:convention_setup, @event] : [:convention_setup, @category, @event] ) do |f|
  = render partial: "shared/error_messages", object: @event
  = f.input :name

  - if @event.persisted?
    = f.association :category, collection: Category.all, label_method: :name, include_blank: false

  %fieldset
    %h3 Event Categories
    = f.simple_fields_for :event_categories do |ec|
      = ec.input :name, label: "Event Category Name", hint: "specify 'All' if there is only 1 category (note: advanced options are available under 'Event Categories')"

  = f.input :best_time_format, collection: Event.BEST_TIME_FORMATS
  = f.input :accepts_music_uploads
  = f.input :accepts_wheel_size_override

  %a{ href: "#", class: "js--toggle", data: { toggle_target: "#advanced_settings" } } Advanced Settings
  #advanced_settings

    = f.input :visible
    = f.input :artistic
    .field
      .input_details The Artistic Closed Date is #{EventConfiguration.singleton.artistic_closed_date.presence || "Undefined"}
  = f.button :submit
