= simple_form_for(@event.persisted? ? [:convention_setup, @event] : [:convention_setup, @category, @event] ) do |f|
  = render partial: "shared/error_messages", object: @event
  %h2 Event: #{@event.name}

  - if @event.persisted?
    = f.association :category, collection: Category.all, label_method: :name
  - else
    = @category


  %fieldset
    %h3 Event Choices
    = f.simple_fields_for :event_choices do |ec|
      = ec.input :cell_type, collection: EventChoice.cell_types
      = ec.input :multiple_values
      = ec.input :label
      = ec.input :position

  %fieldset
    %h3 Event Categories
    = f.simple_fields_for :event_categories do |ec|
      = ec.input :name, hint: "specify 'All' if there is only 1 category"
      = ec.input :position

  = f.input :accepts_music_uploads
  = f.input :accepts_wheel_size_override, hint: "Setting this option presents children <= 10 years old with the ability to specify a wheel size override."

  .js--hiddenToggleMenu Advanced Settings
  .js--hiddenToggle
    = f.input :name, hint: "'Standard Skill' is a special name, it causes a link on the registration form summary"

    = f.input :position
    = f.input :visible
    = f.input :artistic, hint: "Setting this boolean will automatically restrict changes after the Artistic Closed Date."
  = f.button :submit
