%h1 Events in Category: #{@category}

%p
  Each Event describes something different that a Competitor can compete in.

%p
  Different classes of competition (e.g. Jr Expert, Advanced, Expert) are considered "Event Categories" if
  the competitor can only choose a single one of these.

%p
  If a competitor can compete in both "Beginner X" as well as "Advanced X", they should be separate Events.

%p
  Once an Event has been created, you can specify:
%ul
  %li= link_to "Translations", translations_path
  %li Additional "Event Categories" (e.g. Advanced, Expert)
  %li Manage "Event Categories" in order to specify age limits (e.g. "Ages 0-10")
  %li Add "Event Choices" to ask more questions when a user registers for an event.

- if @events.any?
  %h2 Existing #{@category} Events
  %table.event_listing.js--sortable{ data: { target: update_row_order_convention_setup_events_path } }
    %thead
      %tr
        %th Name
        %th
        %th
        %th
        %th
    %tbody
      - @events.each do |event|
        %tr.item{ data: { item_id: event.id } }
          %th= event.name
          %td= link_to 'Event Categories', convention_setup_event_event_categories_path(event)
          %td= link_to 'Event Choices', convention_setup_event_event_choices_path(event)
          %td= link_to 'Edit', edit_convention_setup_event_path(event)
          %td= link_to 'Delete', [:convention_setup, event], method: :delete, data: { confirm: 'Are you sure?' }


%fieldset.form__fieldset
  %h3 New Event
  = render :partial => "form"
= render :partial => "/attending/preview"
