%h1= t(".header", category: @category)

%p= t(".description_html")

%p= t(".available_event_options")

%ul
  %li= link_to "Translations", translations_path
  %li= t(".event_categories_option")
  %li= t(".age_limits_option")
  %li= t(".more_questions_option")

- if @events.any?
  %h2= t(".existing_events", category: @category)
  %table.event_listing.js--sortable{ data: { target: update_row_order_convention_setup_events_path } }
    %thead
      %tr
        %th= Event.human_attribute_name(:name)
        %th
        %th
        %th
        %th
    %tbody
      - @events.each do |event|
        %tr.item{ data: { item_id: event.id } }
          %th= event.name
          %td= link_to EventCategory.model_name.human(count: 2), convention_setup_event_event_categories_path(event)
          %td= link_to EventChoice.model_name.human(count: 2), convention_setup_event_event_choices_path(event)
          %td= link_to t("edit"), edit_convention_setup_event_path(event)
          %td= link_to t("delete"), [:convention_setup, event], method: :delete, data: { confirm: t("are_you_sure") }


%fieldset.form__fieldset
  %h3= t(".new_event")
  = render :partial => "form"
= render :partial => "/attending/preview"
