%h1= t(".header")

%p= t(".description")


= simple_form_for(@event_configuration, url: competition_setup_event_configuration_path, method: :put) do |f|
  = render partial: "/shared/error_messages", object: @event_configuration

  %fieldset.form__fieldset
    %h3= t(".artistic_scoring_mode")
    %p= t(".artistic_mode_description")

    = f.input :artistic_score_elimination_mode_naucc

    = f.input :max_award_place, input_html: { min: 0 }
  = f.button :submit
