<%= link_to 'Bag Labels PDF', bag_labels_admin_registrants_path %>

<h1>Edit Registrants</h1>

<table class="alternate">
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Edit</th>
      <th>Deleted?</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
  <% @registrants.each do |registrant| %>
    <tr>
      <td><%= registrant %></td>
      <td><%= link_to "Summary", registrant_path(registrant) %>
          <%= link_to "(pdf)", registrant_path(registrant, :format => :pdf) %>
      </td>
      <td><%= link_to "Edit", edit_registrant_path(registrant) %></td>
      <td>
        <% if registrant.deleted %>
          <%= link_to 'Undelete', undelete_admin_registrant_path(registrant), :method => :post %>
        <% end %>
      </td>
      <td><%= registrant.user %></td>
    </tr>
  <% end %>
</table>
