.non_printable
  = link_to t("pdf"), manage_all_registrants_path(:format => :pdf)

%h1= t(".header")

%p
  Next Registrant Bib Numbers:
  %br
  Competitor #{RegistrantType.for('competitor').next_available_bib_number}
  %br
  NonCompetitor #{RegistrantType.for('noncompetitor').next_available_bib_number}
- can_undelete = policy(Registrant).undelete?
%table.sortable.searchable
  %thead
    %tr
      %th= Registrant.human_attribute_name(:bib_number)
      %th= Registrant.human_attribute_name(:last_name)
      %th= Registrant.human_attribute_name(:first_name)
      %th= Registrant.human_attribute_name(:age)
      %th= Registrant.human_attribute_name(:gender)
      - if @config.usa?
        %th= ContactDetail.human_attribute_name(:state)
      - else
        %th= ContactDetail.human_attribute_name(:country)
      %th.non_printable= t(".summary")
      %th.non_printable= t("edit")
      %th.non_printable= t(".deleted_question")
      %th.non_printable= User.model_name.human
  %tbody
    // # includes 'current_user' because of the 'can? Calls
    - cache_i18n ['index_all.registrant', Registrant, current_user, @config ], expires_in: 1.minute do
      - @registrants.find_each(batch_size: 100) do |registrant|

        -# Uses javascript to show/hide elements on the page so that better caching can be applied.
        - if registrant.competitor?
          %span.js--showElement{ data: { key: "edit_registrant_events#{registrant.id}" } }
        -# Can always set expenses if I am allowed to view this page
        %span.js--showElement{ data: { key: "edit_registrant_expenses#{registrant.id}" } }
        - if can_undelete
          %span.js--showElement{ data: { key: "undelete#{registrant.id}" } }

        - cache_i18n [registrant, @config] do
          %tr
            %td= registrant.bib_number
            %td= registrant.last_name
            %td= registrant.first_name
            %td= registrant.age
            %td= registrant.gender
            - if @config.usa?
              %td= registrant.state
            - else
              %td= registrant.country
            %td.non_printable
              = link_to t(".summary"), registrant_path(registrant)
              = link_to t("pdf"), registrant_path(registrant, :format => :pdf)
            %td.non_printable
              %span.js--showElementTarget{ data: { key: "edit_registrant_events#{registrant.id}" } }
                = link_to Event.model_name.human(count: 2), registrant_build_path(registrant, :add_events)
              %span.js--showElementTarget{ data: { key: "edit_registrant_expenses#{registrant.id}" } }
                = link_to ExpenseItem.model_name.human(count: 2), registrant_build_path(registrant, :expenses)
            %td.non_printable
              - if registrant.deleted?
                Deleted
                %br
                %span.js--showElementTarget{ data: { key: "undelete#{registrant.id}" } }
                  = link_to t(".undelete"), undelete_registrant_path(registrant), :method => :post, data: { confirm: t(".undelete_confirmation") }
                  %br
                  = link_to "Really Destroy", really_destroy_registrant_path(registrant), method: :delete, data: { confirm: t(".are_you_sure") }
            %td.non_printable= registrant.user
