
= form_tag choose_one_registrants_path, method: :post do
  .row
    .small-12.medium-6.columns.text-right
      = label_tag :registrant_id, Registrant.model_name.human
    .small-12.medium-6.columns
      = no_form_all_registrants(additional_classes: "js--autoFocus")

  .row
    .small-12.medium-6.columns.text-right
      = label_tag :summary, t(".summary")
    .small-12.medium-6.columns.text-left
      = check_box_tag :summary, "1", true
  .row
    .small-12.columns
      = submit_tag t(".edit_summary"), class: "button"

= link_to t(".full_registrant_list"), manage_all_registrants_path

- if policy(current_user).change_registrant_user?
  %br
  = link_to t(".change_registrant_user"), change_registrant_user_registrants_path

- if policy(current_user).registrant_information?
  %br
  = link_to "Update Bib Number", bib_numbers_path
