
= form_tag choose_one_registrants_path, method: :post do
  .row
    .small-12.medium-6.columns.text-right
      = label_tag :registrant_id, Registrant.model_name.human
    .small-12.medium-6.columns
      = select_tag :registrant_id, options_for_select(Registrant.all_select_box_options), :include_blank => true, class: 'chosen-select js--autoFocus'

  .row
    .small-12.medium-6.columns.text-right
      = label_tag :summary, t(".summary")
    .small-12.medium-6.columns.text-left
      = check_box_tag :summary
  .row
    .small-12.columns
      = submit_tag t(".edit_summary"), class: "button"

= link_to t(".full_registrant_list"), manage_all_registrants_path
