= simple_form_for([:convention_setup, @event, @event_choice]) do |f|
  = render partial: "shared/error_messages", object: @event_choice

  = f.input :cell_type, collection: EventChoice.cell_types
  = f.input :multiple_values, input_html: { title: "Only used with the 'multiple' option" }
  = f.input :label
  = f.input :tooltip, input_html: { title: "This will be presented when the user hovers over the label" }

  = f.input :optional
  Enabling this allows the user to not enter data in this field

  = f.input :optional_if_event_choice_id, collection: @event_choices.map{|ec| [ec.label, ec.id]}
  Choosing an Event Choice here allows this field to be optional.

  = f.input :required_if_event_choice_id, collection: @event_choices.map{|ec| [ec.label, ec.id]}
  Choosing an Event Choice here allows this field to be optional.

  = f.input :autocomplete
  Enabling this option will cause Auto-complete suggestions to be presented to each registrant.
  %br
  (If Scott says his Team is "The Scott Team", when a different user types "The" into the "Team", "The Scott Team" will be suggested).
  %br

  = f.submit
