= simple_form_for([:convention_setup, @event, @event_choice], html: { class: "js--eventChoiceForm" } ) do |f|
  = render partial: "shared/error_messages", object: @event_choice

  = f.input :cell_type, collection: EventChoice.cell_types
  = f.input :multiple_values, input_html: { title: "Only used with the 'multiple' option" }
  = f.input :label
  = f.input :tooltip, input_html: { title: "Example" }

  = f.input :optional

  = f.input :optional_if_event_choice_id, collection: @event_choices.map{|ec| [ec.label, ec.id]}

  = f.input :required_if_event_choice_id, collection: @event_choices.map{|ec| [ec.label, ec.id]}

  = f.button :submit
