= form_for([:convention_setup, @event, @event_choice]) do |f|
  = render partial: "shared/error_messages", object: @event_choice
  .field
    = f.label :cell_type
    %br
    = f.select :cell_type, EventChoice.cell_types
  .field
    = f.label :multiple_values
    %br
    = f.text_field :multiple_values, :title => "Only used with the 'multiple' option"
    %br
  - languages.each do |lang|
    = f.globalize_fields_for lang do |g|
      .field
        = g.label :label
        (#{long_language_name(lang)})
        \#{g.text_field :label}
      .field
        = g.label :tooltip
        (#{long_language_name(lang)})
        \#{g.text_field :tooltip}
        %br
        This will be presented when the user hovers over the label
  .field
    = f.label :position
    %br
    = f.number_field :position
  .field
    = f.label :optional
    %br
    = f.check_box :optional
    %br
    Enabling this allows the user to not enter data in this field
  .field
    = f.label :optional_if_event_choice_id, "Optional if this event_choice is chosen"
    %br
    = f.select :optional_if_event_choice_id, @event_choices.map{|ec| [ec.label, ec.id]}, :include_blank => true
    %br
    Choosing an Event Choice here allows this field to be optional.
  .field
    = f.label :required_if_event_choice_id, "Required if this event_choice is chosen"
    %br
    = f.select :required_if_event_choice_id, @event_choices.map{|ec| [ec.label, ec.id]}, :include_blank => true
    %br
    Choosing an Event Choice here requires this field to be present.
  .field
    = f.label :autocomplete
    %br
    = f.check_box :autocomplete
    %br
    Enabling this option will cause Auto-complete suggestions to be presented to each registrant.
    %br
    (If Scott says his Team is "The Scott Team", when a different user types "The" into the "Team", "The Scott Team" will be suggested).
  .actions
    = f.submit
