%h1= t(".header", event: @event)


%p= t(".description")


%h4= t("example")
%ul
  %li= t(".example_1")
  %li= t(".example_2")
  %li= t(".example_3")
  %li= t(".example_4")

- if @event_choices.any?
  %h3= t(".existing_choices", event: @event)

  %table.js--sortable{ data: { target: update_row_order_convention_setup_event_event_choices_path(@event) } }
    %thead
      %tr
        %th= EventChoice.human_attribute_name(:label)
        %th= EventChoice.human_attribute_name(:cell_type)
        %th
        %th
    %tbody
      - @event_choices.each do |event_choice|
        - next if event_choice.new_record?
        %tr.item{ data: { item_id: event_choice.id } }
          %td= event_choice.label
          %td= event_choice.cell_type
          %td= link_to t("edit"), edit_convention_setup_event_choice_path(event_choice)
          %td= link_to t("delete"), [:convention_setup, event_choice], method: :delete, data: { confirm: t("are_you_sure") }

%fieldset.form__fieldset
  %h3= t(".new_event_choice")
  = render 'form'

= render :partial => "/attending/preview"
