-# local variables: details, registrants
- include_form = details
.expenses
  .data_block
    %fieldset
      %legend= t(".registrants_expenses", :registrant => registrant.to_s)
      %table#expense_lines
        %thead
          %tr
            %th.text-right= RegistrantExpenseItem.model_name.human
            %th= t(".cost")
            %th
              = t(".paid")
              ?
            - if include_form
              %th
        %tbody
          = render partial: "/registrants/registrant_paid_expenses", locals: { registrant: registrant, details: details }
          = render partial: "/registrants/registrant_unpaid_expenses", locals: { registrant: registrant, include_form: include_form, details: details }
        %tfoot
          %tr
            %th
            %th{ colspan: include_form ? 3 : 2}
              = render partial: "/registrants/registrant_total_owing", locals: { registrant: registrant }
          %tr
            %th.text-right= t(".total")
            %th{ colspan: include_form ? 3 : 2}= print_formatted_currency(registrant.expenses_total)
      - if @config.online_payment? || @config.offline_payment?
        %p.small.non_printable= t(".items_not_guaranteed")
