= simple_form_for(@two_attempt_entry.new_record? ? [@user, @competition, @two_attempt_entry] : [@two_attempt_entry], |
  {:remote => false, :html => {:class => "data_entry"}}) do |f|                                    |
  = render partial: "/shared/error_messages", object: @two_attempt_entry
  = f.hidden_field :is_start_time

  %table.two_attempt_entries
    = render "table_header"
    %tbody
      = render partial: 'two_attempt_entry', collection: @two_attempt_entries

    %tfoot
      = render "table_form_footer", f: f

#notice
