%tr
  %td
  %td{ colspan: 2}= registrant_bib_number_select_box(f, @competition)
  %td
  %td
  - displayer = @competition.results_displayer
  - displayer.form_inputs.each do |input, input_options|
    %td
      -# Note: this is done this way so that we can use the concerns properly
      = f.fields_for :first_attempt, f.object.first_attempt do |g|
        = g.number_field input, input_options
  %td
    = f.fields_for :first_attempt, f.object.first_attempt do |g|
      = g.select :status, TimeResult.status_values
  %td

  -# Note: this is done this way so that we can use the concerns properly
  - displayer.form_inputs.each do |input, input_options|
    %td
      -# Note: this is done this way so that we can use the concerns properly
      = f.fields_for :second_attempt, f.object.second_attempt do |g|
        = g.number_field input, input_options
  %td
    = f.fields_for :second_attempt, f.object.second_attempt do |g|
      = g.select :status, TimeResult.status_values

  %td{ colspan: "3"}= f.button :submit, "Submit", data: { disable_with: false }
