%tr
  %td
  %td{ colspan: 2}= registrant_bib_number_select_box(f, @competition)
  %td
  %td
  %td= f.number_field :minutes_1, {:min => 0}
  %td= f.number_field :seconds_1, {:min => 0}
  %td= f.number_field :thousands_1, {:min => 0}
  %td= f.select :status_1, TimeResult.status_values
  %td
  %td= f.number_field :minutes_2, {:min => 0}
  %td= f.number_field :seconds_2, {:min => 0}
  %td= f.number_field :thousands_2, {:min => 0}
  %td= f.select :status_2, TimeResult.status_values
  %td{ colspan: "3"}= f.button :submit, "Submit", :class => "multiclick"
