<tr>
  <td><%= two_attempt_entry_counter %></td>
  <td><%= two_attempt_entry.bib_number %></td>
  <th></th>
  <td><%= two_attempt_entry.minutes_1 %></td>
  <td><%= two_attempt_entry.seconds_1 %></td>
  <td><%= two_attempt_entry.thousands_1 %></td>
  <td><%= two_attempt_entry.dq_1 %></td>
  <td></td>
  <td><%= two_attempt_entry.minutes_2 %></td>
  <td><%= two_attempt_entry.seconds_2 %></td>
  <td><%= two_attempt_entry.thousands_2 %></td>
  <td><%= two_attempt_entry.dq_2 %></td>
  <td></td>
  <td><%= two_attempt_entry.registrant_name %></td>
  <% if two_attempt_entry.has_matching_competitor? %>
    <td class="competitor_exists">Yes</td>
  <% else %>
    <td class="competitor_not_exists">No</td>
  <% end %>
</tr>
