%tr
  %td= two_attempt_entry_counter
  %td= two_attempt_entry.bib_number
  %td= two_attempt_entry.registrant_name
  - if two_attempt_entry.competitor_exists?
    %td.competitor_exists Yes
  - else
    %td.competitor_not_exists No
  %th
  %td= two_attempt_entry.minutes_1
  %td= two_attempt_entry.seconds_1
  %td= two_attempt_entry.thousands_1
  %td= two_attempt_entry.status_1
  %td
  %td= two_attempt_entry.minutes_2
  %td= two_attempt_entry.seconds_2
  %td= two_attempt_entry.thousands_2
  %td= two_attempt_entry.status_2
  %td
  %th= link_to "Edit", edit_two_attempt_entry_path(two_attempt_entry)
  %td= link_to "Delete", two_attempt_entry_path(two_attempt_entry), data: {confirm: "Are you sure?"}, method: :delete
