<h1>Two Start Times - Data Entry</h1>

<h2>Competition: <%= @competition %></h2>

<p id="notice"></p>
<%= form_for(@two_attempt_entry.new_record? ? [@user, @competition, @two_attempt_entry] : [@two_attempt_entry],
  {:remote => true, :html => {:class => "data_entry"}}) do |f| %>
  <% if @two_attempt_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@two_attempt_entry.errors.count, "error") %> prohibited this import_result from being saved:</h2>

      <ul>
      <% @two_attempt_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Is Start Time: <%= f.check_box :is_start_time %></h3>

  <table class="sortable two_attempt_entries">
    <thead>
      <tr>
        <td></td>
        <th>Bib Number</th>
        <th></th>
        <th>Minutes</th>
        <th>Seconds</th>
        <th>Thousands</th>
        <th>DQ</th>
        <th></th>
        <th>Minutes</th>
        <th>Seconds</th>
        <th>Thousands</th>
        <th>DQ</th>
        <th></th>
        <th>Competitor Name</th>
        <th>Competitor Exists?</th>
      </tr>
    </thead>
    <body>
        <%= render partial: "two_attempt_entry", collection: @two_attempt_entries %>

    </body>
    <tfoot>
      <tr>
        <td></td>
        <td><%= f.number_field :bib_number, {:autofocus => true } %></td>
        <td></td>
        <td><%= f.number_field :minutes_1 %></td>
        <td><%= f.number_field :seconds_1 %></td>
        <td><%= f.number_field :thousands_1 %></td>
        <td><%= f.check_box :dq_1 %></td>
        <td></td>
        <td><%= f.number_field :minutes_2 %></td>
        <td><%= f.number_field :seconds_2 %></td>
        <td><%= f.number_field :thousands_2 %></td>
        <td><%= f.check_box :dq_2 %></td>
        <td colspan="2"><%= f.submit "Submit", :class => "multiclick" %></td>
      </tr>
    </tfoot>
  </table>
<% end %>


