%h1 Data Recording Form - Entry Form (Two Attempts per line)

.non_printable
  = link_to "(pdf)", proof_user_competition_two_attempt_entries_path(@user, @competition, is_start_times: @is_start_time, format: :pdf)

%h2 Competition: #{@competition}
%h3= start_finish_description(@is_start_time)

-# Current Data
%table.two_attempt_entries
  %thead
    %tr
      %th Bib Number
      %th Attempt #1
      %th DQ
      %th.separator
      %th Attempt #2
      %th DQ
      %th.separator
      %th Competitor Name
      %th Competitor Exists?
  %tbody
    - @two_attempt_entries.each do |two_attempt_entry|
      %tr
        %td= two_attempt_entry.bib_number
        %td= two_attempt_entry.full_time_1
        %td= two_attempt_entry.status_1
        %td
        %td= two_attempt_entry.full_time_2
        %td= two_attempt_entry.status_2
        %td
        %td= two_attempt_entry.registrant_name
        - if two_attempt_entry.competitor_exists?
          %td.competitor_exists Yes
        - else
          %td.competitor_not_exists No

%hr
- imported_bib_numbers = @two_attempt_entries.map(&:bib_number)
= render "results/shared/competitors_without_results", competition: @competition, bib_numbers_with_results: imported_bib_numbers

- if policy(@competition).create_preliminary_result?
  .non_printable
    %hr
    %p
      Review the above entries, and have another person review that the entered numbers match those on the paper recording forms.
      %br
      Once the ID and Times have been verified, Accept the results in order to make them part of the official record.

    = link_to "Accept these Results", approve_user_competition_two_attempt_entries_path(@user, @competition, is_start_times: @is_start_time), method: :post, data: {:confirm => t("are_you_sure") }, class: "button success"

    %p
      %b= t("note")
      Once accepted, the results will no longer be visible here.
