%h2= t(".header", competition: @competition)

%p= t(".description", event: @competition.event)

%p= t(".assign_to_competitor")

%table.sortable
  %thead
    %tr
      %th= Registrant.human_attribute_name(:bib_number)
      %th= Registrant.model_name.human
      %th= Song.human_attribute_name(:description)
      %th= Song.human_attribute_name(:song_file_name)
      %th= Song.human_attribute_name(:updated_at)
      %th= t(".download")
      %th= t("competitor")
      %th= t(".assign_to_competitor")
  %tbody
    - @songs.each do |song|
      %tr
        %td= song.registrant.bib_number
        %td= song.registrant
        %td= song.description
        %td= song.human_name
        %td= song.updated_at
        %td.js--highlightIfBlank
          - if song.has_file?
            = link_to t(".download"), song.song_file_name_url, target: '_blank'
        %td.js--highlightIfBlank= song.competitor
        %td
          = form_tag(competition_songs_path, method: :post) do
            = hidden_field_tag :competition_id, @competition.id
            = hidden_field_tag :song_id, song.id
            = no_form_competitor_select_box(@competition)
            = submit_tag t(".assign_to_competitor"), class: "small button"

= link_to t(".download_zip"), competition_song_download_zip_path(@competition)
