<%= form_for([@user, @additional_registrant_access]) do |f| %>
  <% if @additional_registrant_access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@additional_registrant_access.errors.count, "error") %> prohibited this additional_registrant_access from being saved:</h2>

      <ul>
      <% @additional_registrant_access.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :registrant_id %><br />
    <%= f.select :registrant_id, Registrant.order("first_name, last_name").all.map{ |reg| [reg, reg.id] } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
