<h1>Registrant Record requests</h1>

<p>
On this page, you can make requests to be granted readonly access to other users' registrant information.<br /><br />
If the request is accepted, you will be able to view their events, and pay for their registration.<br />
You will not be granted access to their address or contact information
</p>

<% unless @additional_registrant_accesses.empty? %>
  <table>
    <caption>Current Request Statuses</caption>
    <thead>
      <tr>
        <th>Registrant</th>
        <th>Status</th>
        <th>Date created</th>
      </tr>
    </thead>

    <tbody>
      <% @additional_registrant_accesses.each do |additional_registrant_access| %>
        <tr class="invitation_<%= additional_registrant_access.status %>">
          <td><%= additional_registrant_access.registrant %></td>
          <td><%= additional_registrant_access.status %></td>
          <td><%= additional_registrant_access.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />
<% end %>

<%= link_to 'Request Access to a Registration', new_user_additional_registrant_access_path(@user) %>
