%h2 Invitations
%p
  The following request(s) have been made to provide access to your registration data.
  %br/
  Please accept or decline the requests
  %br/
  %br/
.invitations_details
  .invitation_capabilities
    Providing Readonly access to someone allows them to:
    %ul
      %li Pay for your Registration and any additional Expense items
      %li View the Events that you have signed up for
      %li View the status of payment (have you paid yet?)
      %li View your name, age, birthday, gender, Team/Club contact.
  .invitation_capabilities
    It does
    %u Not
    provide access to:
    %ul
      %li Address
      %li Emergency Contact Info
      %li Responsible Adult info
%br/
%table
  %caption Requests to me
  %thead
    %tr
      %th Requested by
      %th Registrant Entry Requested
      %th Date Requested
      %th Status
      %th Accept
      %th Reject
  %tbody
    - @additional_registrant_accesses.each do |ara|
      %tr
        %td= ara.user
        %td= ara.registrant
        %td= ara.created_at
        %td= ara.status
        %td= link_to 'Accept (readonly)', accept_readonly_additional_registrant_access_path(ara), method: :put, data: { confirm: "Are you sure you want to provide access?" }
        %td= link_to 'Decline', decline_additional_registrant_access_path(ara), method: :delete
= link_to 'Back', root_path
