<h2>Invitations</h2>
<p>The following request(s) have been made to provide access to your registration data.<br />
Please accept or decline the requests<br /><br />
<b>NOTE:</b> Providing Readonly access to someone allows them to:
<ul>
  <li>Pay for your Registration and any additional Expense items</li>
  <li>View the Events that you have signed up for</li>
  <li>View the status of payment (have you paid yet?)</li>
  <li>View your name, age, birthday, gender, Team/Club contact.</li>
</ul>
It does <u>Not</u> provide access to:
<ul>
  <li>Address</li>
  <li>Emergency Contact Info</li>
  <li>Responsible Adult info</li>
</ul>
</p>

<table>
  <thead>
    <tr>
      <th>Requested by</th>
      <th>Registrant Entry Requested</th>
      <th>Date Requested</th>
      <th>Accept</th>
      <th>Reject</th>
    </tr>
  </thead>
  <tbody>
    <% @additional_registrant_accesses.each do |ara| %>
      <tr>
        <td><%= ara.user %></td>
        <td><%= ara.registrant %></td>
        <td><%= ara.created_at %></td>
        <td><%= link_to 'Accept (readonly)', accept_readonly_additional_registrant_access_path(ara) %></td>
        <td><%= link_to 'Decline', decline_additional_registrant_access_path(ara) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>

<%= link_to 'Back', root_path %>
