<%= form_for(@expense_item) do |f| %>
  <% if @expense_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense_item.errors.count, "error") %> prohibited this expense_item from being saved:</h2>

      <ul>
      <% @expense_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :expense_group_id %>
    <%= f.select :expense_group_id, ExpenseGroup.all.map {|eg| [eg.group_name, eg.id] }  %>
    <br />
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br />
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br />
    <%= f.label :has_details %>
    <%= f.check_box :has_details %>
    <br />
    <%= f.label :details_label %>
    <%= f.text_field :details_label %>
    <br />
    <%= f.label :cost %>
    <%= f.text_field :cost %>
    <br />
    <%= f.label :export_name %>
    <%= f.text_field :export_name %>
    <br />
    <%= f.label :position %>
    <%= f.number_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
