%h1 Listing #{@expense_group} expense_items

.configuration_settings_block
  %table#list.sortable
    %thead
      %tr
        %th Name
        %th Description
        %th Cost
        %th Tax Percentage
        %th Tax (calculated)
        %th Total (calculated)
        %th
        %th
    %tbody
      - @expense_items.each do |expense_item|
        %tr
          %td= expense_item.name
          %td= expense_item.description
          %td
            - unless expense_item.has_custom_cost
              = expense_item.cost
            - else
              N/A
          %td= expense_item.tax_percentage
          %td= expense_item.tax
          %td= expense_item.total_cost
          %td= link_to 'Edit', edit_expense_group_expense_item_path(@expense_group, expense_item)
          %td= link_to 'Delete', [@expense_group, expense_item], method: :delete, data: { confirm: 'Are you sure?' }

.configuration_new_entry_form
  %h2 New expense_item
  = render 'form'
