<h1>Listing expense_items</h1>

<div style="float: left">
  <table id="list" class="alternate">
    <tr>
      <th>Group Name</th>
      <th>Name</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Export name</th>
      <th>Position</th>
      <th></th>
      <th></th>
    </tr>

    <% @expense_items.each do |expense_item| %>
      <tr>
        <td><%= expense_item.expense_group %></td>
        <td><%= expense_item.name %></td>
        <td><%= expense_item.description %></td>
        <td><%= expense_item.cost %></td>
        <td><%= expense_item.export_name %></td>
        <td><%= expense_item.position %></td>
        <td><%= link_to 'Edit', edit_expense_item_path(expense_item) %></td>
        <td><%= link_to 'Destroy', expense_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>
<div style="float: right">
  <%= render :partial => "/registrants/new_expenses" %>
</div>

<div style="clear: both">
  <h2>New expense_item</h2>

  <%= render 'form' %>
</div>
