<p>
  <b>Name:</b>
  <%= @expense_item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @expense_item.description %>
</p>

<p>
  <b>Cost:</b>
  <%= @expense_item.cost %>
</p>

<p>
  <b>Export name:</b>
  <%= @expense_item.export_name %>
</p>

<p>
  <b>Position:</b>
  <%= @expense_item.position %>
</p>


<%= link_to 'Edit', edit_expense_item_path(@expense_item) %> |
<%= link_to 'Back', expense_items_path %>
