%table.volunteers.js--sortable{ data: { target: update_row_order_convention_setup_volunteer_opportunities_path } }
  %thead
    %tr
      %th= VolunteerOpportunity.human_attribute_name(:description)
      %th
      %th
  %tbody
    - @volunteer_opportunities.each do |vo|
      %tr.item{ data: { item_id: vo.id } }
        %td= vo.description
        %td= link_to t("edit"), [:edit, :convention_setup, vo]
        %td= link_to t("delete"), [:convention_setup, vo], method: :delete, data: { confirm: t(".confirmation") }

= link_to t(".new_volunteer_role"), new_convention_setup_volunteer_opportunity_path
