<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br />
    <%= f.label :position %>
    <%= f.number_field :position %>
    <br />
    <%= f.label :info_url %>
    <%= f.text_field :info_url %>
    <br />
    <%= f.submit %>
  </div>
<% end %>
