<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <table class="category_form">
      <% languages.each do |lang| %>
        <%= f.globalize_fields_for lang do |g| %>
          <tr>
            <td><%= g.label :name %> (<%= long_language_name(lang) %>)</td>
            <td><%= g.text_field :name %></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td><%= f.label :position %></td>
        <td><%= f.number_field :position %></td>
      </tr>
      <tr>
        <td><%= f.label :info_url %></td>
        <td><%= f.url_field :info_url %></td>
      </tr>
      <tr>
        <td colspan="2" class="center"><%= f.submit %></td>
      </tr>
    </table>
  </div>
<% end %>
