<h1>Listing Categories</h1>

<div style="float:left">
  <table>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.position %></td>
        <td><%= category.info_url %></td>
        <td><%= link_to 'Events', category_events_path(category) %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <br />

  <h3>New Category</h3>
  <%= render 'form' %>
</div>

<div style="float: right">
  <%= render :partial => "/attending/preview" %>
</div>
