%table.top_distance_attempts
  %caption #{title}
  %thead
    %tr
      %th= DistanceAttempt.human_attribute_name(:distance)
      %th= DistanceAttempt.human_attribute_name(:fault)
      %th= Competitor.human_attribute_name(:bib_number)
      %th= Competitor.model_name.human
      %th= Competitor.human_attribute_name(:gender)
      %th= Competitor.human_attribute_name(:age)
      - if display_delete
        %th
  %tbody
    - list.each do |da|
      = render partial: "attempt", object: da, locals: {display_delete: display_delete }
