- cache [attempt, attempt.competitor] do
  %tr
    %td= attempt.distance
    %td= attempt.fault? ? "Fault" : ""
    %td= attempt.competitor.bib_number
    %td= attempt.competitor
    %td= attempt.competitor.gender
    %td= attempt.competitor.age
    %td= attempt.competitor.no_more_jumps? ? "yes": nil
    - if display_delete
      %td= link_to "Delete", distance_attempt_path(attempt), data: { confirm: 'Are you sure?' }, method: :delete
