.competitor_details_block
  .competitor_details
    %span= @competitor.bib_number
    %span= @competitor.name
    %span= @competitor.age
    %span= @competitor.gender
    %span.status{ class: @competitor.distance_attempt_status_code }= @competitor.distance_attempt_status

  %br

  = render partial: 'competitor_attempts', object: @competitor.distance_attempts
