<% unless @competitor.nil? %>
    <div>
        <div class="competitor_details">
            <span>ID: <%= @competitor.external_id %></span>
            <span>Name: <%= @competitor.name %></span>
            <span>Age: <%= @competitor.age %></span>
            <span>Gender: <%= @competitor.gender %></span>
            <span class="status <%= @competitor.status_code %>"><%= @competitor.status %></span>
        </div>
    </div>
    <br />

    <div class="distance_attempt_inputs>
      <%= form_for(@distance_attempt, :url => judge_competitor_distance_attempts_path(@judge, @competitor)) do |f| %>
        <%= render :partial => "/shared/error_messages", :object => @distance_atempt %>
        <%= f.label :distance, :class => "distance_label" %>
          <%= f.number_field :distance, :class => "distance_input", :autofocus => true, :autocomplete => 'off', :required => true %>
          <br />
          <%= f.label :fault, :class => "distance_fault_label" %>
          <%= f.check_box :fault, :class => "distance_input" %>
          <br />
          <%= f.submit "Add Attempt", {:class => 'add_distance_attempt_button'} %>
        <% end %>
    </div>
<% end %>
