= render :partial => "/shared/error_messages", :object => @distance_attempt
= simple_form_for @distance_attempt, :url => judge_distance_attempts_path(@judge), remote: true do |f|
  .row
    .small-6.columns.text-right
      = f.label :registrant_id, "Competitor", class: "distance_label"
    .small-6.columns
      = competitor_select_box(f, @competition, id: "competitors", class: "js--competitors")
  .row
    .small-6.columns.text-right
      = f.label :distance, class: "distance_label"
    .small-6.columns
      = f.number_field :distance, class: "distance_input", autocomplete: 'off', required: true, min: 0
  .row
    .small-6.columns.text-right
      = f.label :fault, class: "distance_fault_label"
    .small-6.columns.text-left
      = f.check_box :fault, class: "distance_input"
  .row
    .small-12.columns
      = f.button :submit, "Enter Attempt", {:class => 'add_distance_attempt_button action_button multiclick' }
