%h1= "#{@competition} - Distance Attempts"

#notice

= render partial: "form"

.attempts_lists
  .recent_attempt_list
    = render partial: "attempt_list", locals: {title: "Recent Attempts", list: @recent_distance_attempts, display_delete: true }
    (only the recent  ~20 are listed)

%hr

= link_to 'All Attempts', list_competition_distance_attempts_path(@competition)
%br
= link_to "Enter Tie Breakers", judge_tie_break_adjustments_path(@judge)
