%h1= "#{@competition} - Distance Attempts"

#notice

= render partial: "form"

.attempts_lists
  .recent_attempt_list
    = render partial: "attempt_list", locals: {title: "Recent Attempts", list: @recent_distance_attempts, display_delete: true }
  -#.best_attempts_list
    = render partial: "attempt_list", locals: {title: "Best Attempts", list: @max_distance_attempts, display_delete: false }

%hr

= link_to 'All Attempts', list_judge_distance_attempts_path(@judge)
