<h1>Event: <%=@event.name %> - Distance Attempts</h1>

<%= render :partial => 'competitor_lookup' %>

<% unless @max_distance_attempts.empty? %>
    <table class="top_distance_attempts">
        <caption>Top Distance Attempts</caption>
        <thead>
            <tr>
                <th>Distance</th>
                <th>ID</th>
                <th>Competitor</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Finished</th>
            </tr>
        </thead>

        <tbody>
    <% @max_distance_attempts.each do |da| %>
        <tr>
            <td><%= da.distance %></td>
            <td><%= da.competitor.external_id %></td>
            <td><%= da.competitor %></td>
            <td><%= da.competitor.gender %></td>
            <td><%= da.competitor.age %></td>
            <td><%= da.competitor.double_fault? ? "yes": "no" %></td>
        </tr>
    <% end %>
        </tbody>
    </table>
<% end %>

<br />
<%= link_to 'All Attempts', list_judge_distance_attempts_path(@judge) %>
