%h1= "#{@competition} - #{DistanceAttempt.model_name.human(count: 2)}"

- unless @distance_attempts.empty?
  %table.top_distance_attempts.sortable.searchable
    %caption All Distance Attempts
    %thead
      %tr
        %th= DistanceAttempt.human_attribute_name(:distance)
        %th= DistanceAttempt.human_attribute_name(:fault)
        %th= Competitor.human_attribute_name(:bib_number)
        %th= Competitor.model_name.human
        %th= Competitor.human_attribute_name(:gender)
        %th= Competitor.human_attribute_name(:age)
        %th Judge
        %th Date
    %tbody
      - @distance_attempts.each do |da|
        - cache [da, da.competitor] do
          %tr
            %td= da.distance
            %td= da.fault? ? DistanceAttempt.human_attribute_name(:fault) : ""
            %td= da.competitor.bib_number
            %td= da.competitor
            %td= da.competitor.gender
            %td= da.competitor.age
            %td= da.judge.name
            %td= da.created_at

