%h1 #{@competition} - Distance Attempts
- unless @distance_attempts.empty?
  %table.top_distance_attempts.sortable.searchable
    %caption All Distance Attempts
    %thead
      %tr
        %th Distance
        %th Fault
        %th ID
        %th Competitor
        %th Gender
        %th Age
        %th Judge
        %th Date
    %tbody
      - @distance_attempts.each do |da|
        - cache [da, da.competitor] do
          %tr
            %td= da.distance
            %td= da.fault? ? "Fault" : ""
            %td= da.competitor.bib_number
            %td= da.competitor
            %td= da.competitor.gender
            %td= da.competitor.age
            %td= da.judge.name
            %td= da.created_at

