<h1>Event: <%= @event_category.event %> - <%=@event_category %> - Distance Attempts</h1>

<hr />
<h2><%= link_to 'Choose Another Competitor', judge_distance_attempts_path(@judge) %></h2>
<hr class="competitor_separator" />
<%= render :partial => 'form' %>
<%= render :partial => 'competitor_attempts', :object => @distance_attempts %>
<br />
