%p= t(".greeting", email: @resource.email)
%p= t(".change_password_notice")
%p= link_to t(".action"), edit_user_password_url(@resource, :reset_password_token => @token), :class => "focus_button"
%p= t(".can_ignore_this")
%p= t(".password_active_notice")
