= simple_form_for(@registration_period) do |f|
  = render partial: "shared/error_messages", object: @registration_period
  .row
    .small-6.columns
      = f.input :name
    .small-6.columns
      = f.input :onsite
      .help_bubble{ title: "This causes the 'Online Registration Closes' banner to be displayed appropriately in the Cost tables" }
  .row
    .small-12.columns
      .input_details
        Traditionally, online registration closes a little before the convention starts, and on-site registration is only allowed in the registration-hall, on convention-controlled computers.
      .input_details
        This allows coordination of printing registration packets, preparing competitor lists, and other last-minute minutae

  .row
    .small-6.columns
      = f.input :start_date, as: :date_picker
      .help_bubble{ title: "Specify the Date following the previous period's 'End Date'" }

    .small-6.columns
      = f.input :end_date, as: :date_picker
      .help_bubble{ title: "Specify the last date that these prices apply" }
  .row
    .small-12.columns
      .input_details
        Because many people only pay at the last possible minute, the price automatically increases ~36 hours after end of the End Date. This allows last-minute registrants a reprieve.

  %h3.row Competitor
  = f.simple_fields_for :competitor_expense_item do |ce|
    .row
      .small-4.columns
        = ce.input :cost, input_html: { class: "js--costInputComp" }
      .small-4.columns
        = ce.input :tax, input_html: { class: "js--costInputComp" }
      .small-4.columns
        Total
        = text_field_tag :total_comp, nil, class: 'js--totalCost', disabled: true, data: { costSources: "js--costInputComp" }

  %h3.row Non Competitor
  = f.simple_fields_for :noncompetitor_expense_item do |ce|
    .row
      .small-4.columns
        = ce.input :cost, input_html: { class: "js--costInputNonComp" }
      .small-4.columns
        = ce.input :tax, input_html: { class: "js--costInputNonComp" }
      .small-4.columns
        Total
        = text_field_tag :total_comp, nil, class: 'js--totalCost', disabled: true, data: { costSources: "js--costInputNonComp" }
  .row
    = f.button :submit
