%h1 Registration Periods
%p
  Each registration period will define the range of dates that a user can register for the event at each price.
%p
  = succeed ":" do
    %b Note
  Because the users may live in different timezones, in order to be fair to everyone, the system will ALLOW paying the initial price until up to 1 full day after the registration period ends.(depending on the location of the server)
  %br
  = succeed ":" do
    %b Example
  If the first registration period is Until April 20th, Registrants will be able to pay the initial price until the server thinks that it is April 22nd.
  %br
%table
  %thead
    %tr
      %th Name
      %th Start date
      %th End date
      %th Competitor cost
      %th Noncompetitor cost
      %th
  %tbody
    - @registration_periods.each do |registration_period|
      %tr
        %td= registration_period.name
        %td= registration_period.start_date
        %td= registration_period.end_date
        %td= registration_period.competitor_expense_item.cost
        %td= registration_period.noncompetitor_expense_item.cost
        %td= link_to 'Edit', edit_registration_period_path(registration_period)

%br
= link_to 'New Registration period', new_registration_period_path
