// locals: f
.row
  .small-12.columns
    = f.label :confirmed_accounts, "All Confirmed User Accounts"
    = f.check_box :confirmed_accounts
.row
  .small-12.columns
    = f.label :unpaid_reg_accounts, "User Accounts with ANY Registrants who have NOT Paid Reg Fees"
    = f.check_box :unpaid_reg_accounts
.row
  .small-12.columns
    = f.label :paid_reg_accounts, "User Accounts with ANY Registrants who have Paid Reg Fees"
    = f.check_box :paid_reg_accounts
.row
  .small-12.columns
    = f.label :no_reg_accounts, "User Accounts with No Registrants"
    = f.check_box :no_reg_accounts

- if @config.organization_membership_config?
  .row
    .small-12.columns
      = f.label :non_confirmed_organization_members, "User Accounts with Registrants who are not Unicycling-Organization-Members"
      = f.check_box :non_confirmed_organization_members

.row
  .small-12.columns
    = f.label :competition_id, "Users who are assigned to a competition"
    = f.select :competition_id, Competition.event_order.all.map{ |comp| [comp, comp.id] }, {include_blank: true}, class: "chosen-select", multiple: true
.row
  .small-12.columns
    = f.label :category_id, "Users who are assigned to any competition in this category"
    = f.select :category_id, Category.all.map{ |category| [category, category.id] }, {include_blank: true}, class: "chosen-select"

.row
  .small-12.columns
    = f.label :event_id, "Users who have SIGNED UP for an Event"
    = f.select :event_id, Event.all.map{ |event| ["#{event.category} - #{event}", event.id] }, {include_blank: true}, class: "chosen-select"

.row
  .small-12.columns
    = f.label :signed_up_category_id, "Users who have SIGNED UP to any event in this category"
    = f.select :signed_up_category_id, Category.all.map{ |category| [category, category.id] }, {include_blank: true}, class: "chosen-select"
.row
  .small-12.columns
    = f.label :expense_item_id, "Users who have PAID for a particular Expense Item"
    = f.select :expense_item_id, ExpenseItem.all.map{ |ei| [ei.to_s, ei.id] }, {include_blank: true}, class: "chosen-select"
