%h1 Email multiple people
%h2 Send some users an e-mail

%p You can use the options to choose a subset of user accounts to send e-mail to.

%b Only choose <u>One</u> Option for filtering. This page doesn't understand anything more complicated.

%h4 Filter
= render :partial => "/shared/error_messages", :object => @email_form
= form_for @email_form, url: list_emails_path, method: :get do |f|
  = f.label :confirmed_accounts, "All Confirmed User Accounts"
  = f.check_box :confirmed_accounts
  %br
  %br
  = f.label :unpaid_reg_accounts, "Users With Not Yet Paid Registration Fees"
  = f.check_box :unpaid_reg_accounts
  %br
  = f.label :paid_reg_accounts, "Users With ALL Paid Registration Fees"
  = f.check_box :paid_reg_accounts
  %br
  = f.label :no_reg_accounts, "Users without any registrants"
  = f.check_box :no_reg_accounts
  %br
  = f.label :competition_id, "Users who are assigned to a competition"
  = f.select :competition_id, Competition.event_order.all.map{ |comp| [comp, comp.id] }, {include_blank: true}, class: "chosen-select", multiple: true
  %br
  = f.label :category_id, "Users who are assigned to any competition in this category"
  = f.select :category_id, Category.all.map{ |category| [category, category.id] }, include_blank: true
  %br

  = f.submit "Get Email List", :class => "focus_button"
%hr

