%h1 Email

%p From this page, you can gather e-mail addresses for various sets of registrants.

%hr

%h2 Download all Registrant Emails
= link_to "Download Registrant Emails", download_emails_path, class: "button"

%hr

%h2= link_to "View sent e-mails", all_sent_emails_path, class: "button"

%hr

%h2 Send some users an e-mail

%p You can use the options to choose a subset of user accounts to send e-mail to.

- @filters.each do |filter|
  %h4 #{filter.description}

  = simple_form_for :filter_email, url: list_emails_path, method: :get do |f|
    = f.hidden_field :filter, value: filter.filter

    - if [:multi_select, :select].include?(filter.input_type)
      - allowed_arguments = filter.possible_arguments.select{|el| policy(el).contact_registrants? }
      = f.select :arguments, allowed_arguments.map {|el| filter.show_argument(el) }, {include_blank: true}, class: "chosen-select", multiple: (filter.input_type == :multi_select)
    = f.button :submit, "Get Email List", class: "focus_button"
