%h1 Email

%p From this page, you can gather e-mail addresses for various sets of registrants.

- if policy(current_user).contact_registrants?
  %hr

  %h2 Download all Registrant Emails
  = link_to "Download Registrant Emails", download_emails_path, class: "button"

  %hr

  %h2= link_to "View sent e-mails", all_sent_emails_path, class: "button"

%hr

%h2 Send some users an e-mail

%p You can use the options to choose a subset of user accounts to send e-mail to.

- @filters.each do |filter_class|
  - filter = filter_class.config
  - next unless filter.usable_by?(current_user)

  = simple_form_for :filter_email, url: list_emails_path, method: :get do |f|
    = f.hidden_field :filter, value: filter.filter
    .row
      .small-9.columns
        %h4 #{filter.description}
      .small-3.columns
        - if [:multi_select, :select].include?(filter.input_type)
          = f.select :arguments, filter.allowed_arguments(current_user).map {|el| filter.show_argument(el) }, {include_blank: true}, class: "chosen-select", multiple: (filter.input_type == :multi_select)
        = f.button :submit, "Get Email List", class: "focus_button"
  %hr
