%h1 Email multiple people

Scroll down to see the e-mail form

%h3= @filter.detailed_description

Note: It may take many seconds to send the e-mail to everyone (if it's a large number of e-mail addresses)

%h4 E-mail
= render :partial => "/shared/error_messages", :object => @email_form

%table.sortable
  %thead
    %tr
      %th
        Filtered User E-mail addresses
        (#{@filter.filtered_user_emails.count})
      %th
        Filtered Registration E-mail Addresses
        (#{@filter.filtered_registrant_emails.count})
  %tbody
    %tr
      %td
        - @filter.filtered_user_emails.each do |email|
          = email
          %br
      %td
        - @filter.filtered_registrant_emails.each do |email|
          = email
          %br

%hr
= simple_form_for @email_form, url: emails_path do |f|
  <b>Note</b> This form will send to all the e-mails in BOTH of the columns above.
  %br
  = hidden_field_tag :filter, @filter.class.config.filter
  - if @filter.arguments.is_a?(Array)
    - @filter.arguments.each do |arg|
      = hidden_field_tag "arguments[]", arg
  - else
    = hidden_field_tag "arguments", @filter.arguments

  = f.label :subject
  = f.text_field :subject
  %br
  = f.label :body
  = f.text_area :body, {:cols => 100, :rows => 6 }
  %br
  = f.button :submit, "Send Email", class: "focus_button"
%hr
= link_to "Start over", emails_path, class: "back_link"
