%h1 Email multiple people

At the bottom of this page, you can use the system to send e-mails, if you wish.

%h3= @filter.detailed_description

%h4 E-mail
= render :partial => "/shared/error_messages", :object => @email_form

%table.sortable
  %thead
    %tr
      %th
        Filtered User E-mail addresses
        (#{@filter.user_emails.count})
      %th
        Filtered Registration E-mail Addresses
        (#{@filter.registrant_emails.count})
  %tbody
    %tr
      %td
        - @filter.user_emails.each do |email|
          = email
          %br
      %td
        - @filter.registrant_emails.each do |email|
          = email
          %br

%hr
%h2 Send an e-mail

.row.left_aligned
  = simple_form_for @email_form, url: emails_path do |f|
    %p
      %b Note:
      This form will send to all the e-mails in BOTH of the columns above.
    %p
      %b Note:
      It may take many seconds to send the e-mail to everyone (if it's a large number of e-mail addresses)
    %br
    = hidden_field_tag :filter, @filter.class.config.filter
    - if @filter.arguments.is_a?(Array)
      - @filter.arguments.each do |arg|
        = hidden_field_tag "arguments[]", arg
    - else
      = hidden_field_tag "arguments", @filter.arguments

    %b From:
    = EventConfiguration.singleton.contact_email
    %br
    %b Reply-to:
    %span{data: {"mass-email-reply-to-target": "display"}}= EventConfiguration.singleton.contact_email
    %br
    .mass-email-reply-to{data: {controller: "mass-email-reply-to", "mass-email-reply-to-contact-email-value": EventConfiguration.singleton.contact_email, "mass-email-reply-to-user-email-value": current_user.email}}
      = f.input :include_my_email, as: :boolean, label: "Include my email in the reply-to list", input_html: {data: {"mass-email-reply-to-target": "checkbox", action: "change->mass-email-reply-to#update"}}
      = f.label :additional_reply_to_emails, "Additional reply-to emails"
      = f.text_field :additional_reply_to_emails, data: {"mass-email-reply-to-target": "additional", action: "input->mass-email-reply-to#update"}
    %br
    %b BCC:
    You +
    All of the email addresses listed above
    %br
    = f.label :subject
    = f.text_field :subject
    %br
    = f.rich_text_area :body
    %br
    = f.button :submit, "Send Email", class: "focus_button"
  %hr
  = link_to "Start over", emails_path, class: "back_link"
