%h1 Email multiple people

At the bottom of this page, you can use the system to send e-mails, if you wish.

%h3= @filter.detailed_description

%h4 E-mail
= render :partial => "/shared/error_messages", :object => @email_form

%table.sortable
  %thead
    %tr
      %th
        Filtered User E-mail addresses
        (#{@filter.filtered_user_emails.count})
      %th
        Filtered Registration E-mail Addresses
        (#{@filter.filtered_registrant_emails.count})
  %tbody
    %tr
      %td
        - @filter.filtered_user_emails.each do |email|
          = email
          %br
      %td
        - @filter.filtered_registrant_emails.each do |email|
          = email
          %br

%hr
%h2 Send an e-mail

.row.left_aligned
  = simple_form_for @email_form, url: emails_path do |f|
    %p
      %b Note:
      This form will send to all the e-mails in BOTH of the columns above.
    %p
      %b Note:
      It may take many seconds to send the e-mail to everyone (if it's a large number of e-mail addresses)
    %br
    = hidden_field_tag :filter, @filter.class.config.filter
    - if @filter.arguments.is_a?(Array)
      - @filter.arguments.each do |arg|
        = hidden_field_tag "arguments[]", arg
    - else
      = hidden_field_tag "arguments", @filter.arguments

    %b From:
    = EventConfiguration.singleton.contact_email
    %br
    %b Reply-to:
    = EventConfiguration.singleton.contact_email
    %br
    %b BCC:
    You +
    All of the email addresses listed above
    %br
    = f.label :subject
    = f.text_field :subject
    %br
    = render "shared/wysiwyg"
    = f.input :body, as: :text, input_html: { class: "full_tinymce" }
    %br
    = f.button :submit, "Send Email", class: "focus_button"
  %hr
  = link_to "Start over", emails_path, class: "back_link"
