%h1 Email multiple people

Scroll down to see the e-mail form


%h3= @email_form.filter_description

%table.sortable
  %thead
    %tr
      %th Filtered User E-mail addresses (#{@email_form.filtered_user_emails.count})
      %th Filtered Registration E-mail Addresses (#{@email_form.filtered_registrant_emails.count})
  %tbody
    %tr
      %td
        - @email_form.filtered_user_emails.each do |email|
          = email
          %br
      %td
        - @email_form.filtered_registrant_emails.each do |email|
          = email
          %br

%hr

Note: It may take many seconds to send the e-mail to everyone (if it's a large number of e-mail addresses)

%h4 E-mail
= render :partial => "/shared/error_messages", :object => @email_form
= simple_form_for @email_form, url: emails_path do |f|
  = render partial: "form", locals: { f: f }
  %br
  %br
  <b>Note</b> This form will send to all the e-mails in BOTH of the columns above.
  %br

  = f.label :subject
  = f.text_field :subject
  %br
  = f.label :body
  = f.text_area :body, {:cols => 100, :rows => 6 }
  %br
  = f.button :submit, "Send Email", :class => "focus_button"
%hr
