%h1 Sent Email

%div
  %b Sent Date
  = @email.sent_at

%div
  %b Sent By
  = @email.sent_by

%div
  %b Subject
  = @email.subject

%div
  %b Body
  = @email.body

%div
  %b Addresses
  = @email.email_addresses

%div
  %b Address Description
  = @email.email_addresses_description

