<h1>Users</h1>

<table class="alternate">
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin?</th>
      <th> </th>
      <th>SuperAdmin?</th>
      <th>ClubAdmin?</th>
      <th>Club</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user %></td>
      <td><%= user.admin %></td>
      <td>
        <%= form_for([:admin, user], :url => admin_admin_user_path(user), :html => { :method => :put }) do |f| %>
          <%= f.submit "Toggle Admin" %>
        <% end %>
      </td>
      <td><%= user.super_admin %></td>
      <td><%= user.club_admin %></td>
      <td><%= user.club %></td>
      <td>
        <%= form_for([:club_admin, user], :url => club_admin_admin_user_path(user), :html => { :method => :put }) do |f| %>
          <%= f.text_field :club, :placeholder => 'Club', :size => 20 %>
          <%= f.submit "Toggle/Update Club Admin" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
