<h1>Users</h1>

<table class="sortable">
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin?</th>
      <th> </th>
      <th>SuperAdmin?</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user %></td>
      <td><%= user.has_role? :admin %></td>
      <td>
        <%= form_for([:admin, user], :url => admin_admin_user_path(user), :html => { :method => :put }) do |f| %>
          <%= f.submit "Toggle Admin" %>
        <% end %>
      </td>
      <td><%= user.has_role? :super_admin %></td>
    </tr>
  <% end %>
</table>
