%fieldset.form__fieldset
  = simple_form_for(@age_group_type) do |f|
    = render partial: "shared/error_messages", object: @age_group_type

    = f.input :name, autofocus: true

    %div
      %table.items.sortable
        %thead
          %tr
            %th Description
            %th Start Age
            %th End Age
            %th Required Wheel Size (optional)
            %th Gender
            %th
        %tbody
          = f.nested_fields_for :age_group_entries, render_template: false do |member_f|
            %tr.item
              = render partial: "age_group_entry", locals: {f: member_f}
              %td
                = link_to 'remove', "#", class: "remove", data: { confirm: "Are you sure?" }
                = member_f.hidden_field :id
                = member_f.hidden_field :_destroy
      .text--right
        = link_to "add new", "#", class: "add"
      = nested_fields_templates
    = f.button :submit

  = render "order_warning"
  %p You can set the order later though.
