%h3 Preliminary Time Results

%table.import_results
  %thead
    %tr
      %th ID
      %th Minutes
      %th Seconds
      %th Thousands
      %th Name
      %th Status
      %th Status Description
  %tbody
    - @time_results.each do |tr|
      %tr
        %td= tr.bib_number
        %td= tr.minutes
        %td= tr.seconds
        %td= tr.thousands
        %td= tr.competitor
        %td= tr.status
        %td= tr.status_description
