%h1 Import Swiss Track Racing Data

%h2.js--toggle{ data: { toggle_target: "#instructions" } } Swiss-Data Import Instructions

#instructions.is--hidden
  %p This page is for e-timer data import from the Swiss Timing Team system.

  %p Please import a Tab-Separated-File file with the following format

  %h3 Document Format

  .row
    .small-12.columns
      %b Example Entry
      (ID: Column 3 (<b>557</b>), Time: Column 2 (<b>00:23:28.106</b>), Lane (<b>3</b>))
    .small-12.columns
      %pre 3 00:23:28.106  557 3 Monika Sveistrup  "0-10 20"" Female, 20"" Wheel"  Female          00:00:00.186

%h3 Upload Data

= form_tag(import_user_competition_swiss_results_path(@user, @competition), {:method => :post, :multipart=>true}) do
  = render partial: "shared/upload_file_for_competition", locals: { competition: @competition }
  .row
    .small-6.medium-3.columns
      = label_tag :heat
      = number_field_tag :heat, nil, autocomplete: "off", class: "js--heat"
    .small-6.medium-6.columns
      %b Stored Heats:
      - if @entered_heats.count > 10
        = precede "..." do
          = @entered_heats.last(10).join(", ")
      - else
        = @entered_heats.join(", ")
  .row
    .small-6.medium-3.columns
      = check_box_tag :heats, nil, {}, class: "js--inputEnable", data: { targets: "js--heat" }
      = label_tag :heats, "Import Heats"
      .help_bubble{ title: "Disable this in order to import Swiss tab-separated files which are not heat-specific. (e.g. if you run photo finish on a non-heat/lane event)." }

  = submit_tag "Load Data File to Temp Table", class: "button"

%hr
.row
  .small-12.medium-6.columns
    = render partial: "preliminary_time_results"

    = link_to "Accept these Results", approve_user_competition_swiss_results_path(@user, @competition), method: :post, data: {:confirm => t("are_you_sure") }, class: "button success"

    = link_to "Delete these Results (to start over)", destroy_all_user_competition_swiss_results_path(@user, @competition), method: :delete, data: {:confirm => t("are_you_sure") }, class: "button alert"
  .small-12.medium-6.columns
    = render partial: "previous_time_results", competitors: @bib_numbers

%hr
= render "competitions/set_age_group_places"
= render "competitions/publish_age_group_entries"
