<h1>Listing <%= @age_group_type %> Age Group Entries</h1>

<table>
  <tr>
    <th>Short description</th>
    <th>Long description</th>
    <th>Start age</th>
    <th>End age</th>
    <th>Wheel Size</th>
    <th>Gender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @age_group_entries.each do |age_group_entry| %>
  <% next if age_group_entry.new_record? %>
  <tr>
    <td><%= age_group_entry.short_description %></td>
    <td><%= age_group_entry.long_description %></td>
    <td><%= age_group_entry.start_age %></td>
    <td><%= age_group_entry.end_age %></td>
    <td><%= age_group_entry.wheel_size %></td>
    <td><%= age_group_entry.gender %></td>
    <td><%= link_to 'Show', age_group_entry %></td>
    <td><%= link_to 'Edit', edit_age_group_entry_path(age_group_entry) %></td>
    <td><%= link_to 'Destroy', age_group_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<h1>New <%= @age_group_type %> Age Group Entry</h1>

<%= render 'form' %>
