%b= t(".be_careful_warning")

%br
= link_to t(".text_translation_system"), tolk_path, class: "focus_button", target: "_blank"

%p= t(".when_done_translating")

%p
  %b= t("note")
  = t(".performance_impact_warning")

= render "examples"
