%h3= t(".leave_some_untranslated")

.translation_examples
  %div
    = t("example")
    %pre
      \---
      one: Contact Detail
      other: Contact Details

    = t(".example_should_become")
    %pre
      \---
      one: Kontakt Detail
      other: Kontakt Details
  %hr
  %div
    = t("example")
    %pre
      \---
      \- :month
      \- :day
      \- :year

    = t(".example_should_become")
    %pre
      \---
      \- :month
      \- :day
      \- :year

  %hr
  %div
    = t("example")
    %pre
      Welcome %{email} to the Unicycling Registration!

    = t(".example_should_become")
    %pre
      Wilkommen %{email} zur Einrad Anmeldung!
