.row
  .small-12.columns
    %h1= t(".header")

  .small-12.columns
    = t(".thank_you_for_volunteering", link: contact_us_welcome_path)

  .small-12.columns
    %p
      = t(".avaliable_in_multiple_languages")
      (
      = EventConfiguration.all_available_languages
      ).

    %p
      = t(".convention_available_in_languages", convention: @config.short_name, languages: @config.enabled_locales.map { |lang| t("language_name", locale: lang) }.join(", "))

    %p= t(".two_sets_of_translations")

    %ol
      %li= t(".common_translations_set")
      %li= t(".convention_translation_set")

  = render "common_translations"
  %hr
  = render "convention_translations"

- if policy(:translation).clear_cache?
  .row
    .small-12.columns
      %h2= t(".clear_translation_cache")

      %p= t(".clear_translation_description")

      = link_to t(".clear_translation_action"), translations_cache_path, method: :delete, class: "focus_button", data: { confirm: t(".clear_translation_confirm") }
