%h1 Export Heat data for #{@competition}

%hr

.row
  .small-12.columns.left_aligned
    %h2 Track E-Timer EVT file (For FinishLynx-style system)

    %b Example:

    %p blank, id, lane, last_name, first_name country

    %pre
      nil,2,5,Dunlop,Robin,Canada

    = link_to "Competitor List EVT", download_evt_competition_heat_exports_path(@competition), class: "button"

%hr

.row
  .small-12.columns.left_aligned
    %h2 IUF Slalom-style semicolon separated file

    %b Example:

    %b id, last_name, first_name, country, gender, age_group

    %pre
      StartNr;Nachname;Vorname;Land;Geschlecht;AK
      2;Durgan;Whitney;USA;f;30+
      3;Crist;Amely;USA;f;30+

    = link_to "Competitor List SSV", download_competitor_list_ssv_competition_heat_exports_path(@competition), class: "button"

%hr

.row
  .small-12.columns.left_aligned
    %h2 Swiss-Timing file export

    %b Example:

    %b nil nil ID lane-number name country age group gender

    %b Note: The "nil" are actually not present

    %pre
      nil nil 698 1 Durgan Whitney  Germany 30+ w
      nil nil 92  2 Crist Amely Italy 30+ w
      nil nil 543 3 Spinka Hank  Germany 30+ w
      nil nil 364 4 Larkin Cara Kornelia  Switzerland 30+ w
      nil nil 81  5 Hills Raegan  Italy 30+ w
      nil nil 498 6 Walter Yvette  Germany 30+ w

    %h4 Download a Single Heat File
    = form_tag(download_heat_tsv_competition_heat_exports_path(@competition)) do
      .row
        .small-6.medium-3.columns
          = label_tag :heat_number, "Heat"
        .small-6.medium-3.columns
          = text_field_tag :heat_number
        .small-12.medium-6.columns
          = submit_tag "Download Single Heat TSV", data: { disable_with: false }, class: "button"
    %h4 Download All Heat Files
    %br
    = link_to "Competitor ALL List Heat files (zip)", download_all_heats_tsv_competition_heat_exports_path(@competition), method: :post, class: "button"
%hr

.row
  .small-12.columns.left_aligned
    %h2 Heat-less Swiss-Timing file export

    %b Example:

    %b nil nil ID nil name country age group gender

    %b Note: The "nil" are actually not present

    %pre
      nil nil 698 nil Durgan Whitney  Germany 30+ w
      nil nil 92  nil Crist Amely Italy 30+ w
      nil nil 543 nil Spinka Hank  Germany 30+ w
      nil nil 364 nil Larkin Cara Kornelia  Switzerland 30+ w
      nil nil 81  nil Hills Raegan  Italy 30+ w
      nil nil 498 nil Walter Yvette  Germany 30+ w

    = link_to "Download TSV", download_competitor_list_competition_heat_exports_path(@competition), class: "button"
