<%= form_for(@event_configuration, :html => {:multipart=> true}) do |f| %>
  <% if @event_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_configuration.errors.count, "error") %> prohibited this event_configuration from being saved:</h2>

      <ul>
      <% @event_configuration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="text-align: left">
    <div>
      <%= f.label :short_name %>
      <%= f.text_field :short_name %><br />
      Not currently used
    </div>
    <div>
      <%= f.label :long_name %>
      <%= f.text_field :long_name %><br />
    </div>
    <div class="field">
      <%= f.label :location %>
      <%= f.text_field :location %><br />
    </div>
    <div class="field">
      <%= f.label :dates_description %>
      <%= f.text_field :dates_description %><br />
    </div>
    <div class="field">
      <%= f.label :event_url %>
      <%= f.text_field :event_url %><br />
      Links from the Menubar logo to this URL.
    </div>
    <div class="field">
      <%= f.label :waiver_url %>
      <%= f.text_field :waiver_url %><br />
      Various places have a link to this url for the 'waiver'
    </div>
    <div class="field">
      <%= f.label :start_date %>
      <%= f.date_select :start_date %><br />
      This date is used to calculate the "age" of each registrant
    </div>
    <div class="field">
      <%= f.label :logo_image %>
      <%= f.file_field :logo_image %><br />
      This logo is displayed at the top of the site.
    </div>
    <div class="field">
      <%= f.label :currency %>
      <%= f.text_field :currency %><br />
      Not currently used
    </div>
    <div class="field">
      <%= f.label :contact_email %>
      <%= f.text_field :contact_email %><br />
      Any errors will be sent to this e-mail address.<br />
      All Payment notifications will be BCC'd to this e-mail address<br />
    </div>
    <div class="field">
      <%= f.label :closed %>
      <%= f.check_box :closed %><br />
      Not currently used
    </div>
    <div class="field">
      <%= f.label :artistic_closed_date %>
      <%= f.date_select :artistic_closed_date %><br />
      Not currently used
    </div>
    <div class="field">
      <%= f.label :standard_skill_closed_date %>
      <%= f.date_select :standard_skill_closed_date %><br />
      Not currently used
    </div>
    <div class="field">
      <%= f.label :tshirt_closed_date %>
      <%= f.date_select :tshirt_closed_date %><br />
      Not currently used
    </div>
    <div class="field">
      <%= f.label :test_mode %>
      <%= f.check_box :test_mode %><br />
      Enabling this allows any user to become a Super User, and also to "pretend to complete" a payment.<br />
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
