<%= form_for(@event_configuration, :html => {:multipart=> true}) do |f| %>
  <% if @event_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_configuration.errors.count, "error") %> prohibited this event_configuration from being saved:</h2>

      <ul>
      <% @event_configuration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="alternate">
  <thead>
    <tr>
        <th>Field</th>
        <th>Value</th>
        <th>Description</th>
     </tr>
  </thead>
  <% languages.each do |lang| %>
    <%= f.globalize_fields_for lang do |g| %>
      <tr>
        <th><%= g.label :short_name %> (<%= long_language_name(lang) %>)</th>
        <td><%= g.text_field :short_name %></td>
        <td>Used on the Registration page.</td>
      </tr>
      <tr>
        <th><%= g.label :long_name %> (<%= long_language_name(lang) %>)</th>
        <td><%= g.text_field :long_name %></td>
      </tr>
      <tr>
        <th><%= g.label :location %> (<%= long_language_name(lang) %>)</th>
        <td><%= g.text_field :location %></td>
      </tr>
      <tr>
        <th><%= g.label :dates_description %> (<%= long_language_name(lang) %>)</th>
        <td><%= g.text_field :dates_description %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
      <th><%= f.label :style_name %></th>
      <td><%= f.select :style_name, EventConfiguration.style_names, :include_blank => true %></td>
      <td>Select the style to be applied to the site</td>
  </tr>
  <tr>
      <th><%= f.label :event_url %></th>
      <td><%= f.url_field :event_url %></td>
      <td>Links from the Menubar logo to this URL.</td>
  </tr>
  <tr>
      <th><%= f.label :has_print_waiver %></th>
      <td><%= f.check_box :has_print_waiver %></td>
      <td>Enabling this allows all the print (pdf) waiver features and text to display.</td>
  </tr>
  <tr>
      <th><%= f.label :waiver_url %></th>
      <td><%= f.url_field :waiver_url %></td>
      <td>Currently unused</td>
  </tr>
  <tr>
      <th><%= f.label :has_online_waiver %></th>
      <td><%= f.check_box :has_online_waiver %></td>
      <td>Enabling this allows all the online (text box) waiver features and text to display.</td>
  </tr>
  <tr>
      <th><%= f.label :online_waiver_text %></th>
      <td><%= f.text_area :online_waiver_text, size: "60x12" %></td>
      <td>Actual text for the online waiver.</td>
  </tr>
  <tr>
      <th><%= f.label :comp_noncomp_url %></th>
      <td><%= f.url_field :comp_noncomp_url %></td>
      <td>A link to text that describes the difference between Comptitors and Non-comptitors.</td>
  </tr>
  <tr>
      <th><%= f.label :start_date %></th>
      <td><%= f.date_select :start_date %></td>
      <td>This date is used to calculate the "age" of each registrant.</td>
  </tr>
  <tr>
      <th><%= f.label :logo_image %></th>
      <td><%= f.file_field :logo_image %></td>
      <td>This logo is displayed at the top of the site.</td>
  </tr>
  <tr>
      <th><%= f.label :currency %></th>
      <td><%= f.text_field :currency %></td>
      <td>For use when printing/displaying currency on the webpage. Defaults to "%u%n USD".<br />
      Must be in the form of 'format' from: <%= link_to "Rails options{}", "http://api.rubyonrails.org/classes/ActionView/Helpers/NumberHelper.html#method-i-number_to_currency" %></td>
  </tr>
  <tr>
      <th><%= f.label :currency_code %></th>
      <td><%= f.text_field :currency_code %></td>
      <td>For Paypal. Three capital letter code for currency.</td>
  </tr>
  <tr>
      <th><%= f.label :contact_email %></th>
      <td><%= f.email_field :contact_email %></td>
      <td>This e-mail address will be listed on the "Help" page</td>
  </tr>
  <tr>
      <th><%= f.label :artistic_closed_date %></th>
      <td><%= f.date_select :artistic_closed_date %></td>
      <td>Not currently used</td>
  </tr>
  <tr>
      <th><%= f.label :music_submission_end_date %></th>
      <td><%= f.date_select :music_submission_end_date, include_blank: true %></td>
      <td>Specify the date at which music submissions will no longer be allowed</td>
  </tr>
  <tr>
      <th><%= f.label :standard_skill %></th>
      <td><%= f.check_box :standard_skill %></td>
      <td>Enabling this allows standard skill.</td>
  </tr>
  <tr>
      <th><%= f.label :standard_skill_closed_date %></th>
      <td><%= f.date_select :standard_skill_closed_date %></td>
      <td>This date defines when the users are no longer able to create/update standard skill routines</td>
  </tr>
  <tr>
      <th><%= f.label :usa %></th>
      <td><%= f.check_box :usa %></td>
      <td>Enabling this allows USA membership questions. It also prioritizes USA and Canada in the Country select-boxes</td>
  </tr>
  <tr>
      <th><%= f.label :iuf %></th>
      <td><%= f.check_box :iuf %></td>
      <td>Enabling this allows IUF membership questions.</td>
  </tr>
  <tr>
      <th><%= f.label :rulebook_url %></th>
      <td><%= f.url_field :rulebook_url %></td>
      <td>If left blank, no rulebook links are displayed. Otherwise provides external link to rulebook pdf.</td>
  </tr>
  <tr>
      <th><%= f.label :tshirt_closed_date %></th>
      <td><%= f.date_select :tshirt_closed_date %></td>
      <td>Not currently used</td>
  </tr>
  <tr>
      <th><%= f.label :artistic_score_elimination_mode_naucc %></th>
      <td><%= f.check_box :artistic_score_elimination_mode_naucc %></td>
      <td>This chooses whether to score artistic in "NAUCC" rules (1 high, 1 low elimination), or "UNICON" rules (1 high, 1 low elimination PER JUDGE TYPE)</td>
  </tr>
  <tr>
      <th><%= f.label :test_mode %></th>
      <td><%= f.check_box :test_mode %></td>
      <td>Enabling this allows any user to become a Super User, and also to "pretend to complete" a payment.</td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
