%h1 Base Settings

= simple_form_for(@event_configuration, url: update_base_settings_event_configuration_path, method: :put, multipart: true) do |f|
  = render partial: "/shared/error_messages", object: @event_configuration


  %fieldset.form__fieldset
    %h3 Registrant Types
    .label Registration Types Available

    .field
      = check_box_tag :competitor, true, true, disabled: true
      = label_tag :competitor, nil, class: 'label--checkbox'
    .field
      = check_box_tag :noncompetitor, true, true, disabled: true
      = label_tag :noncompetitor, nil, class: 'label--checkbox'
      .help_bubble{ title: "Non-Competitors cannot sign up for events" }
    = f.input :spectators

    = f.input :comp_noncomp_url
    .input_details Specify a link which explains the difference between the offered Registration Types
    = link_to 'Test this URL', '#'

  %hr

  %fieldset.form__fieldset
    %h3 Waiver

    = f.input :waiver, as: :radio_buttons, collection: [:none, :online, :print]
    .help_bubble{ title: "Online: User is required to sign the waiver" }
    .help_bubble{ title: "Print: We provide a waiver for the user to print/sign at the event. (available in advance on the website so that children can have their parents sign it)" }

    = f.input :custom_waiver_text, placeholder: EventConfiguration.default_waiver_text, input_html: { size: "60x12" }

  %fieldset.form__fieldset
    %h3 Rules

    = f.input :rules_file_name
    = f.input :accept_rules, hint: "Enable this to force all registrants to accept the rules attached in PDF"
  %hr

  %fieldset.form__fieldset
    %h3 Offered Languages

    = f.input :enabled_locales, collection: EventConfiguration.all_available_languages, input_html: { multiple: true }

  %hr

  %h3 Website Style
  = f.input :style_name, collection: EventConfiguration.style_names, include_blank: false

  %hr

  %h3 Tax Settings
  = f.input :italian_requirements
  .description
    Requires collection of BirthPlace from everyone, and Italian Fiscal Code from Italian registrants.

  %hr

  %h3 Contact Details
  = f.input :contact_email
  .description
    This is the target for all "Feedback" emails on the "Help" page.

  %hr

  %h3 Unicycling Society of America (USA) Membership Summary

  = f.input :usa_membership_config

  = f.association :usa_individual_expense_item, collection: ExpenseItem.user_manageable
  = f.association :usa_family_expense_item, collection: ExpenseItem.user_manageable

  %hr

  %h3 Artistic Scoring Mode
  %p
    This chooses whether to eliminate 1 high, 1 low judge during scoring (Small Event), 1 high, 1 low elimination PER JUDGE TYPE during scoring (Large Event).

  = f.input :artistic_score_elimination_mode_naucc

  %hr

  %h3 Rulebook

  = f.input :rulebook_url

  %p
    The current IUF Rulebook can be found at:
    = link_to "https://unicycling.org/files/current-iuf-rulebook.pdf", "https://unicycling.org/files/current-iuf-rulebook.pdf"

  %hr

  %h3 Standard Skill

  %p
    Enabling this feature allows a registrant to submit their standard skill routine with their registration.

  %p
    Note: The Standard Skill Judging system is currently incomplete, and not included in this online system

  = f.input :standard_skill

  = f.input :standard_skill_closed_date

  = f.button :submit
