%h1 Base Configuration

%table.alternate
  %legend Effective Configuration
  %tr
    %th Short name
    %td= @config.short_name
  %tr
    %th Long name
    %td= @config.long_name
  %tr
    %th Style name
    %td= @config.style_name
  %tr
    %th Location
    %td= @config.location
  %tr
    %th Dates description
    %td= @config.dates_description
  %tr
    %th Event url
    %td= @config.event_url
  %tr
    %th Print Waiver
    %td= @config.has_print_waiver
  %tr
    %th Waiver url
    %td= @config.waiver_url
  %tr
    %th Online Waiver
    %td= @config.has_online_waiver
  %tr
    %th Online Waiver Text
    %td
      %span.admin_show_waiver_truncate= @config.online_waiver_text
  %tr
    %th Comp/Non-Comp url
    %td= @config.comp_noncomp_url
  %tr
    %th Start date
    %td= @config.start_date
  %tr
    %th Logo
    %td= image_tag(@config.logo_file.url, :width => "100px")
  %tr
    %th Currency (example)
    %td= @config.currency
  %tr
    %th Currency Code
    %td= @config.currency_code
  %tr
    %th Contact email
    %td= @config.contact_email
  %tr
    %th Artistic closed date
    %td= @config.artistic_closed_date
  %tr
    %th Standard skill
    %td= @config.standard_skill
  %tr
    %th Standard skill closed date
    %td= @config.standard_skill_closed_date
  %tr
    %th USA
    %td= @config.usa
  %tr
    %th USA Expense Items (for export/marking confirming)
    %td
      = @config.usa_individual_expense_item
      %br
      = @config.usa_family_expense_item
  %tr
    %th IUF
    %td= @config.iuf
  %tr
    %th Rulebook URL
    %td= @config.rulebook_url
  %tr
    %th Tshirt closed date
    %td= @config.tshirt_closed_date
  %tr
    %th Music Submission End date
    %td= @config.music_submission_end_date
  %tr
    %th Test Mode
    %td= @config.test_mode

- if @event_configurations.count == 0
  = link_to 'New Event configuration', new_event_configuration_path
- else
  - event_configuration = @event_configurations.first
  = link_to 'Edit', edit_event_configuration_path(event_configuration)
  = link_to 'Delete', event_configuration, method: :delete, data: { confirm: 'Are you sure?' }
