%h1 Convention Setup

%p Before we can launch the registration system, many things must be configured

%table.alternate
  %thead
    %tr
      %th
      %th Status
  %tbody
    %tr
      %td= link_to "Base Settings", base_settings_event_configurations_path
      %td
    %tr
      %td= link_to "Domain Setup", tenant_aliases_path
    %tr
      %td= link_to "Name + Logo", name_logo_event_configurations_path
    %tr
      %td Registration Costs
    %tr
      %td= link_to "Important Deadlines", important_dates_event_configurations_path
    %tr
      %td Other Items for Sale
    %tr
      %td Coupon Codes
    %tr
      %td Events
    %tr
      %td Volunteer Options
    %tr
      %td= link_to "Payment Settings", payment_settings_event_configurations_path
    %tr
      %td Access Settings

- if @event_configurations.count == 0
  = link_to 'New Event configuration', new_event_configuration_path
- else
  - event_configuration = @event_configurations.first
  = link_to 'Edit', edit_event_configuration_path(event_configuration)
  = link_to 'Delete', event_configuration, method: :delete, data: { confirm: 'Are you sure?' }
