<h1>Base Configuration</h1>

<table class="alternate">
  <legend>Effective Configuration</legend>
  <tr>
    <th>Short name</th>
    <td><%= EventConfiguration.short_name %></td>
  </tr>
  <tr>
    <th>Long name</th>
    <td><%= EventConfiguration.long_name %></td>
  </tr>
  <tr>
    <th>Style name</th>
    <td><%= EventConfiguration.style_name %></td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%= EventConfiguration.first.try(:location) %></td>
  </tr>
  <tr>
    <th>Dates description</th>
    <td><%= EventConfiguration.first.try(:dates_description) %></td>
  </tr>
  <tr>
    <th>Event url</th>
    <td><%= EventConfiguration.event_url %></td>
  </tr>
  <tr>
    <th>Print Waiver</th>
    <td><%= EventConfiguration.has_print_waiver %></td>
  </tr>
  <tr>
    <th>Waiver url</th>
    <td><%= EventConfiguration.waiver_url %></td>
  </tr>
  <tr>
    <th>Online Waiver</th>
    <td><%= EventConfiguration.has_online_waiver %></td>
  </tr>
  <tr>
    <th>Online Waiver Text</th>
    <td><span class="admin_show_waiver_truncate"><%= EventConfiguration.online_waiver_text %></span></td>
  </tr>  
  <tr>
    <th>Comp/Non-Comp url</th>
    <td><%= EventConfiguration.comp_noncomp_url %></td>
  </tr>
  <tr>
    <th>Start date</th>
    <td><%= EventConfiguration.start_date %></td>
  </tr>
  <tr>
    <th>Logo</th>
    <td><% unless EventConfiguration.first.nil? %>
            <%= image_tag(logo_event_configuration_path(EventConfiguration.first), :width => "100px") %>
        <% end %>
    </td>
  </tr>
  <tr>
    <th>Currency (example)</th>
    <td><%= EventConfiguration.currency %></td>
  </tr>
  <tr>
    <th>Currency Code</th>
    <td><%= EventConfiguration.currency_code %></td>
  </tr>
  <tr>
    <th>Contact email</th>
    <td><%= EventConfiguration.contact_email %></td>
  </tr>
  <tr>
    <th>Artistic closed date</th>
    <td><%= EventConfiguration.first.try(:artistic_closed_date) %></td>
  </tr>
  <tr>
    <th>Standard skill</th>
    <td><%= EventConfiguration.standard_skill %></td>
  </tr>
  <tr>
    <th>Standard skill closed date</th>
    <td><%= EventConfiguration.first.try(:standard_skill_closed_date) %></td>
  </tr>
  <tr>
    <th>USA</th>
    <td><%= EventConfiguration.usa %></td>
  </tr>
  <tr>
    <th>IUF</th>
    <td><%= EventConfiguration.iuf %></td>
  </tr>
  <tr>
    <th>Rulebook URL</th>
    <td><%= EventConfiguration.rulebook_url %></td>
  </tr>
  <tr>
    <th>Tshirt closed date</th>
    <td><%= EventConfiguration.first.try(:tshirt_closed_date) %></td>
  </tr>
  <tr>
    <th>Test Mode</th>
    <td><%= EventConfiguration.first.try(:test_mode) %></td>
  </tr>
</table>

<% if @event_configurations.count == 0 %>
    <%= link_to 'New Event configuration', new_event_configuration_path %>
<% else %>
    <% event_configuration = @event_configurations.first %>
    <%= link_to 'Edit', edit_event_configuration_path(event_configuration) %>
    <%= link_to 'Destroy', event_configuration, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
