%h1 Name & Logo

= form_for(@event_configuration, url: update_name_logo_event_configuration_path, method: :put) do |f|
  = render partial: "/shared/error_messages", object: @event_configuration
  %table.alternate
    %thead
      %tr
        %th Field
        %th= long_language_name(I18n.locale)
    %tbody
      %tr
        %th= f.label :short_name
        %td= f.text_field :short_name
      %tr
        %th= f.label :long_name
        %td= f.text_field :long_name
      %tr
        %th= f.label :location
        %td= f.text_field :location
      %tr
        %th= f.label :dates_description
        %td= f.text_field :dates_description
      %tr
        %th= f.label :competitor_benefits
        %td= f.text_area :competitor_benefits
      %tr
        %th= f.label :noncompetitor_benefits
        %td= f.text_area :noncompetitor_benefits
      %tr
        %th= f.label :spectator_benefits
        %td= f.text_area :spectator_benefits
      %tr
        %th= f.label :event_url
        %td= f.url_field :event_url
        %td Links from the Menubar logo to this URL.
      %tr
        %th= f.label :logo_file
        %td
          = f.file_field :logo_file
          = image_tag(@event_configuration.logo_file.url) if @event_configuration.logo_file?
        %td Logo should be 93px x 38px

      %tr
        %th= f.label :start_date
        %td= f.date_select :start_date
        %td Registrant Ages are calculated based on this date
  = f.submit
