%h1 Registrant Types

= simple_form_for(@event_configuration, url: update_base_settings_event_configuration_path, method: :put, multipart: true) do |f|
  = render partial: "/shared/error_messages", object: @event_configuration

  %fieldset.form__fieldset
    %h3 Registrant Types
    .label Registration Types Available

    .field
      = check_box_tag :competitor, true, true, disabled: true
      = label_tag :competitor, nil, class: 'label--checkbox'
    .field
      = check_box_tag :noncompetitor, true, true, disabled: true
      = label_tag :noncompetitor, nil, class: 'label--checkbox'
      .help_bubble{ title: "Non-Competitors cannot sign up for events" }
    = f.input :spectators

    = f.input :comp_noncomp_url
    .input_details Specify a link which explains the difference between the offered Registration Types
    = link_to 'Test this URL', '#'

    = f.input :competitor_benefits, as: :text
    = f.input :noncompetitor_benefits, as: :text
    = f.input :spectator_benefits, as: :text

  = f.button :submit
