%h1 Waiver and Rules

= simple_form_for(@event_configuration, url: update_rules_waiver_event_configuration_path, method: :put, multipart: true) do |f|
  = render partial: "/shared/error_messages", object: @event_configuration

  %fieldset.form__fieldset
    %h3 Waiver

    = f.input :waiver, as: :radio_buttons, collection: [:none, :online, :print]
    .help_bubble{ title: "Online: User is required to sign the waiver" }
    .help_bubble{ title: "Print: We provide a waiver for the user to print/sign at the event. (available in advance on the website so that children can have their parents sign it)" }

    = f.input :custom_waiver_text, placeholder: EventConfiguration.default_waiver_text

  %fieldset.form__fieldset
    %h3 Rules

    = f.input :rules_file_name
    = f.input :accept_rules, hint: "Enable this to force all registrants to accept the rules attached in PDF"

  %fieldset.form__fieldset

    %h3 Rulebook

    = f.input :rulebook_url

    %p
      The current IUF Rulebook can be found at:
      = link_to "https://unicycling.org/files/current-iuf-rulebook.pdf", "https://unicycling.org/files/current-iuf-rulebook.pdf"

  = f.button :submit
