<p>
  <b>Short name:</b>
  <%= @event_configuration.short_name %>
</p>

<p>
  <b>Long name:</b>
  <%= @event_configuration.long_name %>
</p>

<p>
  <b>Style name:</b>
  <%= @event_configuration.style_name %>
</p>

<p>
  <b>Location:</b>
  <%= @event_configuration.location %>
</p>

<p>
  <b>Dates description:</b>
  <%= @event_configuration.dates_description %>
</p>

<p>
  <b>Event url:</b>
  <%= @event_configuration.event_url %>
</p>

<p>
  <b>Print Waiver:</b>
  <%= @event_configuration.has_print_waiver %>
</p>

<p>
  <b>Waiver url:</b>
  <%= @event_configuration.waiver_url %>
</p>

<p>
  <b>Online Waiver:</b>
  <%= @event_configuration.has_online_waiver %>
</p>

<p>
  <b>Online Waiver Text:</b>
  <%= @event_configuration.online_waiver_text %>
</p>

<p>
  <b>USA Event:</b>
  <%= @event_configuration.usa %>
</p>

<p>
  <b>IUF Event:</b>
  <%= @event_configuration.iuf %>
</p>

<p>
  <b>Rulebook Url:</b>
  <%= @event_configuration.rulebook_url %>
</p>

<p>
  <b>Comp/Non-Comp url:</b>
  <%= @event_configuration.comp_noncomp_url %>
</p>

<p>
  <b>Logo:</b>
  <%= @event_configuration.logo_filename %>
  <%= image_tag(logo_event_configuration_path(@event_configuration), :alt => "Image", :width => "300px") %>
</p>

<p>
  <b>Start date:</b>
  <%= @event_configuration.start_date %>
</p>

<p>
  <b>Currency (example):</b>
  <%= @event_configuration.currency %>
</p>

<p>
  <b>Currency Code:</b>
  <%= @event_configuration.currency_code %>
</p>

<p>
  <b>Contact email:</b>
  <%= @event_configuration.contact_email %>
</p>

<p>
  <b>Artistic closed date:</b>
  <%= @event_configuration.artistic_closed_date %>
</p>

<p>
  <b>Music Submission end date:</b>
  <%= @event_configuration.music_submission_end_date %>
</p>


<p>
  <b>Standard skill:</b>
  <%= @event_configuration.standard_skill %>
</p>

<p>
  <b>Standard skill closed date:</b>
  <%= @event_configuration.standard_skill_closed_date %>
</p>

<p>
  <b>Tshirt closed date:</b>
  <%= @event_configuration.tshirt_closed_date %>
</p>

<p>
  <b>Artistic Scoring Mode NAUCC:</b>
  <%= @event_configuration.artistic_score_elimination_mode_naucc %>
</p>



<%= link_to 'Edit', edit_event_configuration_path(@event_configuration) %> |
<%= link_to 'Back', event_configurations_path %>
