%h1= t(".header", coupon_code: @coupon_code.name)

%h3= t(".coupon_applied_to")
%table
  %thead
    %tr
      %th= Registrant.model_name.human
      %th= t(".date_coupon_applied")
  %tbody
    - @coupon_code.applied_to_payment_details.each do |payment_detail|
      %tr
        %td= link_to payment_detail.registrant, payment_detail.registrant
        %td= payment_detail.payment.completed_date
