%h2= @competitor
.skills
  = simple_form_for @judge do |f|
    %table
      %thead
        %tr
          %th{:rowspan => "2"} No
          %th{:rowspan => "2"} Skill
          %th{:rowspan => "2"} Description
          %th{:colspan => "1"} Difficulty
          %th{:colspan => "4"} Execution
        %tr
          %th 50% or 100%
          %th -
          %th /
          %th +
          %th 0
      %tbody
        - @competitor.registrants.first.standard_skill_routine.standard_skill_routine_entries.each do |skill|
          - difficulty_score = @judge.standard_difficulty_scores.find_by_competitor_id_and_standard_skill_routine_entry_id(@competitor.id, skill.id)
          - execution_score = @judge.standard_execution_scores.find_by_competitor_id_and_standard_skill_routine_entry_id(@competitor.id, skill.id)
          - next if execution_score.nil? or difficulty_score.nil?
          %tr
            - ssre = execution_score.standard_skill_routine_entry
            %td= ssre.position
            %td= ssre.skill_number_and_letter
            %td= ssre.description
            %td
              = f.fields_for :standard_difficulty_scores, difficulty_score do |difficulty_scores_form|
                = difficulty_scores_form.text_field :devaluation, :size => 5
            - # do HTML5 validations work?
            = f.fields_for :standard_execution_scores, execution_score do |scores_form|
              %td= scores_form.text_field :wave, :size => 5
              %td= scores_form.text_field :line, :size => 5
              %td= scores_form.text_field :cross, :size => 5
              %td= scores_form.text_field :circle, :size => 5
    = f.button :submit
