%h2 Standard Skill Judging Sheet - Difficulty Judge
- registrant = @standard_skill_routine.registrant
%h3 #{registrant.bib_number} - #{registrant}
%hr

%table.standard_skill_routine_competitor_sheet_table
  %thead
    %tr
      %th.narrow_column{ rowspan: 2 } #
      %th.narrow_column{ rowspan: 2 } Skill
      %th.narrow_column{ rowspan: 2 } Description
      %th{ colspan: 2 } Difficulty
      %th.narrow_column{ rowspan: 2 } Points
      %th{ rowspan: 2 } Skill Definition
    %tr
      %th 50%
      %th 100%
  %tbody
    - @standard_skill_routine.standard_skill_routine_entries.each do |skill_entry|
      - skill = skill_entry.standard_skill_entry
      %tr{ class: skill.skill_speed_class }
        %td.narrow_column= skill_entry.position
        %td.narrow_column= skill.skill_number_and_letter
        %td.narrow_column
          - if skill.skill_before
            %div= "** " + skill.skill_before.to_s + " **"

          - if skill.skill_before || skill.skill_after
            %b= skill.description
          - else
            = skill.description

          - if skill.skill_after
            %div= "** " + skill.skill_after.to_s + " **"
        %td
        %td
        %td.narrow_column= skill.points
        %td= skill.friendly_description
  %tfoot
    %tr
      %td{ colspan: 3}
      %th{ colspan: 2} Total
      %th= @standard_skill_routine.total_skill_points
      %td

= render "legend"
