%h1= t(".header")
%table
  %caption= t(".my_registrations")
  %thead
    %tr
      %th= Registrant.human_attribute_name(:bib_number)
      %th= Registrant.model_name.human
      %th= t(".signed_up_for_standard_skill")
      %th= t(".standard_skill_routine_created")
  %tbody
    - @registrants.each do |registrant|
      %tr
        %td= registrant.bib_number
        %td= link_to registrant, registrant
        %td= registrant.has_standard_skill?
        %td
          - if registrant.standard_skill_routine.nil?
            = t("no")
          - else
            = link_to t("yes"), standard_skill_routine_path(registrant.standard_skill_routine)
