%h1
  = @standard_skill_routine.registrant
  \- #{StandardSkillRoutine.model_name.human}
%p
  = t(".limit_description")
- if @config.standard_skill_closed?
  %h2.closed= t(".standard_skill_closed")
- else
  %p
    %b= t(".skills_are_saved_automatically")
%p
  = t(".see_list_of_skills_html", link: link_to(t(".list_of_approved_skills_here"), standard_skill_entries_path))

%table#skills
  %thead
    %tr
      %th= StandardSkillRoutineEntry.human_attribute_name(:bib_number)
      %th= StandardSkillEntry.human_attribute_name(:number)
      %th= StandardSkillEntry.human_attribute_name(:letter)
      %th= StandardSkillEntry.human_attribute_name(:points)
      %th= StandardSkillEntry.human_attribute_name(:description)
      %th
  %tbody
    = render :partial => '/standard_skill_routine_entries/skill_entry', :collection => @entries
  %tfoot
    %tr
      %td
      %td
      %th= t(".total")
      %th#skill_total= @total
      %td
      %td
= link_to t(".download_my_routine"), standard_skill_routine_path(@standard_skill_routine, format: :pdf), class: "button"
%hr
- if policy(@standard_skill_routine).update?
  %h3= t(".add_new_entry")
  = render :partial => 'form', :object => @standard_skill_routine.standard_skill_routine_entries.build
