<h2>All Registrants</h2>

<%= form_for(setup_registrant_group(@registrant_group)) do |f| %>
  <% if @registrant_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registrant_group.errors.count, "error") %> prohibited this registrant_group from being saved:</h2>

      <ul>
      <% @registrant_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :registrant_id, "Contact Person" %><br />
    <%= f.select :registrant_id, Registrant.all.map { |reg| [reg.with_id_to_s, reg.id] }, :include_blank => true %>
  </div>

  <table class="sortable">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Club</th>
        <th>Address</th>
        <th>City</th>
        <th>Registrant Group(s)</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :registrant_group_members do |ff| %>
        <tr>
          <td><%= ff.check_box :_destroy, {:checked => ff.object.persisted?}, '0','1' %>
              <%= ff.hidden_field :registrant_id %>
              <%= ff.hidden_field :id %></td>
          <td><%= ff.object.registrant.bib_number %></td>
          <td><%= ff.object.registrant.first_name %></td>
          <td><%= ff.object.registrant.last_name %></td>
          <td><%= ff.object.registrant.contact_detail.club %></td>
          <td><%= ff.object.registrant.contact_detail.address %></td>
          <td><%= ff.object.registrant.contact_detail.city %></td>
          <td><%= ff.object.registrant.registrant_groups.join(" ") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
