%h1= t('.title', registrant_group_type: @registrant_group_type)

%p= t('.description', registrant_group_type: @registrant_group_type)

%p= t('.choose_the_members')

- @registrants.each do |registrant|
  - reg_group = registrant_group_for(registrant, @registrant_group_type)
  - eligible_group = registrant_eligible_for?(registrant, @registrant_group_type)
  - if reg_group.present?
    %hr
    %h3= t('.in_the_following_registrant_group', registrant: registrant)
    = render "groups_table", registrant_groups: [reg_group]
  - elsif eligible_group
    .callout.alert
      %b= t('.not_in_any_group', registrant: registrant)

%hr
%h3= t('.all_groups')
= render "groups_table", registrant_groups: @all_registrant_groups

.row
  .small-12.columns
    = link_to t('.new_group', registrant_group_type: @registrant_group_type), new_registrant_group_type_registrant_group_path(@registrant_group_type), class: "button"
