%h1 Listing Registrant Groups
%br
%table.sortable
  %thead
    %tr
      %th= RegistrantGroup.human_attribute_name(:name)
      %th= RegistrantGroup.human_attribute_name(:registrant_id)
      %th
      %th
      %th
      %th
  %tbody
    - @registrant_groups.each do |registrant_group|
      %tr
        %td= registrant_group.name
        %td= registrant_group.leader
        %td= link_to 'Show', registrant_group
        %td= link_to t("edit"), edit_registrant_group_path(registrant_group)
        %td= link_to t("delete"), registrant_group, method: :delete, data: { confirm: t("are_you_sure") }
