<h1>Listing registrant_groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Registrant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registrant_groups.each do |registrant_group| %>
  <tr>
    <td><%= registrant_group.name %></td>
    <td><%= registrant_group.registrant_id %></td>
    <td><%= link_to 'Show', registrant_group %></td>
    <td><%= link_to 'Edit', edit_registrant_group_path(registrant_group) %></td>
    <td><%= link_to 'Destroy', registrant_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Registrant group', new_registrant_group_path %>
