<h1>Listing Registrant Groups</h1>

<%= link_to "Show Registrant Groups", list_registrant_groups_path %>
<%= link_to "(pdf)", list_registrant_groups_path(:format => :pdf) %><br />
<table class="sortable">
  <thead>
    <tr>
      <th>Group Name</th>
      <th>Contact Person</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @registrant_groups.each do |registrant_group| %>
      <tr>
        <td><%= registrant_group.name %></td>
        <td><%= registrant_group.contact_person %></td>
        <td><%= link_to 'Show', registrant_group %></td>
        <td><%= link_to 'Address Labels', address_labels_registrant_group_path(registrant_group) %></td>
        <td><%= link_to 'Edit', edit_registrant_group_path(registrant_group) %></td>
        <td><%= link_to 'Delete', registrant_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>New Registrant Group</h1>
<%= render :partial => "form" %>
