%h1 Listing #{@registrant_group_type} Groups
%br
%table.sortable
  %thead
    %tr
      %th= RegistrantGroup.human_attribute_name(:name)
      %th Leaders
      %th
  %tbody
    - @registrant_groups.each do |registrant_group|
      %tr
        %td= link_to registrant_group.name, registrant_group
        %td= registrant_group.leaders
        %td= link_to 'Show', registrant_group

= link_to "New Group", new_registrant_group_type_registrant_group_path(@registrant_group_type)
