%h1 #{@registrant_group_type}

%p
  %b= t('.group_name')
  = @registrant_group.name
  - if policy(@registrant_group).edit?
    = link_to t('.edit_name'), edit_registrant_group_path(@registrant_group)
  - if policy(@registrant_group).destroy?
    %br
    = link_to t('.delete_group'), registrant_group_path(@registrant_group), method: :delete, data: { confirm: t('.remove_this_group_question') }

%p
  %b= t('.leaders') + ':'
  = @registrant_group.registrant_group_leaders.join(", ")

%h3= t('.group_members')

- if @registrant_group.registrant_group_members.any?
  %table
    %thead
      %tr
        %th= t('.registrant_name')
        %th= t('.id')
        %th= t('.actions')
    %tbody
      - @registrant_group.registrant_group_members.each do |member|
        %tr
          %td= member
          %td= member.registrant.bib_number
          %td
            - if policy(member).destroy?
              = link_to t('.remove_from_group'), registrant_group_member_path(member), method: :delete, data: { confirm: "Remove this member from the group?" }
              %br
            - if policy(member).promote?
              = link_to t('.promote_to_leader'), promote_registrant_group_member_path(member), method: :post, data: { confirm: "Promote this member to a leader?" }
- else
  = t('.no_current_members')

- if policy(@new_registrant_group_member).create?
  .row
    .small-12.columns
      = render "add_member_form", registrant_group: @registrant_group, event: @registrant_group.registrant_group_type.source_element
%hr

%h3= t('.group_leaders')

%table
  %thead
    %tr
      %th= t('.registrant_name')
      %th= t('.actions')
  %tbody
    - @registrant_group_leaders.each do |leader|
      %tr
        %td= leader
        %td
          - if policy(leader).destroy?
            = link_to t('.remove'), registrant_group_leader_path(leader), method: :delete, data: { confirm: "Remove Leader?" }

- if policy(@new_registrant_group_leader).create?
  .row
    .small-12.columns
      = render "add_leader_form"

%hr
= link_to t('back'), registrant_group_type_registrant_groups_path(@registrant_group.registrant_group_type), class: "button secondary"
