%h1 #{@registrant_group_type}

%p
  %b Name:
  = @registrant_group.name
  - if policy(@registrant_group).edit?
    = link_to "Edit Name", edit_registrant_group_path(@registrant_group)

%p
  %b Leaders:
  = @registrant_group.registrant_group_leaders.join(", ")

%h3 Members

%table
  %thead
    %tr
      %th Name
      %th ID
      %th Actions
  %tbody
    - @registrant_group.registrant_group_members.each do |member|
      %tr
        %td= member
        %td= member.registrant.bib_number
        %td
          - if policy(member).destroy?
            = link_to "Leave", registrant_group_member_path(member), method: :delete
          - if policy(member).promote?
            = link_to "Promote", promote_registrant_group_member_path(member), method: :post

- if policy(@new_registrant_group_member).create?
  .row
    .small-12.columns
      = render "add_member_form", registrant_group: @registrant_group, event: @registrant_group.registrant_group_type.source_element

%hr

%h3 Leaders

%table
  %thead
    %tr
      %th Name
      %th Actions
  %tbody
    - @registrant_group_leaders.each do |leader|
      %tr
        %td= leader
        %td
          - if policy(leader).destroy?
            = link_to "Remove", registrant_group_leader_path(leader), method: :delete

- if policy(@new_registrant_group_leader).create?
  .row
    .small-12.columns
      = render "add_leader_form"

%hr
= link_to 'Back', registrant_group_type_registrant_groups_path(@registrant_group.registrant_group_type), class: "button secondary"
