- index = registrant_expense_item.new_record? ? "replace_with_js": registrant_expense_item.id
= fields_for "registrant[registrant_expense_items_attributes][]", registrant_expense_item do |rfei|
  %tr{:id => "row" + index.to_s}
    %td
      = rfei.object.expense_item
    %td
      = print_item_cost_currency(rfei.object.cost)
      = rfei.hidden_field :expense_item_id, :index => index
      = rfei.hidden_field :free, :index => index
      = rfei.hidden_field :id, :index => index
    %td
      - if rfei.object.has_details
        = rfei.label :details, rfei.object.details_label
        = rfei.text_field :details, :index => index
    %td
      = rfei.check_box :_destroy, :id => index, :index => index, :style => "display: none"
      = button_tag "Delete", :class => "delete_expenses_button", "data-row-id" => "row" + index.to_s, "data-checkbox-id" => index
