<% index = registrant_expense_item.new_record? ? "replace_with_js": registrant_expense_item.id %>
<%= fields_for "registrant[registrant_expense_items_attributes][]", registrant_expense_item do |rfei| %>
  <tr id="<%= "row" + index.to_s %>">
    <td>
      <%= rfei.object.expense_item.name %>
    </td>
    <td>
      <%= rfei.object.expense_item.cost %>
      <%= rfei.hidden_field :expense_item_id, :index => index %>
      <%= rfei.hidden_field :id, :index => index %>
    </td>
    <td>
      <%= rfei.check_box :_destroy, :id => index, :index => index, :style => "display: none" %>
      <%= button_tag "Delete", :class => "delete_expenses_button", "data-row" => "row" + index.to_s, "data-thing" => index, :onclick => "return false" %>
    </td>
  </tr>
<% end %>
