- cache_i18n ['navbar', current_user, @config, Category, Competition] do
  %nav.non_printable
    .hamburger Menu
    %ul.navList
      - if EventConfiguration.configuration_exists?
        = render partial: "/layouts/logo"
      - if !user_signed_in?
        %li= link_to t(".log_in"), new_user_session_path
      - else
        %li= link_to t('.my_registrations'), user_registrants_path(current_user)
        %li= link_to t('.my_payments'), user_payments_path(current_user)
        - if @config.standard_skill
          %li= link_to t(".my_standard_skill_routines"), standard_skill_routines_path
        %li= link_to t('.all_registrants'), all_registrants_path
        - if Competition.any?
          %li= link_to t('.results'), results_path
        %li= link_to t('.my_account'), edit_user_registration_path
    - if user_signed_in?
      .accountNav
        = link_to t('.sign_out'), destroy_user_session_path, :method => :delete

  - if user_signed_in? && current_user.roles.any?
    %nav.non_printable.admin_bar
      %ul.navList
        - if can? :data_entry_menu, :welcome
          %li= link_to 'Data Entry', welcome_data_entry_menu_path
        - if policy(@config).setup_convention?
          %li= link_to 'Convention Setup', convention_setup_path
        - if policy(:permission).index?
          %li= link_to 'User Management',  permissions_path
        - if policy(Event.new).summary?
          %li= link_to  'Registration Overview', summary_events_path
        - if policy(@config).setup_competition?
          %li= link_to 'Competition Overview', competition_setup_path
        - if policy(current_user).manage_awards?
          %li= link_to  'Print/Create Awards', user_award_labels_path(current_user)
        - if policy(current_user).manage_music?
          %li= link_to  'Manage Music', event_songs_path
        - if policy(Payment.new).summary?
          %li= link_to  'Payments', summary_payments_path
        - if policy(@config).setup_convention?
          %li= link_to 'On-Site Registration', onsite_registration_path
        - if policy(:translation).index?
          %li= link_to "Translations", translations_path
    %nav.non_printable.admin_bar
      %ul.navList
        - if @config.standard_skill && can?(:manage, StandardSkillEntry)
          %li= link_to 'Standard Skill Entries', standard_skill_entries_path
        - if policy(@config).manage_cache?
          %li= link_to 'Cache Management', cache_event_configuration_path
        - if policy(current_user).registrant_information?
          %li= link_to  'Registrants (edit/print)', manage_one_registrants_path
        - if policy(current_user).under_development?
          %li= link_to  'Registrants (bag labels)', bag_labels_registrants_path(:format => :pdf)
        - if policy(current_user).contact_registrants?
          %li= link_to  'Registrants (email)', emails_path
        - if can?(:manage, Registrant)
          %li= link_to  'Registrant Groups', registrant_groups_path
        - if can?(:manage, :all)
          %li= link_to  'Export Data', export_index_path
        - if can?(:manage, :all)
          %li= link_to  'Import Data', new_import_path
        - if policy(current_user).manage_usa_memberships?
          %li= link_to  'USA Membership Management', usa_memberships_path
        - if can?(:read, :research)
          %li= link_to  'Multi-Tenant Research', research_competitions_path
        - if can?(:access, :rails_admin)
          %li= link_to  'Modification History', rails_admin_path
        - if @config.standard_skill
          - if can?(:manage, StandardSkillRoutine)
            %li= link_to  'Standard Skill Routines (view)', standard_skill_routines_path
          - if can?(:manage, StandardSkillRoutine)
            %li= link_to  'Standard Skill Routines (export)', download_file_standard_skill_routines_path
