<% cache ['navbar', I18n.locale, current_user, @config, Category] do %>
<nav class="non_printable">
<ul>
  <% if EventConfiguration.configuration_exists? %>
    <%= render partial: "/layouts/logo" %>
  <% end %>

  <% m = Menu.new %>
  <% if current_user.nil? %>
    <%
      m.headings << Menu::MenuHeading.new(:title => "Log In", :is_link => true, :url => new_user_session_path)
    %>
  <% else %>
    <%
      if cannot? :manage, Registrant
        m.headings << Menu::MenuHeading.new(:title => t('my_registrations'), :is_link => true, :url => user_registrants_path(current_user))
        m.headings << Menu::MenuHeading.new(:title => t('my_payments'), :is_link => true, :url => user_payments_path(current_user))
        if @config.standard_skill
          m.headings << Menu::MenuHeading.new(:title => 'My Standard Skill Routines', :is_link => true, :url => standard_skill_routines_path)
        end
        m.headings << Menu::MenuHeading.new(:title => t('all_registrants'), :is_link => true, :url => all_registrants_path)
      else
        heading = Menu::MenuHeading.new(:title => 'My Data')
        m.headings << heading
        heading.entries << Menu::MenuEntry.new(:title => 'My Registrations', :url => user_registrants_path(current_user))
        heading.entries << Menu::MenuEntry.new(:title => 'My Payments', :url => user_payments_path(current_user))
        if @config.standard_skill
          heading.entries << Menu::MenuEntry.new(:title => 'My Standard Skill Routines', :url => standard_skill_routines_path)
        end
        heading.entries << Menu::MenuEntry.new(:title => 'All Registrants', :url => all_registrants_path)
      end
    %>

    <%
      heading = Menu::MenuHeading.new(:title => 'Site Config')
      m.headings << heading
      heading.entries << Menu::MenuEntry.new(:title => 'Base Configuration', :url => event_configurations_path, :permitted => can?(:manage, EventConfiguration))
      heading.entries << Menu::MenuEntry.new(:title => 'Registration Periods', :url => registration_periods_path, :permitted => can?(:manage, RegistrationPeriod))
      heading.entries << Menu::MenuEntry.new(:title => 'Event Offerings', :url => categories_path, :permitted => can?(:manage, Category))
      heading.entries << Menu::MenuEntry.new(:title => 'Combined Competitions', :url => combined_competitions_path, :permitted => can?(:manage, CombinedCompetition))
      if @config.standard_skill
        heading.entries << Menu::MenuEntry.new(:title => 'Standard Skill Entries', :url => standard_skill_entries_path, :permitted => can?(:manage, StandardSkillEntry))
      end
      heading.entries << Menu::MenuEntry.new(:title => 'User Permissions', :url => permissions_path, :permitted => can?(:manage, User))
      heading.entries << Menu::MenuEntry.new(:title => 'Expense Groups', :url => expense_groups_path, :permitted => can?(:manage, ExpenseGroup))
      heading.entries << Menu::MenuEntry.new(:title => 'Expense Items', :url => expense_items_path, :permitted => can?(:manage, ExpenseItem))
    %>
    <%
      heading = Menu::MenuHeading.new(:title => 'Manage')
      m.headings << heading
      heading.entries << Menu::MenuEntry.new(:title => 'Registrants (edit/print)', :url => registrants_path, :permitted => can?(:manage_all, Registrant))
      heading.entries << Menu::MenuEntry.new(:title => 'Registrants (bag labels)', :url => bag_labels_registrants_path(:format => :pdf), :permitted => can?(:bag_labels, Registrant))
      heading.entries << Menu::MenuEntry.new(:title => 'Registrants (email)', :url => email_registrants_path, :permitted => can?(:email, Registrant))
      heading.entries << Menu::MenuEntry.new(:title => 'Registrant Groups', :url => registrant_groups_path, :permitted => can?(:manage, Registrant))
      heading.entries << Menu::MenuEntry.new(:title => 'Manage Music', :url => list_songs_path, :permitted => can?(:list, Song))
      heading.entries << Menu::MenuEntry.new(:title => 'Payments', :url => summary_payments_path, :permitted => can?(:summary, Payment))
      heading.entries << Menu::MenuEntry.new(:title => 'Age Group Type', :url => age_group_types_path, :permitted => can?(:manage, AgeGroupType))
      heading.entries << Menu::MenuEntry.new(:title => 'Events Report', :url => summary_events_path, :permitted => can?(:summary, Event))
      heading.entries << Menu::MenuEntry.new(:title => 'Directors', :url => directors_permissions_path, :permitted => can?(:directors, :permissions))
      heading.entries << Menu::MenuEntry.new(:title => 'Export Data', :url => admin_export_index_path, :permitted => can?(:manage, :all))
      heading.entries << Menu::MenuEntry.new(:title => "List Volunteers", :url => volunteers_path, :permitted => can?(:read, :volunteer))
      heading.entries << Menu::MenuEntry.new(:title => 'USA Membership Management', :url => usa_memberships_path, :permitted => can?(:manage, :usa_membership))
      heading.entries << Menu::MenuEntry.new(:title => 'Modification History', :url => rails_admin_path, :permitted => can?(:access, :rails_admin))
      if @config.standard_skill
        heading.entries << Menu::MenuEntry.new(:title => 'Standard Skill Routines (view)', :url => standard_skill_routines_path, :permitted => can?(:manage, StandardSkillRoutine))
        heading.entries << Menu::MenuEntry.new(:title => 'Standard Skill Routines (export)', :url => download_file_standard_skill_routines_path, :permitted => can?(:manage, StandardSkillRoutine))
      end
    %>
    <%
      heading = Menu::MenuHeading.new(:title => 'Awards')
      m.headings << heading
      heading.entries << Menu::MenuEntry.new(:title => 'Print/Create Awards', :url => user_award_labels_path(current_user), :permitted => can?(:manage, AwardLabel))
    %>
    <%
      Category.includes(:translations).includes(:events).each do |category|
        current_heading = Menu::MenuHeading.new(:title => category)
        m.headings << current_heading
        category.events.each do |event|
          current_heading.entries << Menu::MenuEntry.new(:title => event, :url => event_path(event), :permitted => can?(:read, event))
        end
      end
    %>
  <% end %>
  <% m.headings.each do |heading| %>
    <% next unless heading.has_permitted_entry %>
    <% if heading.is_link %>
      <li><%= link_to heading.title, heading.url %></li>
    <% else %>
      <li><a href="#"><%= heading.title %></a>
        <ul>
          <% heading.permitted_entries.each do |entry| %>
            <li><%= link_to entry.title, entry.url %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  <% end %>

  <% unless current_user.nil? %>
    <li id="sign-out"><%= link_to t('sign_out'), destroy_user_session_path, :method => :delete %></li>
  <% end %>
</ul>
</nav>
<% end %>
