<!DOCTYPE html>
<html>
<head>
  <title>Unicycling Registration</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <% if mixpanel? %>
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
      typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,
        e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("<%= ENV['MIXPANEL_TOKEN'] %>");</script><!-- end Mixpanel -->
  <% end %>
</head>
<body>
  <% if ENV['DEVELOPMENT_BANNER'].nil? or ENV['DEVELOPMENT_BANNER'] == "true" %>
    <div class="dev_banner">Development (test) System. Please don't pay unless you know what you're doing.</div>
  <% end %>
  <% if !current_user.nil? and  @config.test_mode %>
    <div class="test_mode">
      <h2>Test Mode Enabled</h2>
      <span>Current User is <%= current_user.admin ? "Admin" : current_user.super_admin ? "Super Admin" : "Normal User" %></span>
      <%= link_to 'Make Me ADMIN', admin_event_configurations_path, :method => :post %>
      <%= link_to 'Make Me SUPER ADMIN', super_admin_event_configurations_path, :method => :post %>
      <%= link_to 'Make Me NORMAL', normal_event_configurations_path, :method => :post %>
    </div>
  <% end %>
    <nav>
    <ul>
      <li>
      <% if EventConfiguration.configuration_exists? %>
        <% target_url = EventConfiguration.event_url %>
        <% if target_url.nil? %>
          <%= link_to image_tag(logo_event_configuration_path(@config), :class => "logo"), root_url, {:class => "logo_link"} %>
        <% else %>
          <%= link_to image_tag(logo_event_configuration_path(@config), :class => "logo"), target_url, {:class => "logo_link", :target => "_blank"} %>
        <% end %>
      <% end %>
      </li>
      <% if current_user.nil? %>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
      <% else %>
        <% if mixpanel? %>
          <script type="text/javascript">
            mixpanel.identify("<%= current_user %>");
            mixpanel.name_tag("<%= current_user %>");
          </script>
        <% end %>
        <li><%= link_to 'My Registrations', registrants_path %></li>
        <li><%= link_to 'My Payments', payments_path %></li>
        <li><%= link_to 'All Registrants', all_registrants_path %></li>
      <% end %>
      <!-- ADMIN VIEWS -->
      <% if can? :manage, Registrant %>
        <li><%= link_to 'Admin', "#" %>
        <ul>
          <% if can? :manage, EventConfiguration %>
            <li><%= link_to 'Configuration', event_configurations_path %></li>
          <% end %>
          <% if can? :manage, Category %>
            <li><%= link_to 'Event Configuration', categories_path %></li>
          <% end %>
          <% if can? :manage, ExpenseGroup %>
            <li><%= link_to 'Expense Groups', expense_groups_path %></li>
          <% end %>
          <% if can? :manage, ExpenseItem %>
            <li><%= link_to 'Expense Items', expense_items_path %></li>
          <% end %>
          <% if can? :manage, RegistrationPeriod %>
            <li><%= link_to 'Registration Periods', registration_periods_path %></li>
          <% end %>
          <% if can? :manage, EventConfiguration %>
            <li><%= link_to 'Export/Import', admin_export_index_path %></li>
          <% end %>
          <% if can? :manage, User %>
            <li><%= link_to 'Set User as admin', admin_users_path %></li>
          <% end %>
          <li><%= link_to 'Registrants (edit)', admin_registrants_path %></li>
          <li><%= link_to 'Payments', admin_payments_path %></li>
          <li><%= link_to 'Events Report', admin_events_path %></li>
          <li><%= link_to 'Modification History', admin_history_index_path %></li>
        </ul>
        </li>
      <% end %>
      <li><%= link_to 'Help', welcome_help_path %></li>
      <% unless current_user.nil? %>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
      <% end %>
    </ul>
    </nav>
    <% if current_user.nil? %>
      <div class="base_details">
        <ul>
          <li><%= @config.short_name %></li>
          <li><%= @config.long_name %></li>
          <li><%= @config.location %></li>
          <li><%= @config.dates_description %></li>
        </ul>
      </div>
    <% end %>

  <div class="main_nav">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

  <div class="bottom_nav">
    <p>Developed by Robin Dunlop</p>
  </div>
</body>
</html>
