<!DOCTYPE html>
<html>
<head>
  <title>Unicycling Registration</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top_nav">
    <% if can? :manage, EventConfiguration %>
      <%= link_to 'Configuration', event_configurations_path %>
    <% end %>
    <% if can? :manage, Category %>
      <%= link_to 'Categories', categories_path %>
    <% end %>
    <% if can? :manage, Event %>
      <%= link_to 'Events', events_path %>
    <% end %>
    <% if can? :manage, EventChoice %>
      <%= link_to 'Event Choices', event_choices_path %>
    <% end %>
    <% if can? :manage, Registrant %>
      <%= link_to 'Registrants', registrants_path %>
    <% end %>

    <% if current_user.nil? %>
      <%= link_to 'Sign in', new_user_session_path %>
    <% else %>
      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
    <% end %>
  </div>
  <div class="banner">
    <span class="logo"><%= image_tag(logo_event_configuration_path(@config), :width => "300px") %></span>
    <div class="base_details">
      <ul>
        <li><%= @config.short_name %></li>
        <li><%= @config.long_name %></li>
        <li><%= @config.location %></li>
        <li><%= @config.dates_description %></li>
      </ul>
    </div>
  </div>

  <div class="main_nav">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

  <div class="bottom_nav">
    <p>Copyright &copy; Robin Dunlop</p>
  </div>
</body>
</html>
