<!DOCTYPE html>
<html>
<head>
  <title>Unicycling Registration</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if !current_user.nil? and  @config.test_mode %>
    <div class="test_mode">
      <h2>Test Mode Enabled</h2>
      <span>Current User is <%= current_user.admin ? "Admin" : current_user.super_admin ? "Super Admin" : "Normal User" %></span>
      <%= link_to 'Make Me ADMIN', admin_event_configurations_path, :method => :post %>
      <%= link_to 'Make Me SUPER ADMIN', super_admin_event_configurations_path, :method => :post %>
      <%= link_to 'Make Me NORMAL', normal_event_configurations_path, :method => :post %>
    </div>
  <% end %>
  <div class="top_nav">
    <div class="top_left_nav">
      <%= link_to 'Main Menu', root_url %><br />
      <br />

      <% if current_user.nil? %>
        <%= link_to 'Sign in', new_user_session_path %><br />
      <% else %>
        <%= link_to 'My Registrations', registrants_path %><br />
        <%= link_to 'My Payments', payments_path %><br />
        <br />
        <%= link_to 'All Registrants', all_registrants_path %><br />
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %><br />
      <% end %>
      <%= link_to 'Help', welcome_help_path %><br />
    </div>
    <div class="banner">
      <% unless @config.new_record? %>
        <%= image_tag(logo_event_configuration_path(@config), :class => "logo") %>
      <% end %>
      <div class="base_details">
        <ul>
          <li><%= @config.short_name %></li>
          <li><%= @config.long_name %></li>
          <li><%= @config.location %></li>
          <li><%= @config.dates_description %></li>
        </ul>
      </div>
    </div>
    <div class="top_right_nav">
      <% if can? :manage, EventConfiguration %>
        <%= link_to 'Configuration', event_configurations_path %><br />
      <% end %>
      <% if can? :manage, Category %>
        <%= link_to 'Event Configuration', categories_path %><br />
      <% end %>
      <% if can? :manage, EventChoice %>
        <%= link_to 'Event Choices', event_choices_path %><br />
      <% end %>
      <% if can? :manage, ExpenseGroup %>
        <%= link_to 'Expense Groups', expense_groups_path %><br />
      <% end %>
      <% if can? :manage, ExpenseItem %>
        <%= link_to 'Expense Items', expense_items_path %><br />
      <% end %>
      <% if can? :manage, RegistrationPeriod %>
        <%= link_to 'Registration Periods', registration_periods_path %><br />
      <% end %>
      <!-- ADMIN VIEWS -->
      <% if can? :manage, Registrant %>
        <%= link_to 'Registrants (edit)', admin_registrants_path %><br />
        <%= link_to 'Payments', admin_payments_path %><br />
        <%= link_to 'Events Report', admin_events_path %><br />
      <% end %>
    </div>
  </div>

  <div class="main_nav">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

  <div class="bottom_nav">
    <p>Copyright &copy; Robin Dunlop</p>
  </div>
</body>
</html>
