!!! 5
%html{ lang: I18n.locale }
  %head
    = render partial: "layouts/metatags"
    %title
      = @config.short_name
      = t(".registration")
    = split_stylesheet_link_tag @config.style_name, media: "all"

    = javascript_include_tag "application", async: !Rails.env.development?
    - if content_for?(:wysiwyg)
      = yield(:wysiwyg)


    = csrf_meta_tags
    = render "shared/analytics/google"
    /[if lt IE 7]
      <style media="screen" type="text/css">
      \#container {
      height:100%;
      }
      </style>
  %body
    = render partial: "layouts/admin_headers"
    #container
      %div.non_printable

        = render "layouts/test_mode"
        = render "nav_bar/top_nav"
        = render "nav_bar/admin_bar"
        = render "nav_bar/pages_bar"

        - if user_signed_in?
          %nav{ role: "navigation" }
            = render "shared/breadcrumbs"
        - else
          = render "shared/event_details_page"
          %hr

      #main_area
        #main
          = render "shared/flashes"
          = content_for?(:content) ? yield(:content) : yield
      = render partial: "layouts/footer"
  - if content_for?(:wysiwyg)
    = tinymce
