!!!
%html{ lang: I18n.locale }
  %head
    = render partial: "layouts/metatags"
    %title
      = @config.short_name
      = t(".registration")
    = split_stylesheet_link_tag @config.style_name, media: "all"

    -# Modernizr is necessary for Foundation 5
    = javascript_include_tag "vendor/modernizr"

    = javascript_include_tag "application", async: !Rails.env.development?

    = csrf_meta_tags
    = render "shared/analytics/google"
    /[if lt IE 7]
      <style media="screen" type="text/css">
      \#container {
      height:100%;
      }
      </style>
  %body
    = render partial: "layouts/admin_headers"
    .off-canvas-wrap{ data: { offcanvas: true } }
      .inner-wrap
        = render "nav_bar/side_nav"

        #container
          %div
            = render "layouts/test_mode"
            .hide-for-small-only
              = render "nav_bar/top_nav"
            = render "nav_bar/top_nav_small"

            - if user_signed_in?
              = render "shared/breadcrumbs"
            - else
              = render "shared/event_details_page"

          #main_area
            #main
              = render "shared/flashes"
              = content_for?(:content) ? yield(:content) : yield
          = render partial: "layouts/footer"
        %a.exit-off-canvas{ href: "#" }
  = tinymce
