<!DOCTYPE html>
<html>
<head>
  <%= render partial: "layouts/metatags" %>

  <title><%= @config.short_name %> <%= t(".registration") %></title>
  <%= stylesheet_link_tag  @config.style_name, :media => "all" %>

  <% if ENV['DEVELOPMENT_BANNER'].nil? or ENV['DEVELOPMENT_BANNER'] == "true" %>
    <%= stylesheet_link_tag    "dev", :media => "all" %>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>

  <%= render partial: "layouts/mixpanel" %>
  <!--[if lt IE 7]>
  <style media="screen" type="text/css">
  #container {
    height:100%;
  }
  </style>
  <![endif]-->
</head>
<body>
  <%= render partial: "layouts/admin_headers" %>
  <div id="container">
    <%= render :partial => "layouts/navbar" %>
    <%= render :partial => "layouts/test_mode" %>

    <% if current_user.present? %>
      <ul class="breadcrumbs">
        <%= render_breadcrumbs tag: "li" %>
      </ul>
    <% else %>
      <div class="base_details">
        <ul>
          <li class="title"><%= @config.short_name %></li>
          <li><%= @config.long_name %></li>
          <li><%= @config.location %></li>
          <li><%= @config.dates_description %></li>
        </ul>
      </div>
    <% end %>

    <div id="main">
      <% unless notice.blank? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% unless alert.blank? %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>

    <%= render partial: "layouts/footer" %>
  </div>
</body>
</html>
