<!DOCTYPE html>
<html>
<head>
  <title>Unicycling Registration</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
  typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,
  e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
  mixpanel.init("<%= MIXPANEL_TOKEN %>");</script><!-- end Mixpanel -->
</head>
<body>
  <% if !current_user.nil? and  @config.test_mode %>
    <div class="test_mode">
      <h2>Test Mode Enabled</h2>
      <span>Current User is <%= current_user.admin ? "Admin" : current_user.super_admin ? "Super Admin" : "Normal User" %></span>
      <%= link_to 'Make Me ADMIN', admin_event_configurations_path, :method => :post %>
      <%= link_to 'Make Me SUPER ADMIN', super_admin_event_configurations_path, :method => :post %>
      <%= link_to 'Make Me NORMAL', normal_event_configurations_path, :method => :post %>
    </div>
  <% end %>
  <div class="top_nav">
    <div class="top_left_nav">
      <%= link_to 'Main Menu', root_url %><br />
      <br />

      <% if current_user.nil? %>
        <%= link_to 'Sign in', new_user_session_path %><br />
      <% else %>
        <script type="text/javascript">mixpanel.identify("<%= current_user %>")</script>
        <%= link_to 'My Registrations', registrants_path %><br />
        <%= link_to 'My Payments', payments_path %><br />
        <br />
        <%= link_to 'All Registrants', all_registrants_path %><br />
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %><br />
      <% end %>
      <%= link_to 'Help', welcome_help_path %><br />
    </div>
    <div class="banner">
      <% unless @config.new_record? %>
        <%= image_tag(logo_event_configuration_path(@config), :class => "logo") %>
      <% end %>
      <div class="base_details">
        <ul>
          <li><%= @config.short_name %></li>
          <li><%= @config.long_name %></li>
          <li><%= @config.location %></li>
          <li><%= @config.dates_description %></li>
        </ul>
      </div>
    </div>
    <div class="top_right_nav">
      <% if can? :manage, EventConfiguration %>
        <%= link_to 'Configuration', event_configurations_path %><br />
      <% end %>
      <% if can? :manage, Category %>
        <%= link_to 'Event Configuration', categories_path %><br />
      <% end %>
      <% if can? :manage, ExpenseGroup %>
        <%= link_to 'Expense Groups', expense_groups_path %><br />
      <% end %>
      <% if can? :manage, ExpenseItem %>
        <%= link_to 'Expense Items', expense_items_path %><br />
      <% end %>
      <% if can? :manage, RegistrationPeriod %>
        <%= link_to 'Registration Periods', registration_periods_path %><br />
      <% end %>
      <!-- ADMIN VIEWS -->
      <% if can? :manage, Registrant %>
        <%= link_to 'Registrants (edit)', admin_registrants_path %><br />
        <%= link_to 'Payments', admin_payments_path %><br />
        <%= link_to 'Events Report', admin_events_path %><br />
        <%= link_to 'Modification History', admin_history_index_path %><br />
      <% end %>
    </div>
  </div>

  <div class="main_nav">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

  <div class="bottom_nav">
    <p>Copyright &copy; Robin Dunlop</p>
  </div>
</body>
</html>
