!!!
%html{ lang: I18n.locale }
  %head
    = render partial: "layouts/metatags"
    %title
      = @config.short_name
      = t(".registration")
    = stylesheet_link_tag @config.style_name, :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render "shared/analytics/google"
    /[if lt IE 7]
      <style media="screen" type="text/css">
      \#container {
      height:100%;
      }
      </style>
  %body
    = render partial: "layouts/admin_headers"
    #container
      = render :partial => "layouts/navbar"
      = render :partial => "layouts/test_mode"
      - if user_signed_in?
        %ul.breadcrumbs
          = render_breadcrumbs tag: "li"
      - else
        .base_details
          .title= @config.short_name
          %div= @config.long_name
          %div= @config.location
          %div= @config.dates_description
      #main
        - unless notice.blank?
          %p.notice= notice
        - unless alert.blank?
          %p.alert= alert
        = content_for?(:content) ? yield(:content) : yield
      = render partial: "layouts/footer"
