<!DOCTYPE html>
<html>
<head>
  <title>Unicycling Registration</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css"></link>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top_nav">
    <% if !current_user.nil? and  @config.test_mode %>
      <div class="test_mode">
        <h2>Test Mode Enabled</h2>
        <span>Current User is <%= current_user.admin ? "Admin" : current_user.super_admin ? "Super Admin" : "Normal User" %></span>
        <%= link_to 'Make Me ADMIN', admin_event_configurations_path, :method => :post %>
        <%= link_to 'Make Me SUPER ADMIN', super_admin_event_configurations_path, :method => :post %>
        <%= link_to 'Make Me NORMAL', normal_event_configurations_path, :method => :post %>
      </div>
    <% end %>
    <% if can? :manage, EventConfiguration %>
      <%= link_to 'Configuration', event_configurations_path %>
    <% end %>
    <% if can? :manage, Category %>
      <%= link_to 'Categories', categories_path %>
    <% end %>
    <% if can? :manage, Event %>
      <%= link_to 'Events', events_path %>
    <% end %>
    <% if can? :manage, EventChoice %>
      <%= link_to 'Event Choices', event_choices_path %>
    <% end %>
    <% if can? :manage, Registrant %>
      <%= link_to 'Registrants', registrants_path %>
    <% end %>
    <% if can? :manage, RegistrationPeriod %>
      <%= link_to 'Registration Periods', registration_periods_path %>
    <% end %>
    <% if can? :manage, Payment %>
      <%= link_to 'Payments', payments_path %>
    <% end %>

    <% if current_user.nil? %>
      <%= link_to 'Sign in', new_user_session_path %>
    <% else %>
      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
    <% end %>
    <%= link_to 'Help', welcome_help_path %>
  </div>
  <div class="banner">
    <% unless @config.new_record? %>
      <span class="logo"><%= image_tag(logo_event_configuration_path(@config), :width => "300px") %></span>
    <% end %>
    <div class="base_details">
      <ul>
        <li><%= @config.short_name %></li>
        <li><%= @config.long_name %></li>
        <li><%= @config.location %></li>
        <li><%= @config.dates_description %></li>
      </ul>
    </div>
  </div>

  <div class="main_nav">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

  <div class="bottom_nav">
    <p>Copyright &copy; Robin Dunlop</p>
  </div>
</body>
</html>
