<!DOCTYPE html>
<html>
<head>
  <title>Unicycling Registration</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top_nav">
    <%= link_to 'Configuration', event_configurations_path %>
    <%= link_to 'Categories', categories_path %>
    <%= link_to 'Events', events_path %>
    <%= link_to 'Event Choices', event_choices_path %>
    <%= link_to 'Registrants', registrants_path %>
    <% if current_user.nil? %>
      <%= link_to 'Sign in', new_user_session_path %>
    <% else %>
      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
    <% end %>
  </div>

  <div class="main_nav">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

  <div class="bottom_nav">
    <p>Copyright &copy; Robin Dunlop</p>
  </div>
</body>
</html>
