- content_for :content do
  #side_nav
    %h2 Competitors
    %ul.sideNav__list
      %li= link_to "Choose Competitors", competition_competitors_path(@competition)
      - if @competition.compete_in_order
        %li= link_to "Set Order",  set_sort_competition_path(@competition)
      %li= link_to "View List", announcer_printing_competition_path(@competition)

    %h2 Data Entry
    %ul.sideNav__list
      %li= link_to "Volunteers", competition_judges_path(@competition)
      = render "/competitions/data_entry_links", competition: @competition

      -#
        %li= link_to "Check-In", '#'
        %li= link_to "DQ & Line-Up Information", '#'
        %li= link_to "Start Line", '#'
        %li= link_to "Finish Line", '#'
        %li= link_to "Track E-Timer Entry", '#'

    %h2 Results
    %ul.sideNav__list
      %li= link_to "Monitor", result_competition_path(@competition)
      -# %li= link_to "Approve", '#'
      %li= link_to "Additional", competition_competition_results_path(@competition)

  #side_content
    = yield

= render template: "layouts/application"
