- content_for :content do
  #side_nav
    %h3= t(".competition_setup")

    %ul.sideNav__list
      %li= link_to t(".manage_directors"), directors_path
      %li= link_to t(".manage_age_groups"), age_group_types_path
      %li= link_to t(".manage_competitions"), competition_setup_path
      %li
        = t(".advanced")
        %ul
          %li= link_to "Global Competition Settings", edit_competition_setup_event_configuration_path
          %li= link_to "Manage Ineligible Registrants", ineligible_registrants_path
          %li= link_to 'Overall Champion Calculators', combined_competitions_path
  #side_content
    = yield

= render template: "layouts/application"
