- content_for :content do
  #side_nav
    %h2 Competitors
    %ul.sideNav__list
      - # Duplicated in _show_competitors_selected
      %li= link_to "Choose Competitors", competition_competitors_path(@competition)
      - if @competition.compete_in_order?
        %li= link_to "Set Order",  set_sort_competition_path(@competition)
      - elsif @competition.start_list?
        - if @competition.uses_lane_assignments?
          %li= link_to "View/Assign Heats", competition_heats_path(@competition)
        - else
          %li= link_to "View Waves", competition_waves_path(@competition)

      %li= link_to "View List", announcer_printing_competition_path(@competition)

    %h2 Data Entry
    %ul.sideNav__list
      %li= link_to "Volunteers", competition_judges_path(@competition)
      = render "/competitions/data_entry_links", competition: @competition

    %h2 Results
    %ul.sideNav__list
      %li= link_to "Monitor", result_competition_path(@competition)
      -# %li= link_to "Approve", '#'
      %li= link_to "Additional", competition_competition_results_path(@competition)

  #side_content
    = yield

= render template: "layouts/application"
