- content_for :content do
  #side_nav
    %h2 Convention Setup

    %ul.sideNav__list
      %li= link_to t('.registrant_types'), registrant_types_event_configuration_path
      %li= link_to t('.rules_and_waiver'), rules_waiver_event_configuration_path
      %li= link_to t('.custom_domain'), tenant_aliases_path
      %Li= link_to t('.name_and_logo'), name_logo_event_configuration_path
      %li= link_to t('.registration_costs'), registration_periods_path
      %li= link_to t('.date_deadlines'), important_dates_event_configuration_path
      %li= link_to t('.items_for_sale'), expense_groups_path
      %li= link_to CouponCode.model_name.human(count: 2), coupon_codes_path
      %li= link_to Event.model_name.human(count: 2), convention_setup_categories_path
      %li= link_to VolunteerOpportunity.model_name.human, convention_setup_volunteer_opportunities_path
      %li= link_to t('.payment_settings'), payment_settings_event_configuration_path
      %li= link_to t('.go_live'), go_live_event_configuration_path
      - if policy(@config).advanced_settings?
        %li= link_to "Advanced Settings", advanced_settings_event_configuration_path
      -#%li Access Settings
  #side_content
    = yield


= render template: "layouts/application"
