- content_for :content do
  #side_nav
    %h2 Convention Setup

    %ul.sideNav__list
      %li= link_to "Offered Registrant Types", registrant_types_event_configuration_path
      %li= link_to "Rules and Waiver", rules_waiver_event_configuration_path
      %li= link_to "Domain Setup", tenant_aliases_path
      %Li= link_to "Name + Logo", name_logo_event_configuration_path
      %li= link_to "Registration Costs", registration_periods_path
      %li= link_to "Important Dates", important_dates_event_configuration_path
      %li= link_to "Items for Sale", expense_groups_path
      %li= link_to "Coupon Codes", coupon_codes_path
      %li= link_to "Events", convention_setup_categories_path
      %li= link_to "Volunteer Options", convention_setup_volunteer_opportunities_path
      %li= link_to "Payment Settings", payment_settings_event_configuration_path
      - if policy(@config).advanced_settings?
        %li= link_to "Advanced Settings", advanced_settings_event_configuration_path
      -#%li Access Settings
  #side_content
    = yield


= render template: "layouts/application"
