!!!
%html
  %head
    = javascript_importmap_tags
    = yield(:importmap_modules)
    = render partial: "layouts/metatags"
    %title Unicycling Registration
    = stylesheet_link_tag "base_purple_blue", :media => "all"
    = csrf_meta_tags
    = render "shared/analytics/google"
    = render "shared/analytics/google_4"
    /[if lt IE 7]
      <style media="screen" type="text/css">
      \#container {
      height:100%;
      }
      </style>
  %body
    #container
      #main
        = render "shared/flashes"
        = content_for?(:content) ? yield(:content) : yield

      = link_to "Home", root_path
