!!!
%html
  %head
    = render partial: "layouts/metatags"
    %title
      = @config.short_name
      = t(".registration")
    = stylesheet_link_tag @config.style_name, :media => "all"
    = split_stylesheet_link_tag @config.style_name, media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render "shared/analytics/google"
    /[if lt IE 7]
      <style media="screen" type="text/css">
      \#container {
      height:100%;
      }
      </style>
  %body
    - unless notice.blank?
      %p.notice= notice
    - unless alert.blank?
      %p.alert= alert
    = content_for?(:content) ? yield(:content) : yield
