- content_for :content do
  %h1 #{@registrant.full_name}
  = wizard_progress_bar
  .data_block.show_hide_elements{ class: "show_#{@registrant.registrant_type}_elements" }
    = yield

= render template: "layouts/application"
